/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
    margin-top: 60px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 90%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* patientview */


div.graph{
    margin-bottom:0px;
}

div.graph-link {
    height: 100px;
}
a.graph-link {

}
span.graph-title {
    display: block;
    left: 80px;
    position: relative;
    top: 0px;
    z-index: 10;
    color: grey;
    font-size: 1.4em;
    height: 0;
}
div.graph-row {
    margin: 0 0 10px 0;
}
.vertical-align {
}
.vertical-align span a{
    margin-top: 20px;
}

div.loading{
    /* https://github.com/yeoman/yeoman/issues/824
    background: url('../images/loading.gif') no-repeat center;*/
    height: 30px;
    width: 30px;
    margin: 0 auto 0 auto;
}

.subnav {
    margin-top: 30px;
}
.subnav-row {
    background: #fbfbfb;
}

/* http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.form-control {
    padding: 6px 6px;
}

.pagination > .disabled {
    display: none;
}

.glyphicon-sort {
    cursor: pointer;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 35px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.accordion .panel-group .panel{
    margin-top: 0px;
    border-radius:0px;
    border-bottom:0;
}
.accordion .panel-group .panel .panel-heading h4.panel-title{
    font-size: 14px;
}
.accordion .panel-group .panel .panel-collapse{
    font-size: 14px;
    background-color: #F2F2F2;
}

.accordion .panel-group .panel .panel-collapse hr{
    color: #DDDDDD;
    border-color: #DDDDDD;
}

.accordion{
    border-bottom: 1px solid #DDDDDD;
}

.accordion-title-row{
    padding: 10px 15px;
    font-size: 14px;
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    margin: 0px;
}

a.sort-title{
    color: black;
    cursor: pointer;
    text-align: left;
    padding:0;
}

/* groups in edit staff */
div.group-list-item{
    height: 40px;
    float:left;
    clear:both;
    margin-bottom:1px;
    background: #ffffff;
    width: 100%;
}

div.group-list-name, div.group-list-role, div.group-list-delete {
    height: inherit;
    float:left;
    padding: 4px;
    vertical-align: middle;
    margin:1px;
}
span.group-list-delete {
    font-size: 11px;
}

span.group-list-name, span.group-list-role, span.group-list-delete {
    position:relative;
    top:5px;
}

div.group-list-name{
   /* font-size: 16px;*/
    color: #6B6B6B;
    text-align: left;
    width: 150px;
}
div.group-list-role{
}
div.group-list-delete{
    background: #FF3333;
    color: #ffffff;
    float: right;
}
div.group-list-delete a{
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    top: 14px;
}

div.group-add-container {
    clear: both;
    padding-top: 5px;
}

button.group-add-button {
    clear:both;
    float: left;
}

div.user-save {
    clear: both;
    padding-top: 10px;
}

select.group-select {

}

ul.role-list {
    float: left;
    padding: 0;
}

ul.role-list li{
    float: left;
    list-style: none;
    margin-right: 5px;
}