<h1 ng-controller="AccountCtrl">Account Settings</h1>

<div class="content-panel user-settings">
    <div class="content-inner">
        <form class="form-horizontal" ng-cloak id="account-settings-form">

            <div class="alert alert-success" ng-show="successMessage">{{successMessage}}</div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Username:</label>

                <div class="col-sm-4">
                    <label id="username" type="text" class="form-control disabled" ng-bind="userdetails.username"/>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email:</label>

                <div class="col-sm-4">
                    <input id="email" name=email" type="text" class="form-control" ng-model="userdetails.email" required=""/>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmEmail" class="col-sm-3 control-label">Confirm Email:</label>

                <div class="col-sm-4">
                    <input id="confirmEmail" name=confirmEmail" type="text" class="form-control"
                           ng-model="userdetails.confirmEmail"/>
                </div>
            </div>

            <div class="form-group">
                <label for="contactNumber" class="col-sm-3 control-label">Contact Number:</label>

                <div class="col-sm-4">
                    <input id="contactNumber" name="contactNumber" type="text" class="form-control"
                           ng-model="userdetails.contactNumber"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-9">
                    <button ng-click="saveSettings()" class="btn blue">Save</button>
                </div>
            </div>
            <div class="form-group" ng-show="errorMessage">
                <div class="col-sm-9 col-sm-offset-3 alert alert-danger">
                    <p><strong>Error saving settings</strong> {{errorMessage}}</p>
                </div>
            </div>
        </form>

        <form class="form-horizontal" ng-cloak id="account-password-form">


            <div class="form-group">
                <label for="currentPassword" class="col-sm-3 control-label">Current Password:</label>

                <div class="col-sm-4">
                    <input id="currentPassword" ng-model="userdetails.currentPassword" name="currentPassword" type="password"
                           class="form-control" required=""/>
                </div>
            </div>


            <div class="form-group">
                <label for="newPassword" class="col-sm-3 control-label">New Password:</label>

                <div class="col-sm-4">
                    <input id="newPassword" ng-model="pw" name="pw" type="password" class="form-control"
                           required=""/>
                </div>
                <div>
                    <ul id="strengthTest" check-strength="pw"></ul>
                </div>
            </div>

            <div class="form-group">
                <label for="passwordConfirm" class="col-sm-3 control-label">Confirm Password:</label>

                <div class="col-sm-4">
                    <input id="passwordConfirm" ng-model="userdetails.confirmPassword" name="password" type="password"
                           class="form-control" required=""/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-9">
                    <button ng-click="savePassword()" class="btn blue">Update Password</button>
                </div>
            </div>


            <div class="form-group" ng-show="passwordErrorMessage">
                <div class="col-sm-9 alert alert-danger">
                    <p><strong>Error changing password</strong> {{passwordErrorMessage}}</p>
                </div>
            </div>

        </form>
    </div>
</div>
