<style>
    .secret-word-set {
        font-weight: bold;
        color: green;
    }
    .secret-word-not-set{
        font-weight: bold;
        color: darkred;
    }
</style>

<h1>Account Settings</h1>

<div class="content-panel user-settings">
    <div class="content-inner">
        <form class="form-horizontal" data-ng-cloak id="account-settings-form">

            <a href="#/settings#change-contact-details" target="_self">Change Contact Details</a> |
            <a href="#/settings#change-password" target="_self">Change Password</a> |
            <a href="#/settings#change-secret-word" target="_self">Change Secret Word</a> |
            <a href="#/settings#change-photo" target="_self">Add or Change Photo</a> |
            <a href="#/settings#generate-api-key" target="_self">Generate API key</a>
            <br/><br/>

            <div class="form-group">
                <label class="col-sm-2 control-label">Username:</label>
                <div class="col-sm-4">
                    <label id="username" class="form-control disabled" data-ng-bind="userdetails.username"></label>
                </div>
            </div>

            <a name="change-contact-details"></a>
            <h4>Change Contact Details</h4>
            <p>Confirm your email address by entering the email you wish to use in both boxes below. If there is an email in the
                first box, then that was entered when your account was created. You may confirm that or use another email of
                your choice.</p>
            <p>Please note that the information below does not automatically update the records in your unit.</p>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-4">
                    <input id="email" name=email" type="text" class="form-control" data-ng-model="userdetails.email" required=""/>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmEmail" class="col-sm-2 control-label">Confirm Email:</label>
                <div class="col-sm-4">
                    <input id="confirmEmail" name=confirmEmail" type="text" class="form-control"
                           data-ng-model="userdetails.confirmEmail"/>
                </div>
            </div>

            <div class="form-group">
                <label for="contactNumber" class="col-sm-2 control-label">Contact Number:</label>
                <div class="col-sm-4">
                    <input id="contactNumber" name="contactNumber" type="text" class="form-control"
                           data-ng-model="userdetails.contactNumber"/>
                </div>
            </div>

            <div class="form-group hidden">
                <label for="forename" class="col-sm-2 control-label">Forename:</label>
                <div class="col-sm-4">
                    <input id="forename" name="forename" type="text" class="form-control"
                           data-ng-model="userdetails.forename"/>
                </div>
            </div>

            <div class="form-group hidden">
                <label for="surname" class="col-sm-2 control-label">Surname:</label>
                <div class="col-sm-4">
                    <input id="surname" name="surname" type="text" class="form-control"
                           data-ng-model="userdetails.surname"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-sm-offset-2">
                    <button data-ng-click="saveSettings()" class="btn blue">Save</button>
                </div>
            </div>
            <div class="form-group" data-ng-show="settingsErrorMessage">
                <div class="col-sm-8 col-sm-offset-2 alert alert-danger">
                    <p><strong>Error saving settings</strong> {{settingsErrorMessage}}</p>
                </div>
            </div>
            <div class="form-group" data-ng-show="settingsSuccessMessage">
                <div class="col-sm-8 col-sm-offset-2 alert alert-success">
                    <p>{{settingsSuccessMessage}}</p>
                </div>
            </div>
        </form>

        <hr>

        <a name="change-password"></a>
        <form class="form-horizontal" data-ng-cloak id="account-password-form">
            <h4>Change Password</h4>
            <p>When updating your password, check how strong it is using the bar to the right. Basically, a mix of
                capitals, small letters, numbers and symbols is best, and of course the longer the better.</p>
            <p><strong>The minimum length for a password is 7 characters.</strong></p>
            <div class="form-group">
                <label for="newPassword" class="col-sm-2 control-label">New Password:</label>
                <div class="col-sm-4">
                    <input id="newPassword" data-ng-model="pw" name="pw" type="password" class="form-control"
                           required=""/>
                </div>
                <div>
                    <ul id="strengthTest" check-strength="pw"></ul>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword" class="col-sm-2 control-label">Confirm Password:</label>
                <div class="col-sm-4">
                    <input id="confirmPassword" data-ng-model="confirmPassword" name="confirmPassword" type="password"
                           class="form-control" required=""/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-sm-offset-2">
                    <button data-ng-click="savePassword()" class="btn blue"
                            data-ng-disabled="!pw || pw.length < 7 || pw !== confirmPassword">
                        Update Password
                    </button>
                </div>
            </div>
            <div class="form-group" data-ng-show="passwordErrorMessage">
                <div class="alert alert-danger">
                    <p><strong>Error changing password</strong> {{passwordErrorMessage}}</p>
                </div>
            </div>
            <div class="form-group" data-ng-show="passwordSuccessMessage">
                <div class="col-sm-8 col-sm-offset-2 alert alert-success">
                    <p>{{passwordSuccessMessage}}</p>
                </div>
            </div>
        </form>

        <hr>

        <a name="change-secret-word"></a>
        <form class="form-horizontal" data-ng-cloak id="account-secret_word-form">
            <h4>Change Secret Word</h4>
            <p>A secret word adds an extra level of security when you login. You can create or update your secret word
                below, one that is easily remembered.</p>
            <p>Your secret word is
                <span data-ng-if="loggedInUser.secretWordIsSet" class="secret-word-set">SET</span>
                <span data-ng-if="!loggedInUser.secretWordIsSet" class="secret-word-not-set">NOT SET</span>
            </p>
            <p><strong>The minimum length for a secret word is 7 characters, must be letters not numbers.</strong></p>

            <div data-ng-if="loggedInUser.secretWordIsSet" class="form-group">
                <label for="oldSecretWord" class="col-sm-2 control-label">Current Secret Word:</label>
                <div class="col-sm-4">
                    <input id="oldSecretWord" data-ng-model="oldSecretWord" type="password" class="form-control" only-capital-letters/>
                </div>
            </div>

            <div class="form-group">
                <label for="secretWord1" class="col-sm-2 control-label">New Secret Word:</label>
                <div class="col-sm-4">
                    <input id="secretWord1" data-ng-model="secretWord1" type="password" class="form-control" only-capital-letters/>
                </div>
            </div>

            <div class="form-group">
                <label for="secretWord2" class="col-sm-2 control-label">Confirm Secret Word:</label>
                <div class="col-sm-4">
                    <input id="secretWord2" data-ng-model="secretWord2" type="password" class="form-control" only-capital-letters/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-sm-offset-2">
                    <button data-ng-click="saveSecretWord()" class="btn blue"
                            data-ng-disabled="!(secretWord1.length > 6
                            && secretWord2.length > 6
                            && (secretWord1 === secretWord2))">
                        Update Secret Word
                    </button>
                    <button data-ng-click="removeSecretWord()"
                            data-ng-if="previousAuthToken && loggedInUser.secretWordIsSet"
                            class="btn">
                        Remove Secret Word
                    </button>
                </div>
            </div>
            <div class="form-group" data-ng-show="secretWordErrorMessage">
                <div class="alert alert-danger">
                    <p><strong>Error changing secret word</strong> {{secretWordErrorMessage}}</p>
                </div>
            </div>
            <div class="form-group" data-ng-show="secretWordSuccessMessage">
                <div class="col-sm-8 col-sm-offset-2 alert alert-success">
                    <p>{{secretWordSuccessMessage}}</p>
                </div>
            </div>
        </form>

        <hr>

        <a name="change-photo"></a>
        <form class="form-horizontal" id="imageForm" name="imageForm">
            <h4>Your PatientView Photo</h4>
            <p>Please upload a photo of yourself here. The photo will be visible to members of staff with the ability
                to view your PatientView records. <br/>Note images must be under 10MB in size, jpeg/jpg format and will automatically be
                resized.</p>
            <div class="form-group" data-ng-show="userdetails.picture">
                <div class="col-sm-10 col-md-offset-2">
                    <img data-ng-src="{{datedUserPicture}}" class="user-picture" src="">
                </div>
            </div>
            <div class="form-group" data-ng-show="userdetails.picture">
                <div class="col-sm-10 col-md-offset-2">
                    <a href="" class="btn btn-danger" data-ng-click="deletePicture()"
                       data-ng-confirm-click="Are you sure you wish to delete this photo?">Remove</a>
                </div>
            </div>
            <div class="form-group" data-ng-show="pictureChangeSuccessMessage">
                <br/>
                <div class="col-sm-10 col-md-offset-2">
                    <span class="alert alert-success">{{pictureChangeSuccessMessage}}</span>
                </div>
            </div>
            <div class="form-group" data-ng-show="!uploadingPicture">
                <label for="choosePicture" class="col-sm-8 col-sm-offset-2 control-label" data-ng-show="!userdetails.picture">
                    Choose An Image To Upload:
                </label>
                <label for="choosePicture" class="col-sm-8 col-sm-offset-2 control-label" data-ng-show="userdetails.picture">
                    Choose An Alternative Image To Upload:
                </label>
                <div class="col-sm-8 col-sm-offset-2">
                    <br/>
                    <input type="file" id="choosePicture" data-nv-file-select data-uploader="uploader"/>
                </div>
            </div>
            <div class="form-group" data-ng-show="uploadingPicture">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3><img src="images/loading.gif" alt="Loading"/>&nbsp; Saving Picture</h3>
                </div>
            </div>
            <div class="form-group" data-ng-show="uploadErrorMessage.length">
                <div class="col-sm-8 col-sm-offset-2 alert alert-danger">
                    <p>{{uploadErrorMessage}}</p>
                </div>
            </div>
        </form>

        <hr>

        <a name="generate-api-key"></a>
        <form class="form-horizontal" data-ng-cloak id="account-api-key-form">
            <h4>Generate an API key</h4>
            <p>An API key is for advanced users who wish to retrieve their PatientView data programmatically.
                For example, to integrate their results with data from other systems or to visualise their records in
                different ways.
            </p>
            <p>Once an API key is generated, please refer to the
                <a href="https://www.patientview.org/apidocs" target="_blank">PatientView technical documentation</a>
                under 'Patient API Documentation' section to learn more about how to retrieve your data with your
                username, password and API key. If you have any queries regarding key renewal please
                <a href="#/contact">contact support</a>.
            </p>

            <div class="form-group">
                <label for="secretWord1" class="col-sm-2 control-label">API Key:</label>
                <div class="col-sm-6">
                    <label id="apiKey" class="form-control disabled" data-ng-bind="userdetails.apiKey.key"></label>
                </div>
            </div>

            <div class="form-group">
                <label for="expiryDate" class="col-sm-2 control-label">Expiry Date:</label>
                <div class="col-sm-4">
                    <label id="expiryDate" class="" data-ng-show="userdetails.apiKey.expiryDate">
                        {{userdetails.apiKey.expiryDate | date:'dd-MMM-yyyy HH:mm'}}
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-sm-offset-2">
                    <button data-ng-click="generateKey()"
                            data-ng-if="userdetails.apiKey.expired" class="btn blue">
                        Renew API Key
                    </button>
                    <button data-ng-click="generateKey()"
                            data-ng-if="userdetails.apiKey == null" class="btn blue">
                        Generate API Key
                    </button>

                </div>
            </div>
            <div class="form-group" data-ng-show="apiKeyErrorMessage">
                <div class="col-sm-8 col-sm-offset-2 alert alert-danger">
                    <p><strong>Error generating key: </strong> {{apiKeyErrorMessage}}</p>
                </div>
            </div>
            <div class="form-group" data-ng-show="apiKeySuccessMessage">
                <div class="col-sm-8 col-sm-offset-2 alert alert-success">
                    <p>{{apiKeySuccessMessage}}</p>
                </div>
            </div>
        </form>

    </div>
</div>
