<style>
    .docs-list li {
        margin-bottom: 1em;
    }
</style>

<div class="page-head container">
    <h1>Api Documentation</h1>
</div>

<div class="content-panel gp-login">
    <div class="content-inner">
        <div class="row">
            <div class="col-md-12">
                <br/>
                <p>PatientView API documentation is available though Apiary.io, a third party documentation site.</p>
                <p>Only certain endpoints are made available for external API use.</p>
                <h4>For organisations delivering patient records to PatientView</h4>
                <a href="http://docs.patientviewapiimporter.apiary.io/#" target="_blank" class="btn blue">
                    View Importer API Documentation
                </a>
                <h4>For users and organisations retrieving patient data</h4>
                <a href="http://docs.patientviewbasic.apiary.io/#" target="_blank" class="btn blue">
                    View Patient API Documentation
                </a>
            </div>
        </div>
    </div>
</div>
