<div class="page-content" data-ng-show="!loading">
    <h1>Categories
        <a class="btn blue" data-ng-click="openModalNewCategory()" href="">Create New</a>
        <a class="btn blue pull-right" href="/#/codes">Back to Codes</a>
    </h1>

    <div class="alert alert-success" data-ng-show="successMessage">{{successMessage}}</div>

    <div data-ng-show="!loading" data-ng-cloak>

        <!-- Filter -->
        <div class="content-panel filter-panel">
            <div>
                <div class="search-container">
                    <i class="icon-search-black"></i>
                    <input type="text" data-ng-model="searchText" placeholder="Search all fields..."
                           class="form-control input-block-level"/>
                </div>
            </div>
            <div class="panel-footer clearfix">
                <div class="content-inner">
                    <div class="form-horizontal" role="form">
                        <div class="pull-right" data-ng-show="pagedItems.length  > 0">
                            <h5>Page {{currentPage+1}} of {{totalPages}} ({{total}} total)</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- data grid -->
        <div class="faux-table six-col" data-ng-show="pagedItems.length  > 0" data-ng-cloak>
            <!-- header -->
            <div class="accordion-title-row table-head">
                <div class="hidden">ID</div>
                <div class="head-item accordion-title-text "><a data-ng-click="sortBy('number');" class="sort-title"><i class="icon-sort pull-right"></i>Number</a></div>
                <div class="head-item accordion-title-text "><a data-ng-click="sortBy('friendlyDescription');" class="sort-title"><i class="icon-sort pull-right"></i>Friendly Description</a></div>
                <div class="head-item accordion-title-text "><a data-ng-click="sortBy('icd10Description');" class="sort-title"><i class="icon-sort pull-right"></i>Official Description</a></div>
                <div class="head-item accordion-title-text "><a class="sort-title"></a></div>
            </div>

            <!-- body -->
            <div class="item-header" data-ng-repeat="category in pagedItems">
                <div class="faux-row">
                    <div class="row-item hidden">{{category.id}}</div>
                    <div class="row-item accordion-heading-text">{{category.number}}</div>
                    <div class="row-item accordion-heading-text">{{category.friendlyDescription}}</div>
                    <div class="row-item accordion-heading-text">{{category.icd10Description}}</div>
                    <div class="row-item actions">
                        <!-- Edit, Actions dropdown buttons -->
                        <div class="btn-group pull-right">
                            <button type="button" class="btn blue edit-button" data-ng-click="opened(category)">Edit</button>
                            <button type="button" class="btn negative" data-ng-click="remove(category.id, $event)">Del</button>
                        </div>
                    </div>
                </div>
                <!-- edit pane -->
                <div class="panel-body" data-ng-show="category.showEdit">
                    <div data-ng-show="category.editLoading" class="loading">
                        <img src="images/loading.gif" alt="Loading"/>
                    </div>
                    <div data-ng-show="!category.editLoading">
                        <form name="categoryForm">
                            <div data-ng-include src="'views/partials/categoryDetails.html'"></div>
                        </form>
                        <div class="panel-body-footer"><button class="btn btn-grey close-edit pull-right" data-ng-click="category.showEdit = false">Close</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" data-ng-show="pagedItems.length == 0">
            <div class="col-md-12">
                <br/>
                <h4>No categories found</h4>
            </div>
        </div>

        <!-- pagination -->
        <div pv-pagination></div>
    </div>
</div>

<div data-ng-show="loading" class="container"><br/><br/>
    <div data-ng-show="loading" class="loading">
        <h3><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading Categories</h3>
    </div>
</div>