<!--<script type="text/javascript">
    document.createElement('accordion');
    document.createElement('accordion-group');
    document.createElement('accordion-heading');
</script>-->
<div class="page-content" ng-show="!loading" ng-cloak>
    <h1>Codes <button class="btn blue" ng-click="openModalNewCode('lg')">Create New</button></h1>

    <div class="alert alert-success" ng-show="successMessage">{{successMessage}}</div>

    <!-- delete code modal template -->
    <script type="text/ng-template" id="deleteCodeModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Delete Code</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure? This will delete code <strong>{{code.code}}</strong>.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-grey" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="ok()">Delete</button>
        </div>
    </script>

    <!-- new code modal template -->
    <script type="text/ng-template" id="newCodeModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Create New Code</h3>
        </div>
        <div class="modal-body">
            <form name="codeFormNew" ng-model="editCode">
                <div ng-include src="'views/partials/codeDetailsNew.html'" ng-controller="CodeDetailsCtrl"></div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="alert alert-danger" ng-show="errorMessage">There was an error {{errorMessage}}</div>
            <button class="btn btn-grey" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="ok()" ng-disabled="!codeFormNew.$valid">Create New</button>
        </div>
    </script>

    <!-- Filter -->
    <div class="content-panel filter-panel">
        <div class="">
            <div class=" hidden">PageSize:
                <select data-ng-model="entryLimit" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>5</option>
                </select>
            </div>
            <div class="search-container">
                <i class="icon-search-black"></i>
                <input type="text" ng-model="search" ng-change="filter()" placeholder="Search all fields..." class="form-control input-block-level" />
            </div>
        </div>
        <div class="panel-footer clearfix">
            <!-- filter by code type -->
            <div class="content-inner">
                <div class="pull-right">
                    <h5>Showing {{ filtered.length }} of {{ list.length }} total</h5>
                </div>
                <div class="form-horizontal" role="form">
                    <div class="select-container pull-left">
                        <div class="btn-group filter-select" id="filter-code-type" data-ng-class="{open: open1}">
                            <button class="btn dropdown-toggle" data-ng-click="open1=!open1">Filter By Type <span class="caret-container" data-ng-class="{open: open1}"><span class="caret"></span></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <li><a data-ng-click="selectedCodeType=[];" class="a-filter-role"><i class="glyphicon glyphicon-remove"></i> Uncheck All</a></li>
                                <li class="divider"></li>
                                <li data-ng-repeat="type in codeTypes"> <a data-ng-click="setSelectedCodeType()" class="a-filter-code-type"><span class="pull-left">{{type.value}}</span><span data-ng-class="isCodeTypeChecked(type.id)"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="select-container pull-left">
                        <div class="btn-group filter-select" id="filter-standard-type" data-ng-class="{open: open2}">
                            <button class="btn dropdown-toggle" data-ng-click="open2=!open2">Filter By Standard <span class="caret-container"><span class="caret"></span></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <li><a data-ng-click="selectedStandardType=[];" class="a-filter-role"><i class="glyphicon glyphicon-remove"></i> Uncheck All</a></li>
                                <li class="divider"></li>
                                <li data-ng-repeat="type in standardTypes"> <a data-ng-click="setSelectedStandardType()" class="a-filter-standard-type"><span class="pull-left">{{type.value}}</span><span data-ng-class="isStandardTypeChecked(type.id)"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- data grid -->
    <div class="faux-table five-col" data-ng-show="filtered.length  > 0">
        <!-- header -->
        <span class="hidden" ng-repeat="data in filtered = (list | codeTypeFilter:selectedCodeType | standardTypeFilter:selectedStandardType | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit"></span>
        <div class="accordion-title-row table-head" ng-show="filtered.length > 0" ng-cloak>
            <div class="hidden">ID</div>
            <div class="head-item accordion-title-text "><a ng-click="sortBy('code');" class="sort-title"><i class="icon-sort pull-right"></i>Code</a></div>
            <div class="head-item accordion-title-text "><a ng-click="sortBy('type');" class="sort-title"><i class="icon-sort pull-right"></i>Type</a></div>
            <div class="head-item accordion-title-text "><a ng-click="sortBy('standard');" class="sort-title"><i class="icon-sort pull-right"></i>Standard</a></div>
            <div class="head-item accordion-title-text "><a ng-click="sortBy('description');" class="sort-title"><i class="icon-sort pull-right"></i>Description</a></div>
            <div class="head-item accordion-title-text "><a class="sort-title"></a></div>
        </div>

        <!-- body -->
        <div accordion class="accordion" close-others="true" ng-show="filtered.length  > 0" ng-cloak>
            <div accordion-group class="accordion-group" is-open="status.open" ng-repeat="code in filtered = (list | codeTypeFilter:selectedCodeType | standardTypeFilter:selectedStandardType | filter:search | orderBy: predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                <div accordion-heading class="accordion-heading">
                    <div class="faux-row" ng-click="opened(code, $event)">
                        <div class="row-item hidden">{{code.id}}</div>
                        <div class="row-item accordion-heading-text">{{code.code}}</div>
                        <div class="row-item accordion-heading-text">{{code.codeType.value}}</div>
                        <div class="row-item accordion-heading-text">{{code.standardType.value}}</div>
                        <div class="row-item accordion-heading-text">{{code.description}}</div>
                        <div class="row-item actions">

                            <!-- Edit, Actions dropdown buttons -->
                            <div class="btn-group pull-right">
                                <button type="button" class="btn blue">Edit</button>
                                <button type="button" class="btn aquamarine" ng-click="clone(code.id, $event)">Copy</button>
                                <button type="button" class="btn negative" ng-click="delete(code.id, $event)">Delete</button>
                            </div>
                            <!--<div class="dropdown pull-left open">-->
                                <!--<button data-toggle="dropdown" id="dropdownMenu1" type="button" class="btn blue dropdown-toggle" aria-haspopup="true" aria-expanded="true">-->
                                    <!--<span class="caret"></span>-->
                                <!--</button>-->
                                <!--<ul id="dropdown-toggle-381-menu" class="dropdown-menu dropdown-menu-accordion">-->
                                    <!--<li><a class="dropdown-menu-accordion-item" ng-click="clone(code.id, $event)">Copy</a></li>-->
                                    <!--<li><a class="dropdown-menu-accordion-item" ng-click="delete(code.id, $event)">Delete</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div accordion-heading>

                <!-- edit pane -->
                <form name="codeForm" class="edit-code">
                    <div ng-include src="'views/partials/codeDetails.html'" ng-controller="CodeDetailsCtrl"></div>
                </form>
                <hr>
                <div class="code-save-cancel pull-right">
                    <button type="button" class="btn btn-grey" ng-click="status.open = !status.open">Close</button>
                </div>

            </div accordion-group>
        </div accordion>
    </div>
    <div class="col-md-12" data-ng-show="filtered.length == 0">
        <div class="col-md-12">
            <h4>No codes found</h4>
        </div>
    </div>

    <!-- pagination -->
    <div class="col-md-12" data-ng-show="filtered.length > 0">
        <div pagination on-select-page="setPage(page)" total-items="filtered.length" items-per-page="entryLimit" ng-model="currentPage" class="pagination-sm" ng-hide="filtered.length  < entryLimit "></div>
    </div>
</div>

<div ng-show="loading" class="container"><br/><br/>
    <div ng-show="loading" class="loading"><img src="images/loading.gif" alt="Loading"/></div></div>