<!-- new contact unit modal template -->
<script type="text/ng-template" id="contactUnitModal.html">
    <div data-ng-controller="ContactUnitDetailsCtrl">
        <div class="modal-header">
            <h3 class="modal-title">Send a Message to {{group.name}}</h3>
        </div>
        <div class="modal-body">
            <form name="contactUnitForm" data-ng-model="conversation">
                <div data-ng-include src="'views/partials/contactUnitDetails.html'"></div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="alert alert-danger" data-ng-show="errorMessage">There was an error {{errorMessage}}</div>
            <button class="btn btn-grey" data-ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" data-ng-click="ok()" data-ng-disabled="!contactUnitForm.$valid">Contact Unit</button>
        </div>
    </div>
</script>

<div data-ng-show="!loading">
    <h1>Contact Your Unit</h1>
    <div class="alert alert-success" data-ng-show="successMessage">{{successMessage}}</div>
    <div class="patient-details">
        <div class="">
            <div class="">
                <div data-ng-show="groups.length">
                    <div class="details-filter clearfix">
                        <div class="pull-right">Showing details provided by: &nbsp;&nbsp;
                        <label data-ng-repeat="group in groups">
                            <input type="checkbox" value="{{group.name}}" data-ng-model="group.selected">
                            <span class="checkbox-label">{{group.name}}</span>
                        </label>
                        </div>
                    </div>
                    <div data-ng-repeat="group in groups" data-ng-show="group.selected">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>{{group.name}}</h3></div>
                            <div class="panel-body">
                                <p>Refer to contact details below or <a href="" data-ng-click="openModalContactUnit(group)">send a message now</a>.</p>

                                <h4>Address</h4>
                                <table class="">
                                    <tr><td>Address: </td>
                                        <td>{{group.address1}}<br/>
                                            {{group.address2}}<br/>
                                            {{group.address3}}</td>
                                    </tr>
                                    <tr><td>Postcode: &nbsp;&nbsp;</td><td>{{group.postcode}}</td></tr>
                                </table>
                                <h4>Contact Points</h4>
                                <table>
                                    <tr data-ng-repeat="contactPoint in group.contactPoints">
                                        <td>{{contactPoint.contactPointType.description}}: &nbsp;&nbsp;</td>
                                        <td ng-bind-html="addAIfRequired(contactPoint.content)"></td>
                                    </tr>
                                </table>
                                <h4 data-ng-show="group.locations">Additional Locations</h4>
                                <div data-ng-show="group.locations">
                                    <div class="locations-list" data-ng-repeat="location in group.locations">
                                        <strong>{{location.name}}</strong>
                                        <table>
                                            <tr><td>Phone:</td><td> {{location.phone}}</td></tr>
                                            <tr><td>Address: &nbsp;&nbsp;</td><td> {{location.address}}</td></tr>
                                            <tr><td>Web:</td><td ng-bind-html="addAIfRequired(location.web)"></td></tr>
                                            <tr><td>Email:</td><td ng-bind-html="addAIfRequired(location.email)"></td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-show="!groups.length">
                    <p>You are not a member of any groups you can contact directly.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-show="loading" class="container"><br/><br/>
    <div data-ng-show="loading" class="loading">
        <h3><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading</h3>
    </div>
</div>