<!-- new contact unit modal template -->
<script type="text/ng-template" id="contactUnitModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Contact Your Unit</h3>
    </div>
    <div class="modal-body">
        <form name="contactUnitForm" ng-model="conversation">
            <div ng-include src="'views/partials/contactUnitDetails.html'" ng-controller="ContactUnitDetailsCtrl"></div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="alert alert-danger" ng-show="errorMessage">There was an error {{errorMessage}}</div>
        <button class="btn btn-grey" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="!contactUnitForm.$valid || (conversation.recipients.length < 1)" ng-show="conversation.allRecipients.length">Contact Unit</button>
    </div>
</script>

<h1>Contact Your Unit</h1>
<div class="content-panel">
    <div class="content-inner">
        <div ng-show="!loading">
            <p>Showing details provided by:</p>
            <ul>
                <li ng-repeat="group in groups">{{group.name}}</li>
            </ul>

            <div ng-repeat="group in groups">
                <div class="panel panel-default">
                    <div class="panel-title"><h2>{{group.name}}</h2></div>
                    <div class="panel-body">
                        <p>Refer to contact details below or <a href="" ng-click="openModalContactUnit()">send a message now</a>.</p>

                        <h5>Address</h5>
                        <ul class="unstyled">
                            <li>Address 1: {{group.address1}}</li>
                            <li>Address 2: {{group.address2}}</li>
                            <li>Address 3: {{group.address3}}</li>
                            <li>Postcode: {{group.postcode}}</li>
                        </ul>
                        <h5>Contact Points:</h5>
                        <ul class="unstyled">
                            <li ng-repeat="contactPoint in group.contactPoints">
                                {{contactPoint.contactPointType.value}}: {{contactPoint.content}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="loading" class="container"><br/>
        <div ng-show="loading" class="loading"><img src="images/loading.gif" alt="Loading"/></div><br/>
    </div>
</div>
