<div class="" data-ng-show="!loading" data-ng-cloak>
    <br/>
    <div class="row">
        <div class="col-md-8">
            <div class="tab-panel-item">
                <div class="content-panel">
                    <ul class="pull-right aside-actions dashboard unstyled">
                        <li data-ng-show="loggedInUser.userInformation.groupMessagingEnabled">
                            <a href="#/conversations" class="aside-link active">
                                Unread Messages<span class="message-count">{{unreadConversationCount}}</span>
                            </a>
                        </li>
                        <li data-ng-show="permissions.showJoinRequestButton"><a href="#/joinrequestadmin" class="aside-link reply">Join Requests<span class="message-count">{{submittedJoinRequestCount}}</span></a></li>
                    </ul>
                    <div class="item-detail row">
                        <dl class="col-md-6">
                            <dt>{{loggedInUser.forename}} {{loggedInUser.surname}}</dt>
                            <dd>Joined {{loggedInUser.created | date:'dd-MMM-yyyy HH:mm'}}</dd>
                        </dl>
                        <dl class="col-md-6 last-login">
                            <dt>Last Login</dt>
                            <dd data-ng-show="loggedInUser.lastLogin">{{loggedInUser.lastLogin | date:'dd-MMM-yyyy HH:mm'}}
                                <span class="sub-text" data-ng-show="loggedInUser.lastLoginIpAddress">from {{loggedInUser.lastLoginIpAddress}}</span>
                            </dd>
                            <dd data-ng-show="!loggedInUser.lastLogin">
                                Never logged in
                            </dd>
                        </dl>
                    </div>
                    <div class="item-detail row">
                        <dl class="col-md-6">
                            <dt>You are a member of:</dt>
                            <dd>
                                <ul class="unstyled groups-list">
                                    <li data-ng-repeat="groupRole in loggedInUser.groupRoles | orderBy:[orderGroupRoles,'group.name']" data-ng-if="groupRole.role.name !== 'MEMBER'">
                                        <span>
                                            {{groupRole.group.name}} ({{groupRole.group.groupType.description}})
                                            <span class="light-text">({{groupRole.role.description}})</span>
                                        </span>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl class="col-md-6 last-login" data-ng-show="permissions.isPatient">
                            <dt>Data last received:</dt>
                            <dd data-ng-show="loggedInUser.latestDataReceivedDate && loggedInUser.latestDataReceivedBy">
                                <a href="#/results">{{loggedInUser.latestDataReceivedDate | date:'dd-MMM-yyyy HH:mm'}}</a>
                                <span class="sub-text">from {{loggedInUser.latestDataReceivedBy.name}}</span>
                            </dd>
                            <dd data-ng-show="!loggedInUser.latestDataReceivedDate || !loggedInUser.latestDataReceivedBy">
                                Not Available
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="content-panel" data-ng-show="!chartLoading && !permissions.isPatient">
                <div class="panel-intro">
                    <h3 data-ng-hide="graphGroups.length > 2 || permissions.isPatient" data-ng-cloak>{{graphGroups[0].name}}
                        <span class="light-text">&nbsp;&nbsp;{{graphGroups[0].groupType.description}}</span></h3>
                    <div class="graph-selector clearfix">
                        <div class="col-md-2" data-ng-show="graphGroups.length > 2 && !permissions.isPatient">
                            <h3 class="">Activity</h3>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" id="graph-select" data-ng-model="graphGroupId"
                                    data-ng-options="group.id as group.name + ' &nbsp;(' + group.groupType.description + ')' for group in graphGroups | orderBy:[orderGroups,'name']"
                                    data-ng-show="graphGroups.length > 2 && !permissions.isPatient" data-ng-cloak>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-panel" data-ng-hide="permissions.isPatient">
                <div class="content-inner">
                    <div id="chart_div"></div>
                </div>
            </div>

            <div class="content-panel" data-ng-show="chartLoading && !permissions.isPatient">
                <div class="loading"><img src="images/loading.gif" alt="Loading"/><br/><br/></div>
            </div>

            <div class="chart-container content-panel" data-ng-show="!chartLoading && !permissions.isPatient && statisticsDate">
                <div class="panel-intro">
                    <h3>Statistics for '{{allGroups[graphGroupId].name}}' <span class="light-text">&nbsp;&nbsp;updated {{statisticsDate | date:'dd-MMM-yyyy'}}</span></h3>
                </div>
                <div class="tab-panel-item">
                    <div class="user-details">
                        <div class="row">
                            <dl class="col-md-4">
                                <dt>Locked Users</dt>
                                <dd>{{lockedUsers}}</dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt>Inactive Users (no login in 1 month)</dt>
                                <dd>{{inactiveUsers}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div data-ng-show="permissions.isPatient && gpMedicationStatus.available
                && gpMedicationStatus.optInStatus !== true && gpMedicationStatus.optInHidden !== true">
                <!-- GP Medicines opt in/out -->
                <div class="content-panel">
                    <div class="content-inner alert-warning">
                        <div><!-- not opted in -->
                            <h4>Medicines from your GP's records</h4>
                            <p>
                                Please click the Opt In button if you would like PatientView to display the prescription from your GP.
                                This is useful as its usually the most up to date prescription. PatientView can now obtain it for you,
                                with your permission, from your GP's records.
                                <a href="http://www.rixg.org/rpv/ecs-scr.html" target="_blank">(Explain This)</a>
                            </p>
                            <button type="button" class="btn blue" data-ng-click="gpMedicinesOptIn()">Opt In</button> &nbsp;&nbsp;&nbsp;
                            <a href="" data-ng-click="gpMedicinesHideOptIn()">Hide This Notification</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <aside class="col-md-4">
            <div class="panel-header content-panel lowlight">
                <h3><span class="badge aqua pull-left"><i class="icon-settings"></i></span>Your Settings</h3>
            </div>
            <div class="user-details content-panel">
                <ul class="unstyled">
                    <li><h4>Username: {{loggedInUser.username}}</h4></li>
                    <li data-ng-show="loggedInUser.email">Email: {{loggedInUser.email}}</li>
                    <li data-ng-show="loggedInUser.contactNumber">Phone: {{loggedInUser.contactNumber}}</li>
                </ul>
                <br/>
                <div class="news-actions">
                    <a href="/#/settings" class="btn blue">Change Your Settings/Password</a>
                </div>
            </div>
            <div class="news-container">
                <div class="panel-header content-panel lowlight">
                    <h3><span class="badge aqua pull-left"><i class="icon-news"></i></span> Latest News</h3>
                </div>
                <ul class="unstyled">
                    <li class="news-item content-panel" data-ng-repeat="news in newsItems">
                        <div class="content-inner">
                            <ul class="unstyled pull-right hidden">
                                <li data-ng-repeat="newsLink in news.newsLinks" class="news-link-labels">
                                    <span class="label label-primary" data-ng-show="newsLink.group != null">{{newsLink.group.name}} <span>({{newsLink.role.description}})</span></span>
                                    <span class="label label-success" data-ng-show="newsLink.role != null && newsLink.group == null && newsLink.role.name != 'GLOBAL_ADMIN'">{{newsLink.role.description}}</span>
                                </li>
                            </ul>
                            <h4><a href="" data-ng-click="viewNewsItem(news)">{{news.heading}}</a></h4>
                            <p class="news-date">{{news.created | date:'dd-MMM-yyyy HH:mm'}}</p>
                            <div class="message-content">
                                <p data-ng-bind-html="parseHTMLText(news.story)"></p>
                                <div class="news-actions">
                                    <button class="btn blue" href="" data-ng-click="viewNewsItem(news)">Read Story</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="unstyled" data-ng-hide="newsItems">
                    <li class="news-item content-panel">
                        <div class="content-inner">
                            <h4>No Current News</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</div>
<div data-ng-show="loading" class="container"><br/><br/>
    <div data-ng-show="loading" class="loading">
        <h3><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading Home</h3>
    </div>
</div>
<br/>

<!-- Migration only -->
<div data-ng-show="permissions.isSuperAdmin">
    <a href="" class="btn blue hidden" data-ng-click="startObservationMigration()">Start Observation Migration</a>
</div>