<style>
    .filetype-icon{
        margin-right: 5px;
    }
</style>
<h1 data-ng-show="!loading"><a href="/#/results" class="btn blue pull-left back-to-results" data-ng-show="!loading"><i class="icon-back-to pull-left"> </i> Back to Results</a> Diagnostics</h1>

<div data-ng-show="!loading">

    <div class="content-panel">
        <div class="content-inner">
            <p>The Diagnostics section lists your previous imaging and endoscopy tests direct from the hospital record.</p>
        </div>
    </div>

    <div class="content-panel">
        <div class="content-inner">

            <table class="table" data-ng-show="diagnostics.length">
                <thead class="table-head">
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Result</th>
                    <th>Source</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="diagnostic in diagnostics | orderBy: predicate :reverse">
                    <td>{{diagnostic.date | date: 'dd-MMM-yyyy HH:mm'}}</td>
                    <td>{{diagnostic.type}}</td>
                    <td>{{diagnostic.name}}</td>
                    <td>{{diagnostic.result.value}}</td>
                    <td>{{diagnostic.group.name}}</td>
                    <td>
                        <img src="../images/icons/imageicon.png" data-ng-show="diagnostic.filetype==='application/jpeg'" class="filetype-icon">
                        <img src="../images/icons/pdficon.png" data-ng-show="diagnostic.filetype==='application/pdf'" class="filetype-icon">
                        <img src="../images/icons/wordicon.png" data-ng-show="diagnostic.filetype==='application/msword'" class="filetype-icon">
                        <a href="../api/user/{{loggedInUser.id}}/diagnostics/{{diagnostic.fileDataId}}/download?token={{authToken}}" data-ng-show="diagnostic.fileDataId">
                            Download
                            <span data-ng-show="diagnostic.filesize">({{diagnostic.filesize | filesize}})</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="alert alert-warning" data-ng-show="!diagnostics.length">
                <p>No Diagnostics information available</p>
            </div>

        </div>
    </div>
</div>
<div data-ng-show="loading" class="container"><br/><br/>
    <div data-ng-show="loading" class="loading">
        <h3><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading Diagnostics</h3>
    </div>
</div>
