<!-- add note modal -->
<script type="text/ng-template" id="noteModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{edit ? 'Edit' : 'Add'}} note</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">
                    Note
                    <span class="error" data-ng-if="!note.body">
                        (required)
                    </span>
                </label>
            </div>
            <textarea id="note-body" data-ng-model="note.body" class="form-control" style="height: 100px;"
                    debounce="500" />
        </div>

        <div class="row" data-ng-if="errorMessage.length">
            <br/>
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <span>{{errorMessage}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn-group pull-right">
            <button class="btn btn-grey" data-ng-click="cancel()">Cancel</button>
            <button class="btn blue" data-ng-click="ok()">{{edit ? 'Save Changes' : 'Add Note'}}</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="discardChangesModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirm</h3>
    </div>
    <div class="modal-body">
        <p>This will discard any amends you have made since the last Save. Are you sure you want to discard changes?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-grey" data-ng-click="cancel()">No</button>
        <button class="btn btn-primary" data-ng-click="ok()">Yes</button>
    </div>
</script>

<script type="text/ng-template" id="notifyDonorModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirm</h3>
    </div>
    <div class="modal-body">
        <p>Your changes will be saved and a notification sent to the donor. Do you wish to continue?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-grey" data-ng-click="cancel()">No</button>
        <button class="btn btn-primary" data-ng-click="ok()">Yes</button>
    </div>
</script>

<div class="alert alert-danger form-save" data-ng-show="fatalErrorMessage">{{fatalErrorMessage}}</div>

<div data-ng-show="!loading && !fatalErrorMessage">
    <div data-ng-include src="'views/partials/donorpathwayDetails.html'"></div>
</div>

<div data-ng-show="loading && !fatalErrorMessage" class="container"><br/><br/>
    <div data-ng-show="loading" class="loading">
        <h3><img src="images/loading.gif" alt="Loading"/>&nbsp; {{loadingMessage}}</h3>
    </div>
</div>
