<!--<script type="text/javascript">
    document.createElement('accordion');
    document.createElement('accordion-group');
    document.createElement('accordion-heading');
</script>-->
<div class="" ng-show="!loading" ng-cloak>
    <h1>Groups <button class="btn blue" ng-click="openModalNewGroup('lg')" ng-show="permissions.canCreateGroup">Create New</button></h1>
    <div class="alert alert-danger" ng-show="fatalErrorMessage">{{fatalErrorMessage}}</div>

    <div ng-show="!fatalErrorMessage" ng-cloak>
        <!-- new group modal template -->
        <script type="text/ng-template" id="newGroupModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Create New Group</h3>
            </div>
            <div class="modal-body">
                <form name="groupForm" ng-model="editGroup">
                    <div ng-include src="'views/partials/groupDetails.html'" ng-controller="GroupDetailsCtrl"></div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="alert alert-danger" ng-show="errorMessage">There was an error {{errorMessage}}</div>
                <button class="btn btn-grey" ng-click="cancel()">Cancel</button>
                <button class="btn blue" ng-click="ok()" ng-disabled="!groupForm.$valid">Create New</button>
            </div>
        </script>

        <!-- Filter -->
        <div class="content-panel filter-panel">
            <div class="col-md-2 hidden">PageSize:
                <select data-ng-model="entryLimit" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>5</option>
                </select>
            </div>
            <div class="search-container">
                <i class="icon-search-black"></i>
                <input type="text" ng-model="search" ng-change="filter()" placeholder="Search all fields..." class="form-control input-block-level" />
            </div>
            <div class="panel-footer clearfix">
                <div class="content-inner">
                <!-- filter by group type -->
                    <div class="pull-right">
                        <h5>Showing {{ filtered.length }} of {{ list.length }} total</h5>
                    </div>
                    <div class="form-horizontal" role="form">
                        <div class="select-container pull-left">
                            <div class="btn-group" id="filter-group-type" data-ng-class="{open: open1}">
                                <button class="btn dropdown-toggle" data-ng-click="open1=!open1">Filter By Group Type <span class="caret-container"><span class="caret"></span></span></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                    <li><a data-ng-click="selectedGroupType=[];" class="a-filter-role"><i class="glyphicon glyphicon-remove"></i> Uncheck All</a></li>
                                    <li class="divider"></li>
                                    <li data-ng-repeat="type in filterGroupTypes"> <a data-ng-click="setSelectedGroupType()" class="a-filter-group-type"><span class="pull-left">{{type.value}}</span><span data-ng-class="isGroupTypeChecked(type.id)"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="alert alert-success" ng-show="successMessage">{{successMessage}}</div>

        <!-- data grid -->
        <div class="faux-table five-col" data-ng-show="filtered.length  > 0">
            <!-- header -->
            <span class="hidden" ng-repeat="data in filtered = (list | groupTypeFilter:selectedGroupType | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit"></span>
            <div class="accordion-title-row table-head" ng-show="filtered.length > 0" ng-cloak>
                <div class="hidden">ID</div>
                <div class="head-item accordion-title-text"><a ng-click="sortBy('code');" class="sort-title">Code&nbsp;<i class="glyphicon glyphicon-sort hidden"></i></a></div>
                <div class="head-item accordion-title-text"><a ng-click="sortBy('name');" class="sort-title">Name&nbsp;<i class="glyphicon glyphicon-sort hidden"></i></a></div>
                <div class="head-item accordion-title-text"><a ng-click="sortBy('groupType.value');" class="sort-title">Type&nbsp;<i class="glyphicon glyphicon-sort hidden"></i></a></div>
                <div class="head-item accordion-title-text "><a ng-click="sortBy('sftpUser');" class="sort-title">SFTP User&nbsp;<i class="glyphicon glyphicon-sort hidden"></i></a></div>
                <div class="head-item accordion-title-text"><a class="sort-title">Actions</a></div>
            </div>

            <!-- body -->
            <div accordion class="accordion" close-others="true" ng-show="filtered.length  > 0" ng-cloak>
                <div accordion-group class="accordion-group" is-open="status.open" ng-repeat="group in filtered = (list | groupTypeFilter:selectedGroupType | filter:search | orderBy: predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                    <div accordion-heading class="accordion-heading">
                        <div class="faux-row" ng-click="opened(group, $event, status)">
                            <div class="row-item hidden">{{group.id}}</div>
                            <div class="row-item accordion-heading-text">{{group.code}}</div>
                            <div class="row-item accordion-heading-text">{{group.name}}</div>
                            <div class="row-item accordion-heading-text">{{group.groupType.value}}</div>
                            <div class="row-item accordion-heading-text">{{group.sftpUser}}</div>
                            <div class="row-item actions">
                                <!-- Stats, Edit buttons -->
                                <div class="btn-group">
                                    <button type="button" class="edit-button btn blue"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                                    <button type="button" class="statistics-button btn aquamarine"><span class="glyphicon glyphicon-stats"></span> Stats</button>
                                </div>
                            </div>
                        </div>
                    </div accordion-heading>

                    <!-- edit pane -->
                    <div ng-show="!statistics">
                        <form name="groupForm">
                            <div ng-include src="'views/partials/groupDetails.html'" ng-controller="GroupDetailsCtrl"></div>
                        </form>
                        <hr>
                        <div class="group-save-cancel pull-right">
                            <button type="button" class="btn btn-grey" ng-click="status.open = !status.open">Cancel</button>
                            <button type="button" class="btn blue" ng-click="save(groupForm, editGroup)" ng-disabled="groupForm.$pristine || !groupForm.$valid">Save</button>
                        </div>
                    </div>

                    <!-- stats pane -->
                    <div ng-show="statistics">
                        <h2>Statistics</h2>
                        <p>Group statistics are shown here.</p>
                        <a class="btn pull-right btn-primary" ng-click="status.open = false">Back</a>
                    </div>

                </div accordion-group>
            </div accordion>
        </div>
        <div class="col-md-12" data-ng-show="filtered.length == 0">
            <div class="col-md-12">
                <h4>No groups found</h4>
            </div>
        </div>

        <!-- pagination -->
        <div class="col-md-12" data-ng-show="filtered.length > 0">
            <div pagination on-select-page="setPage(page)" total-items="filtered.length" items-per-page="entryLimit" ng-model="currentPage" class="pagination-sm" ng-hide="filtered.length  < entryLimit "></div>
        </div>
    </div>
</div>

<div ng-show="loading" class="container"><br/><br/>
    <div ng-show="loading" class="loading"><img src="images/loading.gif" alt="Loading"/></div></div>