<!-- todo: move to main css -->
<style>
    .feature-list-delete {
        margin-right:10px;
    }
    .name-action-list li {
        height: auto;
    }
    .feature-list {
        margin-top: 10px;
    }
</style>
<h1 data-ng-show="!loading">Join Request Admin</h1>
<p data-ng-show="!loading">To manage this request list, click Edit and pick a new status when you deal with each.
    Remember to click Save when you have changed a status.</p>
<div class="content-panel filter-panel" data-ng-show="!loading" data-ng-cloak>
    <div class="panel-footer clearfix">
        <div class="content-inner">

            <div class="form-horizontal" role="form">
                <!-- filter by status -->
                <div class="pull-right" data-ng-show="pagedItems.length > 0">
                    <h5>Page {{currentPage+1}} of {{totalPages}} ({{total}} total)</h5>
                </div>
                <div class="select-container pull-left">
                    <div class="btn-group filter-select" id="filter-standard-type" data-ng-class="{open: open1}">
                        <button class="btn dropdown-toggle" data-ng-click="open1=!open1">Filter By Status <span class="caret-container"><span class="caret"></span></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                            <li><a data-ng-click="removeAllStatuses()"><i class="glyphicon glyphicon-remove"></i> Uncheck All</a></li>
                            <li class="divider"></li>
                            <li data-ng-repeat="status in statuses">
                                <a class="clearfix" data-ng-click="setSelectedStatus(status)">
                                    <span class="pull-left">{{status}}</span>
                                    <span data-ng-class="isStatusChecked(status)"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- filter by group -->
                <div class="select-container pull-left">
                    <div class="btn-group filter-select" id="filter-group" data-ng-class="{open: open2}">
                        <button class="btn dropdown-toggle" data-ng-click="open2=!open2">Filter By Group <span class="caret-container"><span class="caret"></span></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                            <li><a data-ng-click="removeAllSelectedGroup()" class="a-filter-group"><i class="glyphicon glyphicon-remove"></i> Uncheck All</a></li>
                            <li class="divider"></li>
                            <li data-ng-repeat="group in allGroups | orderBy:[orderGroups,'name']" data-ng-show="group.groupType.value !== 'SPECIALTY'">
                                <a data-ng-click="setSelectedGroup()" class="a-filter-group clearfix">
                                    <span class="pull-left">{{group.shortName}} ({{group.groupType.description}})</span>
                                    <span data-ng-class="isGroupChecked(group.id)"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <ul class="feature-list unstyled name-action-list">
                            <li class="feature-list-item" data-ng-repeat="status in statuses"
                                data-ng-show="isStatusChecked(status)">
                                <div class="feature-list-name pull-left">
                                    <span class="feature-list-name">{{status}}</span>
                                </div>
                                <div class="feature-list-delete pull-left">
                                    <a href="" data-ng-click="removeSelectedStatus(status)" >
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </div>
                            </li>
                            <li class="feature-list-item" data-ng-repeat="group in allGroups | orderBy:'name'"
                                data-ng-show="isGroupChecked(group.id)">
                                <div class="feature-list-name pull-left">
                                    <span class="feature-list-name">{{group.name}}</span>
                                </div>
                                <div class="feature-list-delete pull-left">
                                    <a href="" data-ng-click="removeSelectedGroup(group)" >
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- data grid -->
<div class="faux-table eight-col" data-ng-show="pagedItems.length > 0 && !loading" data-ng-cloak>

    <div class="table-head accordion-title-row">
        <div class="hidden">ID</div>
        <div class="head-item accordion-title-text ">
            <a data-ng-click="sortBy('forename');" class="sort-title"><i class="icon-sort pull-right"></i>Name</a>
        </div>
        <div class="head-item accordion-title-text ">Date of Birth</div>
        <div class="head-item accordion-title-text ">Identifier</div>
        <div class="head-item accordion-title-text ">Email</div>
        <div class="head-item accordion-title-text ">Unit</div>
        <div class="head-item accordion-title-text ">
            <a data-ng-click="sortBy('created');" class="sort-title"><i class="icon-sort pull-right"></i>Date of Request</a>
        </div>
        <div class="head-item accordion-title-text ">Status</div>
        <div class="head-item accordion-title-text "></div>
    </div>

    <div class="item-header" data-ng-repeat="joinRequest in pagedItems">
        <div class="faux-row">
            <div class="row-item hidden">{{joinRequest.id}}</div>
            <div class="row-item accordion-heading-text">{{joinRequest.forename}} {{joinRequest.surname}}</div>
            <div class="row-item accordion-heading-text">{{joinRequest.dateOfBirth  | date:'dd-MMM-yyyy'}}</div>
            <div class="row-item accordion-heading-text">{{joinRequest.nhsNumber}}</div>
            <div class="row-item accordion-heading-text row-break">{{joinRequest.email}}</div>
            <div class="row-item accordion-heading-text">{{joinRequest.group.name}}</div>
            <div class="row-item accordion-heading-text">{{joinRequest.created  | date:'dd-MMM-yyyy'}}</div>
            <div class="row-item accordion-heading-text">
                <span data-ng-if="joinRequest.status==='COMPLETED'" class="badge badge-small completed"></span>
                <span data-ng-if="joinRequest.status==='SUBMITTED'" class="badge badge-small warning"></span>
                <span data-ng-if="joinRequest.status==='INCOMPLETE'" class="badge badge-small warning"></span>
                <span data-ng-if="joinRequest.status==='IGNORED'" class="badge badge-small ignored"></span>
                <span data-ng-if="joinRequest.status==='DUPLICATE'" class="badge badge-small ignored"></span>
                &nbsp;{{joinRequest.status}}
            </div>
            <div class="row-item accordion-heading-text">
                <button type="button" class="btn blue edit-button" data-ng-click="opened(joinRequest)">Edit</button>
            </div>
        </div>
        <div class="panel-body" data-ng-show="joinRequest.showEdit">
            <div data-ng-show="joinRequest.editLoading" class="loading"><img src="images/loading.gif" alt="Loading"/></div>
            <div data-ng-show="!joinRequest.editLoading">
                <form name="joinRequestForm">
                    <div data-ng-include src="'views/partials/joinrequestdetails.html'"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<div data-ng-show="pagedItems.length == 0 && !loading">
    <br/>
    <h4>No Join Requests found</h4>
</div>

<!-- pagination -->
<pv-pagination></pv-pagination>

<div data-ng-show="loading" class="container"><br/><br/>
    <div data-ng-show="loading" class="loading">
        <h3><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading Join Requests</h3>
    </div>
</div>