<h1 ng-controller="JoinRequestAdminCtrl">Join Request Admin</h1>
<form class="form-horizontal" ng-cloak id="account-settings-form">


    <!-- Filter -->
    <div class="select-container pull-left">
        <!-- filter by status -->
        <div class="btn-group filter-select" id="filter-role" data-ng-class="{open: open2}">
            <button class="btn dropdown-toggle" data-ng-click="open2=!open2">Filter By Status <span
                    class="caret-container"><span class="caret"></span></span></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li><a data-ng-click="statuses=[];" data-ng-model="statuses" class="a-filter-status"><i class="glyphicon glyphicon-remove"></i>
                    Uncheck All</a></li>
                <li class="divider"></li>
                <li data-ng-repeat="status in statuses"><a data-ng-click="filter(status)"
                                                           class="a-filter-status clearfix"><span class="pull-left">{{status}}</span><span></span></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- data grid -->
    <div class="faux-table seven-col" data-ng-show="joinRequests.length > 0">

        <div class="table-head accordion-title-row" ng-show="joinRequests.length > 0" ng-cloak>
            <div class="hidden">ID</div>
            <div class="head-item accordion-title-text "><a ng-click="sortBy('forename');" class="sort-title"><i
                    class="icon-sort pull-right"></i>Name</a></div>
            <div class="head-item accordion-title-text "><a ng-click="sortBy('name');" class="sort-title"><i
                    class="icon-sort pull-right"></i>Date Of Birth</a></div>
            <div class="head-item accordion-title-text ">NHS Number&nbsp;<i
                    class="glyphicon glyphicon-sort hidden"></i></a></div>
            <div class="head-item accordion-title-text ">Email&nbsp;<i
                    class="glyphicon glyphicon-sort hidden"></i></a></div>
            <div class="head-item accordion-title-text ">Unit</div>
            <div class="head-item accordion-title-text "><a ng-click="sortBy('dateOfRequest');" class="sort-title"><i
                    class="icon-sort pull-right"></i>Date of Request</a></div>
            <div class="head-item accordion-title-text ">Status</div>
            <div class="head-item accordion-title-text "></div>
        </div>

        <div accordion class="accordion" close-others="true" ng-show="joinRequests.length  > 0" ng-cloak>
            <div accordion-group id="accordion-group-{{joinRequest.id}}" class="accordion-group" is-open="status.open"
                 ng-repeat="joinRequest in joinRequests">
                <div accordion-heading class="accordion-heading">
                    <div class="faux-row" ng-click="opened(joinRequest, $event, status)">
                        <div class="row-item hidden">{{joinRequest.id}}</div>
                        <div class="row-item accordion-heading-text">{{joinRequest.forename}} {{joinRequest.surname}}</div>
                        <div class="row-item accordion-heading-text">{{joinRequest.dateOfBirth  | date:'dd-MMM-yyyy'}}</div>
                        <div class="row-item accordion-heading-text">{{joinRequest.nhsNumber}}</div>
                        <div class="row-item accordion-heading-text">{{joinRequest.email}}</div>
                        <div class="row-item accordion-heading-text">{{joinRequest.group.name}}</div>
                        <div class="row-item accordion-heading-text">{{joinRequest.created  | date:'dd-MMM-yyyy'}}</div>
                        <div class="row-item accordion-heading-text">{{joinRequest.status}}</div>
                        <div class="button-dropdown-group">
                            <button type="button" class="btn blue pull-left">
                                <span class="glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-pencil': !status.open}"></span>
                                &nbsp;&nbsp;Edit</button>
                        </div>
                    </div>
                </div accordion-heading>

                <form name="joinRequestForm">
                    <div ng-include src="'views/partials/joinrequestdetails.html'"></div>
                </form>

            </div accordion-group>
        </div accordion>
    </div>

    <div class="col-md-12" data-ng-show="joinRequests.length == 0">
        <div class="col-md-12">
            <h4>No Join Requests found</h4>
        </div>
    </div>


</form>

<div ng-show="loading" class="container"><br/><br/>

    <div ng-show="loading" class="loading"><img src="images/loading.gif" alt="Loading"/></div>
</div>

