<!-- todo: put in main styles -->
<style>
    .btn.btn-default {
        color: #585858;
    }
</style>

<div data-ng-show="!loading">
    <h1>Log</h1>

    <!-- Filter -->
    <div class="content-panel filter-panel">
        <div class="">
            <div class="search-container">
                <i class="icon-search-black"></i>
                <input type="text" data-ng-model="searchText" placeholder="Search by Identifier, User or Actor..."
                       class="form-control input-block-level" />
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="content-inner">
                <div class="row">
                    <div class="col-md-12" data-ng-show="pagedItems.length  > 0">
                        <h5 class="pull-right">Page {{currentPage+1}} of {{totalPages}} ({{total}} total)</h5>
                    </div>
                </div>
                <div class="form-horizontal" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- filter by unit -->
                            <div class="select-container pull-left" data-ng-show="unitsAvailable">
                                <div class="btn-group filter-select" id="filter-group" dropdown>
                                    <button class="btn dropdown-toggle">
                                        Filter By Unit <span class="caret-container"><span class="caret"></span></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                        <li>
                                            <a data-ng-click="removeAllSelectedGroup('UNIT')" class="a-filter-group">
                                                <i class="glyphicon glyphicon-remove"></i> Uncheck All
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li data-ng-repeat="group in allGroups | orderBy:['name']" data-ng-show="group.groupType.value==='UNIT'">
                                            <a data-ng-click="setSelectedGroup()" class="a-filter-group clearfix">
                                                <span class="pull-left">{{group.name}}</span>
                                                <span data-ng-class="isGroupChecked(group.id)"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                &nbsp;<span data-ng-repeat="group in allGroups" data-ng-show="isGroupChecked(group.id) && group.groupType.value==='UNIT'">
                                    <span class="label label-info">{{group.name}}</span>&nbsp;</span>
                            </div>

                            <br/><br/>
                            <!-- filter by disease group -->
                            <div class="select-container pull-left" data-ng-show="diseaseGroupsAvailable">
                                <div class="btn-group filter-select" id="filter-diseasegroup" dropdown>
                                    <button class="btn dropdown-toggle">
                                        Filter By Other Group <span class="caret-container"><span class="caret"></span></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                        <li>
                                            <a data-ng-click="removeAllSelectedGroup('DISEASE_GROUP')" class="a-filter-group">
                                                <i class="glyphicon glyphicon-remove"></i> Uncheck All
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li data-ng-repeat="group in allGroups | orderBy:['name']" data-ng-show="group.groupType.value==='DISEASE_GROUP'">
                                            <a data-ng-click="setSelectedGroup()" class="a-filter-group clearfix">
                                                <span class="pull-left">{{group.name}}</span>
                                                <span data-ng-class="isGroupChecked(group.id)"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                &nbsp;<span data-ng-repeat="group in allGroups" data-ng-show="isGroupChecked(group.id) && group.groupType.value==='DISEASE_GROUP'">
                                <span class="label label-info">{{group.name}}</span>&nbsp;</span>
                            </div>
                            <br/><br/>

                            <!-- filter by audit action -->
                            <div class="select-container pull-left">
                                <div class="btn-group filter-select" id="filter-code-type" dropdown>
                                    <button class="btn dropdown-toggle">
                                        Filter By Action <span class="caret-container"><span class="caret"></span></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                        <li>
                                            <a data-ng-click="removeAllAuditActions();">
                                                <i class="glyphicon glyphicon-remove"></i> Uncheck All
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li data-ng-repeat="auditAction in auditActions | orderBy:'toString()'">
                                            <a data-ng-click="setSelectedAuditAction(auditAction)" class="a-filter-code-type clearfix">
                                                <span class="pull-left">{{auditAction}}</span>
                                                <span data-ng-class="isAuditActionChecked(auditAction)"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <span data-ng-repeat="auditAction in auditActions" data-ng-show="isAuditActionChecked(auditAction)">
                                    <span class="label label-primary">{{auditAction}}</span>&nbsp;
                                </span>
                            </div>
                        </div>
                    <!-- datepicker -->
                        <div class="col-md-3">
                            <label for="date-start">Start Date</label>
                            <p class="input-group">
                                <input id="date-start" type="text" class="form-control" datepicker-popup="dd-MMM-yyyy"
                                       ng-model="dateStart" is-open="openedStart"
                                       datepicker-options="dateOptions"
                                       ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openStart($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                            <label for="date-end">End Date</label>
                            <p class="input-group">
                                <input id="date-end" type="text" class="form-control" datepicker-popup="dd-MMM-yyyy"
                                       ng-model="dateEnd" is-open="openedEnd"
                                       datepicker-options="dateOptions"
                                       ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openEnd($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <br/>
                            <br/>
                            <br/>
                            <button class="btn btn-primary" data-ng-click="setDateRange(dateStart, dateEnd)">Set Date Range</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-panel">
        <div class="content-inner">

            <table class="table" data-ng-show="pagedItems.length  > 0">
                <thead class="table-head">
                <tr>
                    <th><a href="" data-ng-click="sortBy('creationDate');" class="sort-title">Date</a></th>
                    <th>Identifiers</th>
                    <th>User</th>
                    <th>Group (Role)</th>
                    <th>Action</th>
                    <th>Actor</th>
                    <th>Information</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="audit in pagedItems">
                    <td>{{audit.creationDate | date: 'dd-MMM-yyyy HH:mm'}}</td>
                    <td>
                        <span data-ng-repeat="identifier in audit.sourceObjectUser.identifiers">
                            {{identifier.identifier}}
                            <br/>
                        </span>
                    </td>
                    <td>{{audit.sourceObjectUser.username}}</td>
                    <td>
                        <span data-ng-repeat="groupRole in audit.sourceObjectUser.groupRoles"
                              data-ng-hide="groupRole.group.code === 'Generic' || groupRole.role.name === 'MEMBER'
                                || groupRole.group.groupType.value === 'SPECIALTY'">
                            {{groupRole.group.shortName}} ({{groupRole.role.description}})
                            <br/>
                        </span>
                    </td>
                    <td>{{audit.auditActions}}</td>
                    <td>{{audit.actor.username}}</td>
                    <td>{{audit.information}}</td>
                </tr>
                </tbody>
            </table>
            <br/>

            <div class="alert alert-warning" data-ng-show="!pagedItems.length">
                <p>No log entries found</p>
            </div>


            <!-- pagination -->
            <div ng-include src="'views/partials/pagination.html'"></div>

        </div>
    </div>
</div>
<div data-ng-show="loading" class="container"><br/><br/>
    <div data-ng-show="loading" class="loading">
        <h3><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading Log</h3>
    </div>
</div>
