
<!-- further information modal -->
<script type="text/ng-template" id="furtherInformationModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Further Information</h3>
    </div>
    <div class="modal-body">
        <p>PatientView provides secure access to your blood tests, clinic letters, medicines. You'll find tailored
            information links, from accurate and reliable sources. PV2 (2015) introduced secure messaging. We hope it
            will help you manage your condition more effectively.
        </p>
        <h4>Who can use PatientView?</h4>
        <p>Only some place and specialties can use it but this is growing. See the list
            <a href="http://rixg.org/patientview2/howto/where/" target="_blank">here</a>. If you want to
            convince your local service to join, you or they might be interested in
            <a href="http://rixg.org/patientview2/howto/become-a-partner/" target="_blank">becoming a partner</a>, or in
            <a href="http://rixg.org/patientview2/admin-and-technical/set-up-patientview-in-a-new-unit/" target="_blank">becoming a new unit of an existing specialty</a>.
        </p>
        <h4>How do I join?</h4>
        <p>Only some centres can offer this service at present. A list is linked from the front page.</p>
        <h4>What if I don't use the Internet?</h4>
        <p>Maybe you have a friend or family member that does? There is often internet access available in public
            libraries. Please ensure when using a public computer that you always safely logout and close the web
            browser.</p>
        <h4>What does it cost?</h4>
        <p>It is free for patients. Participating centres pay a modest subscription.</p>
        <h4>Where did it come from?</h4>
        <p>There is more info about PatientView and its history at
            <a href="http://rixg.org/patientview2/" target="_blank">rixg.org/patientview</a>. See
            <a href="http://rixg.org/patientview2/about/history/" target="_blank">History</a>, or
            <a href="http://rixg.org/patientview2/howto/" target="_blank">Intro to PV</a> first.
        </p>
        <h4>If I join, can I change my mind?</h4>
        <p>Yes you can. If you do, we remove all medical data about you.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-grey" data-ng-click="close()">Close</button>
    </div>
</script>

<div class="hero-panel">
    <img class="ie-hero-image" src="../images/hero-bg-low.jpg" alt="Patient View"/>
    <div class="hero-pane col-md-4 aquamarine">
        <div class="pane-content">
            <i class="icon-hero-manage hero-icon"></i>
            <h2>Manage</h2>
            <p>your conditions and medications</p>
        </div>
    </div>
    <div class="hero-pane col-md-4 aqua">
        <div class="pane-content">
            <i class="icon-hero-monitor hero-icon"></i>
            <h2>Monitor</h2>
            <p>your symptoms and tests</p>
        </div>
    </div>
    <div class="hero-pane col-md-4 blue">
        <div class="pane-content">
            <i class="icon-hero-make hero-icon"></i>
            <h2>Message</h2>
            <p>your units</p>
        </div>
    </div>
</div>
<div class="row page-content home">
    <div class="col-md-8">
        <div class="content-area">
            <div class="panel-header content-panel lowlight">
                <h3><span class="badge white pull-left"><i class="icon-brand-pulse"></i></span> About PatientView</h3>
            </div>
            <div class="clearfix content-panel about">
                <img class="para-thumb pull-left one-image" src="../images/screenshots/thumbnails/1.png" alt="What can it do?" />
                <h4>What can it do?</h4>
                <p>
                    PatientView shows your latest test results, letters and medicines, plus info about diagnosis and
                    treatment.  Set up alerts, monitor symptoms and download your records.  You can view PatientView
                    from anywhere you want and share your information with anyone you want.
                    <a href="/#/whatcanitdo/#top">Find out more</a>
                </p>
            </div>
            <div class="clearfix content-panel about">
                <img class="para-thumb pull-left" src="../images/screenshots/thumbnails/24.png" alt="What's needed?" />
                <h4>What's needed?</h4>
                <p>Your local unit or health organisation must have joined.  PatientView started out as a service for kidney
                    patients in the UK, but can now work for others too.
                    <a href="http://rixg.org/patientview2/" target="_blank">Find out more</a>
                </p>
            </div>
            <div class="clearfix content-panel about">
                <img class="para-thumb pull-left" src="../images/screenshots/thumbnails/37.png" alt="image title" />
                <h4>How does it work?</h4>
                <p>
                    Information comes directly from existing records, for example hospital and GP records, or may be entered
                    directly or via other apps. Secure messaging functionality is included.
                    <a href="http://rixg.org/patientview2/" target="_blank">Find out more</a>
                </p>
            </div>
            <ul class="list-inline list-unstyled button-list">
                <li>
                    <a href="/#/whatcanitdo/#top" class="btn blue">What can it do?</a>
                </li>
                <li>
                    <a href="" class="btn blue" data-ng-click="furtherInformation();"> Tell me more</a>
                </li>
            </ul>
        </div>
        <div class="row homepage-cols">
            <div class="user-info col-md-6">
                <div class="panel-header content-panel lowlight">
                    <h3><span class="badge primary pull-left"><i class="icon-patients"></i></span> For Patients</h3>
                </div>
                <div class="content-panel">
                    <div class="content-inner">
                        <h4>Joining PatientView</h4>
                        <ul>
                            <li><a href="http://rixg.org/patientview2/howto/where/" target="_blank">Can I join?</a></li>
                            <li><a href="http://rixg.org/patientview2/howto/" target="_blank">How do I?</a></li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <a href="#/request"><button class="btn blue"><i class="icon-join pull-left"></i> I want to join</button></a>
                    </div>
                </div>
            </div>
            <div class="user-info col-md-6">
                <div class="panel-header content-panel lowlight">
                    <h3><span class="badge aqua pull-left"><i class="icon-organisations"></i></span> For Organisations</h3>
                </div>
                <div class="content-panel">
                    <div class="content-inner">
                        <h4>What do I need to know?</h4>
                        <ul>
                            <li><a href="http://rixg.org/patientview2/howto/become-a-partner/" target="_blank">Become a partner</a></li>
                            <li><a href="http://rixg.org/patientview2/admin-and-technical/set-up-patientview-in-a-new-unit/" target="_blank">Add us to an existing specialty</a></li>
                            <li><a href="http://rixg.org/patientview2/about/links-policy/" target="_blank">Our info link policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aside class="col-md-4">
        <div class="mobile-app">
            <div class="panel-header content-panel lowlight">
                <h3><span class="badge aqua pull-left"><i class="icon-news"></i></span>PatientView Mobile App</h3>
            </div>
            <div class="content-panel mb">
                <div class="content-inner clearfix">
                    <img class="pull-left app-image" src="http://placehold.it/120x200" alt="PatientView App"/>
                    <p>Access your PatientView records and messages even more swiftly, and gain access to selected mobile-only features.</p>
                    <a href=""><img class="app-store" src="../images/app-store.png" alt="Apple App store"/></a>
                    <a href=""><img class="app-store" src="../images/play-store.png" alt="Google Play store"/></a>
                </div>
            </div>
        </div>

        <div class="reviews">
            <div class="panel-header content-panel lowlight">
                <h3><span class="badge aqua pull-left"><i class="icon-news"></i></span>Product reviews</h3>
            </div>
            <div class="content-panel mb">
                <div class="content-inner clearfix">
                    <ul class="list-unstyled" data-ng-repeat="review in reviews | orderBy: createdDate">
                        <li class="review">
                            <ul class="list-inline list-unstyled rating pull-right">
                                <li ng-repeat-n="review.rating"><i class="fa fa-star"></i>{{review.rating}}</li>
                            </ul>
                            <h5>{{review.reviewerName}}</h5>
                            <p>{{review.reviewText}}</p>
                        </li>
                    </ul>
                </div>
                <a class="clearfix full-width social-link" target="_blank" href="https://www.facebook.com/patientview"><h5><i class="fa fa-thumbs-up"></i> See all facebook reviews</h5></a>
            </div>
        </div>

        <div class="news-container" data-ng-show="newsItems">
            <div class="panel-header content-panel lowlight">
                <h3><span class="badge aqua pull-left"><i class="icon-news"></i></span> Latest News</h3>
            </div>
            <ul class="unstyled">
                <li class="news-item content-panel" data-ng-repeat="news in newsItems | orderBy: lastUpdate">
                    <div class="content-inner">
                        <h4><a href="" data-ng-click="viewNewsItem(news)">{{news.heading}}</a></h4>

                        <p class="news-date">
                            <span data-ng-if="news.lastUpdate">{{news.lastUpdate | date:'dd-MMM-yyyy HH:mm'}}</span>
                            <span data-ng-if="!news.lastUpdate">{{news.created | date:'dd-MMM-yyyy HH:mm'}}</span>
                        </p>

                        <div class="message-content">
                            <p data-ng-bind-html="parseHTMLText(news.story)"></p>
                            <div class="news-actions">
                                <button class="btn blue" data-ng-click="viewNewsItem(news)">Read more</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
</div>
