<h1>Medicines</h1>
<div class="content-panel">
    <div class="content-inner">
        <p>Medicine lists come from a hospital or your GP’s computer system. Please read the cautions and explanation:</p>
        <h4>Important</h4>
        <p>
            The list of medicines may not be complete or accurate, because (1) Some hospitals do not yet keep full records of
            medicines for all patients, (2) Changes made in one place may not quickly get to every list. Please point out
            changes when you next attend an appointment, or send a note or message if it is important. (We may create an easy
            way to do this).
        </p>
        <h4>Two Kinds of List</h4>
        <p>
            Most are supposed to list all the different medicines you’re on.  In these lists DOSE shows how to take it,
            something like “1 daily oral”.  The other kind of list shows all prescriptions written by your GP, so things may
            appear twice if they have been dispensed twice.  You can spot these because DOSE also has a number in brackets like
            this: “(20) 1 capsule four times daily”.  The number in brackets is the number of tablets written on the
            prescription.
        </p>
        <p>
            This link to <a href="http://www.nlm.nih.gov/medlineplus/druginformation.html" target="_blank">Medline Plus</a> is
            good if you want more information on individual drugs, or on herbs and supplements.
        </p>
    </div>
</div>

<div data-ng-show="!loading">
    <br/>
    <!-- Filter -->
    <div class="content-panel filter-panel" ng-show="medicationStatementsNonEcs.length || medicationStatementsEcs.length">
        <div class="search-container">
            <i class="icon-search-black"></i>
            <input type="text" data-ng-model="searchText" placeholder="Search by medicine name or dose..." class="form-control input-block-level" />
        </div>
        <div class="panel-footer clearfix">
            <div class="content-inner">

                <!-- filter by source group -->
                <div class="form-horizontal" role="form">
                    <div class="select-container pull-left">
                        <div class="btn-group filter-select" id="filter-group-type" data-ng-class="{open: open1}">
                            <button class="btn dropdown-toggle" data-ng-click="open1=!open1">Filter By Source
                                <span class="caret-container"><span class="caret"></span></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <li>
                                    <a data-ng-click="removeAllGroups()" class="a-filter-role">
                                        <i class="glyphicon glyphicon-remove"></i> Uncheck All
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li data-ng-repeat="group in filterGroups">
                                    <a data-ng-click="setSelectedGroup(group)" class="a-filter-group-type clearfix">
                                        <span class="pull-left">{{group.name}}</span>
                                        <span data-ng-class="isGroupChecked(group.id)"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <span data-ng-repeat="group in filterGroups" data-ng-show="isGroupChecked(group.id)">
                        <span class="label label-info">{{group.name}}</span>&nbsp;
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="content-panel">
        <div class="content-inner">
            <div>
                <h3 class="hidden">From Your Units</h3>
                <table class="table" data-ng-show="nonEcsFiltered.length">
                    <thead class="table-head">
                        <tr>
                            <th><a href="" data-ng-click="sortBy('date');" class="sort-title">Start Date</a></th>
                            <th><a href="" data-ng-click="sortBy('name');" class="sort-title">Medicine Name</a></th>
                            <th><a href="" data-ng-click="sortBy('dose');" class="sort-title">Dose</a></th>
                            <th><a href="" data-ng-click="sortBy('group.name');" class="sort-title">Source</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="medicationStatement in nonEcsFiltered =
                            (medicationStatementsNonEcs | nameAndDoseFilter:searchText | sourceGroupFilter:selectedGroups
                            | orderBy: predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                            <td>{{medicationStatement.startDate | date: 'dd-MMM-yyyy'}}</td>
                            <td>{{medicationStatement.name}}</td>
                            <td>{{medicationStatement.dose}}</td>
                            <td>{{medicationStatement.group.name}}</td>
                        </tr>
                    </tbody>
                </table>

                <div data-ng-show="nonEcsFiltered.length > 0">
                    <div pagination on-select-page="setPage(page)" total-items="nonEcsFiltered.length"
                         items-per-page="entryLimit" ng-model="currentPage" class="pagination-sm"
                         ng-hide="nonEcsFiltered.length  < entryLimit "></div>
                </div>

                <div class="alert alert-warning" data-ng-show="!nonEcsFiltered.length">
                    <p>No medicine information from your units available</p>
                </div>

                <!-- todo: hidden pending discussions on ECS modelling -->
                <div class="hidden">
                    <h3>From Your GP Records</h3>
                    <table class="table" data-ng-show="ecsFiltered.length">
                        <thead class="table-head">
                            <tr>
                                <th><a href="" data-ng-click="sortBy('date');" class="sort-title">Start Date</a></th>
                                <th><a href="" data-ng-click="sortBy('name');" class="sort-title">Medicine Name</a></th>
                                <th><a href="" data-ng-click="sortBy('dose');" class="sort-title">Dose</a></th>
                                <th><a href="" data-ng-click="sortBy('group.name');" class="sort-title">Source</a></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="medicationStatement in ecsFiltered = (medicationStatementsEcs | nameAndDoseFilter:searchText | orderBy: predicate :reverse)">
                                <td>{{medicationStatement.startDate | date: 'dd-MMM-yyyy'}}</td>
                                <td>{{medicationStatement.name}}</td>
                                <td>{{medicationStatement.dose}}</td>
                                <td>{{medicationStatement.group.name}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="alert alert-warning" data-ng-show="!ecsFiltered.length">
                        <p>No medicine information from your GP records available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-ng-show="loading" class="container"><br/><br/>
    <div data-ng-show="loading" class="loading">
        <h3><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading Your Medicines</h3>
    </div>
</div>