<div class="hider" ng-show="status.open"></div>

<div class="" ng-show="!loading" ng-cloak>
    <h1>Messages <button class="btn blue">Create New</button></h1>


    <div class="message-item" ng-repeat="conversation in pagedItems">
        <div class="content-panel">
            <ul class="pull-right aside-actions unstyled">
                <li><a href="#" class="aside-link active">View Messages<span class="message-count">{{conversation.messages.length}}</span></a></li>
                <li><a href="#" class="aside-link reply">Quick Reply</a></li>
            </ul>
            <div class="message-summary">
                <h2 class="message-title">{{conversation.title}}
                    <span class="recipient" ng-repeat="participant in conversation.participants">{{participant.forename}} {{participant.surname}}</span>
                </h2>
                <div class="last-message">
                    <h4>Wesley Sneijder</h4>
                    <p class="message-content">Good afternoon, this is the last message in the conversation.  I think its farily obvious that this is the latest message in the conversation.</p>
                    <p class="date-stamp"><strong>19th June 2014</strong> @ 12:34pm</p>
                </div>
            </div>
        </div>
        <div class="quick-reply content-panel">
            <form class="form-quick-reply">
                <label for="quick-reply-input">Quick Reply</label>
                <textarea id="quick-reply-input"></textarea>
                <fieldset>
                    <button class="btn blue pull-right"><i class="icon-reply"></i> Send</button>
                </fieldset>
            </form>
        </div>
    </div>


    <!--
    <div class="message-item">
        <div class="content-panel">
            <ul class="pull-right aside-actions unstyled">
                <li><a href="#" class="aside-link active">View Messages<span class="message-count">3</span></a></li>
                <li><a href="#" class="aside-link reply">Quick Reply</a></li>
            </ul>
            <div class="message-summary">
                <h2 class="message-title">Potentially very very long title <span class="recipient">with Wesley Sneijder</span></h2>
                <div class="last-message">
                    <h4>Wesley Sneijder</h4>
                    <p class="message-content">Good afternoon, this is the last message in the conversation.  I think its farily obvious that this is the latest message in the conversation.</p>
                    <p class="date-stamp"><strong>19th June 2014</strong> @ 12:34pm</p>
                </div>
            </div>
        </div>
        <div class="quick-reply content-panel">
            <form class="form-quick-reply">
                <label for="quick-reply-input">Quick Reply</label>
                <textarea id="quick-reply-input"></textarea>
                <fieldset>
                    <button class="btn blue pull-right"><i class="icon-reply"></i> Send</button>
                </fieldset>
            </form>
        </div>
    </div>
    -->
</div>