<div class="hider" ng-show="status.open"></div>

<div class="" ng-show="!loading" ng-cloak>
    <h1>Conversations <button class="btn blue">Create New</button></h1>

    <div class="message-item" ng-repeat="conversation in pagedItems">
        <div class="content-panel">
            <ul class="pull-right aside-actions unstyled">
                <li><a href="#" class="aside-link active">View Messages<span class="message-count">{{conversation.messages.length}}</span></a></li>
                <li><a href="#" class="aside-link reply">Quick Reply</a></li>
            </ul>
            <div class="message-summary">
                <h2 class="message-title">{{conversation.title}}
                    <span class="recipient">with: </span><span class="recipient" ng-repeat="conversationUser in conversation.conversationUsers">[{{conversationUser.user.forename}} {{conversationUser.user.surname}}] </span>
                </h2>
                <div class="last-message">
                    <h4>Most recent message from: {{conversation.messages[conversation.messages.length-1].user.forename}} {{conversation.messages[conversation.messages.length-1].user.surname}}</h4>
                    <p class="message-content">{{conversation.messages[conversation.messages.length-1].message}}</p>
                    <!--<p class="date-stamp"><strong>19th June 2014</strong> @ 12:34pm</p>-->
                </div>
            </div>
        </div>
        <div class="quick-reply content-panel">
            <form class="form-quick-reply">
                <label for="quick-reply-input">Quick Reply</label>
                <textarea id="quick-reply-input"></textarea>
                <fieldset>
                    <button class="btn blue pull-right"><i class="icon-reply"></i> Send</button>
                </fieldset>
            </form>
        </div>
    </div>

</div>