<h1 data-ng-show="!loading">
    My Conditions
    <span data-ng-show="specialties && specialties.length > 1" class="specialty-switcher">
        <div class="btn-group-switcher btn-group">
            <a href="" data-ng-repeat="specialty in specialties" data-ng-click="changeSpecialty(specialty)"
               class="btn" data-ng-class="{active:currentSpecialty.code === specialty.code}"
                    data-ng-if="specialty.code !== 'GENERAL_PRACTICE'">
                <img class="group-image" data-ng-src="../images/icons/pv-{{specialty.code.toLowerCase()}}.png"/>
                {{specialty.name}}
            </a>
        </div>
    </span>
    <span data-ng-show="specialties && specialties.length === 1" class="specialty-switcher">
        <div class="btn-group-switcher btn-group">
            <div class="btn active">
                <img class="group-image" data-ng-src="../images/icons/pv-{{specialties[0].code.toLowerCase()}}.png"/>
                {{specialties[0].name}}
            </div>
        </div>
    </span>
</h1>
<div class="patient-details" data-ng-show="!loading">
    <div>
        <div>
            <!-- patient details from FHIR -->
            <div data-ng-show="currentSpecialty">
                <div data-ng-include src="'views/partials/myConditionsRenal.html'" data-ng-if="currentSpecialty.code === 'Renal'"></div>
                <div data-ng-include src="'views/partials/myConditionsDiabetes.html'" data-ng-if="currentSpecialty.code === 'Diabetes'"></div>
                <div data-ng-include src="'views/partials/myConditionsIbd.html'" data-ng-if="currentSpecialty.code === 'IBD'"></div>
                <div data-ng-include src="'views/partials/myConditionsHeart.html'" data-ng-if="currentSpecialty.code === 'Cardiol'"></div>
                <div data-ng-include src="'views/partials/myConditionsPatientView.html'" data-ng-if="currentSpecialty.code === 'patientview'"></div>
                <div data-ng-show="['Renal', 'Diabetes', 'IBD', 'Cardiol', 'patientview'].indexOf(currentSpecialty.code) == -1">
                    <br/>My Conditions is not currently available for the {{currentSpecialty.name}} specialty
                </div>
            </div>
            <div data-ng-show="!currentSpecialty">
                <p>We have not yet received records from any of your units.</p>
            </div>
        </div>
    </div>
</div>
<div data-ng-show="loading" class="container"><br/><br/>
    <div class="loading">
        <h3><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading Your Conditions</h3>
    </div>
</div>
