<!-- invite GP modal -->
<script type="text/ng-template" id="inviteGpModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Invite GP to PatientView</h3>
    </div>
    <div class="modal-body">
        <p>The details of your GP are shown below:</p>
        <table>
            <tbody>
            <tr>
                <td class="forced-width">Name</td>
                <td>{{practitioner.name}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>
                    <span data-ng-show="practitioner.address1">{{practitioner.address1}}<br/></span>
                    <span data-ng-show="practitioner.address2">{{practitioner.address2}}<br/></span>
                    <span data-ng-show="practitioner.address3">{{practitioner.address3}}<br/></span>
                    <span data-ng-show="practitioner.address4">{{practitioner.address4}}<br/></span>
                    <span data-ng-show="practitioner.postcode">{{practitioner.postcode}}</span>
                </td>
            </tr>
            <tr data-ng-if="practitioner.contacts">
                <td class="forced-width">Phone Number(s)</td>
                <td>
                    <span data-ng-repeat="contact in practitioner.contacts">
                        {{contact.value}}<br/>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
        <p>
            You are about to create an invite letter to be sent to your GP Practice to join PatientView.
            Once signed up, your GP will be able to view your records. Do you wish to continue?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-grey" data-ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" data-ng-click="inviteGp(practitioner)">Invite GP to PatientView</button>
    </div>
</script>

<h1 data-ng-show="!loading">My Details</h1>

<div class="patient-details" data-ng-show="!loading">
    <!-- patient details from FHIR -->
    <div data-ng-show="patientDetails.length">
        <div class="details-filter clearfix">
            <div class="pull-right">Information provided by: &nbsp;&nbsp;
                <span data-ng-repeat="patient in patientDetails | orderBy:'group.name'">
                    <input type="checkbox" value="{{patient.group.shortName}}" data-ng-model="patient.group.selected">
                    <span class="checkbox-label">{{patient.group.shortName}}</span>
                </span>
            </div>
        </div>
        <div data-ng-repeat="patient in patientDetails | orderBy:'group.name'" data-ng-show="patient.group.selected" class="details-container">

                <div class="panel panel-default">
                    <div class="panel-heading"><h3>{{patient.group.name}}</h3></div>
                    <div class="panel-body">
                        <h5 data-ng-show="!patient.fhirPatient.surname && !patient.fhirPatient.forename
                            && !patient.fhirPatient.gender && !patient.fhirPatient.dateOfBirthNoTime
                            && !patient.fhirPatient.identifiers.length">
                            No details have been provided by this group</h5>
                        <br/>
                        <table class="table table-bordered" data-ng-show="patient.fhirPatient.surname
                            || patient.fhirPatient.forename
                            || patient.fhirPatient.gender || patient.fhirPatient.dateOfBirthNoTime
                            || patient.fhirPatient.identifiers.length">
                            <tbody>
                                <tr><td colspan="2"><h4>Patient Details</h4></td></tr>
                                <tr>
                                    <td class="forced-width">Surname</td>
                                    <td>{{patient.fhirPatient.surname}}</td>
                                </tr>
                                <tr>
                                    <td class="forced-width">Forename(s)</td>
                                    <td>{{patient.fhirPatient.forename}}</td>
                                </tr>
                                <tr>
                                    <td class="forced-width">Sex</td>
                                    <td>{{patient.fhirPatient.gender}}</td>
                                </tr>
                                <tr>
                                    <td class="forced-width">Date of Birth</td>
                                    <td>{{patient.fhirPatient.dateOfBirthNoTime | date:'dd-MMM-yyyy'}}</td>
                                </tr>
                                <tr>
                                    <td class="forced-width">NHS/CHI/H&SC Number</td>
                                    <td>
                                        <span data-ng-repeat="identifier in patient.fhirPatient.identifiers"
                                              data-ng-show="identifier.label === 'NHS_NUMBER'
                                              || identifier.label === 'CHI_NUMBER'
                                              || identifier.label === 'HSC_NUMBER' ">
                                            {{identifier.value}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="forced-width">Hospital Number</td>
                                    <td>
                                        <span data-ng-repeat="identifier in patient.fhirPatient.identifiers"
                                              data-ng-show="identifier.label === 'HOSPITAL_NUMBER'">
                                            {{identifier.value}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="forced-width">Address</td>
                                    <td>
                                        <span data-ng-show="patient.fhirPatient.address1">{{patient.fhirPatient.address1}}<br/></span>
                                        <span data-ng-show="patient.fhirPatient.address2">{{patient.fhirPatient.address2}}<br/></span>
                                        <span data-ng-show="patient.fhirPatient.address3">{{patient.fhirPatient.address3}}<br/></span>
                                        <span data-ng-show="patient.fhirPatient.address4">{{patient.fhirPatient.address4}}<br/></span>
                                        <span data-ng-show="patient.fhirPatient.postcode">{{patient.fhirPatient.postcode}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="forced-width">Phone Number(s)</td>
                                    <td>
                                        <span data-ng-repeat="contact in patient.fhirPatient.contacts">
                                            {{contact.value}}<br/>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table data-ng-show="patient.fhirPractitioners"
                               data-ng-repeat="practitioner in patient.fhirPractitioners"
                               data-ng-if="practitioner.role === 'GP'"
                               class="table table-bordered">
                            <tbody>
                                <tr><td colspan="2"><h4>GP Details</h4></td></tr>
                                <tr>
                                    <td class="forced-width">Name</td>
                                    <td>
                                        {{practitioner.name}}
                                        <div data-ng-if="practitioner.allowInviteGp" class="pull-right">
                                            <button data-ng-click="inviteGp(practitioner)" class="btn blue">Invite GP to PatientView</button>
                                            &nbsp;&nbsp;&nbsp;
                                            <a href="http://www.rixg.org/xxxxx">What is this?</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>
                                        <span data-ng-show="practitioner.address1">{{practitioner.address1}}<br/></span>
                                        <span data-ng-show="practitioner.address2">{{practitioner.address2}}<br/></span>
                                        <span data-ng-show="practitioner.address3">{{practitioner.address3}}<br/></span>
                                        <span data-ng-show="practitioner.address4">{{practitioner.address4}}<br/></span>
                                        <span data-ng-show="practitioner.postcode">{{practitioner.postcode}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="forced-width">Phone Number(s)</td>
                                    <td>
                                        <span data-ng-repeat="contact in practitioner.contacts">
                                            {{contact.value}}<br/>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

        </div>
        <div class="details-container">
            <div class="panel panel-default">
                <!-- More About Me -->
                <div class="panel-heading">
                    <h3>More About Me</h3>
                    <p>You can fill this in. Staff will see this information if they log into PatientView</p>
                </div>
                <div data-ng-show="!loading">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-horizontal" role="form">
                                <div class="col-md-12">
                                    <label for="should-know-input" class="control-label">Things people should know about me</label>
                                    <div>
                                        <textarea id="should-know-input" data-ng-model="moreAboutMe.shouldKnow" class="form-control"
                                                  style="height: 150px;"
                                                  placeholder="E.g. my interests and relevant personal details" ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-horizontal" role="form">
                                <div class="col-md-12">
                                    <label for="talk-about-input" class="control-label">Things I'd like to talk about</label>
                                    <div>
                                        <textarea id="talk-about-input" data-ng-model="moreAboutMe.talkAbout" class="form-control"
                                                  style="height: 150px;"
                                                  placeholder="E.g. how my treatment is progressing or possible questions about new treatment options"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <button class="btn blue" data-ng-click="saveMoreAboutMe(moreAboutMe)">Save</button>
                        <span>{{moreAboutMeMessage}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-show="!loading && !patientDetails.length">
        <p>We have not yet received records from any of your units.</p>
    </div>
</div>
<div data-ng-show="loading" class="container"><br/><br/>
    <div data-ng-show="loading" class="loading">
        <h3><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading Your Details</h3>
    </div>
</div>
