<style>
    .showHideText {
        font-size: 16px;
        line-height: 16px;
        height: 35px;
        overflow: hidden;
    }
    .show {
        overflow: visible;
        height: auto;
        min-height: 35px;
    }
    .showHideLink {
        font-size: 16px;
    }
</style>

    <div class="hider" ng-show="status.open"></div>

<div class="" ng-show="!loading" ng-cloak>
    <h1>News <button class="btn blue" ng-click="openModalNewNews('lg')">Create New</button></h1>

    <!-- new news modal template -->
    <script type="text/ng-template" id="newNewsModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Create New News Item</h3>
        </div>
        <div class="modal-body">
            <form name="newsFormNew" ng-model="newNews">
                <div ng-include src="'views/partials/newsDetailsNew.html'" ng-controller="NewsDetailsCtrl"></div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="alert alert-danger" ng-show="errorMessage">There was an error {{errorMessage}}</div>
            <button class="btn btn-grey" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="ok()" ng-disabled="!newsFormNew.$valid || (newNews.groups.length + newNews.roles.length < 1)">Create New News Item</button>
        </div>
    </script>

    <div ng-show="pagedItems.length > 0 && totalPages > 1">
        <ul class="pagination">
            <li ng-class="prevPageDisabled()">
                <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                <a href>{{n+1}}</a>
            </li>
            <li ng-class="nextPageDisabled()">
                <a href ng-click="nextPage()">Next »</a>
            </li>
        </ul>
    </div>

    <div class="message-item" ng-repeat="news in pagedItems">
        <div class="content-panel">
            <ul class="pull-right aside-actions unstyled">
                <li><a href="" class="aside-link active" ng-click="edit(news)" ng-show="news.edit">Edit</a></li>
                <li><a href="" class="aside-link" ng-click="delete(news)" ng-confirm-click="Are you sure you want to delete this news item?" ng-show="news.delete">Delete</a></li>
            </ul>
            <div class="message-summary">
                <h2 class="message-title">{{news.heading}}
                    <span ng-repeat="newsLink in news.newsLinks" class="pull-right news-link-labels">
                        <span class="label label-primary" ng-show="newsLink.group != null && newsLink.group.groupType.value == 'SPECIALTY'">{{newsLink.group.name}}</span>
                        <span class="label label-success" ng-show="newsLink.role != null && newsLink.role.name === 'PUBLIC'">{{newsLink.role.description}}</span>
                    </span>
                </h2>
                <div class="last-message">
                    <p class="date-stamp"><strong>{{news.created | date:'dd-MM-yyyy HH:mm'}}</strong></p>
                    <p class="message-content">
                        <div class="showHideText" ng-class="{show: show}" ng-bind-html="parseStoryPreview(news.story)"></div>
                        <a href="" class="showHideLink" ng-click="show = true" ng-show="!show">show more</a><a href="" class="showHideLink" ng-click="show = false" ng-show="show">show less</a>
                        <!--<span ng-show="!news.showMore" ng-bind-html="news.story | truncateFilter"></span>-->
                        <!--<span ng-show="!news.showMore">{{news.story | truncateFilter}}</span>-->

                    </p>
                </div>
            </div>
        </div>
        <div class="quick-reply content-panel" ng-show="news.showEdit">
            <form name="newsForm" ng-model="editNews">
                <div ng-include src="'views/partials/newsDetails.html'" ng-controller="NewsDetailsCtrl"></div>
            </form>
        </div>
    </div>

    <div ng-show="pagedItems.length < 1">
        <h4>No News Found</h4>
    </div>

</div>

<div ng-show="loading" class="container"><br/><br/>
    <div ng-show="loading" class="loading"><img src="images/loading.gif" alt="Loading"/></div></div>