<h1>NHS Indicators</h1>

<div class="content-panel">
    <div class="content-inner">

        <select class="form-control" id="group-select" data-ng-model="selectGroupId"
                data-ng-options="group.id as group.name + ' &nbsp;(' + group.groupType.description + ')' for group in userGroups | orderBy:[orderGroups,'name']"
                data-ng-show="userGroups.length > 1" data-ng-cloak>
        </select>

        <div class="alert alert-danger" data-ng-show="errorMessage">{{errorMessage}}</div>
        <div class="alert alert-warning" data-ng-show="warningMessage">{{warningMessage}}</div>
        <div class="alert alert-success" data-ng-show="successMessage"{{successMessage}}></div>

    </div>
</div>