<div>
    <h1>Result Headings <button class="btn blue" ng-click="openModalNewObservationHeading('lg')" ng-show="permissions.canCreateObservationHeading">Create New</button></h1>
    <div class="alert alert-danger" ng-show="fatalErrorMessage">{{fatalErrorMessage}}</div>

    <div ng-show="!fatalErrorMessage && !loading" ng-cloak>
        <!-- new observationHeading modal template -->
        <script type="text/ng-template" id="newObservationHeadingModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Create New Result Heading</h3>
            </div>
            <div class="modal-body">
                <form name="observationHeadingFormNew" ng-model="editObservationHeading">
                    <div ng-include src="'views/partials/observationHeadingDetailsNew.html'" ng-controller="ObservationHeadingDetailsCtrl"></div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="alert alert-danger" ng-show="errorMessage">There was an error {{errorMessage}}</div>
                <button class="btn btn-grey" ng-click="cancel()">Cancel</button>
                <button class="btn blue" ng-click="ok()" ng-disabled="!observationHeadingFormNew.$valid || (editObservationHeading.observationHeadingTypeId==observationHeadingTypesArray['UNIT'] && editObservationHeading.parentObservationHeadings.length == 0)">Create New</button>
            </div>
        </script>

        <div class="alert alert-success" ng-show="successMessage">{{successMessage}}</div>

        <!-- data grid -->
        <div class="faux-table eight-col" data-ng-show="pagedItems.length  > 0">
            <!-- header -->
            <div class="accordion-title-row table-head">
                <div class="hidden">ID</div>
                <div class="head-item accordion-title-text"><a ng-click="sortBy('code');" class="sort-title"><i class="icon-sort pull-right"></i>Code</a></div>
                <div class="head-item accordion-title-text"><a ng-click="sortBy('heading');" class="sort-title"><i class="icon-sort pull-right"></i>Heading</a></div>
                <div class="head-item accordion-title-text"><a ng-click="sortBy('name');" class="sort-title"><i class="icon-sort pull-right"></i>Name</a></div>
                <div class="head-item accordion-title-text">Normal Range</div>
                <div class="head-item accordion-title-text">Units</div>
                <div class="head-item accordion-title-text">Min Value</div>
                <div class="head-item accordion-title-text">Max Value</div>
                <div class="head-item accordion-title-text"></div>
            </div>

            <!-- body -->
            <div class="item-header" ng-repeat="observationHeading in pagedItems">
                <div class="faux-row">
                    <div class="row-item hidden">{{observationHeading.id}}</div>
                    <div class="row-item accordion-heading-text">{{observationHeading.code}}</div>
                    <div class="row-item accordion-heading-text">{{observationHeading.heading}}</div>
                    <div class="row-item accordion-heading-text">{{observationHeading.name}}</div>
                    <div class="row-item accordion-heading-text">{{observationHeading.normalRange}}</div>
                    <div class="row-item accordion-heading-text">{{observationHeading.units}}</div>
                    <div class="row-item accordion-heading-text">{{observationHeading.minGraph}}</div>
                    <div class="row-item accordion-heading-text">{{observationHeading.maxGraph}}</div>
                    <div class="row-item actions">
                        <div class="btn-observationHeading">
                            <button type="button" class="edit-button btn blue" ng-click="opened(observationHeading)">Edit</button>
                        </div>
                    </div>
                </div>

                <!-- edit pane -->
                <div class="panel-body" ng-show="observationHeading.showEdit">
                    <div class="alert alert-danger" ng-show="observationHeading.errorMessage && !observationHeading.editLoading">There was an error {{observationHeading.errorMessage}}</div>
                    <div ng-show="observationHeading.editLoading" class="loading"><img src="images/loading.gif" alt="Loading"/></div>
                    <div ng-show="!observationHeading.editLoading">
                        <form name="observationHeadingForm">
                            <div ng-include src="'views/partials/observationHeadingDetails.html'" ng-controller="ObservationHeadingDetailsCtrl"></div>
                        </form>
                        <hr>
                        <div class="pull-right"><button class="btn btn-grey" ng-click="observationHeading.showEdit = false">Close</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" data-ng-show="pagedItems.length == 0">
            <div class="col-md-12">
                <h4>No Result Headings found</h4>
            </div>
        </div>

        <!-- pagination -->
        <div class="col-md-12" data-ng-show="pagedItems.length > 0 && totalPages > 1">
            <ul class="pagination">
                <li ng-class="prevPageDisabled()">
                    <a href ng-click="prevPage()">« Prev</a>
                </li>
                <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                    <a href>{{n+1}}</a>
                </li>
                <li ng-class="nextPageDisabled()">
                    <a href ng-click="nextPage()">Next »</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-show="loading" class="container"><br/><br/>
    <div ng-show="loading" class="loading"><img src="images/loading.gif" alt="Loading"/></div>
</div>