<div class="hider" ng-show="status.open"></div>

<div>
    <h1>Patients <button class="btn blue" ng-click="openModalNewPatient('lg')" ng-show="!loading">Create New</button></h1>

    <div class="alert alert-danger" ng-show="fatalErrorMessage">{{fatalErrorMessage}}</div>

    <div ng-show="!fatalErrorMessage && !loading" ng-cloak>
        <!-- new patient modal -->
        <script type="text/ng-template" id="newPatientModal.html">
            <div class="modal-header">
                <h3 class="modal-title" ng-show="!existingUser">Create New Patient User</h3>
                <h3 class="modal-title" ng-show="existingUser">Existing Patient User</h3>
            </div>
            <div class="modal-body">
                <form name="userFormNew" ng-show="!existingUser">
                    <div ng-include src="'views/partials/patientDetailsNew.html'" ng-controller="UserDetailsCtrl"></div>
                </form>
                <form name="userFormExisting" ng-show="existingUser">
                    <div ng-include src="'views/partials/patientDetailsExisting.html'" ng-controller="UserDetailsCtrl"></div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
                <div class="alert alert-warning" ng-show="warningMessage">{{warningMessage}}</div>
                <button class="btn btn-grey" ng-click="cancel()">Close</button>
                <button class="btn btn-primary" ng-click="create()" ng-show="!existingUser" ng-disabled="!userFormNew.$valid || (!editUser.groupRoles || editUser.groupRoles.length == 0) || (!editUser.identifiers || editUser.identifiers.length == 0)">Create New</button>
            </div>
        </script>

        <!-- delete patient modal -->
        <script type="text/ng-template" id="deletePatientModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Delete Patient User</h3>
            </div>
            <div class="modal-body">
                <p>There are multiple options for deleting the patient <strong>"{{user.forename}} {{user.surname}}"</strong> with username <strong>"{{user.username}}"</strong>.</p>
                <br/>

                <div ng-show="user.canRemoveFromAllGroups">
                    <h4>Remove Patient From My Groups</h4>
                    <div ng-show="user.canRemoveFromMyGroups">
                        <p>This will remove the patient from your groups. The patient is also a member of another group
                            that you do not control.</p>
                        <p><button class="btn btn-primary" ng-click="removeFromMyGroups()">Remove Patient From My Groups</button></p>
                    </div>
                    <div ng-show="!user.canRemoveFromMyGroups">
                        <p>This patient is not part of another group. </p>
                        <p>If you wish to remove the patient from PatientView altogether, please select the "Remove Patient
                            From All Groups" option (proceeding with caution!).</p>
                    </div>
                </div>

                <div ng-show="user.canRemoveFromAllGroups">
                    <h4>Remove Patient From All Groups</h4>
                    <p>This will remove a patient from all groups, please proceed with caution. If the patient belongs
                        to a group with the "Keep All Data" feature then the patient's data will be kept in PatientView,
                        otherwise the patient will be deleted permanently. Permanently deleting a patient cannot be undone.</p>
                    <p><button class="btn btn-primary" ng-click="removeFromAllGroups()">Remove Patient From All Groups</button></p>
                </div>

                <div ng-show="user.canDelete">
                    <h4>Permanently Delete Patient</h4>
                    <p>This will completely delete a patient from PatientView and cannot be undone.</p>
                    <p><button class="btn btn-primary" ng-click="remove()">Permanently Delete Patient</button></p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
                <div class="alert alert-success" ng-show="successMessage">{{successMessage}}</div>
                <button class="btn btn-grey" ng-click="cancel()">Close</button>
            </div>
        </script>

        <!-- Filter -->
        <div class="content-panel filter-panel">
            <div class="search-container">
                <i class="icon-search-black"></i>
                <input type="text" ng-model="searchText" placeholder="Search all fields..." class="form-control input-block-level" />
            </div>
        </div>
        <div class="panel-footer clearfix">
            <div class="content-inner">
                <div class="form-horizontal" role="form">
                    <!-- filter by group -->
                    <div class="select-container pull-left">
                        <div class="btn-group filter-select" id="filter-group" data-ng-class="{open: open-group}">
                            <button class="btn dropdown-toggle" data-ng-click="open=!open-group">Filter By Group <span class="caret-container"><span class="caret"></span></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <li><a data-ng-click="removeAllSelectedGroup()" class="a-filter-group"><i class="glyphicon glyphicon-remove"></i> Uncheck All</a></li>
                                <li class="divider"></li>
                                <li data-ng-repeat="group in allGroups"> <a data-ng-click="setSelectedGroup()" class="a-filter-group clearfix"><span class="pull-left">{{group.name}}</span><span data-ng-class="isGroupChecked(group.id)"></span></a></li>
                            </ul>
                        </div>
                        <span data-ng-repeat="group in allGroups" ng-show="isGroupChecked(group.id)"><span class="label label-info">{{group.name}}</span>&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <h5>Page {{currentPage+1}} of {{totalPages}} ({{total}} total)</h5>
            </div>
        </div>

        <div class="alert alert-success" ng-show="successMessage">{{successMessage}}</div>

        <!-- data grid -->
        <div class="faux-table seven-col" data-ng-show="pagedItems.length  > 0" ng-cloak>
            <!-- header -->
            <div class="table-head accordion-title-row">
                <div class="hidden">ID</div>
                <div class="head-item accordion-title-text "><a ng-click="sortBy('forename');" class="sort-title"><i class="icon-sort pull-right"></i>Name</a></div>
                <div class="head-item accordion-title-text ">NHS/CHI Number&nbsp;<i class="glyphicon glyphicon-sort hidden"></i></a></div>
                <div class="head-item accordion-title-text "><a ng-click="sortBy('forename');" class="sort-title"><i class="icon-sort pull-right"></i>Date Of Birth</a></div>
                <div class="head-item accordion-title-text ">Groups</div>
                <div class="head-item accordion-title-text ">Treatment</div>
                <div class="head-item accordion-title-text "><a ng-click="sortBy('lastLogin');" class="sort-title"><i class="icon-sort pull-right"></i>Last Login</a></div>
                <div class="head-item accordion-title-text"><a class="sort-title"></a></div>
            </div>
            <!-- body -->
            <div class="item-header" ng-repeat="user in pagedItems">
                <div class="faux-row">
                    <div class="row-item hidden">{{user.id}}</div>
                    <div class="row-item accordion-heading-text">{{user.forename}} {{user.surname}}</div>
                    <div class="row-item accordion-heading-text"> <ul class="unstyled"><li ng-repeat="identifier in user.identifiers">{{identifier.identifier}}</li></ul></div>
                    <div class="row-item accordion-heading-text">DOB</div>
                    <div class="row-item accordion-heading-text">
                        <ul class="unstyled patient-groups">
                            <li ng-repeat="groupRole in user.groupRoles | orderBy:[orderGroupRoles,'group.name']">
                                <span ng-if="groupRole.role.name !== 'MEMBER'">
                                    {{groupRole.group.name}}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="row-item accordion-heading-text"></div>
                    <div class="row-item accordion-heading-text">{{user.lastLogin | date:'dd-MMM-yyyy HH:ss'}}</div>
                    <div class="row-item actions">
                        <!-- Edit, Actions dropdown buttons -->
                        <div class="button-dropdown-group">
                            <button type="button" class="btn blue pull-left" ng-click="opened(user)">Edit</button>
                            <div class="dropdown pull-left">
                                <button type="button" class="btn blue dropdown-toggle" id="dropdown-toggle-{{user.id}}">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-accordion" id="dropdown-toggle-{{user.id}}-menu">
                                    <li><a ng-click="viewUser(user.id)" class="dropdown-menu-accordion-item">View As Patient</a></li>
                                    <li ng-show="permissions.showDeleteMenuOption"><a ng-click="deleteUser(user.id)" class="dropdown-menu-accordion-item">Delete</a></li>
                                    <li><a ng-click="resetUserPassword(user.id)" class="dropdown-menu-accordion-item">Reset Password</a></li>
                                    <li ng-hide="user.emailVerified" id="li-email-verified-{{user.id}}"><a ng-click="sendVerificationEmail(user.id)" class="dropdown-menu-accordion-item">Send Verification Email</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- edit pane -->
                <div class="panel-body" ng-show="user.showEdit">
                    <form name="userForm">
                        <div ng-include src="'views/partials/patientDetails.html'" ng-controller="UserDetailsCtrl"></div>
                    </form>
                    <hr>
                    <div class="last-login pull-left" ng-show="user.lastLogin">Last login: {{user.lastLogin | date:'dd-MMM-yyyy HH:mm'}}</div>
                    <div class="user-save-cancel pull-right">
                        <button type="button" class="btn btn-grey" ng-click="user.showEdit = false">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" data-ng-show="pagedItems.length == 0">
            <div class="col-md-12">
                <h4>No patients found</h4>
            </div>
        </div>

        <!-- pagination -->
        <div class="col-md-12" data-ng-show="pagedItems.length > 0 && totalPages > 1">
            <ul class="pagination">
                <li ng-class="prevPageDisabled()">
                    <a href ng-click="prevPage()">« Prev</a>
                </li>
                <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                    <a href>{{n+1}}</a>
                </li>
                <li ng-class="nextPageDisabled()">
                    <a href ng-click="nextPage()">Next »</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-show="loading" class="container"><br/><br/>
<div ng-show="loading" class="loading"><img src="images/loading.gif" alt="Loading"/></div></div>