<style>
    .h1link {
        font-size: 14px;
        font-weight: normal;
    }
</style>


<br/>
<div class="row" >
    <div class="alert alert-warning" data-ng-repeat="alert in deletedPatientAlert ">
        <span data-ng-bind-html="parseHTMLText(alert.latestValue)"></span>
        <a href="" data-ng-click="dismissAlert(alert.id)" class="pull-right alert-button">Dismiss</a>
    </div>
    <div class="alert alert-danger" data-ng-repeat="alert in failedPatientAlert ">
        <span data-ng-bind-html="parseHTMLText(alert.latestValue)"></span>
        <a href="" data-ng-click="dismissAlert(alert.id)" class="pull-right alert-button">Dismiss</a>
    </div>
</div>

<div data-ng-show="!loading">
    <h1>Patients Changed
        <a class="btn blue" data-ng-show="permissions.canCreatePatients" href="/#/newpatient">Create New</a>
        <span data-ng-show="permissions.canCreatePatients">
        <button class="btn blue" data-ng-click="openModalFindExistingPatient('lg')">Add Existing PatientView Patient</button>
        <button class="btn blue" data-ng-click="openModalFindExistingPatient('lg')">CAN YOU SEE ME</button>
        <a href="http://rixg.org/patientview2/admin-and-technical/unit-admin-guide/" target="_blank" class="h1link">
            About Adding Patients</a>
        </span>
    </h1>

    <div class="alert alert-danger" data-ng-show="fatalErrorMessage">{{fatalErrorMessage}}</div>

    <div data-ng-show="!fatalErrorMessage && !loading" data-ng-cloak>
        <!-- create membership request modal -->
        <script type="text/ng-template" id="createMembershipRequestModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Create Membership Request</h3>
            </div>
            <div class="modal-body">
                <form name="form.membershipRequestForm">
                    <div data-ng-include src="'views/partials/membershipRequestNew.html'"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-grey" data-ng-click="cancel()">Close</button>
                <button class="btn blue" data-ng-click="createMembershipRequest()"
                        data-ng-show="showForm && recipientsExist">Create Membership Request</button>
            </div>
        </script>
        <!-- new secure message conversation -->
        <script type="text/ng-template" id="newConversationModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Create New Conversation</h3>
                <p>Add your Title and Message to send a secure message to a patient.</p>
            </div>
            <div class="modal-body">
                <form name="conversationFormNew" data-ng-model="newConversation">
                    <div data-ng-include src="'views/partials/conversationDetailsNew.html'" data-ng-controller="ConversationDetailsCtrl"></div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="alert alert-danger" data-ng-show="errorMessage">There was an error {{errorMessage}}</div>
                <button class="btn btn-grey" data-ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" data-ng-click="ok()"
                        data-ng-disabled="!conversationFormNew.$valid || (newConversation.recipients.length < 1)"
                        data-ng-show="newConversation.recipients.length && !sendingMessage">Create New Secure Message</button>
            </div>
        </script>
        <!-- existing patient modal (search by identifier) -->
        <script type="text/ng-template" id="findExistingPatientModal.html">
            <div class="modal-header">
                <h3 class="modal-title" >Find Existing Patient User</h3>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger" data-ng-show="errorMessage">{{errorMessage}}</div>
                <div class="alert alert-warning" data-ng-show="warningMessage">{{warningMessage}}</div>

                <form name="userFormExisting" >
                    <div data-ng-include src="'views/partials/patientDetailsExisting.html'" data-ng-controller="UserDetailsCtrl"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-grey" data-ng-click="cancel()">Close</button>
            </div>
        </script>

        <!-- delete patient modal -->
        <script type="text/ng-template" id="deletePatientModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Delete Patient User</h3>
            </div>
            <div class="modal-body" data-ng-show="!user.removedFromGroups">
                <p>There are multiple options for deleting the patient
                    <strong>"{{user.forename}} {{user.surname}}"</strong> with username <strong>"{{user.username}}"</strong>.
                    <a href="http://rixg.org/patientview2/admin-and-technical/unit-admin-guide/#Delete_a_patient_remove_their_data_or_just_login"
                       target="_blank">Guidance on deleting.</a>
                </p>
                <br/>

                <div data-ng-show="user.canRemoveFromAllGroups">
                    <h4>Remove Patient From My Groups</h4>
                    <div data-ng-show="user.canRemoveFromMyGroups">
                        <p>This will remove the patient from your groups. The patient is also a member of another group
                            that you do not control.</p>
                        <p><button class="btn btn-primary" data-ng-click="removeFromMyGroups()">Remove Patient From My Groups</button></p>
                    </div>
                    <div data-ng-show="!user.canRemoveFromMyGroups">
                        <p>This patient is not part of another group. </p>
                        <p>If you wish to remove the patient from PatientView altogether, please select the "Remove Patient
                            From All Groups" option (proceeding with caution!).</p>
                    </div>
                </div>

                <div data-ng-show="user.canRemoveFromAllGroups">
                    <h4>Remove Patient From All Groups</h4>
                    <p>This will remove a patient from all groups, please proceed with caution. If the patient belongs
                        to a group with the "Keep All Data" feature then the patient's data will be kept in PatientView,
                        otherwise the patient will be deleted permanently. Permanently deleting a patient cannot be undone.</p>
                    <p><button class="btn btn-primary" data-ng-click="removeFromAllGroups()">Remove Patient From All Groups</button></p>
                </div>

                <div data-ng-show="user.canDelete">
                    <h4>Permanently Delete Patient</h4>
                    <p>This will completely delete a patient from PatientView and cannot be undone.</p>
                    <p><button class="btn btn-primary" data-ng-click="remove()">Permanently Delete Patient</button></p>
                </div>
            </div>
            <div class="modal-body" data-ng-show="user.removedFromGroups">
                <div class="alert alert-success">
                    <strong>"{{user.forename}} {{user.surname}}"</strong> with username <strong>"{{user.username}}"</strong>
                    has been removed from your groups.
                </div>
            </div>
            <div class="modal-footer">
                <div class="alert alert-danger" data-ng-show="errorMessage">{{errorMessage}}</div>
                <div class="alert alert-success" data-ng-show="successMessage">{{successMessage}}</div>
                <button class="btn btn-grey" data-ng-click="cancel()">Close</button>
            </div>
        </script>

        <br/>
        <div class="content-panel row multi-search">
            <div class="col-md-1 pull-right">
                <a class="btn blue" href="" style="margin-top:25px;" data-ng-click="search()">Search</a>
            </div>
            <div class="col-md-1 search-intro">
                <h3><i class="icon-search-black"></i></h3>
            </div>
            <div class="col-md-2">
                <label for="search-surname" class="control-label">Surname</label>
                <div>
                    <input type="text" class="form-control" id="search-surname" placeholder="Surname"
                           data-ng-keyup="$event.keyCode == 13 ? search() : null">
                </div>
            </div>
            <div class="col-md-2">
                <label for="search-forename" class="control-label">Forename</label>
                <div>
                    <input type="text" class="form-control" id="search-forename" placeholder="Forename"
                           data-ng-keyup="$event.keyCode == 13 ? search() : null">
                </div>
            </div>
            <div class="col-md-2">
                <label for="search-identifier" class="control-label">Identifier</label>
                <div>
                    <input type="text" class="form-control" id="search-identifier" placeholder="Identifier"
                           data-ng-keyup="$event.keyCode == 13 ? search() : null">
                </div>
            </div>
            <div class="col-md-2">
                <label for="search-username" class="control-label">Username</label>
                <div>
                    <input type="text" class="form-control" id="search-username" placeholder="Username"
                           data-ng-keyup="$event.keyCode == 13 ? search() : null">
                </div>
            </div>
            <div class="col-md-2">
                <label for="search-email" class="control-label">Email</label>
                <div>
                    <input type="text" class="form-control" id="search-email" placeholder="Email"
                           data-ng-keyup="$event.keyCode == 13 ? search() : null">
                </div>
            </div>
        </div>

        <div class="panel-footer clearfix">
            <div class="content-inner">
                <div class="form-horizontal" role="form">
                    <div class="pull-right" data-ng-show="pagedItems.length  > 0">
                        <h5>Page {{currentPage+1}} of {{totalPages}} <br/> ({{total}} total)</h5>
                    </div>
                    <!-- filter by specialty -->
                    <div class="select-container pull-left" data-ng-show="showSpecialtyFilter">
                        <div class="btn-group filter-select" id="filter-specialty" dropdown>
                            <button class="btn dropdown-toggle">
                                Filter By Specialty <span class="caret-container"><span class="caret"></span></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <li>
                                    <a data-ng-click="removeAllSelectedGroup('SPECIALTY')" class="a-filter-group">
                                        <i class="glyphicon glyphicon-remove"></i> Uncheck All
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li data-ng-repeat="group in filterSpecialtyGroups | orderBy:['shortName']">
                                    <a data-ng-click="setSelectedGroup()" class="a-filter-group clearfix">
                                        <span class="pull-left">{{group.shortName}}</span>
                                        <span data-ng-class="isGroupChecked(group.id)"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- filter by unit -->
                    <div class="select-container pull-left" data-ng-show="showUnitFilter">
                        <div class="btn-group filter-select" id="filter-group" dropdown>
                            <button class="btn dropdown-toggle">
                                Filter By Unit <span class="caret-container"><span class="caret"></span></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <li>
                                    <a data-ng-click="removeAllSelectedGroup('UNIT')" class="a-filter-group">
                                        <i class="glyphicon glyphicon-remove"></i> Uncheck All
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li data-ng-repeat="group in filterUnitGroups | orderBy:['shortName']">
                                    <a data-ng-click="setSelectedGroup()" class="a-filter-group clearfix">
                                        <span class="pull-left">{{group.shortName}}</span>
                                        <span data-ng-class="isGroupChecked(group.id)"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- filter by other group (disease group, GP) -->
                    <div class="select-container pull-left" data-ng-show="showOtherGroupFilter">
                        <div class="btn-group filter-select" id="filter-othergroup" dropdown>
                            <button class="btn dropdown-toggle">
                                Filter By
                                <span data-ng-if="filterSpecialtyGroups.length || filterUnitGroups">Other</span>
                                Group
                                <span class="caret-container"><span class="caret"></span></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <li>
                                    <a data-ng-click="removeAllSelectedGroup('DISEASE_GROUP');removeAllSelectedGroup('GENERAL_PRACTICE');" class="a-filter-group">
                                        <i class="glyphicon glyphicon-remove"></i> Uncheck All
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li data-ng-repeat="group in filterOtherGroups | orderBy:['shortName']">
                                    <a data-ng-click="setSelectedGroup()" class="a-filter-group clearfix">
                                        <span class="pull-left">{{group.shortName}}</span>
                                        <span data-ng-class="isGroupChecked(group.id)"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 table-filter-container">
                            <ul class="feature-list unstyled name-action-list">
                                <li class="feature-list-item pull-left" data-ng-repeat="group in allGroups | orderBy:'name'" data-ng-show="isGroupChecked(group.id)">
                                    <div class="feature-list-name pull-left">
                                        <span class="feature-list-name">{{group.name}}</span>
                                    </div>
                                    <div class="feature-list-delete pull-left">
                                        <a href="" data-ng-click="removeSelectedGroup(group)" >
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="feature-list-item pull-left" data-ng-show="statusFilter.length">
                                    <div class="feature-list-name pull-left">
                                        <span class="feature-list-name">{{statusFilter}} patients only</span>
                                    </div>
                                    <div class="feature-list-delete pull-left">
                                        <a href="" data-ng-click="removeStatusFilter()" >
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-success" data-ng-show="successMessage" id="success-message">
            {{successMessage}}
            <a href="" class="print-success-message" data-ng-click="printSuccessMessageCompat()" data-ng-show="printSuccessMessage">Print</a>
        </div>

        <!-- data grid -->
        <div class="faux-table seven-col" data-ng-show="pagedItems.length  > 0" data-ng-cloak>
            <!-- header -->
            <div class="table-head accordion-title-row">
                <div class="hidden">ID</div>
                <div class="head-item accordion-title-text ">
                    <a data-ng-click="sortBy('surname');" class="sort-title"><i class="icon-sort pull-right"></i>Surname</a>
                </div>
                <div class="head-item accordion-title-text ">
                    <a data-ng-click="sortBy('forename');" class="sort-title"><i class="icon-sort pull-right"></i>Forename</a>
                </div>
                <div class="head-item accordion-title-text ">Identifiers&nbsp;<i class="glyphicon glyphicon-sort hidden"></i></a></div>
                <div class="head-item accordion-title-text ">Date Of Birth</div>
                <div class="head-item accordion-title-text ">Groups</div>
                <div class="head-item accordion-title-text "><a data-ng-click="sortBy('currentLogin');" class="sort-title"><i class="icon-sort pull-right"></i>Last Login</a></div>
                <div class="head-item accordion-title-text"><a class="sort-title"></a></div>
            </div>
            <!-- body -->
            <div class="item-header" data-ng-repeat="user in pagedItems">
                <div class="faux-row">
                    <div class="row-item hidden">{{user.id}}</div>
                    <div class="row-item accordion-heading-text">{{user.surname}}</div>
                    <div class="row-item accordion-heading-text">{{user.forename}}</div>
                    <div class="row-item accordion-heading-text">
                        <ul class="unstyled">
                            <li data-ng-repeat="identifier in user.identifiers"
                                data-ng-show="identifier.identifierType.value !== 'HOSPITAL_NUMBER'">
                                <span>{{identifier.identifier}}</span>
                                <span class="small">&nbsp;&nbsp;({{identifier.identifierType.value.substring(0, 3)}})</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row-item accordion-heading-text">{{user.dateOfBirth | date:'dd-MMM-yyyy'}}</div>
                    <div class="row-item accordion-heading-text">
                        <ul class="unstyled patient-groups">
                            <li data-ng-repeat="groupRole in user.groupRoles | orderBy:[orderGroupRoles,'group.name']">
                                <span data-ng-if="groupRole.role.name !== 'MEMBER' && groupRole.group.code !== 'GENERAL_PRACTICE' && groupRole.group.code !== 'Generic'">
                                    <span data-ng-show="groupRole.group.shortName.length">{{groupRole.group.shortName}}</span>
                                    <span data-ng-show="!groupRole.group.shortName.length">{{groupRole.group.name}}</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="row-item accordion-heading-text">{{user.currentLogin | date:'dd-MMM-yyyy HH:mm'}}</div>
                    <div class="row-item actions">
                        <!-- Edit, Actions dropdown buttons -->
                        <div class="button-dropdown-group">
                            <button type="button" class="btn blue pull-left edit-button btn-wide" data-ng-click="opened(user)" data-ng-show="permissions.canEditPatients">Edit</button>
                            <button type="button" class="btn blue pull-left" data-ng-click="opened(user)" data-ng-show="permissions.canViewPatients">View</button>
                            <div class="dropdown pull-left">
                                <button type="button" class="btn blue dropdown-toggle" id="dropdown-toggle-{{user.id}}">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-accordion" id="dropdown-toggle-{{user.id}}-menu">
                                    <li><a href="" data-ng-click="viewUser(user.id)" class="dropdown-menu-accordion-item">View Patient</a></li>
                                    <li data-ng-show="permissions.canResetPasswords"><a href="" data-ng-click="resetUserPassword(user.id)" class="dropdown-menu-accordion-item">Reset Password</a></li>
                                    <li data-ng-show="permissions.messagingEnabled"><a href="" data-ng-click="openModalNewConversation('lg', user)" class="dropdown-menu-accordion-item">Send Secure Message</a></li>
                                    <li data-ng-show="permissions.showMembershipRequestMenuOption"><a href="" data-ng-click="openModalCreateMembershipRequest(user)" class="dropdown-menu-accordion-item">Send Membership Request</a></li>
                                    <li data-ng-hide="user.emailVerified || !permissions.canSendVerificationEmails" id="li-email-verified-{{user.id}}"><a href="" data-ng-click="sendVerificationEmail(user.id)" class="dropdown-menu-accordion-item">Send Verification Email</a></li>
                                    <li data-ng-show="permissions.showDeleteMenuOption"><a href="" data-ng-click="deleteUser(user.id)" class="dropdown-menu-accordion-item">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- edit pane -->
                <div class="panel-body" data-ng-if="user.showEdit">
                    <div data-ng-show="user.editLoading" class="loading"><img src="images/loading.gif" alt="Loading"/></div>
                    <div data-ng-show="!user.editLoading">
                        <form name="userForm">
                            <div data-ng-include src="'views/partials/patientDetails.html'" data-ng-controller="UserDetailsCtrl"></div>
                        </form>
                        <hr>
                        <div class="last-login pull-left" data-ng-show="user.currentLogin">Last login: {{user.currentLogin | date:'dd-MMM-yyyy HH:mm'}}</div>
                        <div class="last-login pull-left" data-ng-show="!user.currentLogin">The user has not yet logged in</div>
                        <div class="user-save-cancel pull-right">
                            <button type="button" class="btn btn-grey close-edit" data-ng-click="user.showEdit = false">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" data-ng-show="pagedItems.length == 0">
            <div class="col-md-12">
                <br/>
                <h4>No patients found</h4>
            </div>
        </div>

        <!-- pagination -->
        <div pv-pagination>
        </div>

        <div class="col-md-4 pull-right export-container">
            <button type="button" data-ng-if="permissions.showExportButton" data-ng-click="downloadList();" class="pull-right btn white " ><i class="glyphicon glyphicon-download-alt"></i> &nbsp; Export List</button>
        </div>
    </div>
</div>

<div data-ng-show="loading" class="container"><br/><br/>
    <div data-ng-show="loading" class="loading">
        <h3><img src="images/loading.gif" alt="Loading"/>&nbsp; {{loadingMessage}}</h3>
    </div>
</div>