<h1>Privacy Notice</h1>

<div class="content-panel">
<div class="content-inner">

    <p>This privacy notice sets out how PatientView uses and protects any information that you give PatientView when
    you use this website or our mobile apps.</p>

    <p>PatientView is committed to ensuring that your privacy is protected. Should we ask you to provide certain
        information by which you can be identified when using this website or our mobile apps, then you can be assured
        that it will only be used in accordance with this privacy statement.</p>

    <p>PatientView may change this notice from time to time by updating this page. You should check this page from time
        to time to ensure that you are happy with any changes.</p>

    <p>This notice is effective from 1 December 2014.</p>

    <h3>Security</h3>

    <p>Although we will always treat the information you send us with the strictest confidence, we cannot guarantee
        the security of the World Wide Web. It is possible, though very unlikely, that someone other than ourselves
        could access and read information sent to us in this way. If you feel concerned about this, please use another
        form of contact, e.g. telephone or post.</p>

    <h3>What we collect</h3>

    <p>The system will record your email address and other information only if volunteered to us by you. This
        information shall be treated as confidential. It may only be used for internal review and to contact you
        regarding any feedback.</p>

    <p>At certain times you may be asked to fill in information about yourself on the site e.g. when filling in a form
        or survey. This information will only be used for the purpose stated in each case. You are legally responsible
        for the content of any material you submit using PatientView.</p>

    <h3>What we do with the information we gather</h3>

    <p>We require this information to understand your needs and provide you with a better service.</p>

    <h3>Controlling your personal information</h3>

    <p>We will not sell, distribute or lease your personal information to third parties without prior consent from
        you.</p>

    <p>You may request details of personal information which we hold about you under the Data Protection Act 1998.</p>

    <h3>Links to other websites</h3>

    <p>Our website may contain links to other websites of interest. However, once you have used these links to leave our
        site, you should note that we do not have any control over that other website. Therefore, we cannot be
        responsible for the protection and privacy of any information which you provide whilst visiting such sites and
        such sites are not governed by this privacy statement. You should exercise caution and look at the privacy
        statement applicable to the website in question.</p>

    <h3>How we use cookies</h3>

    <p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the
        file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site.
        Cookies allow web applications to respond to you as an individual. The web application can tailor its operations
        to your needs, likes and dislikes by gathering and remembering information about your preferences.</p>

    <p>We use traffic log cookies to identify which pages are being used. This helps us analyse data about web page
        traffic and improve our website in order to tailor it to customer needs. We only use this information for
        statistical analysis purposes and then the data is removed from the system.</p>

    <p>Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful
        and which you do not. A cookie in no way gives us access to your computer or any information about you, other
        than the data you choose to share with us.</p>

    <p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually
        modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of
        the website.</p>

    <h3>Google Analytics</h3>

    <p>This website uses Google Analytics, a web analytics service provided by Google Inc. ("Google"). Google Analytics
        uses "cookies", which are text files placed on your computer and allow an analysis of the use of the Site by
        you. The information generated by the cookie about your use of this website (including your IP address) is sent
        to a Google server in the U.S. and stored there.</p>

    <p>Google use this information to evaluate your use of the website and compile reports on website activity for
        website operators. Google will not transmit this information to third parties unless required by law or if
        third parties process this data on Google's behalf.</p>

    <p>Google will not associate your IP address with any other data held by Google. You can disable cookies by
        selecting the appropriate settings in your internet browser. By using this site you agree to the processing of
        data about you by Google in the manner described and for the aforementioned purpose.</p>
</div>
</div>