<h1>Privacy Notice</h1>

<div class="content-panel">
<div class="content-inner">

    <h3>Privacy notice</h3>

    <p>The privacy notice <a href="../docs/PatientView_privacy_notice_june_2018.pdf" target="_blank">(available here)</a> sets out how PatientView uses and protects any information that you give PatientView when
        you use this website or our mobile apps.  It should be read in conjunction with our
        <a href="#/terms" target="_blank">Terms and Conditions.</a></p>

    <p>We may change this notice from time to time by updating this page. We will put up a notice if making substantial
        changes, and contact you if we can, but you should check from time to time to ensure that you are happy with
        what we say here.<p>

    <p>This notice is effective from 8th June 2018.</p>

    <h3>Security</h3>

    <p>We always treat any information you send us with the strictest confidence.  Under the Data Protection Act, we
        have a legal duty to protect any information we collect from you. We use leading technologies and encryption
        software to safeguard your data and keep strict security standards to prevent any unauthorised access to it.
        We do not pass on your details to any third party or other government department unless with your permission,
        or if obliged by law.</p>

    <p>We cannot 100% guarantee the security of the World Wide Web. It is possible, though very unlikely, that someone
        other than ourselves could access and read information you send to us. Ordinary email is less safe than messages
        sent using the messaging system inside PatientView. There is more information on data security in our
        <a href="#/terms" target="_blank">Terms and Conditions.</a></p>

    <h3>What we collect</h3>

    <p>Almost all the information that PatientView holds about you is visible to you when you log in.</p>

    <p>At certain times you may be asked to fill in information about yourself on the site, for example a form or
        survey. This information will only be used for the purpose stated in each case. You are responsible for the
        content of any material that you submit using PatientView.</p>

    <h3>Controlling your personal information</h3>

    <p>We will not distribute any identifiable personal information to third parties without prior consent from you.</p>

    <p>You may request details of personal information which we hold about you under the Data Protection Act 2018, but
        the purpose of PatientView is already to show you this information.</p>

    <h3>Links to other websites</h3>

    <p>Our website may contain links to other websites of interest. However, once you have used these links to leave our
        site, we do not have any control over that other website. Therefore, we cannot be responsible for the protection
        and privacy of any information which you provide whilst visiting such sites and such sites are not governed by
        this privacy statement. You should exercise caution and look at the privacy statement applicable to the website
        in </p>

    <h3>Monitoring user activity</h3>

    <p>As outlined in our <a href="#/terms" target="_blank">Terms and Conditions.</a>, we keep a log of user activity
        for security audit purposes. The log
        shows when users logged in, and other significant activity such as password changes. This makes it possible to
        show you when you last logged in, to reassure you that nobody has guessed and used your login details.  We can
        also check that staff are using the system appropriately.  We are obliged to keep these records and they are
        treated confidentially.</p>

    <p>We may use these records, but anonymised so that we can no longer track who is the user, to find out how people
        use PatientView.  This shows us what people find most useful and how often they visit it.</p>

    <h3>Cookies and Local Storage</h3>

    <p>PatientView needs ‘cookies’ and ‘local storage’ enabled to operate.</p>

    <p>Where services are delivered on the internet, this sometimes involves placing small amounts of information on
        your device, for example, computer or mobile phone. These include small files known as cookies. They cannot be
        used to identify you personally.</p>

    <p>These pieces of information are used to improve services for you through, for example:</p>

    <ul>
    <li>Enabling a service to recognise your device so you don’t have to give the same information several times
        during one task</li>
    <li>Recognising that you may already have given a username and password so you don’t need to do it for every web
        page requested</li>
    <li>Measuring how many people are using services, so they can be made easier to use and there’s enough capacity to
        ensure they are fast.</li>
    </ul>

    <p>We use ‘traffic log’ cookies to identify which pages are being used. We only use this information for statistical
        analysis purposes. These cookies do not give us access to your computer or any additional information about you.
        <a href="http://www.google.com/intl/en-GB/policies/technologies/cookies/" target="_blank">More detailed info
            about cookies from Google.</a></p>

    <p>PatientView also uses local storage within your browser to function properly. By disabling cookies, local storage
        is automatically disabled too, and the major functions of PatientView will no longer be available, including the
        ability to log on. Local storage does not give us access to your computer or any additional information about
        you.</p>

    <h3>Google Analytics</h3>

    <p>PatientView uses Google Analytics, a web analytics service provided by Google Inc. ("Google"). Google Analytics
        uses cookies, which send information about your use of this website (including your IP address but no other
        identifying details) to a Google server in the U.S.</p>

    <p>Google use this information to evaluate use of the website and compile reports on website activity for website
        operators. Google will not transmit this information to third parties unless required by law or if third parties
        process this data on Google's behalf.</p>

    <p>Google will not associate your location (IP address) with any other data held by Google.  <a
            href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage"
            target="_blank">Technical info about Google Analytics from Google.</a></p>
</div>
</div>