<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <h1><a href="javascript:history.back()" class="btn blue pull-right back-to-results" data-ng-show="!loading">
            <i class="icon-back-to pull-left"> </i>
            Back
        </a></h1>
    </div>
</div>

<div class="content-panel">
    <div class="content-inner">
        <h3 class="faq-list-header">Frequently asked questions about <i>My Consultation</i></h3>

        <ol class="faq-list">
            <li>
                <span>What is <i>My Consultation</i>?</span>
                <p><i>My Consultation</i> is a new screen in PatientView where you can report what symptoms and other health problems you experience and how they affect you.</p>
            </li>
            <li>
                <span>How long will it take to report <i>My Consultation</i>?</span>
                <p>It will take you less than 10 minutes.</p>
            </li>
            <li>
                <span>How will reporting <i>My Consultation</i> help me?</span>
                <p>Completing My Consultation allows you to report symptoms or other health problems you are experiencing. You can discuss this information during the next appointment with your kidney doctor or nurse. It will also help your kidney team to get a better idea of how you have been, and what they can do to support you.</p>
            </li>
            <li>
                <span>Will information on <i>My Consultation</i> be secure?</span>
                <p>Yes. Any information you report will be stored securely in your hospital patient record. It will also be stored by the UK Renal Registry (you can find more information on their website: <a href="https://www.renalreg.org/patient-info/" target="_blank">https://www.renalreg.org/patient-info/</a>).</p>
            </li>
            <li>
                <span>Can I choose not to report for <i>My Consultation</i>?</span>
                <p>Yes, it is entirely up to you if you want to report <i>My Consultation</i>. If you do not want to take part, just let someone from your kidney team know and do not fill in the questions.</p>
            </li>
            <li>
                <span>What information will I be asked to report for <i>My Consultation</i>?</span>
                <p>On the <i>My Consultation</i> screen in PatientView, there are two things for you to report:</p>
                <p><i>My Symptoms</i> (to report before every appointment with your kidney doctor or nurse)</p>
                <p>This is a list of 17 symptoms that people with kidney problems may suffer from, such as lack of energy and difficulty sleeping. For each symptom, you will be asked to indicate how much it has affected you over the last week, which can be from ‘not at all’ to ‘overwhelmingly’. You can also report symptoms that are not in the list.</p>
                <p><i>My Overall Health</i> (to report once a year)</p>
                <p>Here you will be asked to report how you have been doing for five things related to your overall health, such as if you have problems doing your usual activities. You will also be asked to rate how your health is today on a scale of 0 (worst health you can imagine) to 100 (best health you can imagine).</p>
            </li>
            <li>
                <span>When will I be asked to report the information for <i>My Consultation</i>?</span>
                <p>If you are on in-centre haemodialysis, you can do the reporting while you are on the dialysis machine. A nurse or clerk will give you a tablet computer to log into PatientView.</p>
                <p>If you are not on in-centre haemodialysis, you can complete <i>My Consultation</i> at home in the week before you have an appointment for your kidneys. You can also do it while in the waiting room of the kidney outpatient clinic, where there will be a tablet computer available for you to log into PatientView.</p>
            </li>
            <li>
                <span>Can I complete <i>My Consultation</i> from home?</span>
                <p>Yes, you can log into PatientView from home using your own computer or tablet. Your kidney team will look at your answers and discuss them with you during your next appointment with your kidney doctor or nurse. If you have symptoms or other health problems that require immediate attention, please call your kidney team.</p>
            </li>
            <li>
                <span>Can I save my answers halfway through and complete the rest later?</span>
                <p>No. Once you have started filling in My Symptoms or My Overall Health, you will have to report all the information in the same sitting. After saving the information, you can no longer change it.</p>
            </li>
            <li>
                <span>Why is the ‘Fill in’ button next to <i>My Overall Health</i> not visible?</span>
                <p>You can only report on <i>My Overall Health</i> once a year. The ‘Fill in’ button becomes automatically available when one year has passed. If you have any overall health issues to report in the meantime, please bring them up during your next appointment with your kidney doctor/nurse, or call your kidney team.</p>
            </li>
            <li>
                <span>Who can help me complete <i>My Consultation</i>?</span>
                <p>If you are completing <i>My Consultation</i> in the dialysis unit or in the outpatient waiting area, the member of staff who gave you the tablet should be able to help you. In some kidney units or clinics there may also be volunteers to support you.</p>
                <p>If you are completing <i>My Consultation</i> at home, you can ask a member of your kidney team during your next visit.</p>
            </li>
            <li>
                <span>Once I have completed <i>My Consultation</i>, when will my answers be reviewed?</span>
                <p>If you are on in-centre haemodialysis, your answers will be reviewed during your next appointment with your kidney doctor. Sometimes, someone may look at your answers at the end of your dialysis session, but this differs from unit to unit. So, if you have any symptoms or other health problems that require immediate attention, please let the dialysis nurse know before you go home.</p>
                <p>If you are not on in-centre haemodialysis and complete <i>My Consultation</i> while in the waiting room, your answers will be reviewed immediately during the appointment.</p>
                <p>If you are not on in-centre haemodialysis and complete <i>My Consultation</i> at home, your answers will be reviewed during your next appointment with your kidney doctor or nurse. If you have symptoms or other health problems that require immediate attention, please call your kidney team.</p>
            </li>
            <li>
                <span>Once I have completed <i>My Consultation</i>, who will discuss my answers for <i>My Consultation</i> with me?</span>
                <p>Your kidney doctor or specialist nurse will discuss your answers with you. Other members of the kidney team may also discuss your <i>My Symptoms</i> or <i>My Overall Health</i> with you, such as your dialysis nurse or dietician, but this differs from centre to centre.</p>
            </li>
            <li>
                <span>Can I view my own <i>My Consultation</i> reports?</span>
                <p>Yes, you can. In PatientView, just tap or click the ‘View’ button next to <i>My Symptoms</i> or <i>My Overall Health</i>, where you can review all the reports you have completed so far. You can also create graphs for specific symptoms or health issues, to see if they are improving or getting worse.</p>
            </li>
            <li>
                <span>How will my answers for <i>My Consultation</i> be processed?</span>
                <p>Once you have completed <i>My Symptoms</i> or <i>My Overall Health</i> and tap ‘Save’, your answers will be sent to the UK Renal Registry. This is the organisation that collects, analyses and reports information from people treated in one of the 71 adult or 13 paediatric kidney centres in the UK. The Registry will store your information and then send it to your kidney centre, where it will be stored as part of your electronic patient record.</p>
                <p>Information will <u>not</u> be stored on the tablet or computer you used to complete <i>My Consultation</i>.</p>
            </li>
            <li>
                <span>How long will the information I reported for <i>My Consultation</i> be stored?</span>
                <p>The information you reported for <i>My Consultation</i> will be stored as part of your electronic patient record at your kidney centre, where it will be stored as long as you are treated there, plus an additional number of years. The same information will also be stored by the UK Renal Registry, where it will retained as long as the Registry is in operation, plus an additional five year.</p>
            </li>
            <li>
                <span>Who will have access to the information I reported for <i>My Consultation</i>?</span>
                <p>All core members of your kidney team will have access to the information you reported for <i>My Consultation</i>, such as your kidney doctor/specialist nurse and your named dialysis nurse. In some kidney centres, other members of the kidney team, such as other dialsyis nurses or your dietician, may also have access, but this differs from centre to centre.</p>
                <p>The UK Renal Registry may share your information with third parties to fulfil some of its duties and functions. Your data are only shared under strictly controlled circumstances, and the information can never be used to identify you as an individual. There is more information in their privacy notice on how and with whom the Registry may share your data and how you can opt out: <a href="https://www.renalreg.org/patient-info/" target="_blank">https://www.renalreg.org/patient-info/</a></p>
            </li>
        </ol>
    </div>
</div>