<!-- reCAPTCHA, cant just be included in index.html -->
<script>
    var getAngularScope = function() {
        // get angular scope so can call controller functions
        return angular.element($("#account-settings-form")).scope();
    };
    var reCaptchaCallback = function(response) {
        getAngularScope().reCaptchaCallback(response);
    };
    var onloadCallback = function() {
        var scope = getAngularScope();
        if (scope !== undefined) {
            grecaptcha.render('recaptcha', {
                'sitekey': scope.getReCaptchaPublicKey(),
                'callback': reCaptchaCallback,
                'theme': 'light'
            });
        }
    };
</script>

<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' type="text/javascript" async defer></script>
<h1>
    <span data-ng-if="request.type==='JOIN_REQUEST'">Join</span>
    <span data-ng-if="request.type==='FORGOT_LOGIN'">Forgot Login</span>
    Request
</h1>
<div class="content-panel user-settings">
    <div class="content-inner">

        <div class="alert alert-success" data-ng-show="successMessage && request.type==='JOIN_REQUEST'">
            <strong>Thank you for submitting your request to join PatientView. Your unit will follow up shortly
                with the enrolment forms, after which you will receive your account details.</strong>
        </div>
        
        <div class="alert alert-success" data-ng-show="successMessage && request.type==='FORGOT_LOGIN'">
            <strong>Thank you for submitting your forgotten login request. Your unit will follow up shortly
                and contact you with details of how to log in to PatientView.</strong>
        </div>
        
        <form class="form-horizontal" data-ng-cloak id="account-settings-form" data-ng-hide="loading || completed">
            <div data-ng-if="request.type==='JOIN_REQUEST'">
                <p>Please enter your details. Ensure they are accurate since they will be used by your unit's staff to
                    verify who you are and to contact you to add you to PatientView.</p>
                <p>If your local unit has PatientView, the message will go to the local PatientView admin. If it
                    doesn't, we'll send it to someone senior at the unit.
                    <a href="http://rixg.org/developer/howto/where/" target="_blank">See if your unit has
                        PatientView on the map</a></p>
            </div>
            <div data-ng-if="request.type==='FORGOT_LOGIN'">
                <p>If you do not know your username, password or email you can enter your details to submit a forgotten
                    login request. You need to be a patient of a unit within PatientView.</p>
                <p>Ensure your details are accurate as they will be used by a member of your unit's staff to verify who
                    you are.</p>
            </div>

            <br/>

            <div class="form-group">
                <label for="forename" class="col-md-4 control-label">Forename (required):</label>
                <div class="col-md-5">
                    <input id="forename" name="forename" type="text" class="form-control" data-ng-model="request.forename"
                           required=""/>
                </div>
            </div>

            <div class="form-group">
                <label for="surname" class="col-md-4 control-label">Surname (required):</label>
                <div class="col-md-5">
                    <input id="surname" name="surname" type="text" class="form-control" data-ng-model="request.surname"
                           required=""/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Date Of Birth (required):</label>
                <div class="col-md-5 dob-row">
                    <div class="col-md-4 day">
                    Day:<select required="required"
                                data-ng-model="request.selectedDay"
                                data-ng-options="option as option for option in days"
                                class="form-control"></select>
                    </div>
                    <div class="col-md-4">
                    Month:<select required="required"
                                  data-ng-model="request.selectedMonth"
                                  data-ng-options="option as option for option in months"
                                  class="form-control"></select>
                    </div>
                    <div class="col-md-4 year">
                    Year:<select required="required"
                                 data-ng-model="request.selectedYear"
                                 data-ng-options="option as option for option in years"
                                 class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="nhsNumber" class="col-md-4 control-label">NHS/CHI/H&SC Number if known (10 digits):</label>
                <div class="col-md-5">
                    <input id="nhsNumber" maxlength="10" name="nhsNumber" type="text" class="form-control" data-ng-model="request.nhsNumber"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="specialty">Specialty (required):</label>
                <div class="col-md-5">
                    <select id="specialty"
                            required="required"
                            data-ng-model="request.specialty"
                            data-ng-change="refreshUnits()"
                            data-ng-options="obj.id as obj.name for obj in specialties | orderBy:['name']"
                            class="form-control"></select>
                </div>
            </div>
            <div class="form-group" ng-show="request.showunits">
                <label class="col-md-4 control-label" for="unit">Unit (required):</label>
                <div class="col-md-5">
                    <select id="unit"
                            required="required"
                            data-ng-model="request.unit"
                            data-ng-options="obj.id as obj.name for obj in units | orderBy:['name']"
                            class="form-control"
                            data-ng-show="units.length"></select>
                    <p data-ng-show="!units.length && request.type==='JOIN_REQUEST'">
                        You must choose a specialty with units available to join
                    </p>
                    <p data-ng-show="!units.length && request.type==='FORGOT_LOGIN'">
                        You must choose a specialty with available units
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-md-4 control-label">Email (required):</label>
                <div class="col-md-5">
                    <input id="email" name="email" type="text" class="form-control" data-ng-model="request.email" required=""/>
                </div>
            </div>

            <div class="form-group">
                <div id="recaptcha" class="col-md-5 col-md-offset-4"></div>
            </div>

            <div class="form-group">
                <div class="col-md-5 col-sm-offset-4">
                    <button data-ng-click="submit()" class="btn blue"
                            data-ng-disabled="!request.selectedDay || !request.selectedMonth || !request.selectedYear
                            || !request.email || (request.showunits && !request.unit) || !request.captcha">
                        Submit Request</button>
                </div>
            </div>

            <div class="alert alert-danger" data-ng-show="showTestHeader()">
                <p align="center">THIS IS A COPY OF PATIENTVIEW USED FOR TESTING - PLEASE JOIN AT THE MAIN SITE</p>
                <p align="center">Please visit <a href="https://www.patientview.org">www.patientview.org</a></p>
            </div>
            

            <div class="form-group" data-ng-show="errorMessage">
                <div class="col-md-12 alert alert-danger">
                    <p><strong>Error submitting request: &nbsp;</strong>{{errorMessage}}</p>
                </div>
            </div>
        </form>
    </div>
</div>

<div data-ng-show="loading" class="container"><br/><br/>
<div data-ng-show="loading" class="loading"><img src="images/loading.gif" alt="Loading"/></div></div>
