<div class="header-select row">
    <div class=" col-md-7">
        <i class="icon-result-info pull-right"></i>
        <h1>Showing results: <span class="blue">CPA</span></h1>
    </div>
    <div class="col-md-5">
        <select class="pull-right">
            <option>CPA</option>
            <option>CPA</option>
            <option>CPA</option>
            <option>CPA</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-7 result-container clearfix">
        <div class="result-item-container">
            <div class="content-panel result-item">
                <div class="result-header">
                    <h4><i class="icon-result-info pull-right"></i> ALB</h4>
                </div>
                <div class="result-value">
                    <dl class="result-change">
                        <dt>76.17</dt>
                        <dd><i class="icon-result-up pull-left"></i><span class="pull-left">1.29</span></dd>
                    </dl>
                </div>
                <ul class="unstyled info-list pull-left">
                    <li><span class="pull-right">EDU123</span><strong>Source:</strong></li>
                    <li><span class="pull-right">1st July 2014</span><strong>Showing Result:</strong> </li>
                </ul>
                <div class="result-footer">
                    <i class="icon-circle-arrow pull-right"></i>
                    <p>View More Details</p>
                </div>
            </div>
        </div>
        <aside class="col-md-5 historical-data">
            <div class="info-header">
                <p>Click <i class="icon-graph-tiny"></i> to highlight result</p>
            </div>
            <div class="faux-table">
                <div class="table-head accordion-title-row">
                    <div class="hidden">ID</div>
                    <div class="head-item accordion-title-text "><span>Date Taken</span></div>
                    <div class="head-item accordion-title-text "><span>Date Taken</span></div>
                    <div class="head-item accordion-title-text "><span>Source</span></div>
                </div>
            </div>
        </aside>
    </div>
</div>