<!-- TODO: put in main styles -->
<style>
    .faux-row.active div.row-item {
        color: #368DE8;
        background: #eee;
    }
    .faux-row {
        cursor: pointer;
    }
</style>

<div class="header-select row">
    <div class=" col-md-7">
        <h1>Showing results: <span class="blue-text">{{observationHeading.heading}}</span></h1>
    </div>
    <div class="col-md-5">
        <select class="form-control pull-right" ng-model="selectedCode"
            ng-options="observationHeading.code as observationHeading.heading for observationHeading in observationHeadings"
            ng-change="changeObservationHeading(selectedCode)" >
        </select>
    </div>
</div>

<div class="row result-detail-panel" ng-show="!loading && observations">
    <div class="col-md-7 result-container clearfix">
        <div class="result-item-container" ng-show="selectedObservation">
            <div class="content-panel result-item">
                <div class="result-header">
                    <a href="{{observationHeading.infoLink | addhttpFilter}}" target="_blank"
                       ng-show="observationHeading.infoLink">
                        <i class="icon-result-info pull-right"></i>
                    </a>
                    <ul class="unstyled info-list pull-left">
                        <li><strong>Showing Result:</strong> {{selectedObservation.applies | date:'dd-MMM-yyyy'}}</li>
                    </ul>
                </div>
                <div class="result-value clearfix">
                    <dl class="result-change">
                        <dt>{{selectedObservation.value}}<span ng-show="result.units">{{selectedObservation.units}}</span></dt>
                        <!--<dd><i class="icon-result-up pull-left"></i><span class="pull-left">1.29</span></dd>-->
                    </dl>
                </div>
                <ul class="unstyled inline info-list pull-left">
                    <li><strong>Source:</strong> {{selectedObservation.group.name}}</li>
                    <li ng-show="selectedObservation.units"><strong>Units:</strong> {{selectedObservation.units}}</li>
                </ul>
                <div class="result-comment pull-left" ng-show="selectedObservation.comments">
                    <label>Comments</label>
                    <p ng-show="selectedObservation.comments">{{selectedObservation.comments}}</p>
                    <!--todo: james need to hookup this so it shows when there are no comments-->
                    <p ng-show="selectedObservation.comments.length == 0">There are no associated comments to show</p>
                </div>
                <!--<div class="result-footer">
                    <i class="icon-circle-arrow pull-right"></i>
                    <p>View More Details</p>
                </div>-->
            </div>
        </div>

        <div class="result-graph" ng-show="!chartLoading">
            <div class="content-panel">
                <div class="content-inner">
                    <div google-chart chart="chart" on-select="graphClicked()" on-ready="readyHandler(chartWrapper)"></div>
                </div>
            </div>
        </div>
    </div>
    <aside class="col-md-5 historical-data">
        <div class="info-header blue">
            <p>Click <i class="icon-graph-tiny"></i> to highlight result</p>
        </div>
        <div class="faux-table three-col">
            <div class="table-head accordion-title-row">
                <div class="hidden">ID</div>
                <div class="head-item accordion-title-text plot-this"></div>
                <div class="head-item accordion-title-text "><span>Date Taken</span></div>
                <div class="head-item accordion-title-text "><span>Value</span></div>
                <div class="head-item accordion-title-text "><span>Source</span></div>
            </div>
            <!--Table Body-->
            <div class="item-header">
                <div class="faux-row" ng-repeat="observation in observations" ng-click="observationClicked(observation)"
                     ng-class="{active: observation.temporaryUuid === selectedObservation.temporaryUuid}">
                    <div class="row-item hidden">{{observation.id}}</div>
                    <div class="row-item accordion-heading-text plot-this"><i class="icon-plot-this"></i></div>
                    <div class="row-item accordion-heading-text">{{observation.applies | date: 'dd-MMM-yyyy'}}</div>
                    <div class="row-item accordion-heading-text">{{observation.value}}</div>
                    <div class="row-item accordion-heading-text">{{observation.group.code}}</div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </aside>
</div>
<div class="row result-detail-panel" ng-show="!loading && !observations">
    <h3>No {{observationHeading.heading}} Results Found</h3>
</div>
<div ng-show="loading" class="container"><br/><br/>
    <div ng-show="loading" class="loading"><img src="images/loading.gif" alt="Loading"/></div>
</div>
