<div data-ng-show="!loading">
    <h1>Enter Your Own Results
        <ul class="unstyled inline pull-right">
            <li><a href="/#/resultsedit" class="btn blue pull-right" data-ng-show="!loading">Edit Own Results</a></li>
            <li><a href="/#/results" class="btn blue pull-right" data-ng-show="!loading">Back to Results Home</a></li>
        </ul>
    </h1>

    <div class="row">
        <div class="col-md-12">
            <p>You can enter your own results and these will appear in the same places as those sent to
                PatientView by your unit.<br/>
                <a href="http://rixg.org/patientview2/howto/user-guide-for-patients/#Entering_your_own_results" target="_blank">Explain how to do this.</a>
            </p>

        </div>
    </div>
    <div class="content-panel" data-ng-show="resultClusters.length && !loading">
        <div class="content-inner">

            <div class="alert alert-success" data-ng-show="successMessage">{{successMessage}}</div>

            <!-- patient result entry form -->
            <div class="row">
                <div class="col-md-12">
                    <h4>Step 1:</h4>
                    <p class="instructions">Select the cluster of results you wish to enter and click "Add"
                    <br/>For multiple results click "Add" multiple times</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <select class="form-control" data-ng-model="selectedResultCluster"
                            data-ng-options="resultCluster as resultCluster.name for resultCluster in resultClusters">
                    </select>
                </div>
                <div class="col-md-6">
                    <a href="" data-ng-click="addResultCluster(selectedResultCluster)" class="btn blue" data-ng-disabled="dialysis">Add</a>
                </div>
            </div>

            <div class="row" data-ng-show="userResultClusters.length">
                <hr/>
                <div class="col-md-12">
                    <h4>Step 2:</h4>
                    <p class="instructions">Enter result(s) along with the date/time of each result.
                        <span data-ng-show="!dialysis">Not all values need to be entered if they aren't available.</span>
                        <span data-ng-show="dialysis">All values except comments are required and must be entered prior to clicking Save.</span>
                    </p>
                </div>
            </div>

            <div data-ng-repeat="userResultCluster in userResultClusters">
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Now Entering: &nbsp;<span class="result-cluster-name">{{userResultCluster.resultCluster.name}}</span>
                        <a href="" data-ng-click="removeUserResultCluster(userResultCluster)" class="btn negative pull-right">Remove this result</a>
                        </h4>
                    </div>
                </div>
                <div class="row inline-row enter-results-row">
                    <div class="col-md-12">
                        <span class="inline-span"> Date of result(s): &nbsp;</span>
                        <select class="form-control date-input" data-ng-model="userResultCluster.day"
                            data-ng-options="day as day for day in days">
                        </select>
                        <select class="form-control date-input" data-ng-model="userResultCluster.month"
                            data-ng-options="month as month for month in months">
                        </select>
                        <select class="form-control date-input" data-ng-model="userResultCluster.year"
                            data-ng-options="year as year for year in years">
                        </select>
                        <span class="inline-span"> &nbsp; &nbsp; Time: &nbsp;</span>
                        <select class="form-control date-input" data-ng-model="userResultCluster.hour"
                            data-ng-options="hour as hour for hour in hours">
                        </select>
                        <select class="form-control date-input" data-ng-model="userResultCluster.minute"
                            data-ng-options="minute as minute for minute in minutes">
                    </select>
                    </div>
                </div>
                <div class="row inline-row enter-results-row" data-ng-if="userResultCluster.resultCluster.id != 3 && !dialysis">
                    <div class="col-md-12">
                        <span data-ng-repeat="clusterObservation in userResultCluster.resultCluster.resultClusterObservationHeadings" class="results-enter">
                            <span>{{getObservationHeadingPlaceholder(clusterObservation.observationHeading)}}: </span>
                            <input type="text" data-ng-model="userResultCluster.values[clusterObservation.observationHeading.id]"
                                class="form-control input-value" only-num-decimal/>
                        </span>
                    </div>
                </div>

                <div data-ng-if="userResultCluster.resultCluster.id == 3 && dialysis">

                    <div class="row inline-row enter-results-row">
                        <div class="col-md-12">

                        <span class="results-enter">
                            <span>Hours: </span>
                            <input type="number" data-ng-model="userResultCluster.HdHours"
                                   class="form-control input-value"
                                   min="0" max="99" ng-pattern="/\d+/" required placeholder="0-99" />
                        </span>

                         <span class="results-enter">
                            <span>Location: </span>
                            <select data-ng-model="userResultCluster.HdLocation" class="form-control input-value">
                                <option value="Annex">Annex</option>
                                <option value="Home">Home</option>
                                <option value="Main">Main</option>
                                <option value="Self">Self</option>
                            </select>
                        </span>
                        <span class="results-enter">
                            <span>Eprex (iu): </span>
                            <input type="number" data-ng-model="userResultCluster.eprex"
                                   class="form-control input-value"
                                   min="0" max="99999" ng-pattern="/\d+/" required placeholder="0-99999" />
                        </span>
                        </div>
                    </div>


                    <div class="row inline-row enter-results-row">
                        <div class="col-md-12">

                        <span class="results-enter">
                            <span>Target Weight (kg): </span>
                            <input type="number" data-ng-model="userResultCluster.TargetWeight"
                                   class="form-control input-value"
                                   min="0" max="999.9" step="0.1" ng-pattern="/^\d+(\.\d{1})?$/" required placeholder="0-999.9" />
                        </span>
                         <span class="results-enter">
                            <span>Pre Weight (kg): </span>
                            <input type="number" data-ng-model="userResultCluster.PreWeight"
                                   class="form-control input-value"
                                   min="0" max="999.9" step="0.1" ng-pattern="/^\d+(\.\d{1})?$/" required placeholder="0-999.9" />
                        </span>
                        <span class="results-enter">
                            <span>Post Weight (kg): </span>
                            <input type="number" data-ng-model="userResultCluster.PostWeight"
                                   class="form-control input-value"
                                   min="0" max="999.9" step="0.1" ng-pattern="/^\d+(\.\d{1})?$/" required placeholder="0-999.9" />
                        </span>
                        <span class="results-enter">
                            <span>UF Volume (mL): </span>
                            <input type="number" data-ng-model="userResultCluster.UfVolume"
                                   class="form-control input-value"
                                   min="0" max="9999" ng-pattern="/\d+/" required placeholder="0-9999" />
                        </span>
                        </div>
                    </div>

                    <div class="row inline-row enter-results-row">
                        <div class="col-md-12">

                        <span class="results-enter">
                            <span>Pulse (bpm): </span>
                            <input type="number" data-ng-model="userResultCluster.pulse"
                                   class="form-control input-value"
                                   min="0" max="999" ng-pattern="/\d+/" required placeholder="0-999" />
                        </span>
                        <span class="results-enter">
                            <span>Pre BP systolic: </span>
                            <input type="number" data-ng-model="userResultCluster.PreBpsys"
                                   class="form-control input-value"
                                   min="0" max="999" ng-pattern="/\d+/" required placeholder="0-999" />
                        </span>
                        <span class="results-enter">
                            <span>/diastolic: </span>
                            <input type="number" data-ng-model="userResultCluster.PreBpdia"
                                   class="form-control input-value"
                                   min="0" max="999" ng-pattern="/\d+/" required placeholder="0-999" />
                        </span>
                        <span class="results-enter">
                            <span>Post BP systolic: </span>
                            <input type="number" data-ng-model="userResultCluster.PostBpsys"
                                   class="form-control input-value"
                                   min="0" max="999" ng-pattern="/\d+/" required placeholder="0-999" />
                        </span>
                        <span class="results-enter">
                            <span>/diastolic: </span>
                            <input type="number" data-ng-model="userResultCluster.PostBpdia"
                                   class="form-control input-value"
                                   min="0" max="999" ng-pattern="/\d+/" required placeholder="0-999" />
                        </span>
                        <span class="results-enter">
                            <span>Symptomatic Hypotension: </span>
                            <select data-ng-model="userResultCluster.hypotension" class="form-control input-value">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </span>
                        </div>
                    </div>

                    <div class="row inline-row enter-results-row">
                        <div class="col-md-12">

                         <span class="results-enter">
                            <span>Body Temp (°C): </span>
                            <input type="number" data-ng-model="userResultCluster.BodyTemperature"
                                   class="form-control input-value"
                                   min="0" max="99.9" step="0.1" ng-pattern="/^\d+(\.\d{1})?$/" required placeholder="0-99.9" />
                        </span>

                         <span class="results-enter">
                            <span>BPS: </span>
                            <input type="number" data-ng-model="userResultCluster.bps"
                                   class="form-control input-value"
                                   min="0" max="999" ng-pattern="/\d+/" required placeholder="0-999" />
                        </span>
                        <span class="results-enter">
                            <span>Dial Flow: </span>
                            <input type="number" data-ng-model="userResultCluster.DialFlow"
                                   class="form-control input-value"
                                   min="0" max="999" ng-pattern="/\d+/" required placeholder="0-999" />
                        </span>
                        <span class="results-enter">
                            <span>Litres Processed: </span>
                            <input type="number" data-ng-model="userResultCluster.LitresProcessed"
                                   class="form-control input-value"
                                   min="0" max="99.9" step="0.1" ng-pattern="/^\d+(\.\d{1})?$/" required placeholder="0-99.9" />
                        </span>

                        </div>
                    </div>
                </div>

                <div class="row enter-results-row">
                    <div class="col-md-12">
                        <span>Comments:</span>
                        <input type="text" data-ng-model="userResultCluster.comments" class="form-control input-comments"/>
                    </div>
                </div>
            </div>

            <div class="row" data-ng-show="!userDataValid()">
                <hr/>
                <div class="col-md-12">
                    <h4 class="blue-text">Please make sure you have entered a correct date and at least one result for each set of results</h4>
                </div>
            </div>

            <div class="row" data-ng-show="userResultClusters.length">
                <div class="col-md-12">
                    <h4>Step 3:</h4>
                    <p class="instructions">Once you have finished adding your results, you must click Save to submit your results
                        or Cancel to discard them.</p>
                </div>
            </div>

            <div class="row" data-ng-show="userResultClusters.length">
                <div class="col-md-12">
                    <a href="" data-ng-click="save()" class="btn blue" data-ng-disabled="!userDataValid()">Save</a> &nbsp;
                    <a href="" data-ng-click="cancel()" class="btn negative">Cancel</a>
                </div>
            </div>

        </div>
    </div>

    <div data-ng-show="!resultClusters.length && !loading">
        <h4>You cannot currently enter your own results as it has not been enabled</h4>
    </div>
</div>

<div data-ng-show="loading" class="container"><br/><br/>
    <div class="loading">
        <h3><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading Enter Your Own Results</h3>
    </div>
</div>