<!-- delete result modal template -->
<script type="text/ng-template" id="deleteResultModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete value for {{observationHeading.heading}}</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure? This will delete entered value <strong>{{observation.value}}</strong> for result
            {{observationHeading.heading}}.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-grey" data-ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" data-ng-click="ok()">Delete</button>
    </div>
</script>

<div class="header-select row">
    <div class=" col-md-8">
        <h1>
            <a href="/#/resultsenter" class="btn blue pull-left back-to-results">
                Enter Your Results
            </a>
            <button class="btn blue pull-left back-to-results" data-ng-click="viewDialysisResults()"
                    data-ng-if="dialysisResults.length && !loading">
                Dialysis Results
            </button>
            <span data-ng-if="dialysis">
                <span class="blue-text">Dialysis Results</span>
            </span>
            <div data-ng-if="observationHeading && observationHeadings.length && !loading && !dialysis">
                <span class="blue-text">{{observationHeading.heading}}</span>
            </div>
        </h1>
    </div>
    <div class="col-md-2" data-ng-if="observationHeadings.length && !loading">
        <h3 class="select-title">Select Result:</h3>
    </div>
    <div class="col-md-2" data-ng-if="observationHeadings.length && !loading">
        <select class="form-control pull-right" data-ng-model="selectedCode"
                data-ng-options="observationHeading.code as observationHeading.heading for observationHeading in observationHeadings | orderBy:'heading'"
                data-ng-change="changeObservationHeading(selectedCode)">
        </select>
    </div>
</div>
<div class="alert alert-success" data-ng-show="successMessage">{{successMessage}}</div>
<div class="page-content">
    <!-- data grid -->
    <div class="faux-table four-col" data-ng-cloak data-ng-if="tableObservations.length && !loading && !dialysis">
        <!-- header -->
        <div class="accordion-title-row table-head">
            <div class="hidden">ID</div>
            <div class="head-item accordion-title-text "><span>Date Taken</span></div>
            <div class="head-item accordion-title-text "><span>Value</span></div>
            <div class="head-item accordion-title-text "><span>Source</span></div>
            <div class="head-item accordion-title-text "></div>
        </div>

        <!--Table Body-->
        <div class="item-header" data-ng-repeat="observation in tableObservations">
            <div class="faux-row">
                <div class="row-item hidden">{{observation.logicalId}}</div>
                <div class="row-item accordion-heading-text">{{observation.appliesFormatted}}</div>
                <div class="row-item accordion-heading-text">{{observation.comparator}}{{observation.value}}</div>
                <div class="row-item accordion-heading-text">{{observation.group.shortName}}</div>
                <div class="row-item actions">
                    <!-- Edit, Actions dropdown buttons -->
                    <div class="btn-group" data-ng-if="observation.editable" >
                        <button type="button" class="btn blue edit-button" data-ng-click="opened(observation)" data-ng-disabled="!observation.editable">Edit</button>
                        <button type="button" class="btn negative" data-ng-click="remove(observationHeading, observation)" data-ng-disabled="!observation.editable">Del</button>
                    </div>
                    <div class="btn-group" data-ng-if="!observation.editable" >
                         <span class="badge badge-small warning"></span> Not editable
                    </div>
                </div>
            </div>
            <!-- edit pane -->
            <div class="panel-body" data-ng-show="observation.showEdit">
                <div data-ng-show="observation.editLoading" class="loading">
                    <img src="images/loading.gif" alt="Loading"/>
                    <p class="text-center" >
                        <br/>Please be patient while we retrieve data ...
                    </p>
                </div>
                <div data-ng-show="!observation.editLoading">
                    <form name="resultForm" class="edit-code">
                        <div data-ng-include src="'views/partials/resultdetails.html'" data-ng-controller="ResultsEditCtrl"></div>
                    </form>
                    <div class="panel-body-footer">
                        <button class="btn btn-grey close-edit" data-ng-click="observation.showEdit = false">Close</button>
                        <button class="btn btn-primary pull-right" data-ng-click="save()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- data grid for dialysis results-->
    <div class="faux-table four-col" data-ng-cloak data-ng-if="dialysisResults.length && dialysis">
        <!-- header -->
        <div class="accordion-title-row table-head">
            <div class="hidden">ID</div>
            <div class="head-item accordion-title-text "><span>Date Taken</span></div>
            <div class="head-item accordion-title-text "><span>Result</span></div>
            <div class="head-item accordion-title-text "><span>Value</span></div>
            <div class="head-item accordion-title-text "><span>Source</span></div>
        </div>

        <!--Table Body-->
        <div class="item-header" data-ng-repeat="observation in dialysisResults">
            <div class="faux-row">
                <div class="row-item hidden">{{observation.logicalId}}</div>
                <div class="row-item accordion-heading-text">{{observation.appliesFormatted}}</div>
                <div class="row-item accordion-heading-text">{{observation.name}}</div>
                <div class="row-item accordion-heading-text">{{observation.comparator}}{{observation.value}} {{observation.units}}</div>
                <div class="row-item accordion-heading-text">{{observation.group.shortName}}</div>
            </div>
        </div>
    </div>

    <div class="alert alert-warning" data-ng-show="!observationHeadings.length && !loading">No patient entered results found</div>
    <div class="alert alert-warning" data-ng-show="!tableObservations.length && observationHeadings.length && !loading">Please make a selection</div>
</div>
<div data-ng-show="loading" class="container">
    <div class="loading">
        <h3><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading Your Results</h3>
    </div>
</div>
