<div class="header-select row">
    <div class=" col-md-7">
        <h1>
            <a href="/#/results" class="btn blue pull-left back-to-results" data-ng-show="!loading" data-ng-if="!r">
                <i class="icon-back-to pull-left"> </i>
                Back to Results
            </a>
            <a href="/#/results?r={{r}}" class="btn blue pull-left back-to-results" data-ng-show="!loading" data-ng-if="r">
                <i class="icon-back-to pull-left"> </i>
                Back to Results
            </a>
            <span class="blue-text">{{observationHeading.heading}}</span>
        </h1>
    </div>
    <div class="col-md-3">
        <h3 class="select-title">Select Result:</h3>
    </div>
    <div class="col-md-2">
        <select class="form-control pull-right" data-ng-model="selectedCode"
            data-ng-options="observationHeading.code as observationHeading.heading for observationHeading in observationHeadings | orderBy:'heading'"
            data-ng-change="changeObservationHeading(selectedCode)" >
        </select>
    </div>
</div>

<div class="row result-detail-panel">
    <div class="col-md-7 result-container clearfix">
        <div class="result-item-container" data-ng-show="selectedObservation && !loading && observations[selectedCode]">
            <div class="content-panel result-item">
                <div class="result-header">
                    <a href="" data-ng-click="openObservationHeadingInformation(observationHeading)" class="pull-right">
                        <span class="info-link pull-right">About test</span>
                    </a>
                    <ul class="unstyled info-list">
                        <li><strong>Showing <span class="result-text">Result:</span></strong> {{selectedObservation.applies | date:'dd-MMM-yyyy'}}</li>
                    </ul>
                </div>
                <div class="result-value clearfix" data-ng-show="selectedCode !== 'resultcomment'">
                    <dl class="result-change">
                        <dt>{{selectedObservation.comparator}}{{selectedObservation.value}}
                            <span data-ng-show="observationHeading.units">{{observationHeading.units}}</span>
                        </dt>
                        <dd data-ng-show="getResultIcon(getValueChanged(selectedObservation)) && selectedCode !== 'resultcomment'">
                            <i class="{{getResultIcon(getValueChanged(selectedObservation))}} pull-left"></i>
                            <span class="pull-left">{{removeMinus(getValueChanged(selectedObservation))}}</span>
                        </dd>
                    </dl>
                </div>
                <ul class="unstyled inline info-list pull-left">
                    <li><strong>Source:</strong> {{selectedObservation.group.name}}</li>
                </ul>
                <div class="result-comment pull-left" >
                    <label>Comments</label>
                    <p data-ng-show="selectedObservation.comments">{{selectedObservation.comments}}</p>
                    <p data-ng-show="!selectedObservation.comments">There are no associated comments to show</p>
                </div>
            </div>
        </div>

        <div class="info-header" data-ng-show="!loading && observations[selectedCode] && selectedCode !== 'resultcomment'">
            <div class="btn-group btn-group-switcher pull-right hidden">
                <a href="" data-ng-click="setRangeInDays(30)" class="btn blue" data-ng-class="{active: range==30}">30 Days</a>
                <a href="" data-ng-click="setRangeInDays(90)" class="btn blue" data-ng-class="{active: range==90}">3 Months</a>
                <a href="" data-ng-click="setRangeInDays(365.25)" class="btn blue" data-ng-class="{active: range==365.25}">1 Year</a>
                <a href="" data-ng-click="setRangeInDays(1094.75)" class="btn blue" data-ng-class="{active: range==1094.75}">3 Years</a>
                <a href="" data-ng-click="setRangeInDays(999999)" class="btn blue" data-ng-class="{active: range==999999}">All</a>
            </div>
        </div>

        <div class="content-panel chart-content-panel" data-ng-hide="selectedCode === 'resultcomment'">
            <div class="content-inner">
                <div id="chart_div"></div>
            </div>
        </div>

        <br/>

        <div class="result-item-container" data-ng-hide="loading || chartLoading || observationHeadings.length < 2">
            <div class="content-panel result-item">
                <div class="result-header">
                    <ul class="unstyled info-list">
                        <li><strong>Graph Actions</strong></li>
                    </ul>
                </div>

                <br/>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Compare Results</label>
                        <div class="col-sm-6">
                            <select class="form-control" data-ng-model="compareCode"
                                    data-ng-options="observationHeading.code as observationHeading.heading for observationHeading in observationHeadings
                                | orderBy:'heading' | addCodeFilter:codes"
                                    data-ng-change="compareResults(compareCode)">
                                <option value="">Select a result type to compare with {{observationHeading.heading}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <a href="http://rixg.org/patientview2/howto/user-guide-for-patients/#Showing_a_graph" target="_blank" >
                                <span class="info-link">Show me how</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 col-lg-offset-3">
                            <a data-ng-if="observationHeadings.length && hasBloodPressure()"
                               href="#/resultsdetail?code=bpsys&code=bpdia">Show blood pressure</a>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Scale vertically</label>
                        <div class="col-sm-9">
                            <div class="slider" slider floor='1' ceiling='200' step='1' precision='0' stickiness='0'
                                 ng-model='vscale' translate-range-fn="sliderChanged"></div>
                            <span>Reduce</span>
                            <span class="pull-right">Increase</span>
                            Value: <input ng-model="vscale" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Extend x-axis (projection)</label>
                        <div class="col-sm-6">
                            <select class="form-control" data-ng-model="xAxisRange" data-ng-change="extendXAxis(xAxisRange)">
                                <option value="6">Extend 6 months</option>
                                <option value="12">Extend 1 year</option>
                                <option value="36">Extend 3 years</option>
                                <option value="60">Extend 5 years</option>
                                <option value="120">Extend 10 years</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <a href="" target="_blank" >
                                <span class="info-link">Apply</span>
                            </a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <aside class="col-md-5 historical-data" data-ng-show="!loading && observations[selectedCode]">
        <div class="info-header blue">
            <p>Click <i class="icon-graph-tiny"></i> to select result</p>
        </div>
        <div class="faux-table three-col">
            <div class="table-head accordion-title-row">
                <div class="hidden">ID</div>
                <div class="head-item accordion-title-text plot-this"></div>
                <div class="head-item accordion-title-text "><span>Date Taken</span></div>
                <div class="head-item accordion-title-text "><span>Value</span></div>
                <div class="head-item accordion-title-text "><span>Source</span></div>
            </div>
            <!--Table Body-->
            <div class="item-header">
                <div class="faux-row" data-ng-show="!tableObservations.length">
                    <div class="row-item">
                        <p><br/><br/>No results available for this date range<br/><br/><br/><p>
                    </div>
                </div>
                <div class="faux-row" data-ng-repeat="observation in tableObservations" data-ng-click="observationClicked(observation)"
                        data-ng-class="{active: observation.temporaryUuid === selectedObservation.temporaryUuid}">
                    <div class="row-item hidden">{{observation.id}}</div>
                    <div class="row-item accordion-heading-text plot-this"><i class="icon-plot-this"></i></div>
                    <div class="row-item accordion-heading-text">{{observation.appliesFormatted}}</div>
                    <div class="row-item accordion-heading-text">{{observation.comparator}}{{observation.value}}</div>
                    <div class="row-item accordion-heading-text">{{observation.group.shortName}}</div>
                </div>
            </div>
        </div>
    </aside>
</div>
<div class="alert-block" data-ng-show="!loading && !observations">
    <h3>No {{observationHeading.heading}} Results Found</h3>
</div>
<div data-ng-show="loading" class="container"><br/><br/>
    <div data-ng-show="loading" class="loading"><img src="images/loading.gif" alt="Loading"/></div>
</div>
