<h1>Enter Your Own Results <a href="/#/results" class="btn blue pull-right" data-ng-show="!loading">Back to Results</a></h1>

<div class="content-panel" data-ng-show="resultClusters && !loading">
    <div class="content-inner">
        <!-- patient result entry form -->
        <div>

        </div>
    </div>
</div>

<div data-ng-show="!resultClusters && !loading">
    <h4>You cannot currently enter your own results</h4>
</div>

<div data-ng-show="loading" class="container"><br/><br/>
    <div data-ng-show="loading" class="loading"><img src="images/loading.gif" alt="Loading"/></div>
</div>
