<div data-ng-if="!secretWordSuccessMessage && !loading">
    <h1>Set Secret Word</h1>
    <p>A secret word adds an extra level of security when you login. You can set your secret word
        below, please choose one that is easily remembered.</p>
    <p>Once set, you will be asked to enter two characters of your secret word each time you login.</p>
    <p><strong>The minimum length for a secret word is 7 characters and must be letters not numbers.</strong></p>
</div>
<div data-ng-if="secretWordSuccessMessage && !loading">
    <h1>Secret Word Saved</h1>
    <p>You now have extra security on your PatientView account.</p>
    <div>
        <a data-ng-click="getUserInformation()" class="btn blue">Click Here to continue on to the PatientView homepage.</a>
    </div>
</div>

<form class="form-horizontal" data-ng-cloak id="set-secret-word-form" data-ng-show="!loading && !secretWordSuccessMessage">
    <div class="form-group">
        <label for="secretWord1" class="col-sm-2 control-label">Secret Word:</label>
        <div class="col-sm-4">
            <input id="secretWord1" data-ng-model="secretWord1" type="password" class="form-control" only-capital-letters/>
        </div>
    </div>

    <div class="form-group">
        <label for="secretWord2" class="col-sm-2 control-label">Confirm Secret Word:</label>
        <div class="col-sm-4">
            <input id="secretWord2" data-ng-model="secretWord2" type="password" class="form-control" only-capital-letters/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4 col-sm-offset-2">
            <button data-ng-click="saveSecretWord()" class="btn blue"
                    data-ng-disabled="!(secretWord1.length > 6
                            && secretWord2.length > 6
                            && (secretWord1 === secretWord2))">
                Set Secret Word
            </button>
        </div>
    </div>
    <div class="form-group" data-ng-show="secretWordErrorMessage">
        <div class="alert alert-danger">
            <p><strong>Error changing secret word</strong> {{secretWordErrorMessage}}</p>
        </div>
    </div>
</form>


<div data-ng-show="loading" class="container"><br/><br/>
    <div class="loading">
        <h3><img src="images/loading.gif" alt="Loading"/></h3>
    </div>
</div>