
<div class="container" ng-show="!loading" ng-cloak>
    <h1>Staff</h1>
    <br/>
    <div class="row">
        <div class="col-md-2 hidden">PageSize:
            <select data-ng-model="entryLimit" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>5</option>
            </select>
        </div>
        <div class="col-md-12">
            <div class="left-inner-addon ">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" ng-model="search" ng-change="filter()" placeholder="Search all fields..." class="form-control input-block-level" />
            </div>
        </div>
        <div class="col-md-4 hidden">
            <h5>Showing {{ filtered.length }} of {{ totalItems}} total staff users</h5>
            <h5>{{ allGroups.length }} groups available</h5>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12" data-ng-show="filteredItems > 0">
            <span class="hidden" ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit"></span>

            <div class="row accordion-title-row" ng-show="filteredItems > 0" ng-cloak>
                <div class="col-sm-1 hidden">ID</div>
                <div class="col-sm-2"><a ng-click="sortBy('username');" class="sort-title">Username&nbsp;<i class="glyphicon glyphicon-sort"></i></a></div>
                <div class="col-sm-2"><a ng-click="sortBy('email');" class="sort-title">Email&nbsp;<i class="glyphicon glyphicon-sort"></i></a></div>
                <div class="col-sm-1"></div>
            </div>

            <div accordion class="accordion" close-others="true" ng-show="filteredItems > 0" ng-cloak>
                <div accordion-group class="accordion-group" is-open="status.open" ng-repeat="user in filtered = (list | filter:search | orderBy: predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                    <div accordion-heading>
                        <div class="row" ng-click="opened(user)">
                            <div class="col-sm-1 hidden">{{user.id}}</div>
                            <div class="col-sm-2">{{user.username}}</div>
                            <div class="col-sm-2">{{user.email}}</div>
                            <div class="col-sm-7"><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-pencil': !status.open}"></i></div>
                        </div>
                    </div accordion-heading>
                    <form name="editUserForm" novalidate>
                        <div class="row">
                            <div class="col-sm-2">Username<br/><input type="text" name="input-type" ng-model="edituser.username" required ng-trim="false" class="form-control"></div>
                            <div class="col-sm-2">Email<br/><input type="text" name="input-standard" ng-model="edituser.email" required ng-trim="false" class="form-control"></div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h5>Groups &amp; Roles </h5>
                                <div class="group-list-item" ng-repeat="group in edituser.groups">
                                    <div class="group-list-name"><span class="group-list-name">{{group.name}}</span></div>
                                    <div class="group-list-role"><span class="group-list-role">{{group.role.name}}</span></div>
                                    <div class="group-list-delete"><span class="group-list-delete"><a id="remove-group-{{group.id}}" href="" ng-click="removeGroup(editUserForm, edituser, group)" >Delete</a></span></div>
                                </div>

                                <div class="group-add-container" ng-show="edituser.availableGroups.length > 0 ">
                                    <select class="form-control group-select" ng-model="groupToAdd" ng-options="group.id as group.name for group in edituser.availableGroups"></select>

                                    <div buttongroup="justified" buttongroupname="role" model="edituser.selectedRole" options="edituser.roles" ng-init="edituser.selectedRole"></div>
                                    <span class="hidden">{{edituser.selectedRole}}</span>

                                    <button type="button" class="btn btn-primary group-add-button" ng-click="addGroup(editUserForm, edituser, groupToAdd)" ng-disabled="!edituser.selectedRole">Add</button>
                                </div>
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-5">
                                <h5>Features </h5>
                                <div class="feature-list-item" ng-repeat="feature in edituser.features">
                                    <div class="feature-list-name"><span class="feature-list-name">{{feature.name}}</span></div>
                                    <div class="feature-list-delete"><span class="feature-list-delete"><a id="remove-feature-{{feature.id}}" href="" ng-click="removeFeature(editUserForm, edituser, feature)" >Delete</a></span></div>
                                </div>
                                <div class="feature-add-container" ng-show="edituser.availableFeatures.length > 0 ">
                                    <select class="form-control" ng-model="featureToAdd" ng-options="feature.id as feature.name for feature in edituser.availableFeatures"></select>
                                    <button type="button" class="btn btn-primary feature-add-button" ng-click="addFeature(editUserForm, edituser, featureToAdd)">Add</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="user-save-cancel pull-right">
                        <button type="button" class="btn btn-primary" ng-click="save(editUserForm, edituser, $index)" ng-disabled="editUserForm.$pristine">Save</button>
                        <button type="button" class="btn btn-danger" ng-click="close($index)">Cancel</button>
                    </div>
                </div accordion-group>
            </div accordion>
        </div>
        <div class="col-md-12" data-ng-show="filteredItems == 0">
            <div class="col-md-12">
                <h4>No codes found</h4>
            </div>
        </div>
        <div class="col-md-12" data-ng-show="filteredItems > 0">
            <div pagination on-select-page="setPage(page)" total-items="filteredItems" items-per-page="entryLimit" ng-model="currentPage" class="pagination-sm"></div>
        </div>
    </div>

    <!--<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add Code</h3></div>

        <div  class="panel-body">
            <form name="addCodeForm" ng-submit="add(addCodeForm.$valid, addCodeForm, newCode)" novalidate>
                <div class="row" ng-model="newCode">
                    <div class="col-sm-2">
                        Type<br/>
                        <input type="text" name="input-type" ng-model="newCode.type" required ng-trim="false" class="form-control">
                        <p ng-show="!newCode.type && !addCodeForm.$pristine" class="help-block">Required.</p>
                    </div>
                    <div class="col-sm-2">Standard<br/>
                        <input type="text" name="input-standard" ng-model="newCode.standard" required ng-trim="false" class="form-control">
                        <p ng-show="!newCode.standard && !addCodeForm.$pristine" class="help-block">Required</p>
                    </div>
                    <div class="col-sm-2">Number<br/>
                        <input type="text" name="input-number" ng-model="newCode.number" required ng-trim="false" class="form-control">
                        <p ng-show="!newCode.number && !addCodeForm.$pristine" class="help-block">Required</p></div>
                    <div class="col-sm-4">Description<br/>
                        <input type="text" name="input-description" ng-model="newCode.description" required ng-trim="false" class="form-control">
                        <p ng-show="!newCode.description && !addCodeForm.$pristine" class="help-block">Required</p></div>
                    <div class="col-sm-1"><br/><button type="submit" class="btn btn-primary" ng-disabled="addCodeForm.$invalid">Add Code</button></div>
                </div>
            </form>
        </div>
    </div>-->
</div>

<div ng-show="loading" class="container"><br/><br/>
    <div ng-show="loading" class="loading"><img src="images/loading.gif" alt="Loading"/></div></div>