<div class="hider" ng-show="status.open"></div>

<div class="container" ng-show="!loading" ng-cloak>
    <h1>Staff</h1>
    <br/>

    <!-- angular modal directive -->
    <div ng-controller="StaffModalCtrl">
        <script type="text/ng-template" id="newUserModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Create New Staff User</h3>
            </div>
            <div class="modal-body">
                <form name="userForm" novalidate ng-model="newUser">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="new-user-username" class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10"><input type="text" class="form-control" id="new-user-username" placeholder="Username" ng-model="newUser.username" ></div>
                        </div>
                        <div class="form-group">
                            <label for="new-user-email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10"><input type="text" class="form-control" id="new-user-email" placeholder="Email" ng-model="newUser.email" ></div>
                        </div>
                        <div class="form-group">
                            <label for="new-user-fullname" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10"><input type="text" class="form-control" id="new-user-fullname" placeholder="Name" ng-model="newUser.fullname" ></div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6 grey-right-border">
                            <h5 class="inner-title">Groups &amp; Roles </h5>
                            <div class="group-list-item" ng-repeat="group in newUser.groups">
                                <div class="group-list-name"><span class="group-list-name">{{group.name}}</span></div>
                                <div class="group-list-delete"><span class="group-list-delete"><a id="remove-group-modal-{{group.id}}" href="" ng-click="removeGroup(userForm, newUser, group)" >Delete</a></span></div>
                                <div class="group-list-role" ng-repeat="role in newUser.roles" ng-class="(role.id==group.role.id) ? 'group-list-role-selected' : ''"><span class="group-list-role">{{role.name}}</span></div>
                            </div>
                            <div class="group-add-container" ng-show="newUser.availableGroups.length > 0 ">
                                <h5 class="inner-title">Add Group &amp; Role </h5>
                                <div class="row">
                                    <div class="col-sm-10"><select class="form-control group-select" ng-model="groupToAdd" ng-options="group.id as group.name for group in newUser.availableGroups"></select>
                                        <div buttongroup="justified" buttongroupname="role" model="newUser.selectedRole" options="newUser.roles" ng-init="newUser.selectedRole"></div></div>
                                    <div class="col-sm-2"><button type="button" class="btn btn-primary group-add-button" ng-click="addGroup(userForm, newUser, groupToAdd)" ng-disabled="!newUser.selectedRole">Add</button></div>
                                </div>
                                <span class="hidden">{{newUser.selectedRole}}</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="inner-title">Features</h5>
                            <div class="feature-list-item" ng-repeat="feature in newUser.features">
                                <div class="feature-list-name"><span class="feature-list-name">{{feature.name}}</span></div>
                                <div class="feature-list-delete"><span class="feature-list-delete"><a id="remove-feature-modal-{{feature.id}}" href="" ng-click="removeFeature(userForm, newUser, feature)" >Delete</a></span></div>
                            </div>
                            <div class="feature-add-container" ng-show="newUser.availableFeatures.length > 0 ">
                                <h5 class="inner-title">Add Feature </h5>
                                <div class="row">
                                    <div class="col-sm-10"><select class="form-control feature-select" ng-model="featureToAdd" ng-options="feature.id as feature.name for feature in newUser.availableFeatures"></select></div>
                                    <div class="col-sm-2"><button type="button" class="btn btn-primary feature-add-button" ng-click="addFeature(userForm, newUser, featureToAdd)">Add</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-grey" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="ok()">Create New</button>
            </div>
        </script>
        <button class="btn btn-primary" ng-click="open('lg')">Create New</button>
    </div>

    <!-- Filter -->
    <br/>
    <h2>Filter</h2>
    <div class="row">
        <div class="col-md-2 hidden">PageSize:
            <select data-ng-model="entryLimit" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>5</option>
            </select>
        </div>
        <div class="col-md-12">
            <div class="left-inner-addon ">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" ng-model="search" ng-change="filter()" placeholder="Search all fields..." class="form-control input-block-level" />
            </div>
        </div>
        <div class="col-md-4 hidden">
            <h5>Showing {{ filtered.length }} of {{ totalItems}} total staff users</h5>
            <h5>{{ allGroups.length }} groups available</h5>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-primary" ng-click="filterByRole('all')">All</button>
            <button class="btn btn-primary" ng-click="filterByRole('admin')">Admin</button>
            <button class="btn btn-primary" ng-click="filterByRole('staff')">Staff</button>
        </div>
        <div class="col-md-9">
            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-12">
                        <!--<select class="form-control group-select" ng-options="group.id as group.name for group in allGroups" id="filter-group"></select>-->
                        <div class="btn-group" id="filter-group" data-ng-class="{open: open}">
                            
                            <button class="btn dropdown-toggle" data-ng-click="open=!open">Filter By Group <span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <li><a data-ng-click="selectedGroup=[];" class="a-filter-group"><i class="glyphicon glyphicon-remove"></i>  Uncheck All</a>
                                </li>
                                <li class="divider"></li>
                                <li data-ng-repeat="group in allGroups"> <a data-ng-click="setSelectedGroup()" class="a-filter-group"><span class="pull-left">{{group.name}}</span><span data-ng-class="isChecked(group.id)"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- data grid -->
    <br/>
    <div class="row">
        <div class="col-md-12" data-ng-show="filteredItems > 0">
            <span class="hidden" ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit"></span>
            <div class="row accordion-title-row" ng-show="filteredItems > 0" ng-cloak>
                <div class="col-sm-1 hidden">ID</div>
                <div class="col-sm-2 accordion-title-text "><a ng-click="sortBy('username');" class="sort-title">Username&nbsp;<i class="glyphicon glyphicon-sort hidden"></i></a></div>
                <div class="col-sm-2 accordion-title-text "><a ng-click="sortBy('email');" class="sort-title">Email&nbsp;<i class="glyphicon glyphicon-sort hidden"></i></a></div>
                <div class="col-sm-2 accordion-title-text "><a ng-click="sortBy('fullname');" class="sort-title">Name&nbsp;<i class="glyphicon glyphicon-sort hidden"></i></a></div>
                <div class="col-sm-6"></div>
            </div>
            <div accordion class="accordion" close-others="true" ng-show="filteredItems > 0" ng-cloak> <!-- filter: {groups:[{id:filterGroupId}]} | -->
                <div accordion-group class="accordion-group" is-open="status.open" ng-repeat="user in filtered = (list | groupFilter:selectedGroup | filter:search | orderBy: predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                        <div accordion-heading>
                            <div class="row" ng-click="opened(user, $event)">
                                <div class="col-sm-1 hidden">{{user.id}}</div>
                                <div class="col-sm-2 accordion-heading-text">{{user.username}}</div>
                                <div class="col-sm-2 accordion-heading-text">{{user.email}}</div>
                                <div class="col-sm-2 accordion-heading-text">{{user.fullname}}</div>
                                <div class="col-sm-6">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-primary dropdown-toggle pull-right" data-toggle="dropdown" id="dropdown-toggle-{{user.id}}">
                                            Actions&nbsp;&nbsp;<span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <button type="button" class="btn btn-primary pull-right">
                                            <span class="glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-pencil': !status.open}"></span>
                                            &nbsp;&nbsp;Edit</button>
                                        <ul class="dropdown-menu dropdown-menu-accordion" id="dropdown-toggle-{{user.id}}-menu">
                                            <li><a href="#/codes" class="dropdown-menu-accordion-item">Codes</a></li>
                                            <li><a href="#/letters" class="dropdown-menu-accordion-item">Letters</a></li>
                                            <li><a href="#/mydetails" class="dropdown-menu-accordion-item">My Details</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#" class="dropdown-menu-accordion-item">Separated link</a></li>
                                        </ul>
                                    </div>
                                    {{dropDownClicked}}
                                </div>
                            </div>
                        </div accordion-heading>
                        <form name="userForm" novalidate>
                            <div class="row">
                                <div class="col-sm-2">Username<br/><input type="text" name="input-type" ng-model="edituser.username" required ng-trim="false" class="form-control"></div>
                                <div class="col-sm-2">Email<br/><input type="text" name="input-standard" ng-model="edituser.email" required ng-trim="false" class="form-control"></div>
                                <div class="col-sm-2">Name<br/><input type="text" name="input-standard" ng-model="edituser.fullname" required ng-trim="false" class="form-control"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6 grey-right-border">
                                    <h5 class="inner-title">Groups &amp; Roles </h5>
                                    <div class="group-list-item" ng-repeat="group in edituser.groups">
                                        <div class="group-list-name"><span class="group-list-name">{{group.name}}</span></div>
                                        <div class="group-list-delete"><span class="group-list-delete"><a id="remove-group-{{group.id}}" href="" ng-click="removeGroup(userForm, edituser, group)" >Delete</a></span></div>
                                        <div class="group-list-role" ng-repeat="role in allRoles" ng-class="(role.id==group.role.id) ? 'group-list-role-selected' : ''"><span class="group-list-role">{{role.name}}</span></div>
                                    </div>
                                    <div class="group-add-container" ng-show="edituser.availableGroups.length > 0 ">
                                        <h5 class="inner-title">Add Group &amp; Role </h5>
                                        <div class="row">
                                            <div class="col-sm-10"><select class="form-control group-select" ng-model="groupToAdd" ng-options="group.id as group.name for group in edituser.availableGroups"></select>
                                                <div buttongroup="justified" buttongroupname="role" model="edituser.selectedRole" options="edituser.roles" ng-init="edituser.selectedRole"></div></div>
                                            <div class="col-sm-2"><button type="button" class="btn btn-primary group-add-button" ng-click="addGroup(userForm, edituser, groupToAdd)" ng-disabled="!edituser.selectedRole">Add</button></div>
                                        </div>
                                        <span class="hidden">{{edituser.selectedRole}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h5 class="inner-title">Features </h5>
                                    <div class="feature-list-item" ng-repeat="feature in edituser.features">
                                        <div class="feature-list-name"><span class="feature-list-name">{{feature.name}}</span></div>
                                        <div class="feature-list-delete"><span class="feature-list-delete"><a id="remove-feature-{{feature.id}}" href="" ng-click="removeFeature(userForm, edituser, feature)" >Delete</a></span></div>
                                    </div>
                                    <div class="feature-add-container" ng-show="edituser.availableFeatures.length > 0 ">
                                        <h5 class="inner-title">Add Feature </h5>
                                        <div class="row">
                                            <div class="col-sm-10"><select class="form-control feature-select" ng-model="featureToAdd" ng-options="feature.id as feature.name for feature in edituser.availableFeatures"></select></div>
                                            <div class="col-sm-2"><button type="button" class="btn btn-primary feature-add-button" ng-click="addFeature(userForm, edituser, featureToAdd)">Add</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <div class="user-save-cancel pull-right">
                            <button type="button" class="btn btn-grey" ng-click="status.open = !status.open">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="save(userForm, edituser, $index)" ng-disabled="userForm.$pristine">Save</button>
                        </div>

                </div accordion-group>
            </div accordion>
        </div>
        <div class="col-md-12" data-ng-show="filteredItems == 0">
            <div class="col-md-12">
                <h4>No users found</h4>
            </div>
        </div>
        <div class="col-md-12" data-ng-show="filteredItems > 0">
            <div pagination on-select-page="setPage(page)" total-items="filteredItems" items-per-page="entryLimit" ng-model="currentPage" class="pagination-sm" ng-hide="filteredItems < entryLimit "></div>
        </div>
    </div>
</div>

<div ng-show="loading" class="container"><br/><br/>
<div ng-show="loading" class="loading"><img src="images/loading.gif" alt="Loading"/></div></div>