<h1>Terms and Conditions</h1>

<div class="content-panel">
<div class="content-inner">
    <h3>Summary</h3>
    <p>If you use PatientView you must agree to the terms and conditions detailed here.</p>
    <p>It is important for you to know how PatientView handles information communicated via the Internet. This Terms &
        Conditions statement outlines PatientView’s practices regarding your right to privacy, as well as specific
        information about how the PatientView system differs from other websites you might use.</p>
    <h3>Information About Us</h3>
    <p>PatientView (www.patientview.org) is operated by the Renal Association (www.renal.org) (‘we’ or ‘us’). We are a
        registered charity (number 800733), and a company limited by guarantee registered in England and Wales under
        company number 2229663. Our registered office is at Durford Mill, Petersfield, Hampshire, GU31 5AZ.  More
        information about PatientView is at or linked from <a href="http://www.renal.org/rpv" target="_blank">
            www.renal.org/rpv</a>.
    <h3>Confidentiality and security</h3>
    <p>PatientView is a secure online source of confidential medical information. If you share your PatientView ID and
        password/secret word with someone, they will be able to view your information.</p>
    <p>It is your responsibility to select a confidential password/secret word, to maintain your password/secret word in a secure manner, and to
        change your password/secret word if you believe it may have been compromised in any way.</p>
    <p>If you are accessing PatientView on behalf of a patient, or at the request of a patient, you must understand that
        the information shown is confidential and that you could be breaking the law if you disclose it to others
        without the patient’s permission.</p>
    <p>Malicious software, often referred to as "spyware," "adware," "malware," or "viruses" may compromise the security
        of the connection between your computer and the PatientView server. You should take reasonable precautions to
        ensure any computer accessing the PatientView server is free of such software. This may be accomplished by
        installing security software to detect malicious software, or taking other steps to safeguard the security of
        the computer as instructed by a computer specialist.</p>
    <h3>The service</h3>
    <p>PatientView is provided for the benefit of patients. Participation is voluntary. An Internet connection and email
        address are required to use it.</p>
    <p>We try to keep the service 100% available, but cannot guarantee that PatientView will be available all the time.
        System unavailability may occur at any time, but we will give notice when we can predict significant
        interruptions.</p>
    <h3>Accuracy of information</h3>
    <p>Almost all of the information shown on PatientView comes from records held on computer systems elsewhere. From
        time to time errors do occur. If you suspect errors, the first place to check is with your local unit. If errors
        are corrected locally, this should trigger their automatic correction on PatientView, usually within 24h of the
        correction being made on local computer systems. If this does not happen you should contact your local
        PatientView administrator.</p>
    <h3>Origin and completeness of information</h3>
    <p>PatientView contains information from your medical records held in different places, but it is not the complete
        contents of your medical record. We update the information sources and amount of information shown in response
        to new requests, after consultation.</p>
    <h3>Changes</h3>
    <p>The capabilities within the PatientView system may change, based on the development roadmap, patient feedback or
        other factors. Notices or messages will be posted indicating major changes to the system.</p>
    <h3>Response to Electronic Communication</h3>
    <p>Your local unit will make its best effort to provide a timely response to electronic inquiries. In some cases,
        the staff that respond to an electronic inquiry or other communication may not be immediately available.
        Accordingly, emergency situations requiring immediate attention should not be submitted electronically.</p>
    <h3>Website Links</h3>
    <p>PatientView offers links to websites not managed by PatientView. These links are for your information only. They
        are chosen carefully, but content may change, and we are not responsible for the accuracy of their information.
        You should not rely entirely on the information found on any website for purposes of treatment or diagnosis.</p>
    <h3>Patients under 18</h3>
    <p>Competent children may request a personal account. The age at which a parent or guardian’s approval is required
        for a child to have direct access varies in different jurisdictions. The maximum age where approval is required
        is normally regarded as under 18 or under 16 years.</p>
    <p>Parents may request access to a younger child's account. They may choose to share access with the child.</p>
    <h3>Revoking access</h3>
    <p>Your access to the system can be revoked. We will not do that without good reason.</p>
    <h3>Electronic Privacy</h3>
    <p>You may be notified via e-mail, SMS or other electronic means when there is new medical information to be viewed
        in your PatientView account. This means that any person with access to your e-mail or device(s) will be able to
        see this notification. Although no private medical information will be sent via these means, the notification
        that new medical information is available may be information that you would not want others to know.</p>
    <p>If you send communication about your condition via PatientView, it may be shared with the staff involved in
        providing your medical care, with the same precautions and sensitivity as for information received by other
        routes.</p>
    <p>Entries that you or staff make (e.g. messages, results) may become part of your healthcare record.</p>
    <p>PatientView keeps  a log of user activity for security reasons.  This is so that we can show when anyone’s record
        has been accessed, and who by.  These activity records are confidential.  Anonymised analysis of these logs may
        be undertaken to understand how the service is used, and how to improve it.  There is some further information
        about this and related issues in our <a href="#/privacy" target="_blank">privacy statement.</a></p>
    <h3>Security and Confidentiality</h3>
    <p>We are committed to protecting the confidentiality of your medical information. PatientView limits staff’s access
        and ability to enter or view information based upon their role in your care. Firewalls, passwords, secret words, encryption,
        audit trails, and external testing are further used to safeguard your information.</p>
    <p>PatientView records the time and date any user accesses PatientView. It also monitors which records staff access.
        We have taken steps to make all information received as secure as possible against unauthorized access and
        use.</p>
    <p>PatientView must be accessed with a Secure Sockets Layer (SSL) compatible browser or terminal. PatientView’s SSL
        web server uses authentication and high levels of encryption technology.</p>
    <p>You can tell when you are securely connected to the web server by looking at the location (URL) field. If the URL
        begins with https:// (instead of http://), the document comes from a secure server. This means your data is
        encrypted, and is not easily deciphered by unauthorized parties. You can tell whether you are truly connected to
        PatientView by viewing the digital certificate. This certificate verifies the connection between the PatientView
        server's public key and the server's identification.</p>
    <p>Usernames, passwords and secret words provide three layers of authentication and passwords/secret words are stored in
        an unreadable (‘hashed’) form. As a PatientView user, keeping your information confidential depends on keeping
        your username and password/secret word confidential. It is important to make sure the password/secret word you select is easy for you to
        remember, but difficult for someone else to guess. Do not use your birth date, address, telephone number, names
        of spouses, children, family members, pets, or any other easily guessed information. Your password must be a
        minimum of 7 characters in length, ideally containing at least one number and punctuation mark. It is
        recommended you change your password/secret word on a regular basis.</p>
    <p>Remember to sign out of your account and close your browser window when you have finished your session. This is
        to help ensure that others cannot access your personal information and correspondence if you share a computer
        with someone else or are using a computer in a public place where others may have access to it.</p>
    <h3>Third-Party Sites and Services</h3>
    <p>PatientView may contain links to websites operated by other organisations ("Third Party Sites"). We do not
        control Third Party Sites and are not responsible for the content of, or any links in, any Third Party Site. We
        do not review, approve, monitor, or make any representations with respect to Third Party Sites. PatientView will
        not be responsible for the information contained in any Third Party Site or for your use of or inability to use
        such web sites. Access to any Third Party Site is at your own risk, and you acknowledge and understand that
        Third Party Sites may contain terms and privacy policies that are different from PatientView's.</p>
    <p>While you use PatientView, you may find out about services provided by organisations or companies that are not
        part of PatientView. If you decide to use such Third Party Services, you are responsible for reviewing and
        understanding their terms and conditions. The company providing the Third Party Services, and not PatientView,
        is responsible for the Third Party Services.</p>
    <h3>Limitation of Liability</h3>
    <p>We will not be liable to you or anyone else for any consequential, incidental, special or indirect damages
        (including but not limited to damages that result from use or loss of use of the patient portal and third party
        content, inconvenience or delay). This is true even if we have been advised of the possibility of such damages
        or losses.</p>
    <p>We will not be liable to you or anyone else for any loss resulting from a cause over which the Renal Association
        does not have direct control. This includes failure of electronic or mechanical equipment or communications
        lines (including telephone, cable and internet), unauthorized access, viruses, theft, operator errors, severe or
        extraordinary weather (including flood, earthquake, or other act of God), fire, war, insurrection, terrorist
        act, riot, labor dispute and other labor problems, accident, emergency or action of government.</p>
    <h3>Indemnification</h3>
    <p>As a condition of your use of PatientView, you agree to indemnify and hold the Renal Association and its third
        party providers harmless from and against any and all claims, losses, liability, costs and expenses (including
        but not limited to legal fees) arising from your use of PatientView, or from your violation of these Terms.</p>

    <h3>Viruses, Hacking and Other Offences</h3>
    <p>You must not misuse PatientView by knowingly introducing viruses, trojans, worms, logic bombs or other material
        which is malicious or technologically harmful, or by attempting to obstruct or limit access to it. You must not
        attempt to gain unauthorised access to the server(s) on which PatientView is stored or any server, computer or
        database connected to it.</p>
    <p>By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will
        report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities
        by disclosing your identity to them. In the event of such a breach, your right to use PatientView will cease
        immediately.</p>
    <p>We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other
        technologically harmful material that may infect your computer equipment, computer programs, data or other
        proprietary material due to your use of PatientView or to your downloading of any material posted on it, or on
        any website linked to it.</p>

    <h3>Jurisdiction and Applicable Law</h3>
    <p>The English courts will have exclusive jurisdiction over any claim arising from, or related to, a visit to our
        Site.</p>
    <p>These Website Terms and any dispute or claim arising out of or in connection with them or their subject matter or
        formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with
        the law of England and Wales.</p>

</div>
</div>