<!-- further information modal -->
<script type="text/ng-template" id="furtherInformationModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Further Information</h3>
    </div>
    <div class="modal-body">
        <p>PatientView provides secure access to your blood tests, clinic letters, medicines. You'll find tailored
            information links, from accurate and reliable sources. PV2 (2015) introduced secure messaging. We hope it
            will help you manage your condition more effectively.
        </p>
        <h4>Who can use PatientView?</h4>
        <p>Only some place and specialties can use it but this is growing. See the list
            <a href="http://rixg.org/patientview2/howto/where/" target="_blank">here</a>. If you want to
            convince your local service to join, you or they might be interested in
            <a href="http://rixg.org/patientview2/howto/become-a-partner/" target="_blank">becoming a partner</a>, or in
            <a href="http://rixg.org/patientview2/admin-and-technical/set-up-patientview-in-a-new-unit/" target="_blank">becoming a new unit of an existing specialty</a>.
        </p>
        <h4>How do I Join?</h4>
        <p>Only some centres can offer this service at present. A list is linked from the front page.</p>
        <h4>What if I don't use the Internet?</h4>
        <p>Maybe you have a friend or family member that does? There is often internet access available in public
            libraries. Please ensure when using a public computer that you always safely logout and close the web
            browser.</p>
        <h4>What does it cost?</h4>
        <p>It is free for patients. Participating centres pay a modest subscription.</p>
        <h4>Where did it come from?</h4>
        <p>There is more info about PatientView and its history at
            <a href="http://rixg.org/patientview2/" target="_blank">rixg.org/patientview</a>. See
            <a href="http://rixg.org/patientview2/about/history/" target="_blank">History</a>, or
            <a href="http://rixg.org/patientview2/howto/" target="_blank">Intro to PV</a> first.
        </p>
        <h4>If I join, can I change my mind?</h4>
        <p>Yes you can. If you do, we remove all medical data about you.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-grey" data-ng-click="close()">Close</button>
    </div>
</script>

<div class="hero-panel">
    <img class="ie-hero-image" src="../images/hero-bg-low.jpg" alt="Patient View"/>
    <div class="hero-pane col-md-4 aquamarine">
        <div class="pane-content">
            <i class="icon-hero-manage hero-icon"></i>
            <h2>Manage</h2>
            <p>your conditions and medications</p>
        </div>
    </div>
    <div class="hero-pane col-md-4 aqua">
        <div class="pane-content">
            <i class="icon-hero-monitor hero-icon"></i>
            <h2>Monitor</h2>
            <p>your symptoms and tests</p>
        </div>
    </div>
    <div class="hero-pane col-md-4 blue">
        <div class="pane-content">
            <i class="icon-hero-make hero-icon"></i>
            <h2>Message</h2>
            <p>your units</p>
        </div>
    </div>
</div>
<div class="row page-content home">
    <div class="col-md-12">
        <div class="panel-header content-panel lowlight">
            <h3><span class="badge aqua pull-left"><i class="icon-patients"></i></span> Patients</h3>
        </div>
        <div class="content-area">
            <ul class="list-unstyled image-list">
                <li class="clearfix content-panel">
                    <div class="col-md-3 one-image">
                        <img src="../images/screenshots/thumbnails/1.png" alt="Your health records at your fingertips">
                    </div>
                    <div class="col-md-9">
                        <h4>Your health records at your fingertips</h4>
                        <p>PatientView transforms the levels of visibility and control

                            you have over your personal health records. Test results

                            delivered automatically from your unit, receive letters and

                            scans electronically, keep track of all your medications,

                            receive alerts, and much more, many within 24 hours of an

                            appointment.</p>
                    </div>
                </li>
                <li class="clearfix content-panel">
                    <div class="col-md-3 two-images">
                        <img src="../images/screenshots/thumbnails/2.png" alt="Mobile-friendly, simple to use and share">
                        <img src="../images/screenshots/thumbnails/3.png" alt="Mobile-friendly, simple to use and share">
                    </div>
                    <div class="col-md-9">
                        <h4>Mobile-friendly, simple to use and share</h4>
                        <p>PatientView has been built for mobility and ease of use.

                            The menu is crisp and clean and you can access your

                            records at any point, from any location and on any mobile

                            device. Share your records with whoever you wish,

                            including family members, your GP or other health care

                            professionals.</p>
                    </div>
                </li>
                <li class="clearfix content-panel">
                    <div class="col-md-3 two-images">
                        <img src="../images/screenshots/thumbnails/4.png" alt="Enter your own results & monitor your scores">
                        <img src="../images/screenshots/thumbnails/5.png" alt="Enter your own results & monitor your scores">
                    </div>
                    <div class="col-md-9">
                        <h4>Enter your own results & monitor your scores</h4>
                        <p>In addition to the data received automatically from your

                            unit, you can keep track of readings relevant to your

                            condition. When captured these immediately form part of

                            your secure online patient record. Some patients may also

                            complete symptom scorers and other measures, all of

                            which add to the richness of data and assist clinical teams

                            with overall care.</p>
                    </div>
                </li>
                <li class="clearfix content-panel">
                    <div class="col-md-3 two-images">
                        <img src="../images/screenshots/thumbnails/6.png" alt="Send and receive messages">
                        <img src="../images/screenshots/thumbnails/7.png" alt="Send and receive messages">
                    </div>
                    <div class="col-md-9">
                        <h4>Send and receive messages</h4>
                        <p>PatientView has secure messaging functionality, meaning

                            that you have the ability to send messages directly to

                            specific staff in your unit. You can even set yourself up to

                            receive notifications once new results or letters arrive, so

                            you don’t have to keep logging in.</p>
                    </div>
                </li>
            </ul>
        </div>
        <h5><a href="" title="Can I Join?">As a patient, can i join PatientView?</a></h5>
    </div>
</div>

<div class="row page-content home">
    <div class="col-md-12">
        <div class="panel-header content-panel lowlight">
            <h3><span class="badge aqua pull-left"><i class="icon-organisations"></i></span> Medical Organisations</h3>
        </div>
        <div class="content-area">
            <ul class="list-unstyled image-list">
                <li class="content-panel clearfix">
                    <div class="col-md-3 one-image">
                        <img src="../images/screenshots/thumbnails/8.png" alt="Smarter, integrated, safer">
                    </div>
                    <div class="col-md-9">
                        <h5>Smarter, integrated, safer</h5>

                        <p>Sharing information with patients and e-communications

                        reduce the risk of misunderstanding and increases trust.

                        Surveys show no increase in staff time. Data quality is

                        informed. PatientView subscription costs are low, and the

                        service opens up the possibility of more efficient working.</p>
                    </div>
                </li>
                <li class="content-panel clearfix">
                    <div class="col-md-3 two-images">
                        <img src="../images/screenshots/thumbnails/9.png" alt="Provide a valuable service to patients">
                        <img src="../images/screenshots/thumbnails/10.png" alt="Provide a valuable service to patients">
                    </div>
                    <div class="col-md-9">
                        <h4>Provide a valuable service to patients</h4>

                        <p>There is powerful evidence of the huge value patients

                        place on being able to see key information securely online.

                        Patients, in particular those with chronic conditions, value

                        rapid communication of test results and other info. As they

                        learn to better self-manage, clinicians report better

                        decision-making, partnerships with patients, and that

                        consultations are ‘higher level’, with less time spent

                        explaining the past and more on planning the future.</p>
                    </div>
                </li>
                <li class="content-panel clearfix">
                    <div class="col-md-3 one-image">
                        <img src="../images/screenshots/thumbnails/11.png" alt="Present and capture patient reported
                        outcome measures (PROMs), scorers and other questionnaires">
                    </div>
                    <div class="col-md-9">
                        <h4>Present and capture patient reported outcome measures

                            (PROMs), scorers and other questionnaires</h4>

                        <p>PatientView technology includes rapid online form-

                            building capability for web and mobile. Clinical

                            questionnaires relevant to particular cohorts of patients

                            can be built at a reasonable cost and offered seamlessly on

                            the PatientView platform. If this is of interest, please

                            <a href="contact.html">contact us</a> to find out more.</p>
                    </div>
                </li>
                <li class="content-panel clearfix">
                    <div class="col-md-3 two-images">
                        <img src="../images/screenshots/thumbnails/12.png" alt="Track, share and monitor">
                        <img src="../images/screenshots/thumbnails/13.png" alt="Track, share and monitor">
                    </div>
                    <div class="col-md-9">
                        <h4>Track, share and monitor</h4>

                        <p> Clinicians and unit administrators can easily track and view

                            patients records using the intuitive summary lists. They

                            can share information with other team members via

                            secure messaging. A well-conceived and attractive user

                            interface design means that this is achieved with quick

                            browser refreshes and minimal mouse clicks, saving you

                            the hassle found with older web systems. Full audit trials

                            are kept.</p>
                    </div>
                </li>
            </ul>
        </div>
        <h5>Interested to learn more about becoming a partner? <a href="" title="Can I Join?">Click here</a></h5>
        <h5>To be added to an existing speciality <a href="" title="Can I Join?">Click here</a></h5>
    </div4">

    </aside>
</div>