<div data-ng-hide="sendingMessage">
    <div class="row">
        <div class="form-horizontal" role="form">
            <div class="col-md-12">
                <label for="conversation-contact-option" class="control-label">What is the message about? <span class="error" data-ng-show="!selectedContactOption || selectedContactOption < 0">(please select)</span></label>
                <div>
                    <select class="form-control" id="conversation-contact-option" data-ng-model="selectedContactOption"
                          data-ng-options="contactOption as contactOption.description for contactOption in contactOptions"
                          data-ng-change="contactOptionChanged(selectedContactOption)"></select>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-hide="!selectedContactOption || selectedContactOption < 0" data-ng-cloak>
        <div class="row">
            <div class="form-horizontal" role="form">
                <div class="col-md-12">
                    <label for="conversation-title" class="control-label">Subject <span class="error" data-ng-show="contactUnitForm.title.$error.required && !contactUnitForm.$pristine"> *required</span></label>
                    <div><input type="text" class="form-control" id="conversation-title" placeholder="Title" name="title" data-ng-model="conversation.title" required></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal" role="form">
                <div class="col-md-12">
                    <label for="conversation-message" class="control-label">Message <span class="error" data-ng-show="contactUnitForm.message.$error.required && !contactUnitForm.$pristine"> *required</span></label>
                    <div><textarea class="form-control" id="conversation-message" placeholder="Message" name="message" data-ng-model="conversation.message" required></textarea></div>
                </div>
            </div>
        </div>
        <p class="error">Depending on your unit, these messages may not be regularly monitored. If your query is urgent, we recommend contacting your unit directly by phone.</p>
        <div data-ng-include src="'views/partials/htmlHelp.html'" class="help-text"></div>
    </div>
</div>

<div data-ng-show="sendingMessage" class="row"><br/>
    <div class="col-md-12">
        <h3><img src="images/loading.gif" alt="Loading"/>&nbsp; Sending Message</h3>
    </div>
</div>