<form name="userFormNew">
    <div class="modal-header survey-modal-header">
        <button type="button" class="close" data-ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Enter Your Responses - {{survey.description}}</h3>
    </div>
    <div class="modal-body" data-ng-if="!showEnterResults">
        <div class="resize-text-buttons" role="group">
            <p>Resize font</p>
            <button type="button" class="btn btn-default btn-circle" ng-click="decreaseFontSize()">
                <span class="btn-circle__icon">-</span>
            </button>
            <button type="button" class="btn btn-default btn-circle" ng-click="increaseFontSize()">
                <span class="btn-circle__icon">+</span>
            </button>
        </div>

        <div class="eq-survey" ng-style="{'zoom':zoom}">
            <div data-ng-repeat="questionGroup in survey.questionGroups | orderBy:'displayOrder'" class="div-question-group">
                <h4>
                    <span data-ng-if="questionGroup.number">{{questionGroup.number}}. </span>
                    {{questionGroup.text}}
                </h4>

                <div class="question-group-description" data-ng-bind-html="parseHTMLText(questionGroup.description)"></div>
                <div data-ng-repeat="question in questionGroup.questions | orderBy:'displayOrder'" class="row">
                    <div class="col-md-12 question-text">
                        <h5>Please click the ONE box that best describes your health TODAY.</h5>
                        <hr/>
                        <span data-ng-if="question.number">{{question.number}}. </span>
                        <h4>{{question.text}}</h4>
                        <span class="required-question" data-ng-if="question.required && !answers[question.id]">(required)</span>
                        <span data-ng-if="question.helpLink" class="help-link">
                        <a href="{{question.helpLink}}" target="_blank">what is this?</a>
                    </span>
                        <div class="question-description">{{question.description}}</div>
                    </div>
                    <div class="col-md-12">
                    <span data-ng-if="question.elementType === 'SINGLE_SELECT' && question.htmlType === 'RADIO'"
                          data-ng-repeat="questionOption in question.questionOptions" class="span-radio">
                        <label for="{{questionOption.id}}" class="radio-label">
                            <input type="radio" data-ng-model="answers[question.id]" ng-value="questionOption.id" class="radio-button" id="{{questionOption.id}}">
                            &nbsp;{{questionOption.text}}
                        </label>
                    </span>
                        <select data-ng-if="question.elementType === 'SINGLE_SELECT' && question.htmlType === 'SELECT'" data-ng-model="answers[question.id]"
                                data-ng-options="questionOption.id as questionOption.text for questionOption in question.questionOptions | orderBy:'displayOrder'"
                                class="form-control">
                        </select>
                        <div  data-ng-if="question.elementType === 'SINGLE_SELECT_RANGE' && question.htmlType === 'SLIDER'">
                            <rzslider
                                    rz-slider-model="answers[question.id]"
                                    rz-slider-options="{floor: 0, ceil: 100, step:1, precision:1}"></rzslider>
                            <div>{{answers[question.id]}}</div>
                        </div>
                        <select data-ng-if="question.elementType === 'SINGLE_SELECT_RANGE' && question.htmlType === 'SELECT'" data-ng-model="answers[question.id]"
                                data-ng-options="n as n for n in range(question.rangeStart, question.rangeEnd)"
                                class="form-control">
                        </select>
                        <div  data-ng-if="question.elementType === 'SINGLE_SELECT_RANGE' && question.htmlType === 'SLIDER'">
                            <div class="slider" slider floor='0' ceiling='100' step='1' precision='0' stickiness='0'
                                 ng-model='answers[question.id]'></div>
                            <span>{{question.rangeStartDescription}}</span>
                            <span class="pull-right">{{question.rangeEndDescription}}</span>
                        </div>
                        <input type="text" data-ng-if="question.elementType === 'TEXT' && question.htmlType === 'TEXT'"
                               data-ng-model="answers[question.id]" class="form-control">
                        </input>
                        <input type="text" data-ng-if="question.elementType === 'TEXT_NUMERIC' && question.htmlType === 'TEXT_NUMERIC'"
                               data-ng-model="answers[question.id]" class="form-control numeric-text" only-num>
                        </input>
                    </div>
                </div>
            </div>
            <div class="slider-component">
                <hr/>
                <div class="row row-question">
                    <div class="col-sm-6">
                        <ul class="slider-list">
                            <li>We would like to know how good or bad your health is TODAY</li>
                            <li>This scale is numbered from 0 to 100</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li>100 means the best health you can imagine. 0 means the worst health you can imagine.</li>
                            <li>Please click on the scale to indicate how your health is TODAY.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="well terms-well">
                <label for="terms" class="radio-label">
                    I have read and accepted the terms
                    <input ng-change="toggleTerms()" type="checkbox" ng-model="acceptedTerms" class="radio-button" id="terms"/>
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="eq-survey__copyright">
            <p>© EuroQol Research Foundation. EQ-5D™ is a trade mark of the EuroQol Research Foundation</p>
        </div>
        <div class="alert alert-danger" data-ng-show="errorMessage">{{errorMessage}}</div>
        <button class="btn btn-grey" data-ng-click="cancel()">Cancel</button>
        <button class="btn blue" data-ng-click="save()" data-ng-disabled="!answers.length || !acceptedTerms">Save</button>
    </div>
</form>