<div class="modal-header">
    <h3 class="modal-title">Statistics</h3>
</div>
<div class="modal-body">

    <table class="table">
        <tr>
            <th>
                Date
            </th>
            <th>
                Patients
            </th>
            <th>
                Logons
            </th>
            <th>
                Unique Logons
            </th>
            <th>
                Patients Added
            </th>
            <th>
                Imports
            </th>
            <th>
                Imports Failed
            </th>
            <th>
                Passwords Changed
            </th>
            <th>
                Accounts Locked
            </th>
            <th>
                Patients Remove
            </th>
            <th>
                Patients Deleted
            </th>
        </tr>
        <tbody>
            <tr ng-repeat="statistic in statistics">
                <td>
                    {{statistic.startDate}}-{{statistic.endDate}}
                </td>
                <td>
                    {{statistic.countOfPatients}}
                </td>
                <td>
                    {{statistic.countOfLogons}}
                </td>
                <td>
                    {{statistic.countOfUniqueLogons}}
                </td>
                <td>
                    {{statistic.countOfPatientViews}}
                </td>
                <td>
                    {{statistic.countOfImportLoads}}
                </td>
                <td>
                    {{statistic.countOfImportFails}}
                </td>
                <td>
                    {{statistic.countOfPasswordChanges}}
                </td>
                <td>
                    {{statistic.countOfAccountLocks}}
                </td>
                <td>
                    {{statistic.countOfPatientRemoves}}
                </td>
                <td>
                    {{statistic.countOfPatientDeletes}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
    <button class="btn btn-grey" ng-click="cancel()">Back</button>
</div>