<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-3">
            <label for="group-code" class="control-label">Code <span class="error" ng-show="groupForm.code.$error.required"> *required</span></label>
            <div class=""><input type="text" class="form-control" id="group-code" placeholder="Code" name="code" ng-model="editGroup.code" ng-disabled="!permissions.canEditGroupCode" required ></div>
        </div>
        <div class="col-md-3">
            <label for="group-name" class="control-label">Name <span class="error" ng-show="groupForm.name.$error.required"> *required</span></label>
            <div class=""><input type="text" class="form-control" id="group-name" placeholder="Name" name="name" ng-model="editGroup.name" required></div>

        </div>
        <div class="col-md-3">
            <label for="group-groupType" class="ccontrol-label">Group Type <span class="error" ng-show="!editGroup.groupTypeId"> *required</span></label>
            <div class="c"><select id="group-groupType" class="form-control groupType-select" ng-model="editGroup.groupTypeId" ng-options="groupType.id as groupType.value for groupType in groupTypes"></select></div>
        </div>
        <div class="col-md-3">
            <label for="group-description" class="control-label">Description <span class="error" ng-show="groupForm.description.$error.required"> *required</span></label>
            <div class=""><input type="text" class="form-control" id="group-description" placeholder="Description" name="description" ng-model="editGroup.description" required></div>
        </div>
    </div>
</div>
        
<div class="row">
    <hr />
    <div class="links-container">
        <div class="col-md-12">
            <label>Links </label>
            <div ng-hide="editGroup.links.length > 0" class="no-items"> There are currently no links associated with this code</div>
        </div>
        <div class="link-list-item" ng-repeat="link in editGroup.links | orderBy:'displayOrder'">
            <div class="col-md-3"><input type="text" class="form-control" id="group-link-link-{{link.id}}" placeholder="link" name="link" ng-model="link.link" required></div>
            <div class="col-md-3"><input type="text" class="form-control" id="group-link-name-{{link.id}}" placeholder="name" name="name" ng-model="link.name" required></div>
            <div class="col-md-3">
                <select id="group-link-displayOrder-{{link.id}}" class="form-control" ng-model="link.displayOrder">
                    <option ng-repeat="link in editGroup.links">{{$index + 1}}</option>
                </select>
            </div>
            <div class=""><button type="button" class="btn negative link-delete-button" ng-click="removeLink(groupForm, editGroup, link)"><i class="glyphicon glyphicon-minus-sign"></i></button></span></div>
        </div>
        <div class="add-form" ng-model="newLink">
            <div class="col-md-3"><input type="text" class="form-control" id="group-newLink-link" placeholder="link" name="newLink" ng-model="newLink.link"></div>
            <div class="col-md-3"><input type="text" class="form-control" id="group-newLink-name" placeholder="name" name="newLink" ng-model="newLink.name"></div>
            <div class="col-md-3 hidden">
                <select id="group-newLink-displayOrder" class="form-control" ng-model="newLink.displayOrder" ng-init="newLink.displayOrder='1'" >
                    <option ng-show="newLink.displayOrder" ng-repeat="link in editGroup.links">{{$index + 1}}</option>
                    <option >{{editGroup.links.length + 1}}</option>
                </select>
            </div>
            <div class=""><button type="button" class="btn blue link-add-button" ng-click="addLink(groupForm, editGroup, newLink)" ng-disabled="!(newLink.link && newLink.name)"><i class="glyphicon glyphicon-plus-sign"></i></button></div>
        </div>
    </div>
</div>

<div class="row">
    <hr />
    <div class="col-md-12">
        <label>Additional Locations</label>
        <div ng-hide="editGroup.locations.length > 0" class="no-items">No additional locations</div>
    </div>
    <div class="location-list-item"  ng-repeat="location in editGroup.locations | orderBy:'id'">
        <div class="col-md-1 hidden">{{location.id}}</div>
        <div class="col-md-1"><input type="text" class="form-control" id="group-location-label-{{location.id}}" placeholder="label" name="label" ng-model="location.label" required></div>
        <div class="col-md-2"><input type="text" class="form-control" id="group-location-name-{{location.id}}" placeholder="name" name="name" ng-model="location.name" required></div>
        <div class="col-md-2"><input type="text" class="form-control" id="group-location-phone-{{location.id}}" placeholder="phone" name="phone" ng-model="location.phone" ></div>
        <div class="col-md-2"><input type="text" class="form-control" id="group-location-address-{{location.id}}" placeholder="address" name="address" ng-model="location.address" ></div>
        <div class="col-md-2"><input type="text" class="form-control" id="group-location-web-{{location.id}}" placeholder="web" name="web" ng-model="location.web" ></div>
        <div class="col-md-2"><input type="text" class="form-control" id="group-location-email-{{location.id}}" placeholder="email" name="email" ng-model="location.email" ></div>
        <div class=""><button type="button" class="btn negative location-delete-button" ng-click="removeLocation(groupForm, editGroup, location)"><i class="glyphicon glyphicon-minus-sign"></i></button></span></div>
    </div>
    <div class="add-form" ng-model="newLocation">
        <div class="col-md-1"><input type="text" class="form-control" id="group-newLocation-label" placeholder="label" name="newLocation" ng-model="newLocation.label"></div>
        <div class="col-md-2"><input type="text" class="form-control" id="group-newLocation-name" placeholder="name" name="newLocation" ng-model="newLocation.name"></div>
        <div class="col-md-2"><input type="text" class="form-control" id="group-newLocation-phone" placeholder="phone" name="newLocation" ng-model="newLocation.phone"></div>
        <div class="col-md-2"><input type="text" class="form-control" id="group-newLocation-address" placeholder="address" name="newLocation" ng-model="newLocation.address"></div>
        <div class="col-md-2"><input type="text" class="form-control" id="group-newLocation-web" placeholder="web" name="newLocation" ng-model="newLocation.web"></div>
        <div class="col-md-2"><input type="text" class="form-control" id="group-newLocation-email" placeholder="email" name="newLocation" ng-model="newLocation.email"></div>
        <div class=""><button type="button" class="btn blue location-add-button" ng-click="addLocation(groupForm, editGroup, newLocation)" ng-disabled="!(newLocation.label && newLocation.name)"><i class="glyphicon glyphicon-plus-sign"></i></button></div>
    </div>
</div>

<div class="row">
    <hr />
    <div class="col-md-12">
        <label>Features</label>
        <div ng-hide="editGroup.groupFeatures.length > 0" class="no-items">No features</div>
    </div>
    <div class="col-md-6">
        <ul class="feature-list inline capsule-list">
            <li class="feature-list-item" ng-repeat="feature in editGroup.groupFeatures">
                <div class="feature-list-name"><i class="glyphicon glyphicon-ok-circle"></i> <span class="feature-list-name"> {{feature.feature.name}}</span></div>
                <div class="feature-list-delete" ng-show="permissions.canEditFeatures"><span class="feature-list-delete"><a id="remove-feature-modal-{{feature.id}}" href="" ng-click="removeFeature(groupForm, editGroup, feature)" >Delete</a></span></div>
            </li>
        </ul>
        <div class="feature-add-container item-add-container" ng-show="editGroup.availableFeatures.length > 0 && permissions.canEditFeatures">
            <div class="col-md-3"><select class="form-control feature-select" ng-model="featureToAdd" ng-options="feature.feature.id as feature.feature.name for feature in editGroup.availableFeatures"></select></div>
            <div class=""><button type="button" class="btn btn-primary feature-add-button pull-left" ng-click="addFeature(groupForm, editGroup, featureToAdd)">Add</button></div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6" ng-show="editGroup.groupTypeId==groupTypesArray['UNIT']">
        <label>Parent Groups</label>
        <div ng-hide="editGroup.parentGroups.length > 0" class="no-items">No parent groups</div>

        <ul class="feature-list">
            <li class="feature-list-item" ng-repeat="parentGroup in editGroup.parentGroups">
                <div class="feature-list-name"><span class="feature-list-name">{{parentGroup.name}}</span></div>
                <div class="feature-list-delete" ng-show="permissions.canEditParentGroups"><span class="feature-list-delete"><a id="remove-parent-group-modal-{{parentGroup.id}}" href="" ng-click="removeParentGroup(groupForm, editGroup, parentGroup)" >Delete</a></span></div>
            </li>
        </ul>
        <div class="parent-group-add-container item-add-container" ng-show="editGroup.availableParentGroups.length > 0 && permissions.canEditParentGroups">
            <div class="col-md-3"><select class="form-control parent-group-select" ng-model="parentGroupToAdd" ng-options="parentGroup.id as parentGroup.name for parentGroup in editGroup.availableParentGroups"></select></div>
            <div class=""><button type="button" class="btn btn-primary parent-group-add-button pull-left" ng-click="addParentGroup(groupForm, editGroup, parentGroupToAdd)">Add</button></div>
        </div>
    </div>
    <div class="col-md-6" ng-show="editGroup.groupTypeId==groupTypesArray['SPECIALTY']">
        <label>Child Groups</label>
        <div ng-hide="editGroup.childGroups.length > 0" class="no-items">No child groups</div>

        <div class="feature-list-item" ng-repeat="childGroup in editGroup.childGroups">
            <div class="feature-list-name"><span class="feature-list-name">{{childGroup.name}}</span></div>
            <div class="feature-list-delete" ng-show="permissions.canEditChildGroups"><span class="feature-list-delete"><a id="remove-child-group-modal-{{childGroup.id}}" href="" ng-click="removeChildGroup(groupForm, editGroup, childGroup)" >Delete</a></span></div>
        </div>
        <div class="parent-group-add-container item-add-container" ng-show="editGroup.availableChildGroups.length > 0 && permissions.canEditChildGroups">
            <div class="col-md-3"><select class="form-control child-group-select" ng-model="childGroupToAdd" ng-options="childGroup.id as childGroup.name for childGroup in editGroup.availableChildGroups"></select></div>
            <div class=""><button type="button" class="btn btn-primary child-group-add-button pull-left" ng-click="addChildGroup(groupForm, editGroup, childGroupToAdd)">Add</button></div>
        </div>
    </div>
</div>