<div class="modal-header">
    <h3 class="modal-title">Statistics</h3>
</div>
<div class="modal-body">
    <p>{{statistics}}</p>

    <table>
        <th>
            <tr>
                <td>
                    Date
                </td>
                <td>
                    Number of Patients
                </td>
                <td>
                    Number of Logons
                </td>
                <td>
                    Number of Unique Logons
                </td>
                <td>
                    Number of Patients Added
                </td>
                <td>
                    Number of Imports
                </td>
                <td>
                    Number of Imports Failed
                </td>
                <td>
                    NUmber of Passwords Changed
                </td>
                <td>
                    Number of Accounts Locked
                </td>
                <td>
                    Number of Patients Remove
                </td>
                <td>
                    Number of Patients Deleted
                </td>
            </tr>
        </th>
        <tbody>
            <tr>
                
            </tr>

        </tbody>
    </table>
</div>
<div class="modal-footer">
    <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
    <button class="btn btn-grey" ng-click="cancel()">Back</button>
</div>