<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-3">
            <label for="group-code" class="control-label">Code <span class="error" data-ng-hide="editGroup.code.length"> *required</span></label>
            <div><input type="text" class="form-control" id="group-code" placeholder="Code" name="code" data-ng-model="editGroup.code" data-ng-disabled="!permissions.canEditGroupCode" required maxlength="50"></div>
        </div>
        <div class="col-md-3">
            <label for="group-name" class="control-label">Name <span class="error" data-ng-hide="editGroup.name.length"> *required</span></label>
            <div><input type="text" class="form-control" id="group-name" placeholder="Name" name="name" data-ng-model="editGroup.name" required maxlength="200"></div>
        </div>
        <div class="col-md-3">
            <label for="group-short-name" class="control-label">Short Name (20 characters)<span class="error" data-ng-hide="editGroup.shortName.length"> *required</span></label>
            <div><input type="text" class="form-control" id="group-short-name" placeholder="Short Name" name="shortName" data-ng-model="editGroup.shortName" maxlength="20"></div>
        </div>
        <div class="col-md-3">
            <label for="group-groupType" class="control-label">Group Type <span class="error" data-ng-show="!editGroup.groupTypeId"> *required</span></label>
            <div data-ng-show="editGroup.canChangeGroupType"><select id="group-groupType" class="form-control groupType-select" data-ng-model="editGroup.groupTypeId"
                                  data-ng-options="groupType.id as groupType.value for groupType in groupTypes"></select></div>
            <div data-ng-show="!editGroup.canChangeGroupType">
                <input type="text" class="form-control" data-ng-model="editGroup.groupType.description"
                       data-ng-disabled="true">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-3">
            <label for="group-sftp-user" class="control-label">SFTP User</label>
            <input type="text" class="form-control" id="group-sftp-user" placeholder="SFTP User" name="sftp-user" data-ng-model="editGroup.sftpUser" maxlength="255">
        </div>
    </div>
</div>
<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-3">
            <label for="group-address-1" class="control-label">Address 1</label>
            <input type="text" class="form-control" id="group-address-1" placeholder="Address 1" name="address1" data-ng-model="editGroup.address1">
        </div>
        <div class="col-md-3">
            <label for="group-address-2" class="control-label">Address 2</label>
            <input type="text" class="form-control" id="group-address-2" placeholder="Address 2" name="address2" data-ng-model="editGroup.address2">
        </div>
        <div class="col-md-3">
            <label for="group-address-3" class="control-label">Address 3</label>
            <input type="text" class="form-control" id="group-address-3" placeholder="Address 1" name="address3" data-ng-model="editGroup.address3">
        </div>
        <div class="col-md-3">
            <label for="group-postcode" class="control-label">Postcode</label>
            <input type="text" class="form-control" id="group-postcode" placeholder="Postcode" name="postcode" data-ng-model="editGroup.postcode" maxlength="255">
        </div>
    </div>
</div>
        
<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-3 visible-for-col">
            <h5 class="control-label">Visible For Patients to Join</h5>
            <input type="checkbox"  data-ng-disabled="!permissions.canEditVisibleToJoin" class="form-control" id="group-visible-to-join" name="visible-to-join" data-ng-model="editGroup.visibleToJoin"/>
        </div>
        <div class="col-md-3 visible-for-col">
            <h5 for="group-no-data-feed pull-left" class="control-label">Has no data feed</h5>
            <input type="checkbox" data-ng-disabled="!permissions.canEditNoDataFeed" class="form-control" id="group-no-data-feed" name="no-data-feed" data-ng-model="editGroup.noDataFeed"/>
        </div>
    </div>
</div>
<button type="button" class="btn blue pull-right" data-ng-click="save(groupForm, editGroup)" data-ng-disabled="!editGroup.code.length || !editGroup.name.length || !editGroup.shortName.length">Save</button>
<span class="saved-notification pull-right" data-ng-show="groupForm.$pristine && saved">Saved Successfully! &nbsp;</span>
<br/>
<div class="row">
    <hr />
    <div class="col-md-12">
        <label>Additional Locations</label>
        <div data-ng-hide="editGroup.locations.length > 0" class="no-items">No additional locations associated with this group<br/><br/></div>
    </div>
    <div class="add-location">
        <div class="col-md-1">
            <label for="group-newLocation-label">Label</label>
        </div>
        <div class="col-md-2">
            <label for="group-newLocation-name">Name</label>
        </div>
        <div class="col-md-2">
            <label for="group-newLocation-phone">Phone</label>
        </div>
        <div class="col-md-2">
            <label for="group-newLocation-address">Address</label>
        </div>
        <div class="col-md-2">
            <label for="group-newLocation-web">Web</label>
        </div>
        <div class="col-md-3">
            <label for="group-newLocation-email">Email</label>
        </div>
    </div>
    <div class="location-list-item cleared-row"  data-ng-repeat="location in editGroup.locations | orderBy:['label','name']">
        <div class="col-md-1 hidden">{{location.id}}</div>
        <div class="col-md-1 first-child"><input type="text" class="form-control" id="group-location-label-{{location.id}}" placeholder="Label" name="label" data-ng-model="location.label" required></div>
        <div class="col-md-2"><input type="text" class="form-control" id="group-location-name-{{location.id}}" placeholder="Name" name="name" data-ng-model="location.name" required></div>
        <div class="col-md-2"><input type="text" class="form-control" id="group-location-phone-{{location.id}}" placeholder="Phone" name="phone" data-ng-model="location.phone" ></div>
        <div class="col-md-2"><input type="text" class="form-control" id="group-location-address-{{location.id}}" placeholder="Address" name="address" data-ng-model="location.address" ></div>
        <div class="col-md-2"><input type="text" class="form-control" id="group-location-web-{{location.id}}" placeholder="Web" name="web" data-ng-model="location.web" ></div>
        <div class="col-md-2"><input type="text" class="form-control" id="group-location-email-{{location.id}}" placeholder="Email" name="email" data-ng-model="location.email" ></div>
        <div class="btn-group">
            <button type="button" class="btn blue location-update-button" data-ng-click="updateLocation($event, groupForm, editGroup, location)">Update</button>
            <button type="button" class="btn negative location-delete-button" data-ng-click="removeLocation(groupForm, editGroup, location)">Delete</button>
        </div>
        <span class="saved-notification" data-ng-show="location.saved">&nbsp; Saved Successfully!</span>
    </div>
    <div class="add-form add-location cleared-row" data-ng-model="editGroup.newLocation">
        <div class="col-md-1">
            <input type="text" class="form-control" id="group-newLocation-label" placeholder="Label" name="newLocationLabel" data-ng-model="editGroup.newLocation.label">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="group-newLocation-name" placeholder="Name" name="newLocationName" data-ng-model="editGroup.newLocation.name">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="group-newLocation-phone" placeholder="Phone" name="newLocationPhone" data-ng-model="editGroup.newLocation.phone">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="group-newLocation-address" placeholder="Address" name="newLocationAddress" data-ng-model="editGroup.newLocation.address">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="group-newLocation-web" placeholder="Web" name="newLocationWeb" data-ng-model="editGroup.newLocation.web">
        </div>
        <div class="col-md-2">
            <span data-ng-show="groupForm.newLocationEmail.$error.email" class="error"> Invalid</span>
            <input type="email" class="form-control" id="group-newLocation-email" placeholder="Email" name="newLocationEmail" data-ng-model="editGroup.newLocation.email">
        </div>
        <div><button type="button" class="btn blue location-add-button" id="location-add-button" data-ng-click="addLocation(groupForm, editGroup, editGroup.newLocation)" data-ng-disabled="!(editGroup.newLocation.label && editGroup.newLocation.name && !groupForm.newLocationEmail.$error.email)">Add</button></div>
    </div>
</div>
        
<div class="row">
    <hr />
    <div class="col-md-12">
        <label>Additional Contact Points</label>
        <span class="error" data-ng-show="!hasAdminEmail(editGroup)"><br/> * Must have PatientView Admin Email</span>
        <div data-ng-hide="editGroup.contactPoints.length > 0" class="no-items">No additional contact points associated with this group<br/><br/></div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <label for="group-newContactPoint-type">Type</label>
        </div>
        <div class="col-md-5">
            <label for="group-newContactPoint-type">Content</label>
        </div>
        <div>
        </div>
    </div>
    <div class="link-list-item clearfix" data-ng-repeat="contactPoint in editGroup.contactPoints | orderBy:'id'">
        <div class="col-md-1 hidden">{{contactPoint.id}}</div>
        <div class="col-md-3">
            <select id="group-contactPoint-type-{{contactPoint.id}}" class="form-control contactPointType-select"
                    data-ng-model="contactPoint.contactPointType.id"
                    data-ng-options="contactPointType.id as contactPointType.description for contactPointType in contactPointTypes | orderBy:'description'"></select>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="group-contactPoint-content-{{contactPoint.id}}"
                   placeholder="Content" name="content" data-ng-model="contactPoint.content" required>
        </div>
        <div class="btn-group">
            <button type="button" class="btn blue contactPoint-update-button" data-ng-click="updateContactPoint($event, groupForm, editGroup, contactPoint)">Update</button>
            <button type="button" class="btn negative contactPoint-delete-button" data-ng-click="removeContactPoint(groupForm, editGroup, contactPoint)">Delete</button>
        </div>
        <span class="saved-notification" data-ng-show="contactPoint.saved">&nbsp; Saved Successfully!</span>
    </div>
    <div class="add-form" data-ng-model="newContactPoint">
        <div class="col-md-3">
            <select id="group-newContactPoint-type" class="form-control contactPointType-select"
                    data-ng-model="newContactPoint.contactPointTypeId"
                    data-ng-options="newContactPointType.id as newContactPointType.description for newContactPointType in contactPointTypes | orderBy:'description'">
            </select>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="group-newContactPoint-content" placeholder="Content"
                   name="newContactPoint" data-ng-model="newContactPoint.content">
        </div>
        <div class="modal-hack">
            <button type="button" class="btn blue contactPoint-add-button"
                    data-ng-click="addContactPoint(groupForm, editGroup, newContactPoint)"
                    data-ng-disabled="!(newContactPoint.content)">Add</button>
        </div>
    </div>
</div>    
        
<div class="row">
    <hr />
    <div class="links-container">
        <div class="col-md-12">
            <label>Links </label>
            <div data-ng-hide="editGroup.links.length > 0" class="no-items"> No links associated with this group<br/><br/></div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
                <label>URL</label>
            </div>
            <div class="col-md-5">
                <label>Description</label>
            </div>
            <div class="col-md-1">
                <label data-ng-show="editGroup.links.length > 0">Order</label>
            </div>
        </div>
        <div class="link-list-item clearfix" data-ng-repeat="link in editGroup.links | orderBy:'displayOrder'">
            <div class="col-md-3"><input type="text" class="form-control" id="group-link-link-{{link.id}}" placeholder="URL" name="link" data-ng-model="link.link" required></div>
            <div class="col-md-5"><input type="text" class="form-control" id="group-link-name-{{link.id}}" placeholder="Description" name="name" data-ng-model="link.name" required></div>
            <div class="col-md-1">
                <select id="group-link-displayOrder-{{link.id}}" class="form-control" data-ng-model="link.displayOrder">
                    <option data-ng-repeat="link in editGroup.links">{{$index + 1}}</option>
                </select>
            </div>
            <div class="btn-group">
                <button type="button" class="btn blue link-update-button" data-ng-click="updateLink($event, groupForm, editGroup, link)">Update</button>
                <button type="button" class="btn negative link-delete-button" data-ng-click="removeLink(groupForm, editGroup, link)">Delete</button>
            </div>
            <span class="saved-notification" data-ng-show="link.saved">&nbsp; Saved Successfully!</span>
        </div>
        <div class="add-form" data-ng-model="newLink">
            <div class="col-md-3"><input type="text" class="form-control" id="group-newLink-link" placeholder="URL" name="newLink" data-ng-model="newLink.link"></div>
            <div class="col-md-5"><input type="text" class="form-control" id="group-newLink-name" placeholder="Description" name="newLink" data-ng-model="newLink.name"></div>
            <div class="col-md-1 hidden">
                <select id="group-newLink-displayOrder" class="form-control" data-ng-model="newLink.displayOrder" data-ng-init="newLink.displayOrder='1'" >
                    <option data-ng-show="newLink.displayOrder" data-ng-repeat="link in editGroup.links">{{$index + 1}}</option>
                    <option >{{editGroup.links.length + 1}}</option>
                </select>
            </div>
            <button type="button" class="btn blue link-add-button" data-ng-click="addLink(groupForm, editGroup, newLink)" data-ng-disabled="!(newLink.link && newLink.name)">Add</button>
        </div>
    </div>
</div>

<div class="row">
    <hr />
    <div class="col-md-12">
        <label>Features</label>
        <p>Features are additional PatientView functions available to group members.</p>
        <div data-ng-hide="editGroup.groupFeatures.length > 0" class="no-items">No features associated with this group</div>
    </div>
    <div class="col-md-6">
        <ul class="name-action-list inline">
            <li class="feature-list-item" data-ng-repeat="feature in editGroup.groupFeatures">
                <div class="feature-list-name pull-left"><span class="feature-list-name"> {{feature.feature.description}}</span></div>
                <div class="feature-list-delete pull-left" data-ng-show="permissions.canEditFeatures"><span class="feature-list-delete"><a id="remove-feature-modal-{{feature.id}}" href="" data-ng-click="removeFeature(groupForm, editGroup, feature)" ><i class="glyphicon glyphicon-remove"></i></a></span></div>
            </li>
        </ul>
        <div class="feature-add-container item-add-container" data-ng-show="editGroup.availableFeatures.length > 0 && permissions.canEditFeatures">
            <div class="custom-select">
                <select class="form-control feature-select group-select" data-ng-model="featureToAdd"
                        data-ng-options="feature.feature.id as feature.feature.description for feature in editGroup.availableFeatures | orderBy:'feature.description'"></select>
            </div>
            <button type="button" class="btn blue feature-add-button pull-left" data-ng-click="addFeature(groupForm, editGroup, featureToAdd)">Add</button>
        </div>
    </div>
</div>

<div class="row form-edit-row">
    <hr/>
    <!-- TODO: hardcoded, only show parents if UNIT or DISEASE_GROUP -->
    <div class="col-md-6" data-ng-show="editGroup.groupTypeId==groupTypesArray['UNIT'] || editGroup.groupTypeId==groupTypesArray['DISEASE_GROUP']">
        <label>Parent Groups</label>
        <div><span data-ng-hide="editGroup.parentGroups.length > 0" class="no-items error">No parent groups, must have at least one</span></div>

        <ul class="name-action-list unstyled inline">
            <li class="feature-list-item" data-ng-repeat="parentGroup in editGroup.parentGroups">
                <div class="feature-list-name"><span class="feature-list-name">{{parentGroup.name}}</span></div>
                <div class="feature-list-delete" data-ng-show="permissions.canEditParentGroups && editGroup.parentGroups.length > 1">
                    <a id="remove-parent-group-modal-{{parentGroup.id}}" href="" data-ng-click="removeParentGroup(groupForm, editGroup, parentGroup)" ><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </li>
        </ul>
        <div class="parent-group-add-container item-add-container" data-ng-show="editGroup.availableParentGroups.length > 0 && permissions.canEditParentGroups">
            <div class="custom-select">
                <select class="form-control parent-group-select group-select" data-ng-model="parentGroupToAdd" data-ng-options="parentGroup.id as parentGroup.name + ' &nbsp;(' + parentGroup.groupType.description + ')' for parentGroup in editGroup.availableParentGroups | orderBy:[orderGroups,'name']"></select>
            </div>
            <button type="button" class="btn blue parent-group-add-button pull-left" data-ng-click="addParentGroup(groupForm, editGroup, parentGroupToAdd)">Add</button>
        </div>
    </div>
    <div class="col-md-12" data-ng-show="editGroup.groupTypeId==groupTypesArray['SPECIALTY']">
        <label>Child Groups</label>
        <div data-ng-hide="editGroup.childGroups.length > 0" class="no-items">No child groups</div>
        <ul class="name-action-list unstyled inline">
            <li class="feature-list-item" data-ng-repeat="childGroup in editGroup.childGroups">
                <div class="feature-list-name pull-left"><span class="feature-list-name">{{childGroup.name}}</span></div>
                <div class="feature-list-delete pull-left" data-ng-show="permissions.canEditChildGroups">
                    <a id="remove-child-group-modal-{{childGroup.id}}" href="" data-ng-click="removeChildGroup(groupForm, editGroup, childGroup)" ><i class="glyphicon glyphicon-remove"></i>
                    </a>
                </div>
            </li>
        </ul>
        <div class="parent-group-add-container item-add-container" data-ng-show="editGroup.availableChildGroups.length > 0 && permissions.canEditChildGroups">
            <div class="custom-select">
                <select class="form-control child-group-select group-select" data-ng-model="childGroupToAdd" data-ng-options="childGroup.id as childGroup.name + ' &nbsp;(' + childGroup.groupType.description + ')' for childGroup in editGroup.availableChildGroups | orderBy:[orderGroups,'name']"></select>
            </div>
            <button type="button" class="btn blue child-group-add-button pull-left" data-ng-click="addChildGroup(groupForm, editGroup, childGroupToAdd)">Add</button>
        </div>
    </div>
</div>
