<div class="row">
    <div class="col-sm-6 grey-right-border">
        <h5 class="inner-title">Groups &amp; Roles </h5>
        <div class="group-list-item" ng-repeat="groupRole in user.groupRoles">
            <div class="group-list-name"><span class="group-list-name">{{groupRole.group.name}}</span></div>
            <div class="group-list-delete"><span class="group-list-delete"><a id="remove-group-{{groupRole.group.id}}" href="" ng-click="removeGroup(userForm, user, groupRole.group)" >Delete</a></span></div>
            <div class="group-list-role"><span class="group-list-role">{{groupRole.role.name}}</span></div>
        </div>
        <div class="group-add-container" ng-show="user.availableGroups.length > 0 ">
            <h5 class="inner-title">Add Group &amp; Role </h5>
            <div class="row">
                <div class="col-sm-10">
                    Role: <br/><div buttongroup="" buttongroupname="role" model="user.selectedRole" options="user.roles" ng-init="user.selectedRole" ng-click="selectRole(userForm, user, $event)"></div>
                    <br/>Group: <select class="form-control group-select" ng-model="groupToAdd" ng-options="group.id as group.name for group in user.availableGroups"></select>
                </div>
                <div class="col-sm-2"><button type="button" class="btn btn-primary group-add-button" ng-click="addGroup(userForm, user, groupToAdd)" ng-disabled="!user.selectedRole">Add</button></div>
            </div>
            <span class="hidden">{{user.selectedRole}}</span>
        </div>
    </div>
    <div class="col-sm-6">
        <h5 class="inner-title">Features</h5>
        <div class="feature-list-item" ng-repeat="feature in user.userFeatures">
            <div class="feature-list-name"><span class="feature-list-name">{{feature.feature.name}}{{feature.name}}</span></div>
            <div class="feature-list-delete"><span class="feature-list-delete"><a id="remove-feature-modal-{{feature.id}}" href="" ng-click="removeFeature(userForm, user, feature)" >Delete</a></span></div>
        </div>
        <div class="feature-add-container" ng-show="user.availableFeatures.length > 0 ">
            <h5 class="inner-title">Add Feature </h5>
            <div class="row">
                <div class="col-sm-10"><select class="form-control feature-select" ng-model="featureToAdd" ng-options="feature.id as feature.name for feature in user.availableFeatures"></select></div>
                <div class="col-sm-2"><button type="button" class="btn btn-primary feature-add-button" ng-click="addFeature(userForm, user, featureToAdd)">Add</button></div>
            </div>
        </div>
    </div>
</div>