
<div class="panel panel-info">
    <div class="panel-heading">Adding HTML</div>
    <div class="panel-body">
        <p>You can use simple HTML here to add links or highlight important information.</p>
        <div>
            <ul class="unstyled">
                <li>Use <strong>&lt;strong&gt;YOUR BOLDED TEXT&lt;/strong&gt;</strong> to make text bold.</li>
                <li>Use <strong>&lt;a href=&quot;http://www.patientview.org&quot;&gt;YOUR LINK&lt;/a&gt;</strong> to make a link.</li>
            </ul>
        </div>
    </div>
</div>