<style>
    .info {
        margin: 10px 0 10px 10px;
    }
    .alert-block h5 {
         color: #c09853;
    }
    .enter-symptoms {
        margin-left: 10px;
    }
    @media all and (max-width: 600px) {
        g.highcharts-input-group {
            display:none;
        }
    }
    .patient-details .content-panel {
        margin-bottom: 0;
    }
    .chart-content-panel {
        box-shadow: none;
    }
    .content-panel .content-inner {
        padding: 0 10px 10px 10px;
    }
</style>
<div class="panel panel-default" data-ng-show="patient.myIbd">
    <div class="panel-heading">
        <h3>My Disease Control Rating
            <button class="btn blue enter-symptoms" data-ng-click="openModalEnterSurveyResponses()">Answer Questions</button>
        </h3>
    </div>
    <div class="row info">
        <p>We would like to ask you some basic questions to find out whether your IBD has been well controlled over
           the last two weeks. These questions are general in nature. They were chosen with the help of IBD
           patients and can apply to anyone with ulcerative colitis or Crohn's disease. Your answers are intended
           to help the IBD Team to monitor your condition.</p>
    </div>
    <div class="row result-detail-panel" data-ng-show="!loading && surveyResponses">
        <div class="col-md-7 result-container clearfix">
            <div class="content-panel chart-content-panel">
                <div class="content-inner">
                    <div id="chart_IBD"></div>
                </div>
            </div>
        </div>
        <aside class="col-md-5 historical-data">
            <div class="faux-table three-col">
                <div class="table-head accordion-title-row">
                    <div class="hidden">ID</div>
                    <div class="head-item accordion-title-text "><span>Date Taken</span></div>
                    <div class="head-item accordion-title-text "><span>IBD-8</span></div>
                    <div class="head-item accordion-title-text "><span>IBD-VAS</span></div>
                    <div class="head-item accordion-title-text "></div>
                </div>
                <div class="item-header">
                    <div class="faux-row" data-ng-show="!tableSurveyResponses.length">
                        <div class="row-item">
                            <p><br/><br/>No results available for this date range<br/><br/><br/><p>
                        </div>
                    </div>
                    <div class="faux-row" data-ng-repeat="surveyResponse in tableSurveyResponses">
                        <div class="row-item hidden">{{observation.id}}</div>
                        <div class="row-item accordion-heading-text">{{surveyResponse.date | date:'dd-MMM-yyyy'}}</div>
                        <div class="row-item accordion-heading-text">{{surveyResponse.surveyResponseScores[0].score}}</div>
                        <div class="row-item accordion-heading-text">{{surveyResponse.surveyResponseScores[1].score}}</div>
                        <div class="row-item accordion-heading-text" style="color: #428bca;" data-ng-click="openModalSurveyResponseDetail(surveyResponse.id)">View</div>
                    </div>
                </div>
            </div>
        </aside>
    </div>

    <div class="alert-block" data-ng-show="!loading && !surveyResponses">
        <h5>No Responses Found, you can answer the IBD Control Questionnaire by clicking the "Answer Questions" button</h5>
    </div>
    <div data-ng-show="loading" class="container">
        <h3 class="loading"><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading Symptom Scores</h3>
        <br/>
    </div>
</div>