<div class="panel panel-default">
    <div class="panel-heading">
        <h3>IBD Fatigue Questionnaire
            <button class="btn blue enter-symptoms" data-ng-click="openModalEnterSurveyResponses()">Answer Questions</button>
        </h3>
    </div>
    <div class="row info">
        <p>We would like to ask you some basic questions about your fatigue due to IBD.</p>
    </div>
    <div class="row result-detail-panel" data-ng-show="!loading && surveyResponses">
        <div class="col-md-7 result-container clearfix">
            <div class="content-panel chart-content-panel">
                <div class="content-inner">
                    <div id="chart_IBD_FATIGUE"></div>
                </div>
            </div>
        </div>
        <aside class="col-md-5 historical-data">
            <div class="faux-table three-col">
                <div class="table-head accordion-title-row">
                    <div class="hidden">ID</div>
                    <div class="head-item accordion-title-text "><span>Date Taken</span></div>
                    <div class="head-item accordion-title-text "><span>Score (severity)</span></div>
                    <div class="head-item accordion-title-text "></div>
                </div>
                <div class="item-header">
                    <div class="faux-row" data-ng-show="!tableSurveyResponses.length">
                        <div class="row-item">
                            <p><br/><br/>No results available for this date range<br/><br/><br/><p>
                        </div>
                    </div>
                    <div class="faux-row" data-ng-repeat="surveyResponse in tableSurveyResponses">
                        <div class="row-item hidden">{{observation.id}}</div>
                        <div class="row-item accordion-heading-text">{{surveyResponse.date | date:'dd-MMM-yyyy'}}</div>
                        <div class="row-item accordion-heading-text">{{surveyResponse.surveyResponseScores[0].score}} ({{surveyResponse.surveyResponseScores[0].severity}})</div>
                        <div class="row-item accordion-heading-text" style="color: #428bca;" data-ng-click="openModalSurveyResponseDetail(surveyResponse.id)">View</div>
                    </div>
                </div>
            </div>
            <div class="pull-right download-all">
                <a href="../api/user/{{loggedInUser.id}}/export/survey/{{surveyType}}/download?token={{authToken}}"
                   class="btn blue ">Download</a>
            </div>
        </aside>
    </div>

    <div class="alert-block alert-warning" data-ng-show="!loading && !surveyResponses">
        <h5>No Responses Found, you can answer the Fatigue Questionnaire by clicking the "Answer Questions" button</h5>
    </div>
    <div data-ng-show="loading" class="container">
        <h3 class="loading"><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading Fatigue Scores</h3>
        <br/>
    </div>
</div>