<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-3">
            <label for="join-request-status-select" class="control-label">Status</label>
            <select data-ng-model="editItem.status"
                    data-ng-options="status as status for status in statuses"
                    class="form-control" id="join-request-status-select"></select>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-12">
            <label for="join-request-notes" class="control-label">Notes</label>
            <textarea cols="40" rows="5" class="form-control" id="join-request-notes" placeholder="Notes"
                      name="notes" data-ng-model="editItem.notes"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-3">
            <label class="control-label" data-ng-show="editItem.completedBy">Completed By</label>
            <div data-ng-show="editItem.completedBy">{{editItem.completedBy.forename}} {{joinRequest.completedBy.surname}}</div>
        </div>
        <div class="col-md-3">
            <label class="control-label" data-ng-show="editItem.completedBy">Completed On</label>
            <div data-ng-show="editItem.completedBy">{{editItem.completionDate | date:'dd-MMM-yyyy'}}</div>
        </div>
    </div>
</div>
<br/>
<div class="user-save-cancel pull-right btn-group">
    <button type="button" class="btn blue" data-ng-click="save(joinRequestForm, editItem)" data-ng-disabled="joinRequestForm.$pristine">Save</button>
    <button class="btn btn-grey" data-ng-click="editItem.showEdit = false">Close</button>
</div>
<span class="saved-notification pull-right" data-ng-show="saved">Saved Successfully! &nbsp;</span>
