<style>
    ul {
        margin: 0px 0px 10px 16px;
        padding: 0;
    }
    li {
        margin-bottom: 10px;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">Activation Levels</h3>
</div>
<div class="modal-body">
    <table class="table">
        <thead>
        <tr>
            <th style="vertical-align: top;">Level 1 - The Beginning</th>
            <th style="vertical-align: top;">Level 2 - Building knowledge and confidence</th>
            <th style="vertical-align: top;">Level 3 - Taking Action</th>
            <th style="vertical-align: top;">Level 4 - Maintaining Behaviours</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <ul>
                    <li>You may feel overwhelmed by your illness and all the information that you are given.</li>
                    <li>You may feel that you don’t have a role in managing your health and that your doctor or nurse will make the decisions about your care.</li>
                    <li>You may be feeling very negative and down.</li>
                    <li>You may not feel confident to share your opinion or view about what might be best for you.</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>You may have an understanding of some basic facts about your condition but not about how you might begin to play a role in managing it.</li>
                    <li>You may not have the skills in place to solve problems.</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>You understand some facts and take on board information about your condition.</li>
                    <li>You are beginning to change some behaviours relating to caring for yourself.</li>
                    <li>You may not feel confident in doing this on your own.</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>You have gained the knowledge, new skills and confidence to change some of your behaviours but during periods of stress or change these may lapse.</li>
                    <li>You prepare before attending an appointment with your GP or hospital team.</li>
                    <li>You may feel confident to ask questions during an appointment that will help you make decisions that best suit you and your family.</li>
                    <li>You may feel positive about your life.</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-grey" data-ng-click="cancel()">Close</button>
</div>