<style>
    .article-content-small {
        height: 4em;
    }    
</style>
<div data-ng-show="!modalLoading" xmlns="http://www.w3.org/1999/html">

    <div class="row">
        <div class="col-md-12">
            <p>This will create a membership request for this patient, sent directly to the a local administrator
                at the group selected. The staff member will see details of the patient and can then
                choose to add them to their group. You can track and follow up this request under your Messages menu.</p>
        </div>
    </div>
    
    <div class="alert alert-success" data-ng-show="successMessage">{{successMessage}}</div>
    <div class="alert alert-warning" data-ng-show="warningMessage">{{warningMessage}}</div>

    <div data-ng-show="conversationGroups.length > 0 && showForm">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Patient Details</h4>
                    <table>
                        <tr>
                            <td>Surname:</td>
                            <td>{{newConversation.patient.surname}}</td>
                        </tr>
                        <tr>
                            <td>Forename:</td>
                            <td>{{newConversation.patient.forename}}</td>
                        </tr>
                        <tr data-ng-show="user.dateOfBirth">
                            <td>Date of Birth:</td>
                            <td>{{newConversation.patient.dateOfBirth | date:'dd-MMM-yyyy'}}</td>
                        </tr>
                        <tr>
                            <td>Identifier(s):</td>
                            <td>
                                <span data-ng-repeat="identifier in newConversation.patient.identifiers">{{identifier.identifier}}<br/></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <br/>
            
            <div class="row">
                <div class="col-md-6">
                    <label for="conversation-select-group">Please select the group that this patient requests membership of:</label>
                    <select class="form-control recipient-select" id="conversation-select-group"
                            data-ng-model="newConversation.selectedGroup"
                            data-ng-options="group as group.name + ' &nbsp;(' + group.groupType.description + ')' for group in conversationGroups | orderBy:[orderGroups,'name']"
                            data-ng-change="selectGroup(newConversation.selectedGroup)">
                    </select>
                </div>
            </div>
            
            <br/>
            
            <div data-ng-show="newConversation.recipients">
                <div class="row">
                    <div class="col-md-12">
                        <label for="conversation-message" class="control-label">
                            Recipient(s):
                        </label>
                        <div>
                            <span data-ng-repeat="user in newConversation.recipients" class="label label-info">
                                {{user.forename}} {{user.surname}}
                            </span>                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal" role="form">
                        <div class="col-md-12">
                            <label for="conversation-readonly-message" class="control-label">
                                Message:
                            </label>
                            <textarea class="form-control article-content-small" id="conversation-readonly-message" 
                                      name="readOnlyMessage" data-ng-model="newConversation.readOnlyMessage" 
                                      readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal" role="form">
                        <div class="col-md-12">
                            <label for="conversation-message" class="control-label">
                                Please add any comments to be included in the message:
                            </label>
                            <textarea class="form-control article-content" id="conversation-message" placeholder="Message"
                                      name="additionalComments" data-ng-model="newConversation.additionalComments" required></textarea>
                        </div>
                    </div>
                </div>
                <div data-ng-include src="'views/partials/htmlHelp.html'" class="help-text"></div>
            </div>
        </div>
    </div>
    
    <br/>
    
    <div data-ng-show="!recipientsExist && newConversation.selectedGroup" class="alert alert-danger">
        {{errorMessage}}
    </div>
</div>

<div data-ng-show="modalLoading" class="row"><br/>
    <div class="col-md-12">
        <h3><img src="images/loading.gif" alt="Loading"/>&nbsp; {{loadingMessage}}</h3>
    </div>
</div>
        