<div class="container">
    <div class="navbar navbar-default content-panel" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PatientView 2</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" ng-hide="!authToken" ng-cloak>
                <li ng-repeat="menuitem in routes | menuFilter:'TOP_RIGHT'" ><a ng-href="#{{menuitem.url}}">{{menuitem.title}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-hide="authToken" ng-cloak>
                <li><a ng-href="#/login" ng-hide="authToken">Log In</a></li>
            </ul>
        </div>
    </div>

<div class="subnav-row">
    <div class="content-panel clearfix">
        <div ng-hide="!authToken" ng-cloak>
            <ul class="secondary-nav nav nav-pills pull-left">
                <li ng-repeat="menuitem in routes | menuFilter:'TOP'" ><a ng-href="#{{menuitem.url}}">{{menuitem.title}}</a></li>
            </ul>
        </div>
    </div>
</div>

</div>