
<div data-ng-show="!patientDetails.length">
    <br/>
    <p>Your conditions have not yet been added to PatientView by the {{currentSpecialty.name}} specialty.</p>
</div>

<div class="details-filter clearfix" data-ng-show="patientDetails.length">
    <div class="pull-right">Information provided by: &nbsp;&nbsp;
        <span data-ng-repeat="patient in patientDetails | orderBy:'group.name'">
            <input type="checkbox" value="{{patient.group.shortName}}" data-ng-model="patient.group.selected">
            <span class="checkbox-label">{{patient.group.shortName}}</span>
        </span>
    </div>
</div>
<div data-ng-show="patientDetails.length">
    <div data-ng-repeat="patient in patientDetails | orderBy:'group.name'" data-ng-show="patient.group.selected">
        <div data-ng-include src="'views/partials/myIbd.html'" data-ng-if="patient.myIbd"></div>
    </div>
</div>