<div class="panel panel-default">
    <div class="panel-heading">
        <h3>My Health Surveys</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-10">
                <h4>Managing Your Health</h4>
                <p>This shows your knowledge, skills and confidence when it comes to looking after your own health and being involved in your care – this is referred to as your activation level.</p>
                <p data-ng-if="foundSurveys['PAMS']">
                    Last completed on {{foundSurveys['PAMS'].date | date:'dd-MMM-yyyy'}}
                </p>
            </div>
            <div class="col-md-2">
                <a href="/#/surveys/managing" class="btn blue">
                    View Surveys
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-10">
                <h4>Your Symptoms</h4>
                <p>This shows a list of symptoms and your assessment of how each one has been affecting you.</p>
                <p data-ng-if="foundSurveys['PROMS']">
                    Last completed on {{foundSurveys['PROMS'].date | date:'dd-MMM-yyyy'}}
                </p>
            </div>
            <div class="col-md-2">
                <a href="/#/surveys/symptoms" class="btn blue">
                    View Surveys
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-10">
                <h4>Your Overall Health</h4>
                <p>This shows your overall health.</p>
                <p data-ng-if="foundSurveys['EQ5D']">
                    Last completed on {{foundSurveys['EQ5D'].date | date:'dd-MMM-yyyy'}}
                </p>
            </div>
            <div class="col-md-2">
                <a href="/#/surveys/overall" class="btn blue">
                    View Surveys
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p>If you have recently filled in a ‘Your Health Survey’ but the results are unavailable, it can take 3 weeks to process and upload. If you have been waiting longer than this please contact your renal unit.</p>
                <p>If you would like to complete a ’Your Health Survey’ discuss this with your clinical team at your next appointment.</p>
            </div>
        </div>
    </div>
    <div data-ng-show="loading" class="container">
        <h3 class="loading"><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading Surveys</h3>
        <br/>
    </div>
</div>