<div class="panel panel-default">
    <div class="panel-body">
        <h4>Entered by you</h4>
        <div data-ng-show="selectedConditions.length">
            <div data-ng-repeat="condition in selectedConditions track by $index | orderBy:'condition.description'">
                <h5>{{condition.description}}</h5>
                <div data-ng-if="condition.links">
                    <ul>
                        <li data-ng-repeat="link in condition.links track by $index">
                            <a href="{{link.link}}" target="_blank">{{link.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div data-ng-show="!selectedConditions.length">
            <p>You have not entered any diagnoses.</p>
            <br/>
            <button class="btn blue" data-ng-click="switchToEnterConditions()">Enter Diagnosis</button>
        </div>
        <hr>
        <div data-ng-show="patientDetails.length">
            <h4>From your unit(s)</h4>
            <div data-ng-repeat="patient in patientDetails | orderBy:'group.name'" data-ng-show="patient.group.selected">
                <h5>{{patient.group.name}}</h5>
                <div data-ng-if="patient.fhirConditions.length">
                    <div data-ng-repeat="condition in patient.fhirConditions | orderBy:'condition.description'">
                        <div>
                            {{condition.name}}
                        </div>
                    </div>
                </div>
                <div data-ng-if="!patient.fhirConditions.length">
                    {{patient.group.name}} has not provided any condition data.
                </div>
            </div>
        </div>
    </div>
</div>
