
<div data-ng-show="!patientDetails.length">
    <p>We have not yet received records from any of your units.</p>
</div>

<div class="details-filter clearfix" data-ng-show="patientDetails.length">
    <div class="pull-right">Information provided by: &nbsp;&nbsp;
        <span data-ng-repeat="patient in patientDetails | orderBy:'group.name'">
            <input type="checkbox" value="{{patient.group.shortName}}" data-ng-model="patient.group.selected">
            <span class="checkbox-label">{{patient.group.shortName}}</span>
        </span>
    </div>
</div>

<div data-ng-show="patientDetails.length">
    <div data-ng-repeat="patient in patientDetails | orderBy:'group.name'" data-ng-show="patient.group.selected">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>{{patient.group.name}}</h3></div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr><td colspan="2"><h4>Condition Information</h4></td></tr>
                    <tr>
                        <td class="forced-width">Diagnosis</td>
                        <td>
                            <dl class="conditions-link-list unstyled" data-ng-repeat="code in patient.diagnosisCodes">
                                <dt><h5>{{code.description}}:</h5></dt>
                                <dd>
                                    <span data-ng-repeat="link in code.links">
                                        <a href="{{link.link | addhttpFilter}}" target="_blank">{{link.name}}</a><br/>
                                    </span>
                                </dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <td class="forced-width">Diagnosis Date</td>
                        <td>
                            <span data-ng-repeat="condition in patient.fhirConditions" data-ng-show="condition.category === 'DIAGNOSIS_EDTA'">
                                {{condition.date | date:'dd-MMM-yyyy' }}
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td class="forced-width">Other Conditions</td>
                        <td>
                            <ul class="unstyled">
                                <li data-ng-repeat="condition in patient.fhirConditions" data-ng-show="condition.category === 'DIAGNOSIS'">
                                    {{condition.notes}}
                                </li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td class="forced-width">Treatment</td>
                        <td>
                            <span data-ng-repeat="encounter in patient.fhirEncounters" data-ng-show="encounter.encounterType === 'TREATMENT'">
                                {{encounter.status}}
                                <br data-ng-show="encounter.links.length"/>
                                <span data-ng-repeat="link in encounter.links">
                                    <a href="{{link.link | addhttpFilter}}" target="_blank">{{link.name}}</a><br/>
                                </span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="forced-width">Transplant Status</td>
                        <td>
                            <span data-ng-repeat="encounter in patient.fhirEncounters"
                                  data-ng-show="encounter.encounterType === 'TRANSPLANT_STATUS_KIDNEY'">
                                Kidney: {{encounter.status}}<br/>
                            </span>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <!-- foot checkup -->
                <table class="table table-bordered" data-ng-show="patient.footCheckup.applies > 0">
                    <tbody>
                    <tr><td colspan="2"><h4>Feet</h4></td></tr>
                    <tr>
                        <td colspan="2"><strong>Last recorded {{patient.footCheckup.applies | date:'dd-MMM-yyyy'}}
                            by {{patient.footCheckup.group.name}}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Left</strong></td>
                        <td><strong>Right</strong></td>
                    </tr>
                    <tr>
                        <td>DPPULSE: {{patient.footCheckup.leftFoot.DPPULSE}}<br/>
                            PTPULSE: {{patient.footCheckup.leftFoot.PTPULSE}}</td>
                        <td>DPPULSE: {{patient.footCheckup.rightFoot.DPPULSE}}<br/>
                            PTPULSE: {{patient.footCheckup.rightFoot.PTPULSE}}</td>
                    </tr>
                    </tbody>
                </table>

                <!-- eye checkup -->
                <table class="table table-bordered" data-ng-show="patient.eyeCheckup.applies > 0">
                    <tbody>
                    <tr><td colspan="2"><h4>Eyes</h4></td></tr>
                    <tr>
                        <td colspan="2"><strong>Last recorded {{patient.eyeCheckup.applies | date:'dd-MMM-yyyy'}}
                            by {{patient.eyeCheckup.group.name}}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Left</strong></td>
                        <td><strong>Right</strong></td>
                    </tr>
                    <tr>
                        <td>MGRADE: {{patient.eyeCheckup.leftEye.MGRADE}}<br/>
                            RGRADE: {{patient.eyeCheckup.leftEye.RGRADE}}<br/>
                            VA: {{patient.eyeCheckup.leftEye.VA}}</td>
                        <td>MGRADE: {{patient.eyeCheckup.rightEye.MGRADE}}<br/>
                            RGRADE: {{patient.eyeCheckup.rightEye.RGRADE}}<br/>
                            VA: {{patient.eyeCheckup.rightEye.VA}}</td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-bordered" data-ng-show="patient.group.links">
                    <tbody>
                        <tr><td colspan="2"><h4>Unit Information</h4></td></tr>
                        <tr>
                            <td colspan="2">
                                <ul>
                                    <li data-ng-repeat="link in patient.group.links">
                                        <a href="{{link.link | addhttpFilter}}" target="_blank">{{link.name}}</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>