<style>
    .selectize-diagnosis .loading {
        text-align: left;
    }
    .selectize-dropdown-content {
        max-height: 400px;
    }
</style>

<div class="panel panel-default">
    <div class="panel-body" data-in-view="init()">
        <p>You can enter your own diagnosis here. All diagnoses will be stored in your PatientView patient record.
            Information and links about your condition(s) are retrieved from trusted sources, enabling you to stay
            up-to-date with the latest findings and suggested treatments.</p>

        <h5 data-ng-if="!selectedConditions.length">You have not currently entered any diagnoses</h5>

        <div class="row" data-ng-if="selectedConditions.length">
            <div class="col-md-12">
                <h5>You have entered the following diagnoses:</h5>
                <ul class="feature-list unstyled name-action-list">
                    <li class="feature-list-item" data-ng-repeat="condition in selectedConditions track by $index">
                        <div class="feature-list-name pull-left">
                            <span class="hidden">{{condition.id}}</span>
                            <span class="feature-list-name">{{condition.description}}</span>
                        </div>
                        <div class="feature-list-delete pull-left">
                            <a href="" data-ng-click="removeCondition(condition)" >
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <br/>

        <p data-ng-if="!saving">To add a diagnosis, please enter your condition in the box below and select a suggested match:</p>
        <div class="selectize-diagnosis" data-ng-show="!saving">
            <select id="select-diagnosis" class="selectized" placeholder="Please type your condition"></select>
        </div>
        <div data-ng-show="saving" class="container">
            <h3 class="loading"><img src="images/loading.gif" alt="Loading"/>&nbsp; Saving</h3>
            <br/>
        </div>
        <p data-ng-if="noResults">No results found, please make sure you have typed your condition correctly.</p>
    </div>
    <div data-ng-show="loading" class="container">
        <h3 class="loading"><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading</h3>
        <br/>
    </div>
</div>