<div>
    <div>
        <ul class="nav nav-tabs">
            <li data-ng-class="{active:(activeTab === 'MY_CONDITIONS_GENERIC' || activeTab === null || activeTab === undefined)}"><a data-ng-click="activeTab = 'MY_CONDITIONS_GENERIC'">My Conditions</a></li>
            <li data-ng-class="{active:activeTab === 'ENTER_CONDITIONS'}" data-ng-show="showEnterConditions"><a data-ng-click="activeTab = 'ENTER_CONDITIONS'">Enter Diagnosis</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" data-ng-class="{active:(activeTab === 'MY_CONDITIONS_GENERIC' || activeTab === null || activeTab === undefined)}">
                <div data-ng-include src="'views/partials/myConditionsGeneric.html'" data-ng-controller="MyConditionsEnterConditionsCtrl"></div>
            </div>
            <div class="tab-pane" data-ng-class="{active:activeTab === 'ENTER_CONDITIONS'}" data-ng-show="showEnterConditions">
                <div data-ng-include src="'views/partials/myConditionsEnterConditions.html'" data-ng-controller="MyConditionsEnterConditionsCtrl"></div>
            </div>
        </div>

        <div class="panel panel-default" data-ng-if="currentSpecialty.links.length && (activeTab === 'MY_CONDITIONS_GENERIC' || activeTab === null || activeTab === undefined)">
            <div class="panel-heading"><h3>Other Helpful Information</h3></div>
            <div class="panel-body">
                <ul class="helpful-links">
                    <li data-ng-repeat="link in currentSpecialty.links | orderBy:'displayOrder'">
                        <a href="{{link.link | addhttpFilter}}" target="_blank">{{link.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

