
<div data-ng-show="!patientDetails.length">
    <br/>
    <p>Your conditions have not yet been added to PatientView by the {{currentSpecialty.name}} specialty.</p>
</div>

<div class="details-filter clearfix" data-ng-show="patientDetails.length">
    <div class="pull-right">Information provided by: &nbsp;&nbsp;
        <span data-ng-repeat="patient in patientDetails | orderBy:'group.name'">
            <input type="checkbox" value="{{patient.group.shortName}}" data-ng-model="patient.group.selected">
            <span class="checkbox-label">{{patient.group.shortName}}</span>
        </span>
    </div>
</div>

<ul class="nav nav-tabs">
    <li data-ng-class="{active:(activeTab === 'MY_CONDITIONS' || activeTab === null || activeTab === undefined)}"><a data-ng-click="activeTab = 'MY_CONDITIONS'">My Conditions</a></li>
    <li data-ng-class="{active:activeTab === 'MY_CONDITIONS_GENERIC'}"><a data-ng-click="activeTab = 'MY_CONDITIONS_GENERIC'">Entered Diagnoses</a></li>
    <li data-ng-class="{active:activeTab === 'ENTER_CONDITIONS'}" data-ng-show="showEnterConditions"><a data-ng-click="activeTab = 'ENTER_CONDITIONS'">Enter Diagnosis</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane" data-ng-class="{active:(activeTab === 'MY_CONDITIONS' || activeTab === null || activeTab === undefined)}">
        <div data-ng-show="patientDetails.length">
            <div data-ng-repeat="patient in patientDetails | orderBy:'group.name'" data-ng-show="patient.group.selected">
                <div data-ng-include src="'views/partials/myConditionsPatientDetails.html'"></div>
            </div>
        </div>
    </div>
    <div class="tab-pane" data-ng-class="{active:activeTab === 'MY_CONDITIONS_GENERIC'}">
        <div data-ng-include src="'views/partials/myConditionsGeneric.html'" data-ng-controller="MyConditionsEnterConditionsCtrl"></div>
    </div>
    <div class="tab-pane" data-ng-class="{active:activeTab === 'ENTER_CONDITIONS'}" data-ng-show="showEnterConditions">
        <div data-ng-include src="'views/partials/myConditionsEnterConditions.html'" data-ng-controller="MyConditionsEnterConditionsCtrl"></div>
    </div>
</div>



<div class="panel panel-default" data-ng-show="currentSpecialty.links">
    <div class="panel-heading"><h3>Other Helpful Information</h3></div>
    <div class="panel-body">
        <ul>
            <li data-ng-repeat="link in currentSpecialty.links | orderBy:'displayOrder'">
                <a href="{{link.link | addhttpFilter}}" target="_blank">{{link.name}}</a>
            </li>
        </ul>
    </div>
</div>