<div ng-controller="NewStaffModalCtrl">
    <!--<div class="alert alert-success" ng-show="$parent.successMessage">{{$parent.successMessage}}</div>
    <div class="alert alert-warning" ng-show="successMessage">{{successMessage}}</div>-->

    <script type="text/ng-template" id="newStaffModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Create New Staff User</h3>
        </div>
        <div class="modal-body">
            <form name="userForm" novalidate ng-model="editUser">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="new-user-username" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10"><input type="text" class="form-control" id="new-user-username" placeholder="Username" ng-model="editUser.username" ></div>
                    </div>
                    <div class="form-group">
                        <label for="new-user-email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10"><input type="text" class="form-control" id="new-user-email" placeholder="Email" ng-model="editUser.email" ></div>
                    </div>
                    <div class="form-group">
                        <label for="new-user-name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10"><input type="text" class="form-control" id="new-user-name" placeholder="Name" ng-model="editUser.name" ></div>
                    </div>
                </div>
                <hr>

                <div ng-include src="'views/partials/groupsRolesFeatures.html'"></div>

            </form>
        </div>
        <div class="modal-footer">
            <div class="alert alert-danger" ng-show="errorMessage">There was an error {{errorMessage}}</div>
            <button class="btn btn-grey" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="ok()">Create New</button>
        </div>
    </script>
    <div class="alert alert-success" ng-show="userCreated && successMessage && editUser">
        <p>User was created successfully</p>
        <p>Username: <strong>{{editUser.username}}</strong></p>
        <p>Password: <strong>{{editUser.password}}</strong></p>
    </div>
    <button class="btn btn-primary" ng-click="open('lg')">Create New</button>
</div>