<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-12">
            <label for="news-heading" class="control-label">Heading <span class="error" data-ng-show="newsFormNew.heading.$error.required && !newsFormNew.$pristine"> *required</span></label>
            <div class=""><input type="text" class="form-control" id="news-heading" placeholder="Heading" name="heading" data-ng-model="newNews.heading" required maxlength="100"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-12">
            <label for="news-story" class="control-label">Article <span class="error" data-ng-show="newsFormNew.story.$error.required && !newsFormNew.$pristine"> *required</span></label>
            <textarea class="form-control article-content" id="news-story" placeholder="Story" name="story" data-ng-model="newNews.story" required></textarea>
        </div>
    </div>
</div>
<div data-ng-include src="'views/partials/htmlHelp.html'" class="help-text"></div>
<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-12">
            <label class="control-label">Preview </label>
            <div class="message-summary">
                <h2 class="message-title">{{newNews.heading}}
                    <span data-ng-repeat="newsLink in newNews.newsLinks" class="pull-right news-link-labels">
                        <span class="label label-primary" data-ng-show="newsLink.group != null && newsLink.group.groupType.value == 'SPECIALTY'">{{newsLink.group.name}}</span>
                        <span class="label label-success" data-ng-show="newsLink.role != null && newsLink.role.name === 'PUBLIC'">{{newsLink.role.description}}</span>
                    </span>
                </h2>
                <div class="last-message">
                    <p class="message-content" data-ng-bind-html="parseHTMLText(newNews.story)"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row form-edit-row">
    <hr/>
    <div class="col-md-12" data-ng-show="!modalLoading">
        <label class="inner-title">Groups &amp; Roles </label>
        <p>Who should be able to see this News item? Select, then click Add.
            <br/>You can add multiple groups and roles.
            <br/>When you've finished, click "Create News Item"</p>
        <ul class="group-list-item unstyled inline clearfix" data-ng-repeat="newsLink in newNews.newsLinks" data-ng-hide="newsLink.role.name === 'GLOBAL_ADMIN'">
            <li class="group-list-name pull-left">
                <span class="group-list-name" data-ng-show="newsLink.group">{{newsLink.group.name}}</span>
                <span class="group-list-name" data-ng-show="!newsLink.group.id">All Groups</span>
            </li>
            <li class="group-list-role  pull-left">
                <span class="group-list-role" data-ng-show="newsLink.role">{{newsLink.role.description}}</span>
                <span class="group-list-role" data-ng-show="!newsLink.role.id">All Roles</span>
            </li>
            <li class="group-list-delete pull-left">
                <span class="group-list-delete">
                    <button class="btn negative" id="remove-group-{{newsLink.group.id}}" href="" data-ng-click="removeNewsLink(newsFormNew, newNews, newsLink)" >Delete</button>
                </span>
            </li>
        </ul>
        <div class="group-add-container">
            <div class="select-add-group">
                <select class="form-control" data-ng-model="groupToAdd"
                        data-ng-options="group.id as group.name + ' &nbsp;(' + group.groupType.description + ')' for group in newNews.allGroups | orderBy:[orderGroups,'name']">
                </select>
                <div class="bracket-input">
                    <span class="bracket pre">(</span>
                    <select class="form-control" data-ng-model="roleToAdd"
                            data-ng-options="role.id as role.description for role in newNews.allRoles | orderBy:'description'">
                    </select>
                    <span class="bracket post">)</span>
                </div>
                <button type="button" class="btn blue group-add-button" data-ng-click="addNewsLink(newsFormNew, newNews, groupToAdd, roleToAdd)" data-ng-disabled="!roleToAdd">Add</button>
            </div>
         </div>
    </div>
    <div class="loading" data-ng-show="modalLoading"><img src="images/loading.gif" alt="Loading"/></div>
</div>
