<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-12">
            <label for="news-heading" class="control-label">Heading <span class="error" ng-show="newsForm.heading.$error.required && !newsForm.$pristine"> *required</span></label>
            <div class=""><input type="text" class="form-control" id="news-heading" placeholder="Heading" name="heading" ng-model="editNews.heading" required></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-12">
            <label for="news-story" class="control-label">Story <span class="error" ng-show="newsForm.story.$error.required && !newsForm.$pristine"> *required</span></label>
            <div class=""><textarea class="form-control" id="news-story" placeholder="Story" name="story" ng-model="editNews.story" required /></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-12">
            <label class="control-label">Preview </label>
            <div class="message-summary">
                <h2 class="message-title">{{editNews.heading}}
                    <span ng-repeat="newsLink in editNews.newsLinks" class="pull-right">
                        <span class="label label-primary" ng-show="newsLink.group != null && editNews.allGroups[newsLink.group.id].groupType.value == 'SPECIALTY'">{{editNews.allGroups[newsLink.group.id].name}}</span>
                        <span class="label label-success" ng-show="newsLink.role != null && editNews.allRoles[newsLink.role.id].name === 'PUBLIC'">{{editNews.allRoles[newsLink.role.id].description}}</span>
                    </span>
                </h2>
                <div class="last-message">
                    <p class="message-content" ng-bind-html="parseStoryPreview(editNews.story)"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>
<button type="button" class="btn blue pull-right" ng-click="save(newsForm, editNews)" ng-disabled="newsForm.$pristine || !newsForm.$valid">Save</button>
<span class="saved-notification pull-right" ng-show="newsForm.$pristine && saved">Saved Successfully! &nbsp;</span>

<div class="row form-edit-row">
    <hr/>
    <div class="col-md-6">
        <label>Visible to Groups</label>
        <div ng-hide="editNews.groups.length > 0" class="no-items">Not currently visible by any groups</div>

        <ul class="feature-list unstyled">
            <li class="feature-list-item" ng-repeat="group in editNews.groups | orderBy:'name'">
                <div class="feature-list-name"><span class="feature-list-name">{{group.name}}</span> &nbsp;
                    <a id="remove-group-modal-{{group.id}}" href="" ng-click="removeGroup(newsForm, editNews, group)"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </li>
        </ul>
        <div class="group-add-container item-add-container" ng-show="editNews.availableGroups.length > 0">
            <div class="custom-select">
                <select class="form-control group-select" ng-model="groupToAdd" ng-options="group.id as group.name + ' &nbsp;(' + group.groupType.description + ')' for group in editNews.availableGroups | orderBy:'name'"></select>
            </div>
            <button type="button" class="btn blue group-add-button pull-left" ng-click="addGroup(newsForm, editNews, groupToAdd)"><i class="glyphicon glyphicon-plus-sign"></i></button>
        </div>
    </div>
</div>

<div class="row form-edit-row">
    <hr/>
    <div class="col-md-6">
        <label>Visible to Roles</label>
        <div ng-hide="editNews.roles.length > 0" class="no-items">Not currently visible by people with any roles</div>

        <ul class="feature-list unstyled">
            <li class="feature-list-item" ng-repeat="role in editNews.roles | orderBy:'description'" ng-show="!(role.name === 'GLOBAL_ADMIN')">
                <div class="feature-list-name"><span class="feature-list-name">{{role.description}}</span> &nbsp;
                    <a id="remove-role-modal-{{role.id}}" href="" ng-click="removeRole(newsForm, editNews, role)"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </li>
        </ul>
        <div class="group-add-container item-add-container" ng-show="editNews.availableRoles.length > 0">
            <div class="custom-select">
                <select class="form-control group-select" ng-model="roleToAdd" ng-options="role.id as role.description for role in editNews.availableRoles | orderBy:'description'"></select>
            </div>
            <button type="button" class="btn blue group-add-button pull-left" ng-click="addRole(newsForm, editNews, roleToAdd)"><i class="glyphicon glyphicon-plus-sign"></i></button>
        </div>
    </div>
</div>