<div class="modal-header">
    <h3 class="modal-title">Result Type Information</h3>
</div>
<div class="modal-body">
    <table>
        <tbody>
        <tr>
            <td>Name</td>
            <td><span ng-show="result.name">{{result.name}}</span>
                <span ng-show="!result.name">Not Available</span></td>
        </tr><tr>
            <td>Heading</td>
            <td><span ng-show="result.heading">{{result.heading}}</span>
                <span ng-show="!result.heading">Not Available</span></td>
        </tr><tr>
            <td>Code</td>
            <td><span ng-show="result.code">{{result.code}}</span>
                <span ng-show="!result.code">Not Available</span></td>
        </tr><tr>
            <td>Units</td>
            <td><span ng-show="result.units">{{result.units}}</span>
                <span ng-show="!result.units">Not Available</span></td>
        </tr><tr>
            <td>Normal Range</td>
            <td><span ng-show="result.normalRange">{{result.normalRange}}</span>
                <span ng-show="!result.normalRange">Not Available</span></td>
        </tr><tr>
            <td>Minimum Value</td>
            <td><span ng-show="result.minGraph">{{result.minGraph}}</span>
                <span ng-show="!result.minGraph">Not Available</span></td>
        </tr><tr>
            <td>Maximum Value&nbsp;&nbsp;&nbsp;</td>
            <td><span ng-show="result.maxGraph">{{result.maxGraph}}</span>
                <span ng-show="!result.maxGraph">Not Available</span></td>
        </tr><tr>
            <td>Information</td>
            <td>
                <a href="{{result.infoLink | addhttpFilter}}" target="_blank" ng-show="result.infoLink">
                    {{result.infoLink}}
                </a>
                <span ng-show="!result.infoLink">Not Available</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-grey" ng-click="cancel()">Close</button>
</div>