<div class="panel panel-default">
    <div class="panel-body health-surveys">
        <div class="text-center">
            <img src="../images/icons/OPT-ePRO_LOGO_MAIN_BLUE-PURPLE.png" class="opt-epro-logo" alt="OPT-ePRO logo"/>
        </div>
        <div class="row">
            <div class="col-md-1 no-margin text-right">
                <div class="badge icon-large aqua">
                    <img src="../images/icons/symptoms.png" alt="Symptoms"/>
                </div>
            </div>
            <div class="col-md-8 col-xs-7">
                <h4 class="survey">My Symptoms</h4>
                <p>Before every appointment with your kidney doctor or nurse, report for 17 symptoms how much they have affected you over the last week.</p>
                <p class="list-date" data-ng-if="foundSurveys['POS_S']">
                    Last completed on {{foundSurveys['POS_S'].date | date:'dd-MMM-yyyy HH:mm'}}
                </p>
            </div>
            <div class="col-md-4 align-bottom">
                <a data-ng-click="openModalEnterSurveyResponses('POS_S')" class="btn blue">
                    Fill in
                </a>
                <a href="/#/surveys/symptoms?type=POS_S" class="btn blue">
                    View
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-1 no-margin text-right">
                <div class="badge icon-large aqua">
                    <img src="../images/icons/overall-health.png" alt="Overall health"/>
                </div>
            </div>
            <div class="col-md-7">
                <h4 class="survey">My Overall Health</h4>
                <p>Once a year, report how you have been doing for five things related to your overall health, such as if you have problems doing your usual activities.</p>
                <p class="list-date" data-ng-if="foundSurveys['EQ5D5L']">
                    Last completed on {{foundSurveys['EQ5D5L'].date | date:'dd-MMM-yyyy HH:mm'}}
                </p>
            </div>
            <div class="col-md-4 align-bottom">
                <a data-ng-if="canEnterSurveyResponses('EQ5D5L')" data-ng-click="openModalEnterSurveyResponses('EQ5D5L')" class="btn blue">
                    Fill in
                </a>
                <a href="/#/surveys/overall?type=EQ5D5L" class="btn blue">
                    View
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p>Your answers will be sent to (1) PatientView, so you can monitor your symptoms and overall health yourself, if you wish; (2) Your kidney team, so they can get a better idea of how you have been, and what they can do to support you; and (3) The UK Renal Registry, who will use your data for audit and research as described in their privacy statement: <a href="https://www.renalreg.org/patient-info/" target="_blank">https://www.renalreg.org/patient-info/</a></p>

                <p>
                    Reporting information for My Consultation is voluntary. If you do not want to take part, just let your kidney team know and do not fill in the questions. If you have any other questions, <a href="/#/questionnaire-faq">click here for more information</a>.
                </p>
            </div>
        </div>
    </div>
    <div data-ng-show="loading" class="container">
        <h3 class="loading"><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading Surveys</h3>
        <br/>
    </div>
</div>