<!-- pagination -->
<div class="col-md-12" data-ng-show="pagedItems.length > 0 && totalPages > 1">
    <ul class="pagination">
        <li data-ng-class="firstPageDisabled()">
            <a href data-ng-click="firstPage()">« First</a>
        </li>
        <li data-ng-class="prevPageDisabled()">
            <a href data-ng-click="prevPage()">« Prev</a>
        </li>
        <li data-ng-repeat="n in range()" data-ng-class="{active: n == currentPage}" data-ng-click="setPage(n)">
            <a href>{{n+1}}</a>
        </li>
        <li data-ng-class="nextPageDisabled()">
            <a href data-ng-click="nextPage()">Next »</a>
        </li>
        <li data-ng-class="lastPageDisabled()">
            <a href data-ng-click="lastPage()">Last »</a>
        </li>
    </ul>
</div>