<div data-ng-show="editUser.picture.length" class="row text-center edit-staff" data-ng-if="editUser.id">
    <img data-ng-src="{{'/api/user/' + editUser.id + '/picture?token=' + authToken}}" class="user-picture" src="">
</div>

<div class="form-horizontal row patient-detail" role="form">
    <div class="col-md-3">
        <label for="new-user-username" class="control-label">Username
            <span class="error" data-ng-show="userForm.userName.$error.required && !userForm.$pristine">*required</span>
        </label>
        <div>
            <input type="text" class="form-control" id="new-user-username" placeholder="Username" name="userName"
                   data-ng-model="editUser.username" required data-ng-disabled="!permissions.canEditPatients" maxlength="50">
        </div>
    </div>
    <div class="col-md-3">
        <label for="new-user-email" class="control-label">Email
            <span class="error" data-ng-show="userForm.email.$error.required && !userForm.$pristine">*required</span>
            <span class="error" data-ng-show="userForm.email.$error.email && !userForm.$pristine"> invalid</span>
        </label>
        <div>
            <input type="text" class="form-control" id="new-user-email" placeholder="Email" name="email"
                   data-ng-model="editUser.email" required data-ng-disabled="!permissions.canEditPatients"></div>
        <div>Don't have an email? 
            <a href="http://rixg.org/patientview2/admin-and-technical/unit-admin-guide/#Add_a_new_patient" target="_blank">Click for info</a>
        </div>
    </div>
    <div class="col-md-3">
        <label for="new-user-forename" class="control-label">Forename
            <span class="error" data-ng-show="userForm.forename.$error.required && !userForm.$pristine"> *required</span>
        </label>
        <div><input type="text" class="form-control" id="new-user-forename" placeholder="Forename" name="forename"
                    data-ng-model="editUser.forename" required data-ng-disabled="!permissions.canEditPatients"></div>
    </div>
    <div class="col-md-3">
        <label for="new-user-surname" class="control-label">Surname
            <span class="error" data-ng-show="userForm.surname.$error.required && !userForm.$pristine"> *required</span>
        </label>
        <div>
            <input type="text" class="form-control" id="new-user-surname" placeholder="Surname" name="surname"
                   data-ng-model="editUser.surname" required data-ng-disabled="!permissions.canEditPatients"></div>
    </div>
</div>

<br/>
<div class="row">
    <div class="col-md-6">
        <label class="control-label">Date Of Birth</label>
        <div class="dob-row">
            <div class="col-md-4 day">
                Day:<select data-ng-model="editUser.selectedDay"
                            data-ng-options="option.toString() as option for option in days"
                            class="form-control" data-ng-disabled="!permissions.canEditPatients"></select>
            </div>
            <div class="col-md-4">
                Month:<select data-ng-model="editUser.selectedMonth"
                              data-ng-options="option.toString() as option for option in months"
                              class="form-control" data-ng-disabled="!permissions.canEditPatients"></select>
            </div>
            <div class="col-md-4 year">
                Year:<select data-ng-model="editUser.selectedYear"
                             data-ng-options="option.toString() as option for option in years"
                             class="form-control" data-ng-disabled="!permissions.canEditPatients"></select>
            </div>
        </div>
    </div>
</div>

<div class="row editPatient">
    <div class="form-horizontal" role="form">
        <div class="col-md-3 visible-for-col">
            <h5 for="user-locked pull-left" class="control-label">Locked</h5>
            <input type="checkbox" class="form-control" id="user-locked" name="user-locked"
                   data-ng-model="editUser.locked" data-ng-disabled="!permissions.canEditPatients"/>
        </div>
        <div class="col-md-3 visible-for-col">
            <h5 for="user-locked pull-left" class="control-label">Override Identifier Validation</h5>
            <input type="checkbox" class="form-control" id="user-dummy" name="user-dummy"
                   data-ng-model="editUser.dummy" data-ng-disabled="!permissions.isSuperAdmin"/>
        </div>
        <div class="col-md-3 visible-for-col">
            <h5 for="user-emailVerified pull-left" class="control-label">Email Address Verified</h5>
            <input type="checkbox" class="form-control" id="user-emailVerified" name="user-emailVerified"
                   data-ng-model="editUser.emailVerified" data-ng-disabled="true"/>
        </div>
    </div>
</div>
<button type="button" class="btn blue pull-right" data-ng-click="save(userForm, editUser)"
        data-ng-show="permissions.canEditPatients" data-ng-disabled="userForm.$pristine || !userForm.$valid">Save</button>
<span class="saved-notification pull-right" data-ng-show="userForm.$pristine && saved">Saved Successfully! &nbsp;</span>
<div class="row form-edit-row">
    <hr/>
    <div class="col-md-6 grey-right-border">
        <div class="added-container">
            <label class="inner-title">Groups &amp; Roles </label>
            <p>Choose which groups/roles this user should belong to. 
                <a href="http://rixg.org/patientview2/admin-and-technical/unit-admin-guide/#How_to_manage_patients" target="_blank">
                    More information here.</a>
            </p>
            <br/>
            <ul class="group-list-item unstyled inline clearfix" data-ng-repeat="groupRole in editUser.groupRoles | orderBy:'group.name'"
                data-ng-hide="(groupRole.group.visible === false) || (groupRole.role.visible === false)">
                <li class="group-list-delete pull-right"
                    data-ng-show="permissions.allGroupsIds[groupRole.group.id] && permissions.canDeleteGroupRolesDuringEdit && permissions.canEditPatients">
                    <span class="group-list-delete">
                        <button class="btn negative" id="remove-group-{{groupRole.group.id}}"
                                data-ng-click="removeGroupRole(userForm, editUser, groupRole)" >Delete</button>
                    </span>
                </li>
                <li class="group-list-name pull-left">
                    <span class="group-list-name">{{groupRole.group.name}} ({{groupRole.group.groupType.description}})</span>
                </li>
                <li class="group-list-role pull-left">
                    <span class="bracket">(</span> <span class="group-role">{{groupRole.role.description}}</span> <span class="bracket">)</span>
                </li>
            </ul>
        </div>
        <div class="group-add-container add-container" data-ng-show="allGroups.length > 0 && permissions.canEditPatients">
            <label class="inner-title">Add New Group &amp; Role </label>
            <div class="select-add-group">
                <button type="button" class="btn blue pull-right group-add-button"
                        data-ng-click="addGroupRole(userForm, editUser, editUser.groupToAdd, editUser.selectedRole)"
                        data-ng-disabled="!editUser.selectedRole">Add</button>
                <select class="form-control" data-ng-model="editUser.groupToAdd"
                    data-ng-options="group.id as group.name + ' &nbsp;(' + group.groupType.description + ')' for group in allGroups | orderBy:[orderGroups,'name']">
                </select>
                <div class="bracket-input">
                    <span class="bracket pre">(</span>
                    <select class="form-control" data-ng-model="editUser.selectedRole"
                        data-ng-options="role.id as role.description for role in editUser.roles | orderBy:'name'">
                    </select>
                    <span class="bracket post">)</span>
                </div>
            </div>
            <span class="hidden">{{editUser.selectedRole}}</span>
        </div>
    </div>
    <div class="col-md-6 hidden">
        <div class="added-container">
            <label class="inner-title">Features</label>
            <p>Features are additional PatientView functions that can be enabled per user account</p>
            <div class="feature-list-item" data-ng-repeat="feature in editUser.userFeatures" data-ng-hide="feature.optInStatus === false">
                <div class="feature-list-name"><span class="feature-list-name">{{feature.feature.description}}</span></div>
                <div class="feature-list-delete"><span class="feature-list-delete"><a id="remove-feature-modal-{{feature.id}}" href="" data-ng-click="removeFeature(userForm, editUser, feature)" >Delete</a></span></div>
            </div>
        </div>
        <div class="feature-add-container add-container" data-ng-show="editUser.availableFeatures.length > 0 && permissions.canEditPatients">
            <label class="inner-title">Add New Feature </label>
            <div class="add-feature">
                <button type="button" class="btn blue feature-add-button pull-right" data-ng-click="addFeature(userForm, editUser, editUser.featureToAdd)">Add</button>
                <select class="form-control feature-select" data-ng-model="editUser.featureToAdd" data-ng-options="feature.feature.id as feature.feature.description for feature in editUser.availableFeatures"></select>
            </div>
        </div>
    </div>

    <!-- Identifiers -->
    <div class="col-md-6 col-sm-12" data-ng-show="identifierTypes">
        <div class="added-container">
            <label class="inner-title">Identifiers</label>
            <div class="identifier-list-item row" data-ng-repeat="identifier in editUser.identifiers">
                <div class="btn-group pull-right" data-ng-show="permissions.canEditPatients">
                    <button type="button" class="btn blue link-update-button" data-ng-click="updateIdentifier($event, userForm, editUser, identifier)">Update</button>
                    <button type="button" class="btn negative link-delete-button" data-ng-click="removeIdentifier(userForm, editUser, identifier)">Delete</button>
                </div>
                <div class="col-sm-4"><input type="text" class="form-control" id="identifier-identifier-{{identifier.id}}"
                     placeholder="Identifier" name="identifier" data-ng-model="identifier.identifier" required data-ng-disabled="!permissions.canEditPatients"></div>
                <div class="col-sm-4">
                    <select id="identifier-identifier" class="form-control"
                            data-ng-model="identifier.identifierType.id"
                            data-ng-options="identifierType.id as identifierType.description for identifierType in identifierTypes"
                            data-ng-disabled="!permissions.canEditPatients"></select>
                </div>

                <span class="saved-notification" data-ng-show="identifier.saved">&nbsp; Saved Successfully!</span>
            </div>
        </div>
        <div class="feature-add-container add-container" data-ng-show="permissions.canEditPatients">
            <label class="inner-title">Add Identifier</label>
            <div class="identifier-add-container" data-ng-model="newIdentifier">
                <button type="button" class="btn blue pull-right identifier-add-button"
                        data-ng-click="addIdentifier(userForm, editUser, newIdentifier)"
                        data-ng-disabled="!(newIdentifier.identifier && newIdentifier.identifierType)">Add</button>
                <input type="text" class="form-control" id="identifier-newIdentifier-identifier"
                       placeholder="Identifier" name="newIdentifier" data-ng-model="newIdentifier.identifier">
                <select class="form-control indentifierType-select" data-ng-model="newIdentifier.identifierType"
                        data-ng-options="identifierType.id as identifierType.description for identifierType in identifierTypes"></select>
            </div>
        </div>
    </div>
</div>
<!-- condition information (diagnosis) if in heart failure -->
<div class="row" data-ng-if="canAddDiagnosis()">
    <hr/>
    <div class="col-md-12" data-ng-if="diagnosisCodes">
        <label class="control-label">Condition Information</label>
        <p>Please enter information related to the patient's condition below. This is necessary when the data is not sent automatically from the unit to PatientView.</p>
        <div class="row diagnosis-staff">
            <div class="col-md-2">
                Current Diagnosis:
            </div>
            <div class="col-md-10" data-ng-if="editUser.staffEnteredDiagnosis">
                <strong>{{editUser.staffEnteredDiagnosis.description}} ({{editUser.staffEnteredDiagnosis.code}})</strong>
                &nbsp;&nbsp;&nbsp; set {{editUser.staffEnteredDiagnosis.date | date:'dd-MMM-yyyy HH:mm'}}
                by {{editUser.staffEnteredDiagnosis.asserter}}
                <a href="" data-ng-click="removeDiagnosis()">(remove)</a>
            </div>
            <div class="col-md-10" data-ng-if="!editUser.staffEnteredDiagnosis">
                <strong>No diagnosis entered</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Assign Diagnosis:
            </div>
            <div class="col-md-9">
                <!-- must be regular repeat for selectize -->
                <select class="demo-default" id="select-diagnosis-{{editUser.id}}" placeholder="Select a diagnosis..." data-ng-model="selectedDiagnosis">
                    <option value="">Select a diagnosis...</option>
                    <option data-ng-repeat="diagnosis in diagnosisCodes | orderBy:'description'" value="{{diagnosis}}"
                            data-ng-selected="{{selectedDiagnosis == diagnosis}}">
                        {{diagnosis.description}} ({{diagnosis.code}})
                    </option>
                </select>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn blue link-update-button" data-ng-click="addDiagnosis(editUser.id, selectedDiagnosis)">Save</button>
            </div>
        </div>
    </div>
    <div data-ng-show="!diagnosisCodes" class="container"><br/><br/>
        <div class="loading">
            <h3><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading Condition Information</h3>
        </div>
    </div>
</div>

<div data-ng-show="patientManagement">
    <div data-ng-include src="'views/partials/ibdPatientManagement.html'" data-ng-controller="IbdPatientManagementCtrl"></div>
</div>
