<div class="form-horizontal" role="form">
    <div class="form-group">
        <label for="new-user-username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-9"><span type="text" class="form-control" id="new-user-username">{{editUser.username}}</span></div>
    </div>
    <div class="form-group">
        <label for="new-user-email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-9"><span type="text" class="form-control" id="new-user-email">{{editUser.email}}</span></div>
    </div>
    <div class="form-group">
        <label for="new-user-forename" class="col-sm-2 control-label">Forename</label>
        <div class="col-sm-9"><span type="text" class="form-control" id="new-user-forename">{{editUser.forename}}</span></div>
    </div>
    <div class="form-group">
        <label for="new-user-surname" class="col-sm-2 control-label">Surname</label>
        <div class="col-sm-9"><span type="text" class="form-control" id="new-user-surname">{{editUser.surname}}</span></div>
    </div>
    <div class="form-group">
        <label for="new-user-locked" class="col-sm-2 control-label">Locked</label>
        <div class="col-sm-9"><span type="text" class="form-control" id="new-user-locked">{{editUser.locked}}</span></div>
    </div>
    <div class="form-group">
        <label for="new-user-email-verified" class="col-sm-2 control-label">Email Address Verified</label>
        <div class="col-sm-9"><span type="text" class="form-control" id="new-user-email-verified">{{editUser.emailVerified}}</span></div>
    </div>
    <div class="form-group">
        <label for="new-user-dummy" class="col-sm-2 control-label">Dummy Patient</label>
        <div class="col-sm-9"><span type="text" class="form-control" id="new-user-dummy">{{editUser.dummy}}</span></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-1 col-sm-11">
        <div class="added-container">
            <label class="inner-title">Groups &amp; Roles </label>
            <ul class="group-list-item unstyled inline clearfix" ng-repeat="groupRole in editUser.groupRoles" ng-hide="(groupRole.group.visible === false) || (groupRole.role.visible === false)">
                <li class="group-list-name pull-left"><span class="group-list-name">{{groupRole.group.name}} ({{groupRole.group.groupType.description}})</span></li>
                <li class="group-list-role pull-left">( <span class="group-list-role">{{groupRole.role.description}}</span> )</li>
                <li class="group-list-delete pull-left" ng-show="permissions.allGroupsIds[groupRole.group.id]"><span class="group-list-delete"><button class="btn negative" id="remove-group-{{groupRole.group.id}}" href="" ng-click="removeGroup(userFormExisting, editUser, groupRole.group)" >Delete</button></span></li>
            </ul>
        </div>
        <div class="group-add-container add-container" ng-show="editUser.availableGroups.length > 0 ">
            <label class="inner-title">Add New Group &amp; Role </label>
            <div class="select-add-group">
                <select class="form-control" ng-model="editUser.groupToAdd"
                        ng-options="group.id as group.name + ' &nbsp;(' + group.groupType.description + ')' for group in editUser.availableGroups | orderBy:[orderGroups,'name']">
                </select>
                <div class="bracket-input">
                    <span class="bracket pre">(</span>
                    <select class="form-control" ng-model="editUser.selectedRole"
                            ng-options="role.id as role.description for role in editUser.roles">
                    </select>
                    <span class="bracket post">)</span>
                </div>
                <button type="button" class="btn blue group-add-button" ng-click="addGroup(userFormExisting, editUser, editUser.groupToAdd)" ng-disabled="!editUser.selectedRole">Add</button>
            </div>
            <span class="hidden">{{editUser.selectedRole}}</span>
        </div>
    </div>
</div>