<div data-ng-if="!passedDobCheck">
    <div class="form-horizontal row" role="form">
        <div class="col-md-3">
            <label for="by-username" class="control-label">Search by Username</label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" id="by-username" data-ng-model="byUsername">
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
    <br/>
    <div class="form-horizontal row" role="form">
        <div class="col-md-3">
            <label for="by-identifier" class="control-label">OR Search by Identifier</label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" id="by-identifier" data-ng-model="byIdentifier">
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
    <br/>
    <div class="form-horizontal row" role="form">
        <div class="col-md-3">
            <label for="by-email" class="control-label">OR Search by Email</label>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control" id="by-email" data-ng-model="byEmail">
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
    <br/>
    <h4>As a security check please enter the patient's date of birth below:</h4>
    <div class="row">
        <div class="col-md-3">
            <br/>
            <label class="control-label">Patient's DOB</label>
        </div>
        <div class="col-md-2">
            Day:<select data-ng-model="dobCheck.day"
                        data-ng-options="option.toString() as option for option in days"
                        class="form-control"></select>
        </div>
        <div class="col-md-2">
            Month:<select data-ng-model="dobCheck.month"
                          data-ng-options="option.toString() as option for option in months"
                          class="form-control"></select>
        </div>
        <div class="col-md-2">
            Year:<select data-ng-model="dobCheck.year"
                         data-ng-options="option.toString() as option for option in years"
                         class="form-control"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-9">
            <br/>
            <button type="button" class="btn blue" data-ng-click="findAndValidate()"
                    data-ng-disabled="!((byUsername || byIdentifier || byEmail) && dobCheck.day && dobCheck.month && dobCheck.year)">Find & Add</button>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" data-ng-show="failedDobCheck">Please make sure the date of birth is correct.</div>
</div>
<div data-ng-show="passedDobCheck && !confirmAddGroupRole">
    <div class="alert alert-warning">A user with this {{searchType}} already exists. Add them to your group if required,
        then close this window.</div>

    <div data-ng-show="editUser.picture.length" class="form-horizontal text-center" data-ng-if="editUser.id">
        <img http-src="{{'/api/user/' + editUser.id + '/picture'}}" class="user-picture" src="">
        <br/><br/>
    </div>

    <div class="form-horizontal" role="form">
        <div class="form-group">
            <label for="new-user-username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-9"><span type="text" class="form-control" id="new-user-username">{{editUser.username}}</span></div>
        </div>
        <div class="form-group">
            <label for="new-user-email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-9"><span type="text" class="form-control" id="new-user-email">{{editUser.email}}</span></div>
        </div>
        <div class="form-group">
            <label for="new-user-forename" class="col-sm-2 control-label">Forename</label>
            <div class="col-sm-9"><span type="text" class="form-control" id="new-user-forename">{{editUser.forename}}</span></div>
        </div>
        <div class="form-group">
            <label for="new-user-surname" class="col-sm-2 control-label">Surname</label>
            <div class="col-sm-9"><span type="text" class="form-control" id="new-user-surname">{{editUser.surname}}</span></div>
        </div>
        <div class="form-group">
            <label for="new-user-locked" class="col-sm-2 control-label">Locked</label>
            <div class="col-sm-9"><input type="checkbox" id="new-user-locked" name="new-user-locked"
                                         data-ng-model="editUser.locked" data-ng-disabled="true"/></div>
        </div>
        <div class="form-group">
            <label for="new-user-email-verified" class="col-sm-2 control-label">Email Address Verified</label>
            <div class="col-sm-9"><input type="checkbox" id="new-user-email-verified"
                                         data-ng-model="editUser.emailVerified" data-ng-disabled="true"/></div>
        </div>
        <div class="form-group hidden">
            <label for="new-user-dummy" class="col-sm-2 control-label">Override Identifier Validation</label>
            <div class="col-sm-9"><input type="checkbox" id="new-user-dummy"
                                         data-ng-model="editUser.dummy" data-ng-disabled="true"/></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-1 col-sm-11">
            <div class="added-container">
                <label class="inner-title">Groups &amp; Roles </label>
                <p>Choose which groups/roles this user should belong to. More information
                    <a href="http://www.rixg.org/patientview/pages/admin.php" target="_blank">here</a>
                </p>
                <br/>
                <ul class="group-list-item unstyled inline clearfix" data-ng-repeat="groupRole in editUser.groupRoles | orderBy:'group.name'" data-ng-hide="(groupRole.group.visible === false) || (groupRole.role.visible === false)">
                    <li class="group-list-name pull-left"><span class="group-list-name">{{groupRole.group.name}} ({{groupRole.group.groupType.description}})</span></li>
                    <li class="group-list-role pull-left"><span class="bracket">(</span> <span class="group-role">{{groupRole.role.description}}</span> <span class="bracket">)</span></li>
                </ul>
            </div>
            <div class="group-add-container add-container" data-ng-show="allGroups.length > 0 ">
                <label class="inner-title">Add New Group &amp; Role </label>
                <div class="select-add-group">
                    <select class="form-control" data-ng-model="editUser.groupToAdd"
                        data-ng-options="group as group.name + ' &nbsp;(' + group.groupType.description + ')' for group in allGroups | orderBy:[orderGroups,'name']">
                    </select>
                    <div class="bracket-input">
                        <span class="bracket pre">(</span>
                        <select class="form-control" data-ng-model="editUser.selectedRole"
                            data-ng-options="role as role.description for role in editUser.roles | orderBy:'name'">
                        </select>
                        <span class="bracket post">)</span>
                    </div>
                    <button type="button" class="btn blue group-add-button"
                            data-ng-click="confirmAddGroupRole = true"
                            data-ng-disabled="!editUser.selectedRole">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-ng-show="confirmAddGroupRole && !addGroupRoleDone">
    <h4>Please Confirm:</h4>
    <p>You are updating patient <strong>{{editUser.forename}} {{editUser.surname}}</strong> with identifier(s)
        <strong data-ng-repeat="identifier in editUser.identifiers">{{identifier.identifier}}</strong>.
    </p>
    <p>They will be added to group <strong>{{editUser.groupToAdd.name}}</strong> with role <strong>{{editUser.selectedRole.description}}</strong>.</p>
    <br/>
    <button type="button" class="btn blue" data-ng-click="addGroupRoleConfirmed()" data-ng-disabled="addGroupRoleLoading">Confirm</button>
    &nbsp;
    <button type="button" class="btn" data-ng-click="confirmAddGroupRole = !confirmAddGroupRole" data-ng-disabled="addGroupRoleLoading">Cancel</button>
</div>

<div data-ng-show="addGroupRoleDone">
    <h4>Success</h4>
    <p>Patient <strong>{{editUser.forename}} {{editUser.surname}}</strong> with identifier(s)
        <strong data-ng-repeat="identifier in editUser.identifiers">{{identifier.identifier}}</strong>.
    has been added to group <strong>{{editUser.groupToAdd.name}}</strong> with role <strong>{{editUser.selectedRole.description}}</strong>.</p>
</div>
