<div class="form-horizontal row" role="form">
    <div class="col-md-3">
        <label for="new-user-username" class="control-label">Username <span class="error" ng-show="userFormNew.userName.$error.required && !userFormNew.$pristine">required</span></label>
        <div class=""><input type="text" class="form-control" id="new-user-username" placeholder="Username" name="userName" ng-model="editUser.username" required></div>
    </div>
    <div class="col-md-3">
        <label for="new-user-email" class="control-label">Email <span class="error" ng-show="userFormNew.email.$error.required && !userFormNew.$pristine">required</span> <span class="error" ng-show="userFormNew.email.$error.email && !userFormNew.$pristine">invalid</span></label>
        <div class=""><input type="email" class="form-control" id="new-user-email" placeholder="Email" name="email" ng-model="editUser.email" required></div>
    </div>
    <div class="col-md-3">
        <label for="new-user-forename" class="control-label">Forename <span class="error" ng-show="userFormNew.forename.$error.required && !userFormNew.$pristine">required</span></label>
        <div class=""><input type="text" class="form-control" id="new-user-forename" placeholder="Forename" name="forename" ng-model="editUser.forename" required></div>
    </div>
    <div class="col-md-3">
        <label for="new-user-surname" class="control-label">Surname <span class="error" ng-show="userFormNew.surname.$error.required && !userFormNew.$pristine">required</span></label>
        <div class=""><input type="text" class="form-control" id="new-user-surname" placeholder="Surname" name="surname" ng-model="editUser.surname" required></div>
    </div>
</div>
<div class="row editPatient">
    <div class="form-horizontal" role="form">
        <div class="col-md-3 visible-for-col">
            <h5 for="new-user-locked pull-left" class="control-label">Locked</h5>
            <input type="checkbox" class="form-control" id="new-user-locked" name="new-user-locked" ng-model="editUser.locked"/>
        </div>
        <div class="col-md-3 visible-for-col">
            <h5 for="new-user-emailVerified pull-left" class="control-label">Email Address Verified</h5>
            <input type="checkbox" class="form-control" id="new-user-emailVerified" name="new-user-emailVerified" ng-model="editUser.emailVerified" ng-disabled="true"/>
        </div>
        <div class="col-md-3 visible-for-col">
            <h5 for="new-user-dummy pull-left" class="control-label">Dummy Patient</h5>
            <input type="checkbox" class="form-control" id="new-user-dummy" name="new-user-dummy" ng-model="editUser.dummy"/>
        </div>
    </div>
</div>

<div class="row">
    <hr/>
    <div class="col-md-6 grey-right-border">
        <div class="added-container">
            <label class="inner-title">Groups &amp; Roles <span class="error" ng-show="(!editUser.groupRoles || editUser.groupRoles.length == 0) && !userFormNew.$pristine">Please add a group and role for this patient</span></label>
            <ul class="group-list-item unstyled inline clearfix" ng-repeat="groupRole in editUser.groupRoles" ng-hide="(groupRole.group.visible === false) || (groupRole.role.visible === false)">
                <li class="group-list-name pull-left"><span class="group-list-name">{{groupRole.group.name}} ({{groupRole.group.groupType.description}})</span></li>
                <li class="group-list-role pull-left">( <span class="group-list-role">{{groupRole.role.description}}</span> )</li>
                <li class="group-list-delete pull-left" ng-show="permissions.allGroupsIds[groupRole.group.id]"><span class="group-list-delete"><button class="btn negative" id="remove-group-{{groupRole.group.id}}" ng-click="removeGroup(userFormNew, editUser, groupRole.group)" >Delete</button></span></li>
            </ul>
        </div>
        <div class="group-add-container add-container" ng-show="editUser.availableGroups.length > 0 ">
            <label class="inner-title">Add New Group &amp; Role </label>
            <div class="select-add-group">
                <select class="form-control" ng-model="editUser.groupToAdd"
                    ng-options="group.id as group.name + ' &nbsp;(' + group.groupType.description + ')' for group in editUser.availableGroups | orderBy:[orderGroups,'name']">
                </select>
                <div class="bracket-input">
                    <span class="bracket pre">(</span>
                    <select class="form-control" ng-model="editUser.selectedRole"
                        ng-options="role.id as role.description for role in editUser.roles">
                    </select>
                    <span class="bracket post">)</span>
                </div>
                <button type="button" class="btn blue group-add-button" ng-click="addGroup(userFormNew, editUser, editUser.groupToAdd)" ng-disabled="!editUser.selectedRole">Add</button>
            </div>
            <span class="hidden">{{editUser.selectedRole}}</span>
        </div>
    </div>
    <div class="col-md-6 hidden">
        <div class="added-container">
            <label class="inner-title">Features</label>
            <div class="feature-list-item" ng-repeat="feature in editUser.userFeatures">
                <div class="feature-list-name"><span class="feature-list-name">{{feature.feature.description}}</span></div>
                <div class="feature-list-delete"><span class="feature-list-delete"><a id="remove-feature-modal-{{feature.id}}" href="" ng-click="removeFeature(userFormNew, editUser, feature)" >Delete</a></span></div>
            </div>
        </div>
        <div class="feature-add-container add-container" ng-show="editUser.availableFeatures.length > 0 ">
            <h5 class="inner-title">Add New Feature </h5>
            <div class="add-feature">
                <select class="form-control feature-select" ng-model="editUser.featureToAdd" ng-options="feature.feature.id as feature.feature.description for feature in editUser.availableFeatures"></select>
                <button type="button" class="btn blue feature-add-button" ng-click="addFeature(userFormNew, editUser, editUser.featureToAdd)">Add</button>
            </div>
        </div>
    </div>

<!-- Identifiers -->
    <div class="col-md-6" ng-show="identifierTypes">
        <div class="added-container">
            <label class="inner-title">Identifiers <span class="error" ng-show="editUser.identifiers.length < 1 && !userFormNew.$pristine">Please add an identifier for this patient</span></label>
            <div class="identifier-list-item row" ng-repeat="identifier in editUser.identifiers">
                <div class="col-sm-5"><input type="text" class="form-control" id="identifier-identifier-{{identifier.id}}" placeholder="NHS or CHI Number" name="identifier" ng-model="identifier.identifier" required></div>
                <div class="col-sm-3"><span class="identifier-identifier">{{identifier.identifierType.description}}</span></div>
                <div class="btn-group">
                    <button type="button" class="btn negative link-delete-button" ng-click="removeIdentifier(userFormNew, editUser, identifier)">Delete</button>
                </div>
            </div>
        </div>
        <div class="feature-add-container add-container">
            <label class="inner-title">Add Identifier</label>
            <div class="row" ng-model="newIdentifier">
                <div class="col-sm-5"><input type="text" class="form-control" id="identifier-newIdentifier-identifier" placeholder="NHS or CHI Number" name="newIdentifier" ng-model="newIdentifier.identifier"></div>
                <div class="col-sm-3"><select class="form-control indentifierType-select" ng-model="newIdentifier.identifierType" ng-options="identifierType.id as identifierType.description for identifierType in identifierTypes"></select></div>
                <div class="col-sm-2"><button type="button" class="btn btn-primary identifier-add-button" ng-click="addIdentifier(userFormNew, editUser, newIdentifier)" ng-disabled="!(newIdentifier.identifier)">Add</button></div>
            </div>
        </div>
    </div>
</div>