<div class="form-horizontal row" role="form">
    <div class="col-md-3">
        <label for="new-user-username" class="control-label">Username <span class="error" data-ng-show="userFormNew.userName.$error.required && !userFormNew.$pristine">(required)</span></label>
        <div><input type="text" class="form-control" id="new-user-username" placeholder="Username"
                             name="userName" data-ng-model="editUser.username" required maxlength="50"></div>
        <div data-ng-show="editUser.username.length">
            <a href="" data-ng-click="checkUsername()">Check Username</a>
            <span class="text-success" data-ng-show="editUser.usernameChecked && !editUser.usernameExists">Username OK</span>
            <span class="text-danger" data-ng-show="editUser.usernameChecked && editUser.usernameExists">Username in use. If this is expected, use the "Add Existing" function instead. Else please change username now.</span>
        </div>
    </div>
    <div class="col-md-3">
        <label for="new-user-email" class="control-label">Email <span class="error" data-ng-show="userFormNew.email.$error.required && !userFormNew.$pristine">(required)</span>
            <span class="error" data-ng-show="userFormNew.email.$error.email && !userFormNew.$pristine">invalid</span></label>
        <div><input type="text" class="form-control" id="new-user-email" placeholder="Email"
                             name="email" data-ng-model="editUser.email" required></div>
        <div>Don't have an email? <a href="http://rixg.org/patientview2/admin-and-technical/unit-admin-guide/#Add_a_new_patient" target="_blank">Click for info</a></div>
    </div>
    <div class="col-md-3">
        <label for="new-user-forename" class="control-label">Forename <span class="error" data-ng-show="userFormNew.forename.$error.required && !userFormNew.$pristine">(required)</span></label>
        <div><input type="text" class="form-control" id="new-user-forename" placeholder="Forename"
                             name="forename" data-ng-model="editUser.forename" required></div>
    </div>
    <div class="col-md-3">
        <label for="new-user-surname" class="control-label">Surname <span class="error" data-ng-show="userFormNew.surname.$error.required && !userFormNew.$pristine">(required)</span></label>
        <div><input type="text" class="form-control" id="new-user-surname" placeholder="Surname"
                             name="surname" data-ng-model="editUser.surname" required></div>
    </div>
</div>

<br/>
<div class="row">
    <div class="col-md-6">
        <label class="control-label">Date Of Birth  </label>
        <div class="dob-row">
            <div class="col-md-4 day">
                Day:
                <span class="error" data-ng-show="!editUser.selectedDay && !userFormNew.$pristine">(required)</span>
                <select data-ng-model="editUser.selectedDay"
                            data-ng-options="option as option for option in days"
                            class="form-control" required></select>
            </div>
            <div class="col-md-4">
                Month:
                <span class="error" data-ng-show="!editUser.selectedMonth && !userFormNew.$pristine">(required)</span>
                <select data-ng-model="editUser.selectedMonth"
                              data-ng-options="option as option for option in months"
                              class="form-control" required></select>
            </div>
            <div class="col-md-4 year">
                Year:
                <span class="error" data-ng-show="!editUser.selectedYear && !userFormNew.$pristine">(required)</span>
                <select data-ng-model="editUser.selectedYear"
                             data-ng-options="option as option for option in years"
                             class="form-control" required></select>
            </div>
        </div>
    </div>
</div>

<div class="row editPatient">
    <div class="form-horizontal" role="form">
        <div class="col-md-3 visible-for-col">
            <h5 for="new-user-locked pull-left" class="control-label">Locked</h5>
            <input type="checkbox" class="form-control" id="new-user-locked" name="new-user-locked" data-ng-model="editUser.locked"/>
        </div>
        <div class="col-md-3 visible-for-col">
            <h5 for="new-user-emailVerified pull-left" class="control-label">Email Address Verified</h5>
            <input type="checkbox" class="form-control" id="new-user-emailVerified" name="new-user-emailVerified" data-ng-model="editUser.emailVerified" data-ng-disabled="true"/>
        </div>
        <div class="col-md-3 visible-for-col hidden">
            <h5 for="new-user-dummy pull-left" class="control-label">Override Identifier Validation</h5>
            <input type="checkbox" class="form-control" id="new-user-dummy" name="new-user-dummy" data-ng-model="editUser.dummy"/>
        </div>
    </div>
</div>

<div class="row">
    <hr/>
    <div class="col-md-6 grey-right-border">
        <div class="added-container">
            <label class="inner-title">Groups &amp; Roles <span class="error" data-ng-show="(!editUser.groupRoles || editUser.groupRoles.length == 0) && !userFormNew.$pristine">Please add a group and role for this patient</span></label>
            <p>Choose which groups/roles this user should belong to. 
                <a href="http://rixg.org/patientview2/admin-and-technical/unit-admin-guide/#How_to_manage_patients" target="_blank">
                    More information here.</a>
            </p>
            <br/>
            <ul class="group-list-item unstyled inline clearfix" data-ng-repeat="groupRole in editUser.groupRoles | orderBy:'group.name'" data-ng-hide="(groupRole.group.visible === false) || (groupRole.role.visible === false)">
                <li class="group-list-name pull-left"><span class="group-list-name">{{groupRole.group.name}} ({{groupRole.group.groupType.description}})</span></li>
                <li class="group-list-role pull-left"><span class="bracket">(</span> <span class="group-role">{{groupRole.role.description}}</span> <span class="bracket">)</span></li>
                <li class="group-list-delete pull-left" data-ng-show="permissions.allGroupsIds[groupRole.group.id]">
                    <span class="group-list-delete">
                        <button class="btn negative" id="remove-group-{{groupRole.group.id}}"
                            data-ng-click="removeGroupRole(userFormNew, editUser, groupRole)" >Delete</button>
                    </span>
                </li>
            </ul>
        </div>
        <div class="group-add-container add-container" data-ng-show="allGroups.length > 0 ">
            <label class="inner-title">Add New Group &amp; Role </label>
            <div class="select-add-group">
                <select class="form-control" data-ng-model="editUser.groupToAdd"
                    data-ng-options="group.id as group.name + ' &nbsp;(' + group.groupType.description + ')' for group in allGroups | orderBy:[orderGroups,'name']">
                </select>
                <div class="bracket-input">
                    <span class="bracket pre">(</span>
                    <select class="form-control" data-ng-model="editUser.selectedRole"
                        data-ng-options="role.id as role.description for role in allowedRoles | orderBy:'name'">
                    </select>
                    <span class="bracket post">)</span>
                </div>
                <button type="button" class="btn blue group-add-button"
                        data-ng-click="addGroupRole(userFormNew, editUser, editUser.groupToAdd, editUser.selectedRole)"
                        data-ng-disabled="!editUser.selectedRole">Add</button>
            </div>
            <span class="hidden">{{editUser.selectedRole}}</span>
        </div>
    </div>
    <div class="col-md-6 hidden">
        <div class="added-container">
            <label class="inner-title">Features</label>
            <p>Features are additional PatientView functions that can be enabled per user account</p>
            <div class="feature-list-item" data-ng-repeat="feature in editUser.userFeatures">
                <div class="feature-list-name"><span class="feature-list-name">{{feature.feature.description}}</span></div>
                <div class="feature-list-delete"><span class="feature-list-delete"><a id="remove-feature-modal-{{feature.id}}" href="" data-ng-click="removeFeature(userFormNew, editUser, feature)" >Delete</a></span></div>
            </div>
        </div>
        <div class="feature-add-container add-container" data-ng-show="editUser.availableFeatures.length > 0 ">
            <h5 class="inner-title">Add New Feature </h5>
            <div class="add-feature">
                <select class="form-control feature-select" data-ng-model="editUser.featureToAdd" data-ng-options="feature.feature.id as feature.feature.description for feature in editUser.availableFeatures"></select>
                <button type="button" class="btn blue feature-add-button" data-ng-click="addFeature(userFormNew, editUser, editUser.featureToAdd)">Add</button>
            </div>
        </div>
    </div>

<!-- Identifiers -->
    <div class="col-md-6 pull-left" data-ng-show="identifierTypes">
        <div class="added-container">
            <label class="inner-title">Identifiers <span class="error" data-ng-show="editUser.identifiers.length < 1 && !userFormNew.$pristine">Please add an identifier for this patient</span></label>
            <div class="identifier-list-item row" data-ng-repeat="identifier in editUser.identifiers">
                <div class="col-sm-5"><input type="text" disabled="disabled" class="form-control" id="identifier-identifier-{{identifier.id}}" placeholder="Identifier" name="identifier" data-ng-model="identifier.identifier" required></div>
                <div class="col-sm-3"><span class="identifier-identifier">{{identifier.identifierType.description}}</span></div>
                <div class="btn-group">
                    <button type="button" class="btn negative link-delete-button" data-ng-click="removeIdentifier(userFormNew, editUser, identifier)">Delete</button>
                </div>
            </div>
        </div>
        <div class="feature-add-container add-container">
            <label class="inner-title">Add Identifier</label>
            <div class="row" data-ng-model="newIdentifier">
                <div class="pull-right col-sm-2"><button type="button" class="btn btn-primary pull-right identifier-add-button" data-ng-click="addIdentifier(userFormNew, editUser, newIdentifier)" data-ng-disabled="!(newIdentifier.identifier && newIdentifier.identifierType)">Add</button></div>
                <div class="col-sm-5"><input type="text" class="form-control" id="identifier-newIdentifier-identifier" placeholder="Identifier" name="newIdentifier" data-ng-model="newIdentifier.identifier"></div>
                <div class="col-sm-5"><select class="form-control indentifierType-select" data-ng-model="newIdentifier.identifierType" data-ng-options="identifierType.id as identifierType.description for identifierType in identifierTypes"></select></div>
            </div>
        </div>
    </div>
</div>

<!-- condition information (diagnosis) if in heart failure -->
<div class="row" data-ng-show="canAddDiagnosis()">
    <hr/>
    <div class="col-md-12">
        <label class="control-label">Condition Information</label>
        <p>Please enter information related to the patient's condition below. This is necessary when the data is not sent automatically from the unit to PatientView.</p>
        <div class="row diagnosis-staff">
            <div class="col-md-2">
                Current Diagnosis:
            </div>
            <div class="col-md-10" data-ng-if="editUser.staffEnteredDiagnosis">
                <strong>{{editUser.staffEnteredDiagnosis.description}} ({{editUser.staffEnteredDiagnosis.code}})</strong>
                <a href="" data-ng-click="removeDiagnosis()">(remove)</a>
            </div>
            <div class="col-md-10" data-ng-if="!editUser.staffEnteredDiagnosis">
                <strong>No diagnosis entered</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Assign Diagnosis:
            </div>
            <div class="col-md-8">
                <!-- must be regular repeat for selectize -->
                <select class="demo-default" id="select-diagnosis" placeholder="Select a diagnosis..." data-ng-model="selectedDiagnosis">
                    <option value="">Select a diagnosis...</option>
                    <option data-ng-repeat="diagnosis in diagnosisCodes | orderBy:'description'" value="{{diagnosis}}"
                            data-ng-selected="{{selectedDiagnosis == diagnosis}}">
                        {{diagnosis.description}} ({{diagnosis.code}})
                    </option>
                </select>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn blue link-update-button" data-ng-click="addDiagnosis(selectedDiagnosis)">Set Diagnosis</button>
            </div>
        </div>
    </div>
</div>
<div data-ng-show="hasPatientManagementPermission(editUser.groupRoles)">
    <div data-ng-include src="'views/partials/ibdPatientManagement.html'" data-ng-controller="IbdPatientManagementCtrl"></div>
</div>
