<div class="row" data-ng-if="!request.emailExists && request.type === 'FORGOT_LOGIN'">
    <div class="col-md-12">
        <div class="alert alert-warning">
            Warning: The email address associated with this request does not exist in PatientView.
            Please exercise caution. It is recommended that the user's identity be verified by making direct contact before resetting the login.
        </div>
    </div>
</div><div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-3">
            <label for="request-status-select" class="control-label">Status</label>
            <select data-ng-model="editRequest.status"
                    data-ng-options="status as status for status in statuses"
                    class="form-control" id="request-status-select"></select>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-12">
            <label for="request-notes" class="control-label">Notes</label>
            <input type="text" cols="40" rows="5" class="form-control" id="request-notes" placeholder="Notes"
                      name="notes" data-ng-model="editRequest.notes"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-3">
            <label class="control-label" data-ng-show="editRequest.completedBy">Completed By</label>
            <div data-ng-show="editRequest.completedBy">{{editRequest.completedBy.forename}} {{request.completedBy.surname}}</div>
        </div>
        <div class="col-md-3">
            <label class="control-label" data-ng-show="editRequest.completedBy">Completed On</label>
            <div data-ng-show="editRequest.completedBy">{{editRequest.completionDate | date:'dd-MMM-yyyy'}}</div>
        </div>
    </div>
</div>
<br/>
<div class="user-save-cancel pull-right btn-group">
    <button class="btn btn-grey close-edit" data-ng-click="request.showEdit = false">Close</button>
    <button type="button" class="btn blue" data-ng-click="save(requestForm, editRequest)"
            data-ng-disabled="requestForm.$pristine">Save</button>
</div>
<span class="saved-notification pull-right" data-ng-show="saved">Saved Successfully! &nbsp;</span>
