<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-3">
            <label for="result-heading-code" class="control-label">Code</label>
            <div><input type="text" class="form-control" id="result-heading-code" placeholder="Code" name="code" ng-model="editResultHeading.code" ng-disabled="true"></div>
        </div>
        <div class="col-md-3">
            <label for="result-heading-heading" class="control-label">Heading</label>
            <div><input type="text" class="form-control" id="result-heading-heading" placeholder="Heading" name="heading" ng-model="editResultHeading.heading"></div>
        </div>
        <div class="col-md-3">
            <label for="result-heading-name" class="control-label">Name</label>
            <div><input type="text" class="form-control" id="result-heading-name" placeholder="Name" name="name" ng-model="editResultHeading.name"></div>
        </div>
        <div class="col-md-3">
            <label for="result-heading-normal-range" class="control-label">Normal Range</label>
            <div><input type="text" class="form-control" id="result-heading-normal-range" placeholder="Normal Range" name="normalRange" ng-model="editResultHeading.normalRange"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-3">
            <label for="result-heading-units" class="control-label">Units</label>
            <div><input type="text" class="form-control" id="result-heading-units" placeholder="Units" name="units" ng-model="editResultHeading.units"></div>
        </div>
        <div class="col-md-3">
            <label for="result-heading-min-graph" class="control-label">Min Graphing Value</label>
            <div><input type="text" class="form-control" id="result-heading-min-graph" placeholder="Min Graphing Value" name="minGraph" ng-model="editResultHeading.minGraph" only-num-decimal></div>
        </div>
        <div class="col-md-3">
            <label for="result-heading-max-graph" class="control-label">Max Graphing Value</label>
            <div><input type="text" class="form-control" id="result-heading-max-graph" placeholder="Max Graphing Value" name="maxGraph" ng-model="editResultHeading.maxGraph" only-num-decimal></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-horizontal" role="form">
        <div class="col-md-6">
            <label for="result-heading-info-link" class="control-label">Info Link</label>
            <div><input type="text" class="form-control" id="result-heading-info-link" placeholder="Info Link" name="infoLink" ng-model="editResultHeading.infoLink"></div>
        </div>
        <div class="col-md-3">
            <label for="result-heading-default-panel" class="control-label">Default Panel</label>
            <div><input type="text" class="form-control" id="result-heading-default-panel" placeholder="Default Panel" name="defaultPanel" ng-model="editResultHeading.defaultPanel" only-num></div>
        </div>
        <div class="col-md-3">
            <label for="result-heading-default-panel-order" class="control-label">Default Order on Panel</label>
            <div><input type="text" class="form-control" id="result-heading-default-panel-order" placeholder="Default Order on Panel" name="defaultPanelOrder" ng-model="editResultHeading.defaultPanelOrder" only-num></div>
        </div>
    </div>
</div>

<button type="button" class="btn blue pull-right" ng-click="save(resultHeadingForm, editResultHeading)" ng-disabled="resultHeadingForm.$pristine || !resultHeadingForm.$valid">Save</button>
<span class="saved-notification pull-right" ng-show="resultHeadingForm.$pristine && saved">Saved Successfully! &nbsp;</span>

<br/>
<!-- SPECIALTY SELECTION OF PANEL AND PANEL ORDER GOES HERE -->
