<div data-ng-show="editUser.picture.length" class="row text-center edit-staff" data-ng-if="editUser.id">
    <img http-src="{{'/api/user/' + editUser.id + '/picture'}}" class="user-picture" src="">
</div>

<div class="row edit-staff">
    <div class="form-horizontal" role="form">
        <div class="col-md-3">
            <label for="new-user-username" class="control-label">Username <span class="error" data-ng-show="userForm.userName.$error.required">required</span></label>
            <div><input type="text" class="form-control" id="new-user-username" placeholder="Username"
                                 name="userName" data-ng-model="editUser.username" required maxlength="50"></div>
        </div>
        <div class="col-md-3">
            <label for="new-user-email" class="control-label">Email
                <span class="error" data-ng-show="userForm.email.$error.required">required</span>
                <span class="error" data-ng-show="userForm.email.$error.email && !userForm.$pristine">invalid</span>
            </label>
            <div>
                <input type="email" class="form-control" id="new-user-email" placeholder="Email" name="email"
                        data-ng-model="editUser.email" required>
            </div>
        </div>
        <div class="col-md-3">
            <label for="new-user-forename" class="control-label">Forename <span class="error" data-ng-show="userForm.forename.$error.required && !userForm.$pristine"> *required</span></label>
            <div><input type="text" class="form-control" id="new-user-forename" placeholder="Forename"
                                 name="forename" data-ng-model="editUser.forename" required></div>
        </div>
        <div class="col-md-3">
            <label for="new-user-surname" class="control-label">Surname <span class="error" data-ng-show="userForm.surname.$error.required && !userForm.$pristine"> *required</span></label>
            <div><input type="text" class="form-control" id="new-user-surname" placeholder="Surname"
                                 name="surname" data-ng-model="editUser.surname" required></div>
        </div>
        <input type="hidden" data-ng-model="editUser.contactNumber">
    </div>
</div>
<div class="row edit-staff">
    <div class="form-horizontal" role="form">
        <div class="col-md-3">
            <label for="new-user-role-description" class="control-label">Role Description</label>
            <div><input type="text" class="form-control" id="new-user-role-description" placeholder="Role Description"
                             name="roleDescription" data-ng-model="editUser.roleDescription" maxlength="50"></div>
        </div>
        <div class="col-md-3 visible-for-col">
            <h5 for="user-locked pull-left" class="control-label">Locked</h5>
            <input type="checkbox" class="form-control" id="user-locked" name="user-locked" data-ng-model="editUser.locked"/>
        </div>
        <div class="col-md-3 visible-for-col">
            <h5 for="user-emailVerified pull-left" class="control-label">Email Address Verified</h5>
            <input type="checkbox" class="form-control" id="user-emailVerified" name="user-emailVerified"
                   data-ng-model="editUser.emailVerified" data-ng-disabled="true"/>
        </div>
    </div>
</div>
<button type="button" class="btn blue pull-right form-save" data-ng-click="save(userForm, editUser)" data-ng-disabled="userForm.$pristine || !userForm.$valid">Save</button>
<span class="saved-notification pull-right" data-ng-show="userForm.$pristine && saved">Saved Successfully! &nbsp;</span>
<div class="row form-edit-row">
    <hr/>
    <div class="col-md-6 grey-right-border">
        <div class="added-container">
            <label class="inner-title">Groups &amp; Roles </label>
            <p>Choose which groups/roles this user should belong to.
                <a href="http://rixg.org/patientview2/admin-and-technical/unit-admin-guide/#How_to_manage_staff" target="_blank">
                    About staff roles and features.</a>
            </p>
            <br/>
            <ul class="group-list-item unstyled inline clearfix" data-ng-repeat="groupRole in editUser.groupRoles | orderBy:'group.name'" data-ng-show="groupRole.group.visible === true">
                <li class="group-list-delete pull-right" data-ng-show="permissions.allGroupsIds[groupRole.group.id] && permissions.canDeleteGroupRolesDuringEdit">
                    <span class="group-list-delete">
                        <button class="btn negative" id="remove-group-{{groupRole.group.id}}"
                                data-ng-click="removeGroupRole(userForm, editUser, groupRole)" >Delete</button>
                    </span>
                </li>
                <li class="group-list-name pull-left"><span class="group-list-name">{{groupRole.group.name}} ({{groupRole.group.groupType.description}})</span></li>
                <li class="group-list-role pull-left"><span class="bracket">(</span> <span class="group-role">{{groupRole.role.description}}</span> <span class="bracket">)</span></li>
            </ul>
        </div>
        <div class="group-add-container add-container" data-ng-show="allGroups.length > 0 ">
            <label class="inner-title">Add New Group &amp; Role </label>
            <div class="select-add-group">
                <button type="button" class="btn blue pull-right group-add-button"
                        data-ng-click="addGroupRole(userForm, editUser, editUser.groupToAdd, editUser.selectedRole)"
                        data-ng-disabled="!editUser.selectedRole">Add</button>
                <select class="form-control" data-ng-model="editUser.groupToAdd"
                    data-ng-options="group.id as group.name + ' &nbsp;(' + group.groupType.description + ')' for group in allGroups | orderBy:[orderGroups,'name']">
                </select>
                <div class="bracket-input">
                    <span class="bracket pre">(</span>
                    <select class="form-control" data-ng-model="editUser.selectedRole"
                        data-ng-options="role.id as role.description for role in editUser.roles | orderBy:'name'">
                    </select>
                    <span class="bracket post">)</span>
                </div>
            </div>
            <span class="hidden">{{editUser.selectedRole}}</span>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="added-container">
            <label class="inner-title">Features</label>
            <p>Features are additional PatientView functions that can be enabled per user account</p>
            <ul class="name-action-list unstyled">
                <li class="feature-list-item pull-left" data-ng-repeat="feature in editUser.userFeatures | orderBy:'feature.description'">
                    <div class="feature-list-name pull-left"><span class="feature-list-name">{{feature.feature.description}}</span></div>
                    <div class="feature-list-delete pull-left"><span class="feature-list-delete"><a id="remove-feature-modal-{{feature.id}}" href="" data-ng-click="removeFeature(userForm, editUser, feature)" ><i class="glyphicon glyphicon-remove"></i></a></span></div>
                </li>
            </ul>
        </div>
        <div class="feature-add-container add-container" data-ng-show="editUser.availableFeatures.length > 0 ">
            <label class="inner-title">Add New Feature (Optional)</label>
            <div class="add-feature">
                <button type="button" class="btn blue pull-right feature-add-button" data-ng-click="addFeature(userForm, editUser, editUser.featureToAdd)">Add</button>
                <select class="form-control feature-select" data-ng-model="editUser.featureToAdd"
                        data-ng-options="feature.feature.id as feature.feature.description for feature in editUser.availableFeatures | orderBy:'feature.description'"></select>
            </div>
        </div>
    </div>
</div>