<style>
    .large-alert {
        height: 70px;
    }
</style>

<div class="alert alert-danger large-alert" data-ng-show="editUser.deleted">
    This user has been marked as deleted and is only shown here for information purposes

    <button class="btn negative pull-right" id="undelete"
            data-ng-click="undelete(editUser)" data-ng-if="permissions.isSuperAdmin">Undelete User</button>
</div>
        
<div data-ng-show="editUser.picture.length" class="form-horizontal text-center" data-ng-if="editUser.id">
    <img http-src="{{'/api/user/' + editUser.id + '/picture'}}" class="user-picture" src="">
    <br/><br/>
</div>
        
<div class="form-horizontal" role="form">
    <div class="form-group">
        <label for="new-user-username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-9"><span type="text" class="form-control" id="new-user-username">{{editUser.username}}</span></div>
    </div>
    <div class="form-group">
        <label for="new-user-email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-9"><span type="text" class="form-control" id="new-user-email">{{editUser.email}}</span></div>
    </div>
    <div class="form-group">
        <label for="new-user-forename" class="col-sm-2 control-label">Forename</label>
        <div class="col-sm-9"><span type="text" class="form-control" id="new-user-forename">{{editUser.forename}}</span></div>
    </div>
    <div class="form-group">
        <label for="new-user-surname" class="col-sm-2 control-label">Surname</label>
        <div class="col-sm-9"><span type="text" class="form-control" id="new-user-surname">{{editUser.surname}}</span></div>
    </div>
    <div class="form-group">
        <label for="new-user-role-description" class="col-sm-2 control-label">Role Description</label>
        <div class="col-sm-9"><span type="text" class="form-control" id="new-user-role-description">{{editUser.roleDescription}}</span></div>
    </div>
    <div class="form-group">
        <label for="new-user-locked" class="col-sm-2 control-label">Locked</label>
        <div class="col-sm-9"><input type="checkbox" id="new-user-locked" name="new-user-locked"
                                     data-ng-model="editUser.locked" data-ng-disabled="true"/></div>
    </div>
    <div class="form-group">
        <label for="new-user-email-verified" class="col-sm-2 control-label">Email Address Verified</label>
        <div class="col-sm-9"><input type="checkbox" id="new-user-email-verified"
                                     data-ng-model="editUser.emailVerified" data-ng-disabled="true"/></div>
    </div>
    <input type="hidden" data-ng-model="editUser.contactNumber">
</div>

<div class="row">
    <div class="col-sm-offset-1 col-sm-11">
        <div class="added-container">
            <label class="inner-title">Groups &amp; Roles </label>
            <p>Choose which groups/roles this user should belong to.
                <a href="http://rixg.org/patientview2/admin-and-technical/unit-admin-guide/#How_to_manage_staff" target="_blank">
                    About staff roles and features.</a>
            </p>
            <br/>
            <ul class="group-list-item unstyled inline clearfix" data-ng-repeat="groupRole in editUser.groupRoles | orderBy:'group.name'" data-ng-hide="(groupRole.group.visible === false) || (groupRole.role.visible === false)">
                <li class="group-list-name pull-left"><span class="group-list-name">{{groupRole.group.name}} ({{groupRole.group.groupType.description}})</span></li>
                <li class="group-list-role pull-left"><span class="bracket">(</span> <span class="group-role">{{groupRole.role.description}}</span> <span class="bracket">)</span></li>
                <li class="group-list-delete pull-left" data-ng-show="permissions.allGroupsIds[groupRole.group.id]">
                    <span class="group-list-delete">
                        <button class="btn negative" id="remove-group-{{groupRole.group.id}}"
                            data-ng-click="removeGroupRole(userFormExisting, editUser, groupRole)" >Delete</button>
                    </span>
                </li>
            </ul>
        </div>
        <div class="group-add-container add-container" data-ng-show="allGroups.length > 0 ">
            <label class="inner-title">Add New Group &amp; Role </label>
            <div class="select-add-group">
                <select class="form-control" data-ng-model="editUser.groupToAdd"
                    data-ng-options="group.id as group.name + ' &nbsp;(' + group.groupType.description + ')' for group in allGroups | orderBy:[orderGroups,'name']">
                </select>
                <div class="bracket-input">
                    <span class="bracket pre">(</span>
                    <select class="form-control" data-ng-model="editUser.selectedRole"
                        data-ng-options="role.id as role.description for role in editUser.roles | orderBy:'name'">
                    </select>
                    <span class="bracket post">)</span>
                </div>
                <button type="button" class="btn blue group-add-button"
                    data-ng-click="addGroupRole(userFormExisting, editUser, editUser.groupToAdd, editUser.selectedRole)"
                    data-ng-disabled="!editUser.selectedRole">Add</button>
            </div>
            <span class="hidden">{{editUser.selectedRole}}</span>
        </div>
    </div>
</div>