<div class="form-horizontal row" role="form">
    <div class="col-md-3">
        <label for="new-user-username" class="control-label">Username <span class="error" data-ng-show="userFormNew.userName.$error.required && !userFormNew.$pristine">required</span></label>
        <div class=""><input type="text" class="form-control" id="new-user-username" placeholder="Username" name="userName" data-ng-model="editUser.username" required></div>
    </div>
    <div class="col-md-3">
        <label for="new-user-email" class="control-label">Email <span class="error" data-ng-show="userFormNew.email.$error.required && !userFormNew.$pristine">required</span> <span class="error" data-ng-show="userFormNew.email.$error.email && !userFormNew.$pristine">invalid</span></label>
        <div class=""><input type="email" class="form-control" id="new-user-email" placeholder="Email" name="email" data-ng-model="editUser.email" required></div>
    </div>
    <div class="col-md-3">
        <label for="new-user-forename" class="control-label">Forename <span class="error" data-ng-show="userFormNew.forename.$error.required && !userFormNew.$pristine">required</span></label>
        <div class=""><input type="text" class="form-control" id="new-user-forename" placeholder="Forename" name="forename" data-ng-model="editUser.forename" required></div>
    </div>
    <div class="col-md-3">
        <label for="new-user-surname" class="control-label">Surname <span class="error" data-ng-show="userFormNew.surname.$error.required && !userFormNew.$pristine">required</span></label>
        <div class=""><input type="text" class="form-control" id="new-user-surname" placeholder="Surname" name="surname" data-ng-model="editUser.surname" required></div>
    </div>
</div>

<div class="row">
    <hr/>
    <div class="col-md-6 grey-right-border">
        <div class="added-container">
            <label class="inner-title">Groups &amp; Roles <span class="error" data-ng-show="(!editUser.groupRoles || editUser.groupRoles.length == 0) && !userFormNew.$pristine">Please add a group and role for this staff member</span></label>
            <ul class="group-list-item unstyled inline clearfix" data-ng-repeat="groupRole in editUser.groupRoles | orderBy:'group.name'" data-ng-hide="(groupRole.group.visible === false) || (groupRole.role.visible === false)">
                <li class="group-list-name pull-left"><span class="group-list-name">{{groupRole.group.name}} ({{groupRole.group.groupType.description}})</span></li>
                <li class="group-list-role pull-left"><span class="bracket">(</span> <span class="group-role">{{groupRole.role.description}}</span> <span class="bracket">)</span></li>
                <li class="group-list-delete pull-left" data-ng-show="permissions.allGroupsIds[groupRole.group.id]">
                    <span class="group-list-delete">
                        <button class="btn negative" id="remove-group-{{groupRole.group.id}}"
                            data-ng-click="removeGroupRole(userFormNew, editUser, groupRole)" >Delete</button>
                    </span>
                </li>
            </ul>
        </div>
        <div class="group-add-container add-container" data-ng-show="allGroups.length > 0 ">
            <label class="inner-title">Add New Group &amp; Role </label>
            <p>Choose which groups/roles this user should belong to. More information
                <a href="http://www.rixg.org/patientview/pages/admin.php" target="_blank">here</a>
            </p>
            <br/>
            <div class="select-add-group">
                <select class="form-control" data-ng-model="editUser.groupToAdd"
                    data-ng-options="group.id as group.name + ' &nbsp;(' + group.groupType.description + ')' for group in allGroups | orderBy:[orderGroups,'name']">
                </select>
                <div class="bracket-input">
                    <span class="bracket pre">(</span>
                    <select class="form-control" data-ng-model="editUser.selectedRole"
                        data-ng-options="role.id as role.description for role in allowedRoles | orderBy:'name'">
                    </select>
                    <span class="bracket post">)</span>
                </div>
                <button type="button" class="btn blue group-add-button"
                    data-ng-click="addGroupRole(userFormNew, editUser, editUser.groupToAdd, editUser.selectedRole)"
                    data-ng-disabled="!editUser.selectedRole">Add</button>
            </div>
            <span class="hidden">{{editUser.selectedRole}}</span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="added-container">
            <label class="inner-title">Features</label>
            <p>Features are additional PatientView functions that can be enabled per user account</p>
            <div class="feature-list-item" data-ng-repeat="feature in editUser.userFeatures">
                <div class="feature-list-name"><span class="feature-list-name">{{feature.feature.description}}</span></div>
                <div class="feature-list-delete"><span class="feature-list-delete"><a id="remove-feature-modal-{{feature.id}}" href="" data-ng-click="removeFeature(userFormNew, editUser, feature)" >Delete</a></span></div>
            </div>
        </div>
        <div class="feature-add-container add-container" data-ng-show="editUser.availableFeatures.length > 0 ">
            <label class="inner-title">Add New Feature </label>
            <div class="add-feature">
                <select class="form-control feature-select" data-ng-model="editUser.featureToAdd" data-ng-options="feature.feature.id as feature.feature.description for feature in editUser.availableFeatures"></select>
                <button type="button" class="btn blue feature-add-button" data-ng-click="addFeature(userFormNew, editUser, editUser.featureToAdd)">Add</button>
            </div>
        </div>
    </div>
</div>