<div class="row edit-staff">
    <div class="form-horizontal" role="form">
        <div class="col-md-3">
            <label for="new-user-username" class="control-label">Username <span class="error" ng-show="userForm.userName.$error.required">required</span></label>
            <div class=""><input type="text" class="form-control" id="new-user-username" placeholder="Username" name="userName" ng-model="editUser.username" required></div>
        </div>
        <div class="col-md-3">
            <label for="new-user-email" class="control-label">Email <span class="error" ng-show="userForm.email.$error.required">required</span><span class="alert alert-warning" ng-show="userForm.email.$error.email && !userForm.$pristine">invalid</span></label>
            <div class=""><input type="text" class="form-control" id="new-user-email" placeholder="Email" name="email" ng-model="editUser.email" required></div>
        </div>
        <div class="col-md-3">
            <label for="new-user-name" class="control-label">Name <span class="error" ng-show="userForm.name.$error.required">required</span></label>
            <div class=""><input type="text" class="form-control" id="new-user-name" placeholder="Name" name="name" ng-model="editUser.name" required></div>

        </div>
    </div>
</div>

<div class="row form-edit-row">
    <div class="col-md-6 grey-right-border">
        <label class="inner-title">Groups &amp; Roles </label>
        <ul class="group-list-item unstyled inline clearfix" ng-repeat="groupRole in editUser.groupRoles" ng-show="groupRole.group.visible === true">
            <li class="group-list-name pull-left"><span class="group-list-name">{{groupRole.group.name}}</span></li>
            <li class="group-list-role pull-left"><span class="group-list-role">{{groupRole.role.description}}</span></li>
            <li class="group-list-delete negative pull-left" ng-show="permissions.allGroupsIds[groupRole.group.id]"><span class="group-list-delete"><a id="remove-group-{{groupRole.group.id}}" href="" ng-click="removeGroup(userForm, editUser, groupRole.group)" >Delete</a></span></li>
        </ul>
        <div class="group-add-container" ng-show="editUser.availableGroups.length > 0 ">
            <label class="inner-title">Add Group &amp; Role </label>
            <div class="select-add-group">
                <div class="custom-select">
                    <select class="form-control group-select" ng-model="groupToAdd" ng-options="group.id as group.name for group in editUser.availableGroups"></select>
                    <span class="caret-container"><span class="caret"></span></span>
                </div>
                <div class="group-list-item">
                    <button buttongroup="" buttongroupname="role" model="editUser.selectedRole" options="editUser.roles" ng-init="editUser.selectedRole" ng-click="selectRole(userForm, editUser, $event)"></button>
                </div>
                <button type="button" class="btn blue group-add-button" ng-click="addGroup(userForm, editUser, groupToAdd)" ng-disabled="!editUser.selectedRole">Add</button>
            </div>
            <span class="hidden">{{editUser.selectedRole}}</span>
        </div>
    </div>
    <div class="col-md-6">
        <label class="inner-title">Features</label>
        <div class="feature-list-item" ng-repeat="feature in editUser.userFeatures">
            <div class="feature-list-name"><span class="feature-list-name">{{feature.feature.description}}</span></div>
            <div class="feature-list-delete"><span class="feature-list-delete"><a id="remove-feature-modal-{{feature.id}}" href="" ng-click="removeFeature(userForm, editUser, feature)" >Delete</a></span></div>
        </div>
        <div class="feature-add-container" ng-show="editUser.availableFeatures.length > 0 ">
            <h5 class="inner-title">Add Feature </h5>
            <div class="row">
                <div class="col-sm-10"><select class="form-control feature-select" ng-model="featureToAdd" ng-options="feature.feature.id as feature.feature.description for feature in editUser.availableFeatures"></select></div>
                <div class="col-sm-2"><button type="button" class="btn blue feature-add-button" ng-click="addFeature(userForm, editUser, featureToAdd)">Add</button></div>
            </div>
        </div>
    </div>
</div>

<!-- Identifiers -->
<div class="row" ng-show="identifierTypes">
    <div class="col-sm-12">
        <h2>Identifiers</h2>
        <div class="identifier-list-item row" ng-repeat="identifier in editUser.identifiers">
            <div class="col-sm-5"><input type="text" class="form-control" id="identifier-identifier-{{identifier.id}}" placeholder="identifier" name="identifier" ng-model="identifier.identifier" required></div>
            <div class="col-sm-5"><span class="identifier-identifier">{{identifier.identifierType.value}}</span></div>
            <div class="col-sm-2"><button type="button" class="btn btn-danger identifier-delete-button" ng-click="removeIdentifier(userForm, editUser, identifier)">Delete</button></span></div>
        </div>
        <br/>
        <h5 class="inner-title">Add Identifier</h5>
        <div class="row" ng-model="newIdentifier">
            <div class="col-sm-5"><input type="text" class="form-control" id="identifier-newIdentifier-identifier" placeholder="identifier" name="newIdentifier" ng-model="newIdentifier.identifier"></div>
            <div class="col-sm-5"><select class="form-control indentifierType-select" ng-model="newIdentifier.identifierType" ng-options="identifierType.id as identifierType.value for identifierType in identifierTypes"></select></div>
            <div class="col-sm-2"><button type="button" class="btn btn-primary identifier-add-button" ng-click="addIdentifier(userForm, editUser, newIdentifier)" ng-disabled="!(newIdentifier.identifier)">Add</button></div>
        </div>
    </div>
</div>