<div class="row edit-staff">
    <div class="form-horizontal" role="form">
        <div class="col-md-3">
            <label for="new-user-username" class="control-label">Username <span class="error" ng-show="userForm.userName.$error.required">required</span></label>
            <div class=""><input type="text" class="form-control" id="new-user-username" placeholder="Username" name="userName" ng-model="editUser.username" required></div>
        </div>
        <div class="col-md-3">
            <label for="new-user-email" class="control-label">Email <span class="error" ng-show="userForm.email.$error.required">required</span><span class="alert alert-warning" ng-show="userForm.email.$error.email && !userForm.$pristine">invalid</span></label>
            <div class=""><input type="text" class="form-control" id="new-user-email" placeholder="Email" name="email" ng-model="editUser.email" required></div>
        </div>
        <div class="col-md-3">
            <label for="new-user-forename" class="control-label">Forename <span class="error" ng-show="userForm.forename.$error.required && !userForm.$pristine"> *required</span></label>
            <div class=""><input type="text" class="form-control" id="new-user-forename" placeholder="Forename" name="forename" ng-model="editUser.forename" required></div>
        </div>
        <div class="col-md-3">
            <label for="new-user-surname" class="control-label">Surname <span class="error" ng-show="userForm.surname.$error.required && !userForm.$pristine"> *required</span></label>
            <div class=""><input type="text" class="form-control" id="new-user-surname" placeholder="Surname" name="surname" ng-model="editUser.surname" required></div>
        </div>
    </div>
</div>
<br/>
<button type="button" class="btn blue pull-right" ng-click="save(userForm, editUser)" ng-disabled="userForm.$pristine || !userForm.$valid">Save</button>
<span class="saved-notification pull-right" ng-show="userForm.$pristine && saved">Saved Successfully! &nbsp;</span>
<div class="row form-edit-row">
    <hr/>
    <div class="col-md-6 grey-right-border">
        <label class="inner-title">Groups &amp; Roles </label>
        <ul class="group-list-item unstyled inline clearfix" ng-repeat="groupRole in editUser.groupRoles" ng-show="groupRole.group.visible === true">
            <li class="group-list-name pull-left"><span class="group-list-name">{{groupRole.group.name}}</span></li>
            <li class="group-list-role pull-left"><span class="group-list-role">{{groupRole.role.description}}</span></li>
            <li class="group-list-delete negative pull-left" ng-show="permissions.allGroupsIds[groupRole.group.id]"><span class="group-list-delete"><a id="remove-group-{{groupRole.group.id}}" href="" ng-click="removeGroup(userForm, editUser, groupRole.group)" >Delete</a></span></li>
        </ul>
        <div class="group-add-container" ng-show="editUser.availableGroups.length > 0 ">
            <div class="select-add-group">
                <select class="form-control" ng-model="editUser.groupToAdd" ng-options="group.id as group.name for group in editUser.availableGroups"></select>
                <div class="group-list-item">
                    <button buttongroup="" buttongroupname="role" model="editUser.selectedRole" options="editUser.roles" ng-init="editUser.selectedRole" ng-click="selectRole(userForm, editUser, $event)"></button>
                </div>
                <button type="button" class="btn blue group-add-button" ng-click="addGroup(userForm, editUser, editUser.groupToAdd)" ng-disabled="!editUser.selectedRole">Add</button>
            </div>
            <span class="hidden">{{editUser.selectedRole}}</span>
        </div>
    </div>
    <div class="col-md-6">
        <label class="inner-title">Features</label>
        <div class="feature-list-item" ng-repeat="feature in editUser.userFeatures">
            <div class="feature-list-name"><span class="feature-list-name">{{feature.feature.description}}</span></div>
            <div class="feature-list-delete"><span class="feature-list-delete"><a id="remove-feature-modal-{{feature.id}}" href="" ng-click="removeFeature(userForm, editUser, feature)" >Delete</a></span></div>
        </div>
        <div class="feature-add-container" ng-show="editUser.availableFeatures.length > 0 ">
            <h5 class="inner-title">Add Feature </h5>
            <div class="add-feature">
                <select class="form-control feature-select" ng-model="editUser.featureToAdd" ng-options="feature.feature.id as feature.feature.description for feature in editUser.availableFeatures"></select>
                <button type="button" class="btn blue feature-add-button" ng-click="addFeature(userForm, editUser, editUser.featureToAdd)">Add</button>
            </div>
        </div>
    </div>
</div>