
<div class="form-horizontal" role="form">
    <div class="form-group">
        <label for="new-user-username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-7"><input type="text" class="form-control" id="new-user-username" placeholder="Username" name="userName" ng-model="editUser.username" required></div>
        <span class="alert alert-warning" ng-show="userForm.userName.$error.required">required</span>
    </div>
    <div class="form-group">
        <label for="new-user-email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-7"><input type="text" class="form-control" id="new-user-email" placeholder="Email" name="email" ng-model="editUser.email" required></div>
        <span class="alert alert-warning" ng-show="userForm.email.$error.required">required</span>
    </div>
    <div class="form-group">
        <label for="new-user-name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-7"><input type="text" class="form-control" id="new-user-name" placeholder="Name" name="name" ng-model="editUser.name" required></div>
        <span class="alert alert-warning" ng-show="userForm.name.$error.required">required</span>
    </div>
</div>