html{
    font-family: 'Lato', sans-serif;
}

body {
    background: $background;
    color: $textdefault;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}

.page-content {
    padding-bottom: 60px;
}

.panel-header {
    padding: 10px;
    margin-bottom: 20px;

    h3{
        margin:0;
        line-height:45px;

        .badge{
            margin-right:10px;
        }
    }

    .badge{
        height:45px;
        width:45px;
    }
}

.content-panel {
    background: $white;
    @include bootstrap-border-radius(4px);
    @include bootstrap-box-shadow($content-panel);
    overflow: hidden;

    &.lowlight {
        background: $lowlight;
    }

    .content-inner {
        padding: 10px;
    }

    .panel-footer {
        background: $lowlight;
        border-top: 1px solid $border-default;
        width: 100%;
        padding: 0 0 15px 0;
    }
}

.user-info{
    .panel-footer{
        text-align: center;
        padding:10px;
    }
}



.add-form{
    margin-top:30px;
}

/** lists **/

ul {
    .news-item {
        margin-bottom: 5px;
    }
}

.name-action-list{
    li{
        height:35px;
        margin-right:5px;

        & > div{
            color:$inputaddoninner;
            height:100%;
            padding:4px;
            text-align:left;
        }
        div.feature-list-name{
            background:$inputaddon;
            min-width:100px;
            line-height:25px;
            border-right:1px solid #cfcfcf;
        }
        .feature-list-delete{
            background:$inputaddon;
            min-width:35px;
            text-align:center;

            &:hover{
                background:$error;

                a{
                    color:$white;
                    margin-top:5px;
                }
            }

            a{
                color:$inputaddoninner;
                margin-top:5px;
                width:100%;
                height:100%;
                display:block;
            }
        }

    }
}

.badge{
    @include bootstrap-border-radius(50%);
    height:30px;
    width:30px;
    font-size:1.25rem;
    text-transform: uppercase;
    color:$white;
    font-weight:normal;
    text-align:center;
    line-height:25px;

    &.primary{
        background:$primary;
    }
    &.aqua{
        background:$aqua;
    }
    &.aquamarine{
        background:$aquamarine;
    }

    i{
        display:block;
        margin:5px auto;
    }
}

/** hero pane **/

.hero-panel {
    background: url('../../../images/hero-bg.png') 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    height: 430px;
    margin-top: 20px;

    .hero-pane {
        height: 100%;
        color: $white;

        &.aquamarine {
            @include bootstrap-color-opacity($aquamarine, 70);
        }

        &.aqua {
            @include bootstrap-color-opacity($aqua, 70);
        }

        &.blue {
            @include bootstrap-color-opacity($primary, 70);
        }

        .pane-content{
            text-align: center;
            margin:25% 0;
            font-weight:100;
            font-size:2.5rem;

            h2{
                font-size:7rem;
            }
        }
    }
}

/** buttons **/

.btn {
    @include bootstrap-border-radius(4px);
    color: $white;
    font-size: 1.4rem;
    min-height:30px;
    min-width: 34px;
    line-height:20px;

    &:hover {
        color: $white;
    }

    i{
        margin-right:10px;
    }
}

/** generic color styles **/

.blue {
    background-color: $primary;
}
.aquamarine {
    background-color: $aquamarine;
}
.negative {
    background-color: $error;
}

/** temporary icons stuff **/

.hero-icon {
    display: block;
    margin: 0 auto;
}

i.icon-hero-manage {
    background: url('../../../images/icons/hero-manage.png') 0 0 no-repeat;
    height: 145px;
    width: 145px;
}

i.icon-hero-monitor {
    background: url('../../../images/icons/hero-monitor.png') 0 0 no-repeat;
    height: 145px;
    width: 145px;
}

i.icon-hero-make {
    background: url('../../../images/icons/hero-make.png') 0 0 no-repeat;
    height: 145px;
    width: 145px;
}

i.icon-search-black{
    background: url('../../../images/icons/search-black.png') 0 0 no-repeat;
    height: 36px;
    width: 36px;
}

i.icon-account{
    background: url('../../../images/icons/account.png') 0 0 no-repeat;
    height: 32px;
    width: 32px;
}

i.icon-organisations{
    background: url('../../../images/icons/organisations.png') 0 0 no-repeat;
    height: 22px;
    width: 24px;
    margin-top:7px;
}

i.icon-patients{
    background: url('../../../images/icons/patients.png') 0 0 no-repeat;
    height: 27px;
    width: 17px;
}

i.icon-join{
    background: url('../../../images/icons/join.png') 0 0 no-repeat;
    height: 24px;
    width: 22px;
}

i.icon-reply{
    background: url('../../../images/icons/reply-icon.png') 0 0 no-repeat;
    height: 15px;
    width: 16px;
}

i.icon-sort{
    background: url('../../../images/icons/sort.png') 0 0 no-repeat;
    height: 25px;
    width: 20px;
}