.pagination{
    &.results{
        display:block;
        margin:0 auto;
        width:200px;
    }
}

.resize-text-buttons {
    float: right;
    text-align: center;
    .btn-circle {
        border: none;
        color: white;
        background-color: $primary;
        width: 30px;
        height: 30px;
        min-height: 30px;
        min-width: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 20px;
        line-height: 1.42;
        border-radius: 15px;
        &__icon {
            position: relative;
            bottom: 5px;
        }
    }
}

.step-markers{
    margin:20px 0 5px;
    li{
        background:#e7ecf2;
        @include bootstrap-box-shadow(inset 0 0 0 $light-grey);
        @include bootstrap-border-radius(50%);
        height:10px;
        width:10px;
        margin:0 5px;

        &.active{
            height:15px;
            width:15px;
            background:$primary;
        }
    }
}

.step-title{
    margin:0 0 10px;
}

hr.solid{
    border-top:1px solid #eeeeee;
}

.article-content-small {
    height: 4em;
}

.tab-panel-item{
    .aside-actions{
        height:180px;
        position:absolute;
        top:0;
        right:0;
        bottom:0;

        &.dashboard{
            height:190px;
            li{
                height:95px;
            }
        }

        li{
            height:75px;

            a{
                height:100%;
                line-height:15px;
                padding-top:15px;
            }
        }
    }

    .item-detail{
        padding:20px 20px 10px;

        .last-login{
            width:40%;
            padding:0;
        }

        dl{
            margin-bottom:10px;
            dt{

            }
            dd{
                color:$bluegrey;
            }
        }
    }
}

.user-details{
    padding:20px 20px 0;

    h3{
        margin-top:0;
    }

    h4{
        margin:0 0 5px;
    }

    .news-actions{
      margin-bottom:10px;
    }

    .user-picture {
        max-width: 50px;
        margin-right:10px;
    }

    ul{
//        margin-left:10px;
    }
}

/** MODALS **/

.modal-dialog{
    width:75%;

    label{
        font-size:1.5rem;
    }

    .added-container{
        margin-top: 30px;
    }

}

/** GRAPHS **/

.graph-selector{

    h3{
        margin:0;
        line-height:35px;
    }
}

// Letters //
.span-download {
    margin-left: 10px;
}

.badge.gp{
    color:$white;
    background:$aqua;
    font-size:35px;
    @include bootstrap-border-radius(50%);
    height:85px;
    line-height: 70px;
    width:85px;
    text-align: center;
    font-weight: bold;

    &.small{
        height:30px;
        width:30px;
        font-size:16px;
        line-height:23px;
        padding:5px 5px;
    }
}

// angular slider component //

.slider {
    display:     block;
    position:    relative;
    height:      30px;
    width:       100%;
}
.slider span.bar {
    height:     50%;
    z-index:    0;
    background: #eee;
    left:       0;
    top:        25%;
    cursor:     pointer;
}
.slider span.bar.selection, .slider span.bar.unselected {
}
.slider span.bar.selection {
    background: #0a0;
    opacity:    0.5;
}
.slider span.bar.unselected {
    width:      auto;
    background: #a00;
    opacity:    0.5;
}
.slider span.pointer {
    cursor:           pointer;
    width:            15px;
    top:              0;
    bottom:           0;
    background-color: #368DE8;
}
.slider span.pointer:hover {
}
.slider span.pointer.active {
}
.slider span.bubble {
    font-size:   1em;
    line-height: 1.4em;
    font-family: sans-serif;
    text-align:  center;
    text-shadow: none;
    top:         -1.3em;
    cursor:      pointer;
}
.slider span.bubble.selection, .slider span.bubble.limit {
    top: 25%;
}
.slider span.bubble.selection {
}
.slider span.bubble.limit {
}
.slider span.bubble.low, .slider span.bubble.high {
}

.message-preview{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.research-study{
    .textarea{
        height:auto;
    }
}

::-ms-tooltip {
    display: none;
}


//BREAKPOINTS ----------------

@media only screen
and (max-width : 1024px) {

    .tab-panel-item .item-detail{
        padding:5px 20px;
    }

    .modal-dialog{
        width:auto;
    }
}

@media (max-width: $screen-md-max) {
    .tab-panel-item {
        .item-detail {
            .last-login {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

@media all and (max-width: 600px) {
    g.highcharts-input-group {
        display:none;
    }
}