/** form styles **/

input[type="text"],
input[type="password"],
select,
.group-select{
    background:$inputbg;
    border:1px solid $border-default;
    @include bootstrap-box-shadow(none);
    @include bootstrap-border-radius(0);

    &:focus{
        @include bootstrap-box-shadow(none);
        @include bootstrap-border-radius(0);
    }

    &:-moz-placeholder {
        color: $textlight;
    }
    &::-webkit-input-placeholder {
        color: $textlight;
    }
}

select.form-control{
    height:35px;
    cursor:pointer;
}

label{
    color:$textdefault;
}

.disabled{
    cursor:not-allowed;
    background:$inputbg;
    color:#989898;
    width:auto;
    font-weight:normal;
    @include bootstrap-border-radius(0);
    @include bootstrap-box-shadow(none);
    border:1px solid #f3f3f3;
}


.edit-code{
    background:$white;
    padding:10px;

    .links-container{
        margin-top:20px;
    }
}


.btn:active{
    @include bootstrap-box-shadow(none);
}

.filter-panel {
    overflow: visible;
}

.search-container {
    position:relative;
    height:60px;
    @include bootstrap-border-radius(4px 4px 0 0);

    i {
        position: absolute;
        left: 10px;
        top: 10px;
    }
    input[type="text"] {
        border: none;
        background:$white;
        @include bootstrap-border-radius(4px 4px 0 0);
        height: 100%;
        width: 100%;
        text-indent:40px;
        @include bootstrap-box-shadow(none);
    }
}

.select-container{
    margin-right:15px;

    .btn-group{
        background:$white;
        border:1px solid $border-default;

        &.open{
            .dropdown-toggle{
                @include bootstrap-box-shadow(none);
            }
        }

        button{
            background:transparent;
            color:$textlight;
            position:relative;
            height:34px;
            padding:0 50px 0 10px;
            border:none;
            @include bootstrap-border-radius(0);
            width:220px;
        }
    }

    .dropdown-menu{
        width:221px;
        @include bootstrap-box-shadow(0 2px 3px -3px rgba(0, 0, 0, 0.176));
        @include bootstrap-border-radius(0 0 4px 4px);
        margin-top:0;
        overflow-y: scroll;
        max-height: 200px;
    }
}

.caret-container{
    display:block;
    height:100%;
    line-height:100%;
    width:34px;
    background:$inputaddon;
    position:absolute;
    right:0;
    top:0;

    .caret{
        border-top:8px solid $white;
        border-left:6px solid transparent;
        border-right:6px solid transparent;
        margin-top:16px;
    }
}

.button-dropdown-group{
    > button{
        @include bootstrap-border-radius(4px 0 0 4px);
    }

    .dropdown{
        > button{
            @include bootstrap-border-radius(0 4px 4px 0);
        }
    }

    .dropdown-menu{
        position:absolute;
        min-width:100px;
        left:-75px;

        > li a{
            text-align: left;
            padding:5px;
            font-size:1.5rem;
        }
    }
}

.capsule-list{
    padding-left:10px;
    li{
        background:$aquamarine;
        @include bootstrap-border-radius(5px);
        margin-right:5px;
        padding:5px;
        color:$white;
    }

    & > li:first-child{
        padding-left:5px;
    }
}

.form-edit-row{
    margin-top:30px;
}

.group-list-item{
    li{
        width:40px;
        height:40px;
        border:none;
        color:$white;
        font-size:1.25rem;
        overflow: hidden;
        padding: 5px 0;
        text-align: center;
        line-height:30px;

        &.group-list-name{
            width:50%;
            font-size:1.5rem;
            color:$textdark;
            background:$inputbg;
            border:1px solid $border-default;
        }

        &.group-list-role{
            background:$aqua;
            line-height:15px;
        }

        &.group-list-delete{
            a{
                color:$white;
                display:block;
                height:100%;
                width:100%;
            }
        }
    }
}

.custom-select{
    position:relative;
    height:34px;
    float: left;
    width: 50%;
    margin-right:10px;
    cursor:pointer;

    .caret-container{
        position:absolute;
        right:0;
        top:0;
        cursor:pointer;

        .caret{
            margin-left:12px;
            cursor:pointer;
        }
    }
}

.radio-button-list{
    padding-left:10px;
    .btn{
        background:$inputaddon;
        color:$textdefault;
        @include bootstrap-border-radius(0);
        border-left:1px solid $inputaddonborder;
        line-height:15px;
        white-space: normal;
        word-spacing: 999999px;
        width: 58px;
        font-size: 1.2rem;

        &:first-child{
            border-left:0;
        }

        &.active, &:hover{
            background:$aqua;
            border-left:1px solid $aquadark;
            @include bootstrap-box-shadow(0);
            color:$white;
        }
    }
}

.select-add-group{
    select{
        width:65%;
        float:left;
        height:40px;
    }

    .group-list-item{
        width:auto;
        float:left;
        clear:left;

        .radio-button-list{
            padding-left:0;
            margin-top:10px;

            li.active{
                background:#00adc6;
            }
        }
    }

    button{
        float:left;
        margin-top:10px;
    }
}

.add-feature{
    select{
        float:left;
        width:80%;
    }
}
