.aside-actions{
    height:140px;
    margin-bottom:0;
//    border-left:1px solid $border-default;

    li{
        a{
            width:70px;
            height:75px;
            display:block;
            text-align:center;
            color:$messagetab;
            font-size:1.125rem;
            text-decoration:none;
            padding:20px 10px;
            background:$lowlight;

            &.reply{
                line-height:50px;
            }

            &.active{
                background:$primary;
                color:$white;
            }

            .message-count{
                font-weight:bold;
                text-align:center;
                font-size:1.25rem;
                display:block;
            }
        }
    }
}

.groups-list{
    li{
        color:$textdefault;
        margin:5px 5px 0 0;

        .light-text{
            font-size:1rem;
        }

        .group-image {
            width: 30px;
        }
        .group-description {
            margin-left: 5px;
        }
        .group-link:hover, .group-link:visited, .group-link:link, .group-link:active{
            text-decoration: none;
            outline: none;
            border: 0px none transparent;
        }
    }
}

.faux-table .faux-row .row-item{
    .patient-groups{
        li{
            width:100%;
            float:left;

            span{
                float:left;
            }
        }
    }
}

.locations-list{
    margin-top:20px;

    &:first-child{
        margin-top:0;
    }
}

.button-list{
    margin:20px 0;
}

.image-list{
    li > div{
        position: relative;
        min-height:200px;

        &:first-child{
            padding-left:0;
        }
    }

    .content-panel{
        margin-top:20px;
        padding:15px;
    }

    .one-image{
        img:first-child{
            width:100%;
        }
    }

    .two-images{
        position: relative;
        img:first-child{
            position: absolute;
            right:0;
            bottom:0;
        }
    }
}

.faq-list-header {
    text-transform: uppercase;
    font-weight: bold;
}

.faq-list {
    margin-top: 30px;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
    li {
        margin-top: 30px;
        font-weight: bold;
        span {
            padding-left: 5px;
        }
        p {
            font-weight: normal;
            margin-top: 5px;
        }
    }
}