.large-label{
    font-size:20px;
}

.results-header{
    height:120px;
    overflow:hidden;
    margin-bottom:20px;

    &.variable{
      height:auto;
    }
    .header-icon{
        background:$primary;
        padding:10px;
        text-align:center;
        width:120px;
        height:100%;
        margin-right:20px;
        i{
            display:block;
        }
    }

    .panel-controls{
        clear:right;
    }

    .form-row{
        width:400px;
        margin-bottom:10px;

        label, select{
            width:50%;
            float:left;
        }

        label{
            padding-right:20px;
            text-align:right;
            padding-top:7px;
        }
    }

    .content-inner{
        padding:10px 0 0;
    }
}

.actions-row{
    margin-top:20px;
}

.results-container{
    float:left;
    width:100%;
    margin-top:20px;

    .results-list{
        margin-left:-5px;
        margin-right:-5px;


    }
}

.result-item-container{
    height:256px;
    float:left;
    padding:5px;

    .result-item{
        height:100%;
        padding:15px;
        position:relative;
    }

    .result-header{
        width:100%;
        height:35px;
        border-bottom:1px solid $border-default;
        color:$textdefault;

        h4{
            font-weight:bold;
            margin:0;
            line-height:26px;

            .info-link{
                font-size:14px;
                font-weight:normal;
                color:$aqua;
                text-decoration:none;
            }
        }
    }

    .result-change{
        margin:0;

        dt{
            font-size:50px;
            float:left;

            span{
                font-size:14px;

                &.result-value{
                    font-size:50px;
                }
            }
        }

        dd{
            float: right;
            text-align: right;
            width: 30%;
            padding-top: 39px;
            padding-left: 24px;

            i{
                margin-top:2px;
            }

            span{
                clear:right;
                margin-right:5px;
            }
        }
    }

    .info-list{
        width:100%;
        li{
            width:100%;
            color:$linklist;
        }
    }

    .result-footer{
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        height:40px;
        background:$lowlight;
        border-top:1px solid $border-default;
        padding:4px 10px;

        a{
            font-size:18px;
            color:$lowlighttext;
            text-decoration:none;
        }
    }
}

.result-heading-title{
  max-width: 190px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.specialty-manager{
    .add-container{
        padding-top:0;
        border-top:0;
        margin-top:0;
    }

    .no-label{
        padding-top:29px;
    }
}

// SURVEY BITS //

.td-strong {
    font-weight: bold;
}
.row-question {
    margin: 10px 0 0 15px;
}
.question-description {
    font-weight: normal;
    color: #368DE8;
    font-size: 14px;
}
.question-group-description {
    font-weight: normal;
    color: #2a6496;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
}
.capitalize {
    text-transform:capitalize;
}

/// RESULTS DETAIL //

.result-detail-panel{
    .result-item-container{
        width:100%;
        height:auto;
        padding:0;

        .result-value{
            width:50%;
            float:left;
        }

        .result-change{
            dd{
                float:left;
            }
        }

        .result-comment{
            width:50%;
            padding-top:15px;
            clear:left;

            label{
                margn-bottom:0;
            }
        }
    }

    .info-list{
        width:50%;

        &.inline{
            margin-top:20px;
        }

        li{
            width:auto;
            margin-right:20px;
            font-size:18px;

            strong{
                color:$textdefault;
            }
        }
    }

    // RESULTS ASIDE

    .info-header{
        text-align:center;
        padding:10px;
        @include bootstrap-border-radius(4px 4px 0 0);
        overflow:hidden;
        p{
            padding:0;
            margin:0;
            color:white;
            font-weight:bold;
        }
    }

    .faux-table{
        margin-top:0;

        &.three-col{
            .row-item,.head-item {
                width: 30.5%;
                text-align:center;

                &.plot-this{
                    width:40px;
                    padding:0;
                    text-align:center;

                    i{
                        margin:0 auto;
                    }
                }
            }
        }
    }
}

.survey-modal-header {
    background-color: #F5F5F5;
    .close {
        opacity: 1;
    }
}

.reset-button {
    margin-top: 1em;
}

.eq-survey {
    margin-top: 5em;
    .span-radio {
        display: block;
    }
    .slider-component {
        ul {
            padding-left: 0;
            li {
                font-weight: bold;
                font-size: 1.5rem;
            }
        }
        .slider-text {
            margin-top: 15px;
        }
    }
    &__copyright {
        width: 50%;
        float: left;
        text-align: left;
        display: inline-block;
        p {
            font-weight: bolder;
            font-size: 12px;
        }
    }
}

.terms-well {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 0;
}

.pos-survey {
    .symptoms-intro-text {
        margin-top: 2em;
    }
    .symptom-heading {
        th {
            text-align: center;
        }
    }
}

.result-graph{
    float:left;
    width:100%;
    padding:5px;
}


.header-select{
    &> div{
        height:75px;
    }
    select{
        margin-top:20px;
    }

    .select-title{
        float:right;
    }
}

.historical-data{
    position: relative;

    .faux-table{
        max-height:600px;
        overflow-y:scroll;

        .faux-row{
            cursor: pointer;

            &.active div.row-item {
                color: #368DE8;
                background: #eee;
            }
        }
    }

    .overlay{
        position:absolute;
        pointer-events:none;
        bottom:0;
        left:15px;
        right:15px;
        @include bootstrap-border-radius(4px);
        height:50px;
        @include bootstrap-gradient-vertical(rgba(255,255,255, 0), rgba(255,255,255,1));
    }

    .download-all {
        margin: 10px 10px 10px 0;
    }
}

.result-graph{
    .container{
        width:auto;
    }
}

.admin-header {
    padding-left: 210px;
    padding-top: 10px;
}
.label-request {
    margin-left: 10px;
    position: relative;
    top: -2px;
}
.user-header-picture {
    max-height: 40px;
    padding-right:10px;
}

@media (max-width: $screen-xs-max) {

    .header-select{
        > div{
            height:auto;
        }

        h1{
            font-size:30px;
        }

        select{
            margin-bottom:10px;
            margin-top:0;
        }

        .select-title{
            float:left;
        }
    }
    .results-header{
        height:185px;
        .header-icon{
            display:none;
        }

        .form-row{
            width:100%;
            label, select{
                text-align:center;
                width:100%;
            }
        }
    }

    .result-detail-panel {
        .result-item-container {
            .info-list{
                width:auto;

                &.inline{
                    margin-top:10px;
                }
            }

            .result-value{
                float:none;
                width:auto;
            }

            .result-comment{
                width:auto;
            }
        }
    }

    .admin-header{
        padding-left: 60px;
        padding-top: 0;
        margin: 0;
        font-size:12px;
    }

    .back-to-admin a{
        width:auto;
        padding:10px;
    }
}

@media (max-width:$screen-xs-max){
    .result-text{
        display:none;
    }
}


.select-result-type {
  width: 390px;
  margin-left: 10px;
}
.results-filter-list{

  .feature-list-item{
    float:left;
    margin:0 5px 5px 0;
  }
}
