/** Actual Tables **/

.forced-width{
    width:300px;
}

table{
    tr{
        td{
            .filetype-icon{
                margin-right: 5px;
            }
        }
    }
}


/** fake Tables **/

.faux-table {
    margin-top: 20px;
    font-size:1.5rem;

    .table-head {
        background: #f3f6f9;
        height: 40px;
        display: table;
        width: 100%;
        border-bottom: 1px solid $border-default;

        .head-item {
            height: 100%;
            border-right: 1px solid $border-default;
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            padding:0 10px;
            font-weight:bold;

            a {
                color: $textdefault;
                text-decoration: none;
                cursor:pointer;
            }
        }
    }

    .panel-body{
        background: $white;
        @include bootstrap-border-radius(0);
        margin-top: 0;
        border-top: 0;
        overflow:visible;
        border-bottom: 1px solid #e4e9f0;
        .panel-heading {
            background: none;
        }

        .panel-heading{
            padding:0;
        }

        .panel-collapse{
            button{
                line-height:20px;
                min-height:30px;
            }

            .link-list-item{
                clear:left;
                margin-top:10px;
            }
        }

        .link-list-item{
            margin-top:5px;
        }

        .location-list-item, .add-location{
            div[class*='col-md-']{
                padding-left:5px;
                padding-right:5px;
                width:160px;

                &:first-child, &.first-child{
                    padding-left:15px;
                }

                &:last-child{
                    margin-right:10px;
                }
            }
        }
    }

    .accordion-toggle{
        text-decoration:none;
    }

    .item-header{
        &.open{
            border:2px solid $primary;
        }
    }

    .faux-row{
        display:table;
        width:100%;
        padding:5px 0;
        font-size:1.4rem;
        background:#fff;
        border-bottom:1px solid $border-default;

        &.dull{
            @include bootstrap-opacity(30);
        }

        &.highlight{
            @include bootstrap-opacity(100);
            background:#f5f5f5;

            .row-item{
                font-weight:bold;
            }
        }

        .row-item{
            display:table-cell;
            text-align:left;
            padding:0 5px;
            color:#585858;
            text-decoration:none;
            vertical-align: middle;
            font-family: 'Lato', sans-serif;

            &.plot-this{
                width:40px;
            }

            span{
                display:block;
                float:left;
            }

            &.row-break{
                /*temp wrapping fix */
                white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
                white-space: -pre-wrap; /* Opera 4-6 */
                white-space: -o-pre-wrap; /* Opera 7 */
                word-wrap: break-word; /* Internet Explorer 5.5+ */
                word-break: break-all;
                white-space: normal; /* THIS SHOULD BE HERE */
            }

            &.actions{
                text-align:center;
                padding:0 10px;

                .button-dropdown-group{
                    width: 120px;
                    margin: 0 auto;
                }
            }

            ul{
                margin-bottom:0;
            }
        }
    }

    &.three-col{
        .row-item,.head-item{
            width:33.33%;
        }
    }

    &.four-col{
        .row-item,.head-item{
            width:25%;
        }
    }

    &.five-col{
        .row-item,.head-item{
            width:20%;
        }
    }

    &.six-col{
        .row-item,.head-item{
            width:16.66%;
        }
    }
    &.seven-col{
        .row-item,.head-item{
            width:14.44%;
        }
    }
    &.eight-col{
        .row-item,.head-item{
            width:12.5%;
        }
    }

    &.nine-col{
        .row-item,.head-item{
            width:11.1%;
        }
    }
}

.visible-for-col{
    padding-top:20px;
    h5{
        text-align:left;
        float:left;
    }
    input[type="checkbox"]{
        height:auto;
        float:left;
        margin:7px 0 0 10px;
        width:auto;
    }
}

.date-th {
    min-width: 100px;
}
.button-th {
    min-width: 160px;
}

.result-link{
    a{
        /*temp wrapping fix */
        white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        white-space: pre-wrap; /* css-3 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        word-break: break-all;
        white-space: normal;
    }
}

.cleared-row{
    float:left;
    clear:left;
    margin-top:5px;
    width:100%;
}
.log-container{
    margin-top:20px;

    table{
        thead{
            background: #f3f6f9;
            height: 40px;
            border-bottom: 1px solid #e4e9f0;
            th{
                height: 100%;
                border-right: 1px solid #e4e9f0;
                display: table-cell;
                vertical-align: middle;
                text-align: left;
                padding: 10px;
                font-weight: bold;

                a{
                    color:#585858;
                }
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .details-container{
        table{
            tr{
                td{
                    width:50%;
                }
            }
        }
    }
}


