$background: #e7ecf2;
$highlight-nav:#f8f8f8;

$textdefault: #585858;
$textdark: #4a4a4a;
$textsecondary: #deebed;
$textlight: #9e9e9e;

$light-grey: #959595;
$white: #ffffff;
$lowlight: #f3f6f9;

$border-default:#e4e9f0;

/** Brand colours **/

$primary:#368de8;
$aqua:#00adc6;
$aquamarine:#00aa9e;
$error:#ef2643;

/** shadows **/

$content-panel: 0px 1px 1px #bfcdde;

/** inputs **/

$inputbg: #f8f8f8;
$inputaddon: #e0e0e0;
$inputaddoninner: #afafaf;






