@import "compass/css3/font-face";

$helveticaRegularPath: "/public/assets/fonts/helvetica";
$helveticaNeuePath: "/public/assets/fonts/Neue/helveticaneue-webfont";
$helveticaNeueLightPath: "/public/assets/fonts/Neue/helveticaneue-light-webfont";
$helveticaNeueUltraLightPath: "/public/assets/fonts/Neue/helveticaneue-ultralight-webfont";

@include font-face(
        'HelveticaRegular',
        font-files(
                        "#{$helveticaRegularPath}.woff?v=3.0.1", woff,
                        "#{$helveticaRegularPath}.ttf?v=3.0.1", truetype),
        '#{$helveticaRegularPath}.eot?v=3.0.1',
        normal,
        normal);