<div class="modal-header">
    <h3 class="modal-title">Group Statistics</h3>
</div>
<div class="modal-body">
    <div class="alert alert-warning" data-ng-if="!statistics.length">
        Your group statistics will show here after they have been collected.
    </div>
    <table class="table" data-ng-hide="!statistics.length">
        <tr>
            <th>Date</th>
            <th>Patients</th>
            <th>Logons</th>
            <th>Unique Logons</th>
            <th>Patients Added</th>
            <th>Imports</th>
            <th>Imports Failed</th>
            <th>Passwords Changed</th>
            <th>Accounts Locked</th>
            <th>Patients Removed</th>
        </tr>
        <tbody>
            <tr data-ng-repeat="stat in statistics | orderBy:'-startDate'">
                <td>{{formatDate(stat.startDate)}}</td>
                <td>{{stat.statistics.PATIENT_COUNT}}</td>
                <td>{{stat.statistics.LOGGED_ON_COUNT}}</td>
                <td>{{stat.statistics.UNIQUE_LOGGED_ON_COUNT}}</td>
                <td>{{stat.statistics.PATIENT_GROUP_ROLE_ADD_COUNT}}</td>
                <td>{{stat.statistics.PATIENT_DATA_SUCCESS_COUNT}}</td>
                <td>{{stat.statistics.PATIENT_DATA_FAIL_COUNT}}</td>
                <td>{{stat.statistics.PASSWORD_CHANGE_COUNT}}</td>
                <td>{{stat.statistics.LOCKED_USER_COUNT}}</td>
                <td>{{stat.statistics.PATIENT_GROUP_ROLE_DELETE_COUNT}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <div class="alert alert-danger" data-ng-show="errorMessage">{{errorMessage}}</div>
    <button class="btn btn-grey" data-ng-click="cancel()">Back</button>
</div>