<!-- PAM -->
<style>
    .latest-td {
        background-color: #eee;
    }
    .table-th {
        text-align: center;
    }
    .arrow-div {
        background-image: url("../../images/arrow.png");
        background-size: 150px 500px;
        background-repeat: no-repeat;
        width: 150px;
        height: 500px;
        margin-left: 20px;
    }
    .arrow-score {
        position: relative;
        background-color: #ffffff;
        border: 1px solid #4D7FB9;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        z-index: 99;
        margin-left: 40px;
        margin-right: 42px;
    }
    .arrow-score-text {
        position: relative;
        left: 20px;
        width: 100px;
        font-weight: bold;
        /* padding: 5px 0px 5px 0px; */
    }
    .arrow-level-one {
        position: absolute;
        top: 480px;
        color: #ADA6C6;
    }
    .arrow-level-two {
        position: absolute;
        top: 285px;
        color: #AD554A;
    }
    .arrow-level-three {
        position: absolute;
        top: 235px;
        color: #A5BA39;
    }
    .arrow-level-four {
        position: absolute;
        top: 180px;
        color: #F7aB00;
    }
    .arrow-level-text {
        position: relative;
        left: -10px;
        font-weight: bold;
    }
    .your-score {
        font-size: 16px;
    }
    .table-description-text {
        margin: 0;
        padding: 0;
        position: relative;
        top: 17px;
    }
    .score-span {
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <h1>Managing Your Health</h1>
    </div>
    <div class="col-md-6">
        <h1><a href="/#/myconditions?specialty=Renal&activeTab=SURVEYS" class="btn blue pull-right back-to-results" data-ng-show="!loading">
            <i class="icon-back-to pull-left"> </i>
            Back
        </a></h1>
    </div>
</div>

<br/>
<div class="content-panel">
    <div class="content-inner">

        <div class="alert alert-danger" data-ng-show="!loading && errorMessage">
            <h5>{{errorMessage}}</h5>
        </div>

        <div class="alert-block alert-warning" data-ng-show="!loading && !surveyResponses">
            <h5>No Data is currently available for managing your health</h5>
        </div>

        <div data-ng-show="loading" class="container">
            <h3 class="loading"><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading Your Health</h3>
            <br/>
        </div>

        <div class="row" data-ng-if="!loading && surveyResponses">
            <div class="col-md-12">
                <p>The following results show how you assessed your knowledge, skills and your confidence to look after your own health and be involved in your care – this is known as your activation level.
                    In order to live your best life your clinical team would like to work closely with you to support you to grow your skills and knowledge and build your confidence.</p>

                <div data-ng-if="otherQuestions['PAM_SCORE'] && otherQuestions['PAM_LEVEL']">
                    <p class="your-score">
                        Your most recent overall score is <strong>{{otherQuestions['PAM_SCORE']}}</strong>, which is <strong>level {{otherQuestions['PAM_LEVEL']}}</strong>.
                        <a href="" data-ng-click="showLevels()">Tell me more about activation levels</a>.
                    </p>
                    <p class="hidden">Activation Levels are: <strong>1</strong> (0 to 45.2), <strong>2</strong> (45.3 to 55.1), <strong>3</strong> (55.2 to 67), <strong>4</strong> (67.1 to 100).</p>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <br/>
                        <div class="arrow-div">
                            <div class="arrow-score" style="top: {{475 - (4.75 * otherQuestions['PAM_SCORE'])}}px">
                                <div class="arrow-score-text">{{otherQuestions['PAM_SCORE']}}</div>
                            </div>
                            <div class="arrow-level-one">
                                <div class="arrow-level-text">Level 1</div>
                            </div>
                            <div class="arrow-level-two">
                                <div class="arrow-level-text">Level 2</div>
                            </div>
                            <div class="arrow-level-three">
                                <div class="arrow-level-text">Level 3</div>
                            </div>
                            <div class="arrow-level-four">
                                <div class="arrow-level-text">Level 4</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <p class="table-description-text">The following table shows your results which calculate your overall activation score.</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th data-ng-repeat="header in tableHeader track by $index" class="table-th">
                                    {{header.text}} <span data-ng-if="header.isLatest"><br/>LATEST</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="row in tableRows track by $index">
                                <td data-ng-repeat="cell in row.data track by $index" data-ng-class="{'latest-td': cell.isLatest}">
                                    <span data-ng-class="{'score-span': cell.isScore}">{{cell.text}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div data-ng-show="surveyResponseSelectOptions">
                            <br/>
                            <select class="form-control pull-right" data-ng-model="selectedSurveyResponseId"
                                    data-ng-options="surveyResponseSelectOptions.id as filterDate(surveyResponseSelectOptions.date) for surveyResponseSelectOptions in surveyResponseSelectOptions | orderBy:'date'"
                                    data-ng-change="compareSurvey(selectedSurveyResponseId)" >
                                <option value="">Compare with a past survey:</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <br/>
                <p>
                    <strong>It is important to discuss your score or level with your clinical team at your next visit to the hospital. They can work in partnership with you to set goals and actions that are important to you and support you in achieving these.</strong>
                </p>
            </div>
        </div>
    </div>
</div>