<style>
    .bold {
        font-weight: bold;
    }
    .latest-td {
        background-color: #eee;
        font-weight: bold;
    }
    .surveyFeedback-success-message {
        font-weight: bold;
        color: darkgreen;
    }
    .surveyFeedback-error-message {
        font-weight: bold;
        color: darkred;
    }
    .table-th {
        text-align: center;
    }
    .survey-table-header {
        background-color: #E7ECF2;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <h1>Your Overall Health</h1>
    </div>
    <div class="col-md-6">
        <h1><a href="/#/myconditions?specialty=Renal&activeTab={{surveyType === 'PROM'? 'SURVEYS': 'OPTEPRO'}}" class="btn blue pull-right back-to-results" data-ng-show="!loading">
            <i class="icon-back-to pull-left"> </i>
            Back
        </a></h1>
    </div>
</div>

<br/>
<div class="content-panel">
    <div class="content-inner">

        <div class="alert-block alert-warning" data-ng-show="!loading && !surveyResponses">
            <h5>No Data is currently available for your overall health</h5>
        </div>

        <div class="row">
            <div class="col-md-6" data-ng-show="!loading && surveyResponses">
                <table class="table">
                    <thead>
                    <tr class="survey-table-header">
                        <th data-ng-repeat="header in tableHeader track by $index" class="table-th">
                            <span data-ng-if="header.isLatest" class="label label-info">LATEST&nbsp;&nbsp;<br/></span>
                            {{header.text}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="row in tableRows track by $index">
                        <td data-ng-repeat="cell in row.data track by $index" data-ng-class="{'latest-td': cell.isLatest}">
                            <span data-ng-class="{'bold': $index == 0}" data-ng-bind-html="cell.text" data-ng-if="cell.isDownload"></span>
                            <span data-ng-class="{'bold': $index == 0}" data-ng-if="!cell.isDownload">{{cell.text}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div data-ng-if="surveyResponseSelectOptions.length">
                    <br/>
                    <select class="form-control pull-right" data-ng-model="selectedSurveyResponseId"
                            data-ng-options="surveyResponseSelectOptions.id as filterDate(surveyResponseSelectOptions.date) for surveyResponseSelectOptions in surveyResponseSelectOptions | orderBy:order:reverse"
                            data-ng-change="compareSurvey(selectedSurveyResponseId)" >
                        <option value="">Compare with a past survey:</option>
                    </select>
                </div>
                <br/>
                <br/>
                <br/>
            </div>
            <div class="col-md-6">
                <!-- chart populated in controller -->
                <div id="chart_div"></div>
                <div ng-if="showOverallScore" class="text-center">
                    <div data-ng-repeat="score in overallScore">
                        <strong>{{score.date}}</strong> Your Health from 0 (worst) to 100 (best): <strong style="color:{{score.color}};">{{score.score}}</strong>
                    </div>
                    <a href="/#/questionnaire-scores">How are these measured?</a>
                </div>
            </div>
        </div>

        <br/>

        <div class="row" data-ng-show="!loading">
            <div ng-if="surveyType==='PROM'" class="col-md-12">
                <p>If any of your symptoms or results worry you, you will have a chance to discuss these at your next visit.
                    Your nurse or doctor will have a copy of your completed health survey.</p>

                <label for="medications" class="control-label">
                    I would like to talk about the following (remember to click Save):
                </label>

                <div>
                    <textarea id="medications" data-ng-model="surveyFeedbackText" class="form-control"
                              style="height: 100px;" data-ng-disabled="savingSurveyFeedbackText">
                    </textarea>
                </div>

                <br/>
                <p>
                    <a href="" class="btn blue" data-ng-click="saveSurveyFeedbackText(surveyFeedbackText)"
                       data-ng-disabled="savingSurveyFeedbackText || !surveyFeedbackText">Save</a>
                    &nbsp;
                    <a href="" class="btn blue" data-ng-click="sendSurveyFeedbackText(surveyFeedbackText)"
                       data-ng-disabled="savingSurveyFeedbackText || !surveyFeedbackText"
                            data-ng-if="feedbackRecipientCount && feedbackRecipientCount > 0">Send to clinical team for review *</a>
                    &nbsp;
                    <span data-ng-if="surveyFeedbackSuccessMessage" class="surveyFeedback-success-message">{{surveyFeedbackSuccessMessage}}</span>
                    <span data-ng-if="surveyFeedbackErrorMessage" class="surveyFeedback-error-message">{{surveyFeedbackErrorMessage}}</span>
                </p>
                <p data-ng-if="feedbackRecipientCount && feedbackRecipientCount > 0">
                    * At least one week prior to your next clinic appointment.
                </p>

                <br/>
                <h4 data-ng-show="nextSurveyDate">Your next survey is planned for {{nextSurveyDate}}</h4>
            </div>
        </div>
    </div>
</div>