<style>
    .latest-td {
        background-color: #eee;
    }
    .table-th {
        text-align: center;
    }
</style>
<h1>Your Symptoms
    <a href="/#/myconditions?specialty=Renal&activeTab=SURVEYS" class="btn blue pull-right back-to-results" data-ng-show="!loading">
        <i class="icon-back-to pull-left"> </i>
        Back
    </a>
</h1>
<br/>
<div class="content-panel">
    <div class="content-inner">

        <div class="row">
            <div class="col-md-12">
                <p>This shows a list of symptoms and your assessment of how each one has been affecting you.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" data-ng-show="!loading && surveyResponses">
                <table class="table">
                    <thead>
                    <tr>
                        <th data-ng-repeat="header in tableHeader track by $index" class="table-th">
                            {{header.text}} <span data-ng-if="header.isLatest"><br/>LATEST</span>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="row in tableRows track by $index">
                            <td data-ng-repeat="cell in row.data track by $index" data-ng-class="{'latest-td': cell.isLatest}">
                                {{cell.text}}
                            </td>
                            <td class="view-graph-td">
                                <a href="" data-ng-click="viewGraph(row.type)" data-ng-if="row.type !== questionType">View</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div data-ng-if="surveyResponseSelectOptions.length">
                    <br/>
                    <select class="form-control pull-right" data-ng-model="selectedSurveyResponseId"
                            data-ng-options="surveyResponseSelectOptions.id as filterDate(surveyResponseSelectOptions.date) for surveyResponseSelectOptions in surveyResponseSelectOptions | orderBy:'date'"
                            data-ng-change="compareSurvey(selectedSurveyResponseId)" >
                        <option value="">Compare with a past survey:</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <!-- chart populated in controller -->
                <div id="chart_div"></div>
                <div data-ng-if="observationHeadings">
                    <br/><br/>
                    <select class="form-control" data-ng-model="compareCode"
                            data-ng-options="observationHeading.code as observationHeading.heading for observationHeading in observationHeadings
                                | orderBy:'heading' | addCodeFilter:codes"
                            data-ng-change="compareResults(compareCode)">
                        <option value="">Select a result type to compare with {{observationHeading.heading}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div data-ng-show="loading" class="container">
            <h3 class="loading"><img src="images/loading.gif" alt="Loading"/>&nbsp; Loading Symptoms</h3>
            <br/>
        </div>

        <div class="alert-block alert-warning" data-ng-show="!loading && !surveyResponses">
            <h5>No Data is currently available for your symptoms</h5>
        </div>

    </div>
</div>