/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 8, ../sass/ie.scss */
.lt-ie9 .historical-data .overlay {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}
/* line 12, ../sass/ie.scss */
.lt-ie9 .navbar-collapse {
  padding-right: 0;
}
/* line 16, ../sass/ie.scss */
.lt-ie9 .hero-panel {
  overflow: hidden;
  position: relative;
}
/* line 20, ../sass/ie.scss */
.lt-ie9 .hero-panel .ie-hero-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 1170px;
  width: 100%;
  height: auto;
}
/* line 35, ../sass/ie.scss */
.lt-ie9 .navbar-right label {
  min-width: 100px;
}
/* line 40, ../sass/ie.scss */
.lt-ie9 .messages-menu-item {
  position: relative;
}
/* line 43, ../sass/ie.scss */
.lt-ie9 .messages-menu-item span {
  position: absolute;
  top: 2px;
  right: 6px;
  height: 15px;
}
/* line 52, ../sass/ie.scss */
.lt-ie9 .faux-table .faux-row .actions.row-item .button-dropdown-group {
  width: 130px;
}
/* line 56, ../sass/ie.scss */
.lt-ie9 .faux-table .faux-row .actions.row-item .button-dropdown-group .dropdown > button {
  width: 44px;
}
