/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/** Brand colours **/
/** shadows **/
/** inputs **/
/* line 5, ../sass/_utils.scss */
.pull-right {
  float: right;
}

/* line 9, ../sass/_utils.scss */
.pull-left {
  float: left;
}

/* line 15, ../sass/_utils.scss */
.hide,
.hidden {
  display: none;
}

/* line 19, ../sass/_utils.scss */
.show {
  display: block;
}

/* line 24, ../sass/_utils.scss */
.invisible {
  visibility: hidden;
}

/* line 29, ../sass/_utils.scss */
.text-left {
  text-align: left;
}

/* line 33, ../sass/_utils.scss */
.text-right {
  text-align: right;
}

/* line 38, ../sass/_utils.scss */
.text-center,
.centered {
  text-align: center;
}

/* line 42, ../sass/_utils.scss */
.no-pad {
  padding: 0;
}

/* line 47, ../sass/_utils.scss */
.truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* line 56, ../sass/_utils.scss */
.clearfix {
  *zoom: 1;
}
/* line 15, ../sass/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 19, ../sass/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 61, ../sass/_utils.scss */
ul.unstyled, ul.inline,
ol.unstyled,
ol.inline {
  margin-left: 0;
  padding: 0;
  list-style: none;
}

/* line 70, ../sass/_utils.scss */
.inline > li {
  display: inline-block;
}
/* line 73, ../sass/_utils.scss */
.inline > li:first-child {
  padding-left: 0;
}
/* line 77, ../sass/_utils.scss */
.inline > li > a {
  display: inline-block;
}

/* line 83, ../sass/_utils.scss */
.error {
  color: #ef2643;
  font-weight: normal;
}

/* line 88, ../sass/_utils.scss */
.no-items {
  font-style: italic;
  font-weight: 100;
}

/* line 1, ../sass/_base.scss */
body {
  background: #e7ecf2;
  color: #585858;
  margin-top: 20px;
}

/* line 7, ../sass/_base.scss */
.page-content {
  padding-bottom: 60px;
}

/* line 11, ../sass/_base.scss */
.panel-header {
  padding: 10px;
  margin-bottom: 20px;
}
/* line 15, ../sass/_base.scss */
.panel-header h3 {
  margin: 0;
  line-height: 45px;
}
/* line 19, ../sass/_base.scss */
.panel-header h3 .badge {
  margin-right: 10px;
}
/* line 24, ../sass/_base.scss */
.panel-header .badge {
  height: 45px;
  width: 45px;
}

/* line 30, ../sass/_base.scss */
.content-panel {
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 1px #bfcdde;
  -moz-box-shadow: 0px 1px 1px #bfcdde;
  box-shadow: 0px 1px 1px #bfcdde;
  overflow: hidden;
}
/* line 36, ../sass/_base.scss */
.content-panel.lowlight {
  background: #f3f6f9;
}
/* line 40, ../sass/_base.scss */
.content-panel .content-inner {
  padding: 10px;
}
/* line 44, ../sass/_base.scss */
.content-panel .panel-footer {
  background: #f3f6f9;
  border-top: 1px solid #e4e9f0;
  width: 100%;
  padding: 0 0 15px 0;
}

/* line 53, ../sass/_base.scss */
.user-info .panel-footer {
  text-align: center;
  padding: 10px;
}

/* line 61, ../sass/_base.scss */
.add-form {
  margin-top: 30px;
}

/** lists **/
/* line 68, ../sass/_base.scss */
ul .news-item {
  margin-bottom: 5px;
}

/* line 74, ../sass/_base.scss */
.name-action-list li {
  height: 35px;
  margin-right: 5px;
}
/* line 78, ../sass/_base.scss */
.name-action-list li > div {
  color: #afafaf;
  height: 100%;
  padding: 4px;
  text-align: left;
}
/* line 84, ../sass/_base.scss */
.name-action-list li div.feature-list-name {
  background: #e0e0e0;
  min-width: 100px;
  line-height: 25px;
  border-right: 1px solid #cfcfcf;
}
/* line 90, ../sass/_base.scss */
.name-action-list li .feature-list-delete {
  background: #e0e0e0;
  min-width: 35px;
  text-align: center;
}
/* line 95, ../sass/_base.scss */
.name-action-list li .feature-list-delete:hover {
  background: #ef2643;
}
/* line 98, ../sass/_base.scss */
.name-action-list li .feature-list-delete:hover a {
  color: white;
  margin-top: 5px;
}
/* line 104, ../sass/_base.scss */
.name-action-list li .feature-list-delete a {
  color: #afafaf;
  margin-top: 5px;
  width: 100%;
  height: 100%;
  display: block;
}

/* line 122, ../sass/_base.scss */
.badge {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  text-align: center;
  line-height: 25px;
}
/* line 133, ../sass/_base.scss */
.badge.primary {
  background: #368de8;
}
/* line 136, ../sass/_base.scss */
.badge.aqua {
  background: #00adc6;
}
/* line 139, ../sass/_base.scss */
.badge.aquamarine {
  background: #00aa9e;
}
/* line 143, ../sass/_base.scss */
.badge i {
  display: block;
  margin: 5px auto;
}

/** hero pane **/
/* line 151, ../sass/_base.scss */
.hero-panel {
  background: url("../../../images/hero-bg.png") 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: 430px;
  margin-top: 20px;
}
/* line 158, ../sass/_base.scss */
.hero-panel .hero-pane {
  height: 100%;
  color: white;
}
/* line 162, ../sass/_base.scss */
.hero-panel .hero-pane.aquamarine {
  background: #00aa9e;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/* line 166, ../sass/_base.scss */
.hero-panel .hero-pane.aqua {
  background: #00adc6;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/* line 170, ../sass/_base.scss */
.hero-panel .hero-pane.blue {
  background: #368de8;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/* line 174, ../sass/_base.scss */
.hero-panel .hero-pane .pane-content {
  text-align: center;
  margin: 25% 0;
  font-weight: 100;
  font-size: 2.5rem;
}
/* line 180, ../sass/_base.scss */
.hero-panel .hero-pane .pane-content h2 {
  font-size: 7rem;
}

/** buttons **/
/* line 189, ../sass/_base.scss */
.btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: white;
  font-size: 1.5rem;
  min-height: 34px;
  min-width: 34px;
  line-height: 24px;
}
/* line 197, ../sass/_base.scss */
.btn:hover {
  color: white;
}
/* line 201, ../sass/_base.scss */
.btn i {
  margin-right: 10px;
}

/** generic color styles **/
/* line 208, ../sass/_base.scss */
.blue {
  background-color: #368de8;
}

/* line 211, ../sass/_base.scss */
.aquamarine {
  background-color: #00aa9e;
}

/* line 214, ../sass/_base.scss */
.negative {
  background-color: #ef2643;
}

/** temporary icons stuff **/
/* line 220, ../sass/_base.scss */
.hero-icon {
  display: block;
  margin: 0 auto;
}

/* line 225, ../sass/_base.scss */
i.icon-hero-manage {
  background: url("../../../images/icons/hero-manage.png") 0 0 no-repeat;
  height: 145px;
  width: 145px;
}

/* line 231, ../sass/_base.scss */
i.icon-hero-monitor {
  background: url("../../../images/icons/hero-monitor.png") 0 0 no-repeat;
  height: 145px;
  width: 145px;
}

/* line 237, ../sass/_base.scss */
i.icon-hero-make {
  background: url("../../../images/icons/hero-make.png") 0 0 no-repeat;
  height: 145px;
  width: 145px;
}

/* line 243, ../sass/_base.scss */
i.icon-search-black {
  background: url("../../../images/icons/search-black.png") 0 0 no-repeat;
  height: 36px;
  width: 36px;
}

/* line 249, ../sass/_base.scss */
i.icon-account {
  background: url("../../../images/icons/account.png") 0 0 no-repeat;
  height: 32px;
  width: 32px;
}

/* line 255, ../sass/_base.scss */
i.icon-organisations {
  background: url("../../../images/icons/organisations.png") 0 0 no-repeat;
  height: 22px;
  width: 24px;
  margin-top: 7px;
}

/* line 262, ../sass/_base.scss */
i.icon-patients {
  background: url("../../../images/icons/patients.png") 0 0 no-repeat;
  height: 27px;
  width: 17px;
}

/* line 268, ../sass/_base.scss */
i.icon-join {
  background: url("../../../images/icons/join.png") 0 0 no-repeat;
  height: 24px;
  width: 22px;
}

/* line 1, ../sass/_nav.scss */
.navbar-default {
  border: none;
  height: 70px;
}
/* line 5, ../sass/_nav.scss */
.navbar-default .nav-account {
  height: 70px;
  background: #00adc6;
  margin-right: -15px;
  padding: 16px 10px 10px;
}
/* line 11, ../sass/_nav.scss */
.navbar-default .nav-account i {
  margin-right: 20px;
}
/* line 15, ../sass/_nav.scss */
.navbar-default .nav-account h4 {
  color: white;
  font-weight: normal;
  margin: 0;
  width: 220px;
}
/* line 24, ../sass/_nav.scss */
.navbar-default .nav-account .navbar-nav li a {
  text-decoration: underline;
  color: #deebed;
  font-size: 1.5rem;
  font-weight: normal;
  padding: 0 5px;
}
/* line 31, ../sass/_nav.scss */
.navbar-default .nav-account .navbar-nav li a:hover, .navbar-default .nav-account .navbar-nav li a:active {
  color: white;
}
/* line 35, ../sass/_nav.scss */
.navbar-default .nav-account .navbar-nav li a:first-child {
  padding-left: 0;
}
/* line 43, ../sass/_nav.scss */
.navbar-default .sub-brand {
  margin: 7px 0 0 20px;
}

/* line 49, ../sass/_nav.scss */
.secondary-nav li {
  margin-left: 0;
}
/* line 53, ../sass/_nav.scss */
.secondary-nav li:first-child a {
  border-left: none;
}
/* line 58, ../sass/_nav.scss */
.secondary-nav li a {
  border-left: 1px solid #e4e9f0;
  color: #959595;
  font-size: 1.5rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 64, ../sass/_nav.scss */
.secondary-nav li a:hover {
  background: #f8f8f8;
  color: #368de8;
}

/* line 72, ../sass/_nav.scss */
.nav-pills.secondary-nav li {
  margin-left: 0;
}

/* line 77, ../sass/_nav.scss */
.footer {
  background: white;
  height: 50px;
  position: relative;
}
/* line 82, ../sass/_nav.scss */
.footer .brand {
  opacity: 0.5;
  filter: alpha(opacity=50);
  float: left;
  width: 300px;
  line-height: 40px;
}
/* line 88, ../sass/_nav.scss */
.footer .brand img {
  height: 50%;
  width: 50%;
}
/* line 95, ../sass/_nav.scss */
.footer .legal-links li {
  line-height: 40px;
  padding: 0 10px;
  font-size: 1.75rem;
  color: #959595;
}
/* line 101, ../sass/_nav.scss */
.footer .legal-links li a {
  font-size: 1.75rem;
  color: #959595;
}
/* line 105, ../sass/_nav.scss */
.footer .legal-links li a:hover {
  color: #368de8;
}
/* line 113, ../sass/_nav.scss */
.footer p {
  font-size: 1.75rem;
  color: #959595;
  position: absolute;
  left: 25%;
  top: 25%;
}

/** Tables **/
/* line 3, ../sass/_tables.scss */
.faux-table {
  margin-top: 20px;
  font-size: 1.5rem;
}
/* line 7, ../sass/_tables.scss */
.faux-table .table-head {
  background: #f3f6f9;
  height: 40px;
  display: table;
  width: 100%;
  border-bottom: 1px solid #e4e9f0;
}
/* line 14, ../sass/_tables.scss */
.faux-table .table-head .head-item {
  height: 100%;
  border-right: 1px solid #e4e9f0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 21, ../sass/_tables.scss */
.faux-table .table-head .head-item a {
  color: #585858;
  text-decoration: none;
}
/* line 29, ../sass/_tables.scss */
.faux-table .accordion-group.panel {
  background: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-top: 0;
  border-top: 0;
  overflow: visible;
}
/* line 35, ../sass/_tables.scss */
.faux-table .accordion-group.panel .panel-heading {
  background: none;
}
/* line 40, ../sass/_tables.scss */
.faux-table .accordion-group .panel-heading {
  padding: 0;
}
/* line 45, ../sass/_tables.scss */
.faux-table .accordion-toggle {
  text-decoration: none;
}
/* line 49, ../sass/_tables.scss */
.faux-table .faux-row {
  display: table;
  width: 100%;
  padding: 5px 0;
  font-size: 1.5rem;
}
/* line 55, ../sass/_tables.scss */
.faux-table .faux-row .row-item {
  display: table-cell;
  text-align: center;
  color: #9e9e9e;
  text-decoration: none;
  vertical-align: middle;
  word-break: break-word;
}
/* line 63, ../sass/_tables.scss */
.faux-table .faux-row .row-item.actions {
  text-align: center;
}
/* line 66, ../sass/_tables.scss */
.faux-table .faux-row .row-item.actions .button-dropdown-group {
  width: 120px;
  margin: 0 auto;
}
/* line 75, ../sass/_tables.scss */
.faux-table.four-col .row-item, .faux-table.four-col .head-item {
  width: 25%;
}
/* line 81, ../sass/_tables.scss */
.faux-table.five-col .row-item, .faux-table.five-col .head-item {
  width: 20%;
}
/* line 87, ../sass/_tables.scss */
.faux-table.six-col .row-item, .faux-table.six-col .head-item {
  width: 16.66%;
}
/* line 92, ../sass/_tables.scss */
.faux-table.seven-col .row-item, .faux-table.seven-col .head-item {
  width: 14.44%;
}

/* line 98, ../sass/_tables.scss */
.visible-for-col {
  padding-top: 20px;
}
/* line 100, ../sass/_tables.scss */
.visible-for-col h5 {
  text-align: left;
  float: left;
}
/* line 104, ../sass/_tables.scss */
.visible-for-col input[type="checkbox"] {
  height: auto;
  float: left;
  margin: 7px 0 0 10px;
  width: auto;
}

/** mong central **/
/* line 116, ../sass/_tables.scss */
.modal .col-md-6 {
  width: 100%;
}
/* line 119, ../sass/_tables.scss */
.modal .col-md-3 {
  width: 50%;
}
/* line 123, ../sass/_tables.scss */
.modal .col-md-2 {
  padding-bottom: 10px;
  width: 33.33%;
}
/* line 128, ../sass/_tables.scss */
.modal .col-md-1 {
  padding-bottom: 10px;
  width: 33.33%;
}
/* line 133, ../sass/_tables.scss */
.modal .modal-hack {
  padding-right: 15px;
  float: right;
}

/** form styles **/
/* line 3, ../sass/_forms.scss */
input[type="text"], .group-select {
  background: #f8f8f8;
  border: 1px solid #e4e9f0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 9, ../sass/_forms.scss */
input[type="text"]:focus, .group-select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* line 15, ../sass/_forms.scss */
label {
  color: #9e9e9e;
}

/* line 20, ../sass/_forms.scss */
.edit-code {
  background: white;
  padding: 10px;
}
/* line 24, ../sass/_forms.scss */
.edit-code .links-container {
  margin-top: 20px;
}

/* line 30, ../sass/_forms.scss */
.btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 34, ../sass/_forms.scss */
.filter-panel {
  overflow: visible;
}

/* line 38, ../sass/_forms.scss */
.search-container {
  position: relative;
  height: 60px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
/* line 43, ../sass/_forms.scss */
.search-container i {
  position: absolute;
  left: 10px;
  top: 10px;
}
/* line 48, ../sass/_forms.scss */
.search-container input[type="text"] {
  border: none;
  background: white;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  height: 100%;
  width: 100%;
  text-indent: 40px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 59, ../sass/_forms.scss */
.select-container {
  margin-right: 15px;
}
/* line 62, ../sass/_forms.scss */
.select-container .btn-group {
  background: #f8f8f8;
  border: 1px solid #e4e9f0;
}
/* line 67, ../sass/_forms.scss */
.select-container .btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 72, ../sass/_forms.scss */
.select-container .btn-group button {
  background: transparent;
  color: #959595;
  position: relative;
  height: 34px;
  padding: 0 50px 0 10px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 220px;
}
/* line 84, ../sass/_forms.scss */
.select-container .dropdown-menu {
  width: 221px;
  -webkit-box-shadow: 0 2px 3px -3px rgba(0, 0, 0, 0.176);
  -moz-box-shadow: 0 2px 3px -3px rgba(0, 0, 0, 0.176);
  box-shadow: 0 2px 3px -3px rgba(0, 0, 0, 0.176);
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  margin-top: 0;
}

/* line 92, ../sass/_forms.scss */
.caret-container {
  display: block;
  height: 100%;
  line-height: 100%;
  width: 34px;
  background: #e0e0e0;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 102, ../sass/_forms.scss */
.caret-container .caret {
  border-top: 8px solid white;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  margin-top: 16px;
}

/* line 111, ../sass/_forms.scss */
.button-dropdown-group > button {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
/* line 116, ../sass/_forms.scss */
.button-dropdown-group .dropdown > button {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
/* line 121, ../sass/_forms.scss */
.button-dropdown-group .dropdown-menu {
  position: absolute;
  min-width: 100px;
  left: -65px;
}
/* line 126, ../sass/_forms.scss */
.button-dropdown-group .dropdown-menu > li a {
  text-align: left;
  padding: 5px;
  font-size: 1.5rem;
}

/* line 134, ../sass/_forms.scss */
.capsule-list {
  padding-left: 10px;
}
/* line 136, ../sass/_forms.scss */
.capsule-list li {
  background: #00aa9e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 5px;
  padding: 5px;
  color: white;
}
/* line 144, ../sass/_forms.scss */
.capsule-list > li:first-child {
  padding-left: 5px;
}

/* line 149, ../sass/_forms.scss */
.form-edit-row {
  margin-top: 30px;
}

/* line 154, ../sass/_forms.scss */
.group-list-item li {
  width: 40px;
  height: 40px;
  border: none;
  color: white;
  font-size: 1.25rem;
  overflow: hidden;
  padding: 5px 0;
  text-align: center;
  line-height: 30px;
}
/* line 165, ../sass/_forms.scss */
.group-list-item li.group-list-name {
  width: 50%;
  font-size: 1.5rem;
  color: #4a4a4a;
  background: #f8f8f8;
  border: 1px solid #e4e9f0;
}
/* line 173, ../sass/_forms.scss */
.group-list-item li.group-list-role {
  background: #00adc6;
  line-height: 15px;
}
/* line 179, ../sass/_forms.scss */
.group-list-item li.group-list-delete a {
  color: white;
  display: block;
  height: 100%;
  width: 100%;
}

/* line 189, ../sass/_forms.scss */
.custom-select {
  position: relative;
  height: 34px;
  float: left;
  width: 50%;
  margin-right: 10px;
}
/* line 196, ../sass/_forms.scss */
.custom-select .caret-container {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 201, ../sass/_forms.scss */
.custom-select .caret-container .caret {
  margin-left: 12px;
}

/* line 207, ../sass/_forms.scss */
.radio-button-list {
  padding-left: 0;
}
/* line 209, ../sass/_forms.scss */
.radio-button-list li {
  background: #e0e0e0;
  color: #585858;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-left: 1px solid #c3c3c3;
  line-height: 15px;
  white-space: normal;
}
/* line 217, ../sass/_forms.scss */
.radio-button-list li:first-child {
  border-left: 0;
}
/* line 221, ../sass/_forms.scss */
.radio-button-list li .active, .radio-button-list li:hover {
  background: #00adc6;
  border-left: 1px solid #039288;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}
